<form class="form-horizontal content-padding" name="form" data-ng-submit="consultar()">
    <div class="fixed-top"> 
        <button type="button" data-ng-click="clearFilter()" class="btn btn-default btn-lg pull-right" id="limpar">{{'limpar' | translate}}</button> 
        <button type="button" data-ng-click="consultar()" class="btn btn-default btn-lg pull-right" id="reset">{{'consultar' | translate}}</button>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{'tipoPessoa' | translate}}</label>
                <div class="col-lg-9">
                    <select adsm-domain="DM_TIPO_PESSOA" ng-model="filter.tipoPessoa" id="tipoPessoa">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-lg-3">{{'identificacao' | translate}}</label>
                <div class="col-lg-3">
                    <select adsm-domain="DM_TIPO_IDENTIFICACAO" ng-model="filter.tipoIdentificacao" id="tipoIdentificacao" ng-change="onChangeTipoIdentificacao()">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <input type="text" ng-model="filter.identificacao" id="identificacao" placeholder="" ng-disabled="!filter.tipoIdentificacao" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{'nomeRazaoSocial' | translate}}</label>
                <div class="col-lg-9">
                    <input type="text" ng-model="filter.nomeRazaoSocial" id="nomeRazaoSocial" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{'nomeFantasia' | translate}}</label>
                <div class="col-lg-9">
                    <input type="text" ng-model="filter.nomeFantasia" id="nomeFantasia" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-lg-3">{{'numeroConta' | translate}}</label>
                <div class="col-lg-9">
                    <input type="number" ng-model="filter.numeroConta" id="numeroConta" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{'tipoCliente' | translate}}</label>
                <div class="col-lg-9">
                    <select adsm-domain="DM_TIPO_CLIENTE" ng-model="filter.tipoCliente" id="tipoCliente">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-lg-3">{{'situacao' | translate}}</label>
                <div class="col-lg-9">
                    <select adsm-domain="DM_STATUS_PESSOA" ng-model="filter.situacao" id="situacao">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table adsm-table="listTableParams" class="table adsm-table-hover table-condensed table-clickable adsm-table" style="width: 100%">
                <tbody>
                    <tr ng-repeat="row in page" ng-click="detail(row)">
                        <td column-title="cpfCnpj" align="center">{{row.identificacao }}</td>
                        <td column-title="nome"> {{row.nomeRazaoSocial}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>