<form class="form-horizontal content-padding" data-ng-submit="store()">
    <div class="fixed-top"> 
        <button type="button" data-ng-click="clear()" class="btn btn-default btn-lg pull-right" id="limparDados">{{'limpar' | translate}}</button>
        <button type="submit" class="btn btn-default btn-lg pull-right" id="store">{{'salvar' | translate}}</button>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{'tipoPessoa' | translate}}</label>
                <div class="col-lg-9">
                    <select adsm-domain="DM_TIPO_PESSOA" ng-model="data.tipoPessoa" id="tipoPessoa" ng-disabled="true">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-lg-3">{{'identificacao' | translate}}</label>
                <div class="col-lg-3">
                    <select adsm-domain="DM_TIPO_IDENTIFICACAO" ng-model="data.tipoIdentificacao" id="tipoIdentificacao" ng-disabled="true">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <input type="text" ng-model="data.identificacao" id="identificacao" placeholder="" ng-disabled="true" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{'nomeRazaoSocial' | translate}}</label>
                <div class="col-lg-9">
                    <input type="text" ng-model="data.nomeRazaoSocial" id="nomeRazaoSocial" ng-disabled="true" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{'nomeFantasia' | translate}}</label>
                <div class="col-lg-9">
                    <input type="text" ng-model="data.nomeFantasia" id="nomeFantasia" ng-disabled="true" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-lg-3">{{'numeroConta' | translate}}</label>
                <div class="col-lg-9">
                    <input type="text" ng-model="data.numeroConta" id="numeroConta" ng-disabled="true" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{'tipoCliente' | translate}}</label>
                <div class="col-lg-9">
                    <select adsm-domain="DM_TIPO_CLIENTE" ng-model="data.tipoCliente" id="tipoCliente" ng-disabled="true">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-lg-3">{{'situacao' | translate}}</label>
                <div class="col-lg-9">
                    <select adsm-domain="DM_STATUS_PESSOA" ng-model="data.situacao" id="situacao" ng-disabled="true">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div adsm-sub-tab orientation="horizontal">
            <div adsm-tab-panel="principal" heading="Operacional">
                <div class="form-horizontal">
                    <div>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="data.nfeConjulgada" id="nfeConjulgada" class="ng-valid ng-dirty">
                                <label class="control-label" for="nfeConjulgada">{{'Danfe Simplificada' | translate}}</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="data.validaCobrancDifTdeDest" id="validaCobrancDifTdeDest" class="ng-pristine ng-valid">
                                <label class="control-label" for="validaCobrancDifTdeDest">{{'validaCobrancDifTdeDest' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="data.obrigaRG" id="obrigaRG" class="ng-valid ng-dirty">
                                <label class="control-label" for="obrigaRG">{{'obrigaRG' | translate}}</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="data.cobrancaTdeDiferenciada" id="cobrancaTdeDiferenciada" class="ng-pristine ng-valid">
                                <label class="control-label" for="cobrancaTdeDiferenciada">{{'cobrancaTdeDiferenciada' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="data.permiteBaixaPorVolume" id="permiteBaixaPorVolume" class="ng-valid ng-dirty">
                                <label class="control-label" for="permiteBaixaPorVolume">{{'permiteBaixaVolume' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="data.exigeComprovanteEntrega" id="exigeComprovanteEntrega" class="ng-valid ng-dirty">
                                <label class="control-label" for="exigeComprovanteEntrega">{{'exigeComprovanteEntrega' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="data.obrigaQuiz" id="obrigaQuiz" class="ng-valid ng-dirty">
                                <label class="control-label" for="obrigaQuiz">{{'obrigaQuiz' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="data.pemiteBaixasParciais" id="pemiteBaixasParciais" class="ng-pristine ng-valid">
                                <label class="control-label" for="pemiteBaixasParciais">{{'permiteBaixasParciais' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="data.permiteProdutoPerigoso" id="permiteProdutoPerigoso" class="ng-pristine ng-valid">
                                <label class="control-label" for="permiteProdutoPerigoso">{{'permiteProdutoPerigoso' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="data.permiteProdutoControladoPoliciaCivil" id="permiteProdutoControladoPoliciaCivil" class="ng-pristine ng-valid">
                                <label class="control-label" for="permiteProdutoControladoPoliciaCivil">{{'permiteProdutoControladoPoliciaCivil' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="data.permiteProdutoControladoPoliciaFederal" id="permiteProdutoControladoPoliciaFederal" class="ng-pristine ng-valid">
                                <label class="control-label" for="permiteProdutoControladoPoliciaFederal">{{'permiteProdutoControladoPoliciaFederal' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="data.permiteProdutoControladoExercito" id="permiteProdutoControladoExercito" class="ng-pristine ng-valid">
                                <label class="control-label" for="permiteProdutoControladoExercito">{{'permiteProdutoControladoExercito' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="data.obrigaParentesco" id="obrigaParentesco" class="ng-pristine ng-valid">
                                <label class="control-label" for="obrigaParentesco">{{'obrigaParentesco' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="data.naoPermiteSubcontratacao" id="naoPermiteSubcontratacao" class="ng-pristine ng-valid">
                                <label class="control-label" for="naoPermiteSubcontratacao">{{'naoPermiteSubcontratacao' | translate}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div adsm-tab-panel="financeiro" heading="Financeiro">
                <div class="form-horizontal">
                    <div>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="data.enviaDocsFaturamentoNas" id="enviaDocsFaturamentoNas" class="ng-valid ng-dirty">
                                <label class="control-label" for="enviaDocsFaturamentoNas">{{'enviaDocsFaturamentoNas' | translate}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
