<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!--
   | For more configuration infromation and examples see the Jakarta Log4j
   | owebsite: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">


   <!-- ============================== -->
   <!-- Append messages to the console -->
   <!-- ============================== -->

   <appender name="CONSOLE" class="org.apache.logging.log4j.core.appender.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="DEBUG"/>
      <layout class="org.apache.logging.log4j.core.layout.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d{HH:mm:ss} %-5p [%c{1}] %m%n"/>
      </layout>
   </appender>

   <!-- ================ -->
   <!-- Limit categories -->
   <!-- ================ -->

   <!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
   <category name="org.apache">
      <priority value="INFO"/>
   </category>

   <category name="org.apache.catalina">
      <priority value="WARN"/>
   </category>

   <category name="org.apache.catalina.core.StandardContext">
      <priority value="WARN"/>
   </category>

   <category name="net.sf.ehcache">
      <priority value="INFO"/>
   </category>
   
   <category name="org.apache.coyote">
      <priority value="WARN"/>
   </category>

   <category name="org.hibernate">
      <priority value="WARN"/>
   </category>

   <category name="org.hibernate.hql.ast.QueryTranslatorImpl">
      <priority value="INFO"/>
   </category>

   <category name="org.hibernate.engine.QueryParameters">
      <priority value="WARN"/>
   </category>

   <category name="org.hibernate.impl">
      <priority value="WARN"/>
   </category>

   <category name="org.hibernate.cache">
      <priority value="WARN"/>
   </category> 

   <category name="org.hibernate.SQL">
      <priority value="WARN"/>
   </category>

   <category name="org.hibernate.type">
   	  <!-- Modificar a priority para TRACE caso deseje ver os valores
   	  	   que são bindados pelo Hibernate nas queries. -->
      <priority value="INFO"/>
   </category>
   
   <category name="org.springframework">
      <priority value="INFO"/>
   </category>

   <category name="org.springframework.transaction">
      <priority value="WARN"/>
   </category>

   <category name="org.springframework.beans">
      <priority value="INFO"/>
   </category>
   <category name="org.springframework.beans.factory">
      <priority value="WARN"/>
   </category>
   <category name="com.mercurio.adsm.core.security.guard.model.MethodSecurityInterceptor">
      <priority value="WARN"/>
   </category>
   <category name="com.mercurio.adsm.core.util.ADSMAutoProxyCreator">
      <priority value="WARN"/>
   </category>
   <category name="com.mercurio.adsm.core.security.guard.web">
      <priority value="WARN"/>
   </category>
   <category name="com.mercurio.adsm">
      <priority value="INFO"/>
   </category>
   <category name="org.apache.velocity">
      <priority value="WARN"/>
   </category>
   <category name="org.springframework.context">
      <priority value="WARN"/>
   </category>
   <category name="net.sf.reloadable.resource">
      <priority value="WARN"/>
   </category>
   <category name="org.quartz">
      <priority value="INFO"/>
   </category>
   <category name="org.quartz.impl.jdbcjobstore">
      <priority value="ERROR"/>
   </category>
   <category name="com.mercurio.adsm.core.model.distribution.SpringServiceCallImpl">
      <priority value="DEBUG"/>
   </category>
   <category name="com.mercurio.adsm.core.web.JsonBrokerServlet">
      <priority value="DEBUG"/>
   </category>
   <category name="com.mercurio.adsm.core.web.CelularServlet">
      <priority value="DEBUG"/>
   </category>

   
   <!-- ======================= -->
   <!-- Setup the Root category -->
   <!-- ======================= -->

   <root>
      <appender-ref ref="CONSOLE"/>  
   </root>

</log4j:configuration>
