<form class="form-horizontal content-padding" data-ng-submit="store()"> 
 
	<div class="fixed-top"> 
		<div class="content">
			<button type="button"  data-ng-click="gerarRelatorio()" class="btn btn-default btn-lg pull-right" ng-disabled="false">
				{{'relatorioTabelaDePrecoBtnLabel' | translate }}
			</button>
		</div>  
	</div> 
 
	<div class="row">
		<div adsm-add-field data-label="tipoTabela" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<select adsm-chosen  ng-model="data.tipoTabela" id="tipoTabela" ng-options="data as data.desc for data in tipoTabela track by data.id">
					<option value=""></option>
			</select>
		</div>
		
		<div adsm-add-field data-label="servico" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<select adsm-chosen  ng-model="data.servico" id="servico" ng-options="data as data.desc for data in servico track by data.id">
					<option value=""></option>
			</select>
		</div>
	</div>
 
	<div class="row">
		<div adsm-add-field data-label="tipoTabelaBase" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<select adsm-chosen  ng-model="data.tipoTabelaBase" id="tipoTabelaBase" ng-options="data as data.desc for data in tipoTabelaBase track by data.id">
					<option value=""></option>
			</select>
		</div>
		
		<div adsm-add-field data-label="tipoServico" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<select adsm-chosen  ng-model="data.tipoServico" id="tipoServico" ng-options="data as data.desc for data in tipoServico track by data.id">
					<option value=""></option>
			</select>
		</div>
	</div>
 
	<div class="row">
		<div adsm-add-field data-label="categoria" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<select adsm-chosen  ng-model="data.categoria" id="categoria" ng-options="data as data.desc for data in categoria track by data.id">
					<option value=""></option>
			</select>
		</div>
		
		<div adsm-add-field data-label="tipoCalculo" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<select adsm-chosen  ng-model="data.tipoCalculo" id="tipoCalculo" ng-options="data as data.desc for data in tipoCalculo track by data.id">
					<option value=""></option>
			</select>
		</div>
	</div>
 
	<div class="row">
		<div adsm-add-field data-label="tipoCalculoPedagio" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<select adsm-chosen  ng-model="data.tipoCalculoPedagio" id="tipoCalculoPedagio" ng-options="data as data.desc for data in tipoCalculoPedagio track by data.id">
					<option value=""></option>
			</select>
		</div>
		
		<div adsm-add-field data-label="efetivado" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<select adsm-chosen  ng-model="data.efetivado" id="efetivado" ng-options="data as data.desc for data in efetivado track by data.id">
					<option value=""></option>
			</select>
		</div>
	</div>
	 
</form> 
