<div class="content" style="background-color: white; padding: 20px;">
	<div class="fixed-top">
		<div class="content">				
			<button data-ng-click="openModalTelefonePessoa(data.idPessoa, true);"  ng-hide="data.workflow" data-adsm-loading="criando" class="btn btn-default btn-lg pull-right" id="novoTelefone" permission="novoTelefone">
				{{'incluir' | translate}}
			</button>
		</div>
	</div>

		<table adsm-table="telefonePessoaTableParams"
			data-adsm-table-internal-loading="true" 
			class="table adsm-table-hover table-condensed table-clickable adsm-table"
			style="width: 100%">
			<tbody>
				<tr ng-repeat="row in page" ng-click="openModalTelefonePessoa(row.idTelefone, false);">					
					<td column-title="tipoTelefone" style="min-width: 60px; max-width: 80px;">
						{{row.tpTelefone.descriptionAsString}}						
					</td>					
					<td column-title="numero" style="min-width: 60px; max-width: 80px;">
						{{row.dddTelefone}}						
					</td>	
					<td column-title="usoTelefone" style="min-width: 120px; max-width: 180px;">
						{{row.tpUso.descriptionAsString}}						
					</td>	
				</tr>
			</tbody>
		</table>
</div>