<div class="content" style="background-color: white; padding: 20px;">
		<table adsm-table="descontoTableParams"
			data-adsm-table-internal-loading="true" 
			class="table adsm-table-hover table-condensed adsm-table"
			style="width: 100%">
			<tbody>
				<tr ng-repeat="row in page">	
					<td column-title="sigla"
						style="min-width: 50px; max-width: 60px;">{{row.filial.sgFilial}}</td>
					<td column-title="filial"						
						>{{row.filial.nmFilial}}</td>
					<td column-title="numeroDesconto"						
						align="right"
						style="min-width: 150px; max-width: 160px;">{{row.nrDescontoRfc | lpad: 10 }}</td>					
					<td column-title="situacao"						
						align="center"
						style="min-width: 90px; max-width: 100px;">{{row.tpSituacao.description.value }}</td>
					<td column-title="valorTotal"						
						align="right"
						style="min-width: 100px; max-width: 120px;">{{row.vlTotalDesconto | currency }}</td>						
					<td column-title="motivo"						
						style="min-width: 140px; max-width: 220px;">{{row.tipoDescontoRfc.dsTipoDescontoRfc }}</td>
					<td column-title="valorSaldoDevedor"						
						align="right"
						style="min-width: 100px; max-width: 120px;">{{row.vlSaldoDevedor | currency }}</td>
					<td column-title="dataInicio"
						align="center"
						style="min-width: 150px; max-width: 160px;">{{row.dtInicioDesconto | dateTimeZone }}</td>
				</tr>
			</tbody>
		</table>
</div>