<div class="content" style="background-color: white; padding: 20px;">
	<div class="fixed-top">
		<div class="content">				
			<button data-ng-click="openModalEnderecoPessoa(data.idPessoa, true);"  ng-hide="data.workflow" data-adsm-loading="criando" class="btn btn-default btn-lg pull-right" id="novoEndereco" permission="novoEndereco">
				{{'incluir' | translate}}
			</button>
		</div>
	</div>

		<table adsm-table="enderecoPessoaTableParams"
			data-adsm-table-internal-loading="true" 
			class="table adsm-table-hover table-condensed table-clickable adsm-table"
			style="width: 100%">
			<tbody>
				<tr ng-repeat="row in page" ng-click="openModalEnderecoPessoa(row.idEnderecoPessoa, false);">					
					<td column-title="tipoLogradouro" style="min-width: 60px; max-width: 80px;">
						{{row.tpLogradouro.value}}						
					</td>					
					<td column-title="endereco" style="min-width: 120px; max-width: 300px;">
						{{row.dsEndereco}}						
					</td>
					<td column-title="numero" style="min-width: 60px; max-width: 80px;">
						{{row.nrEndereco}}						
					</td>	
					<td column-title="bairro" style="min-width: 120px; max-width: 180px;">
						{{row.dsBairro}}						
					</td>	
					<td column-title="municipio" style="min-width: 120px; max-width: 180px;">
						{{row.nmMunicipio}}						
					</td>
					<td column-title="uf" style="min-width: 120px; max-width: 180px;">
						{{row.nmUnidadeFederativa}}						
					</td>			
					<td column-title="vigenciaInicial" align="center" style="min-width: 60px; max-width: 80px;">
						{{row.dtVigenciaInicial | date:'dd/MM/yyyy'}}		
					</td>
					<td column-title="vigenciaFinal" align="center" style="min-width: 60px; max-width: 80px;">
						{{row.dtVigenciaFinal | date:'dd/MM/yyyy'}}				
					</td>
				</tr>
			</tbody>
		</table>
</div>