<div class="content" style="background-color: white; padding: 20px;">
	<div class="fixed-top">
		<div class="content">				
			<button data-ng-click="openModalContaBancaria(data.idPessoa, true);" ng-hide="data.workflow" data-adsm-loading="criando" class="btn btn-default btn-lg pull-right" id="novaContaBancaria" permission="novaContaBancaria">
				{{'incluir' | translate}}
			</button>
		</div>
	</div>

		<table adsm-table="contaBancariaTableParams"
			data-adsm-table-internal-loading="true" 
			class="table adsm-table-hover table-condensed table-clickable adsm-table"
			style="width: 100%">
			<tbody>
				<tr ng-repeat="row in page" ng-click="openModalContaBancaria(row.idContaBancaria, false);">					
					<td column-title="banco" style="min-width: 120px; max-width: 240px;">
						{{row.nmBanco}}						
					</td>					
					<td column-title="agencia" align="right" style="min-width: 80px; max-width: 120px;">
						{{row.nrAgenciaBancaria}}						
					</td>	
					<td column-title="contaCorrente" style="min-width: 120px; max-width: 180px;">
						{{row.nrContaDvConta}}						
					</td>	
					<td column-title="tipoConta" style="min-width: 120px; max-width: 300px;">
						{{row.tpConta.description.value}}											
					</td>	
					<td column-title="vigenciaInicial" align="center" style="min-width: 60px; max-width: 80px;">
						{{row.dtVigenciaInicial | dateTimeZone }}						
					</td>	
					<td column-title="vigenciaFinal" align="center" style="min-width: 60px; max-width: 80px;">
						{{row.dtVigenciaFinal | dateTimeZone }}						
					</td>					
				</tr>
			</tbody>
		</table>
</div>