<div class="content" style="background-color: white; padding: 20px;">
	<table adsm-table="inscricaoEstadualTableParams"
		data-adsm-table-internal-loading="true" 
		class="table adsm-table-hover table-condensed table-clickable adsm-table"
		style="width: 100%">
		<tbody>
			<tr ng-repeat="row in page">
				<td column-title="uf" style="min-width: 60px; max-width: 80px;">
					{{row.sgUnidadeFederativa}}						
				</td>					
				<td column-title="numero" style="min-width: 120px; max-width: 300px;">
					{{row.nrInscricaoEstadual}}						
				</td>
				<td column-title="indicadorPadrao" style="min-width: 60px; max-width: 80px;">		
					{{ row.blIndicadorPadrao ? ('sim' | translate) : ('nao' | translate)}}				
				</td>	
				<td column-title="tpSituacao" style="min-width: 120px; max-width: 180px;">
					{{row.situacao.descriptionAsString}}
				</td>					
			</tr>
		</tbody>
	</table>
</div>