<div class="content" style="background-color: white; padding: 20px;">
	<div class="fixed-top">
		<div class="content">				
			<button data-ng-click="openModalContatoPessoa(data.idPessoa, true);" ng-hide="data.workflow" data-adsm-loading="criando" class="btn btn-default btn-lg pull-right" id="novoContato" permission="novoContato">
				{{'incluir' | translate}}
			</button>
		</div>
	</div>

		<table adsm-table="contatoPessoaTableParams"
			data-adsm-table-internal-loading="true" 
			class="table adsm-table-hover table-condensed table-clickable adsm-table"
			style="width: 100%">
			<tbody>
				<tr ng-repeat="row in page" ng-click="openModalContatoPessoa(row.idContato, false);">					
					<td column-title="nome" style="min-width: 60px; max-width: 80px;">
						{{row.nmContato}}						
					</td>					
					<td column-title="email" style="min-width: 120px; max-width: 300px;">
						{{row.dsEmail}}						
					</td>
					<td column-title="departamento" style="min-width: 60px; max-width: 80px;">
						{{row.dsDepartamento}}
					</td>	
					<td column-title="funcao" style="min-width: 120px; max-width: 180px;">
						{{row.dsFuncao}}
					</td>	
				</tr>
			</tbody>
		</table>
</div>