<style type="text/css">
.scroll-table .adsm-table tbody td {
	min-width: inherit;
	max-width: inherit;
}
button#exportar {
	display: none;
}
</style>
<form class="form-horizontal content-padding" data-ng-submit="find()">
	<div class="fixed-top">
		<div ng-include src="contextPath + 'js/app/common/view/templates/form-buttons-list.html'" />
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="4" data-label="controleCarga" data-labelSize="4" data-multiSize="6">
			<input
				class="form-control"
				id="controleCarga"
				lms-controle-carga
				ng-model="filter.controleCarga"
			/>
			<input
				class="form-control"
				disabled
				id="nrControleCarga"
				type="text"
				value="{{ filter.controleCarga.nrControleCarga | lpad : 8 }}"
			/>
		</div>
		<div adsm-add-field data-boxSize="4" data-label="filial" data-labelSize="4" data-multiSize="3">
			<input
				class="form-control"
				id="filial"
				lms-filial
				ng-disabled="filter.controleCarga"
				ng-model="filter.filial"
			>
			<input
				class="form-control"
				disabled
				id="filial.nmFilial"
				type="text"
				value="{{ filter.filial.nmFilial }}"
			>
		</div>
		<div adsm-add-field data-boxSize="4" data-label="dataGeracao" data-labelSize="4" data-multiSize="6">
			<input
				adsm-date-picker
				class="form-control"
				data-mask="date"
				id="dhGeracaoInicial"
				max="filter.dhGeracaoFinal"
				ng-disabled="filter.controleCarga"
				ng-model="filter.dhGeracaoInicial"
			/>
			<input
				adsm-date-picker
				class="form-control"
				data-mask="date"
				id="dhGeracaoFinal"
				min="filter.dhGeracaoInicial"
				ng-disabled="filter.controleCarga"
				ng-model="filter.dhGeracaoFinal"
			/>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<table adsm-table="listTableParams">
				<thead>
					<tr>
						<th colspan="2">{{ 'controleCarga' | translate }}</th>
						<th>{{ 'geracao' | translate }}</th>
						<th>{{ 'tipo' | translate }}</th>
						<th>{{ 'rota' | translate }}</th>
						<th>{{ 'tipoRota' | translate }}</th>
						<th colspan="2">{{ 'meioTransporte' | translate }}</th>
						<th colspan="2">{{ 'semiReboque' | translate }}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in page" ng-click="detail(row)">
						<td>{{ row.sgFilial }}</td>
						<td>{{ row.nrControleCarga | lpad : 8 }}</td>
						<td>{{ row.dhGeracao | dateTimeZone }}</td>
						<td>{{ row.tpControleCarga }}</td>
						<td>{{ row.dsRota }}</td>
						<td>{{ row.tpRota }}</td>
						<td>{{ row.meioTransporteNrFrota }}</td>
						<td>{{ row.meioTransporteNrIdentificador }}</td>
						<td>{{ row.semiReboqueNrFrota }}</td>
						<td>{{ row.semiReboqueNrIdentificador }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>
