<form class="form-horizontal content-padding" data-ng-submit="find()" id="relatorioForm">

	<div class="fixed-top">
		<button type="button" data-ng-click="limpar()" class="btn btn-default btn-lg pull-right" id="limpar">
			{{'limpar' | translate }}
		</button>
		<button type="submit" class="btn btn-default btn-lg pull-right" id="visualizar">
			{{'visualizar' |  translate }}
		</button>
	</div>

	<div class="row">
		<div adsm-add-field data-label="ciaAerea" data-boxSize="6"  data-labelSize="3">
            <input
				lms-cia-aerea
				type="text"
				ng-model="data.ciaAerea"
				id="idEmpresa"
				class="form-control"
				required>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-label="aeroportoOrigem" data-boxSize="6"  data-labelSize="3" data-multiSize="3,9">
			<input
				lms-aeroporto
				ng-model="data.aeroportoOrigem"
				id="aeroportoOrigem"
				class="form-control" required >
           <input type="text" disabled ng-model="data.aeroportoOrigem.nmAeroporto">
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-label="aeroportoDestino" data-boxSize="6"  data-labelSize="3" data-multiSize="3,9">
			<input
				lms-aeroporto
				ng-model="data.aeroportoDestino"
				id="aeroportoDestino"
				class="form-control" >
           <input type="text" disabled ng-model="data.aeroportoDestino.nmAeroporto">
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-label="tipoServico" data-boxSize="6"  data-labelSize="3" data-fieldSize="4">
			<select
				id="tipoServico"
				data-adsm-domain="DM_TIPO_SERVICO_TABELA"
				ng-model="data.tipoServico"
				filter="['C','P','V']"
				required>
				<option value=""></option>
			</select>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-label="periodoInicial" data-boxSize="6" data-labelSize="3" data-fieldSize="3">
			<input adsm-date-picker data-mask="date" ng-model="data.periodoInicial" required data-end="data.periodoFinal" data-maxinterval="{{intervaloMaximoPeriodo}}"/>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-label="periodoFinal" data-boxSize="6" data-labelSize="3" data-fieldSize="3">
			<input adsm-date-picker data-mask="date" ng-model="data.periodoFinal" required data-start="data.periodoInicial" data-maxinterval="{{intervaloMaximoPeriodo}}"/>
		</div>
	</div>

 </form>
