<form class="form-horizontal content-padding" name="formAtualizarPerfil" data-ng-submit="atualizarFilial()">
	<div class="fixed-top">
		<button type="submit" class="btn btn-default btn-lg pull-right"
				id="update-filial" permission="salvar"
				ng-disabled="formAtualizarPerfil.$invalid">
			{{'salvar' | translate }}
		</button>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="5" data-label="empresa" data-labelSize="6">
			<select adsm-chosen id="chosen-selecao-empresa"
					ng-options="empresa as empresa['pessoa.nmPessoa'] for empresa in empresasUsuarioLogado track by empresa.idEmpresa"
					ng-model="data.empresa"
					ng-change="change()"
					ng-required="true">
				<option value=""></option>
			</select>
		</div>

		<div adsm-add-field data-boxSize="5" data-label="filial" data-labelSize="6" multisize="3,9">
			<input lms-filial-perfil-empresa-usuario="{idEmpresa: data.empresa.idEmpresa}"
					ng-model="data.filial" id="suggest-filial-empresa-usuario"
					ng-disabled="!data.empresa" class="form-control" ng-required="true"/>

			<input ng-model="data.filial.nmFilial" ng-disabled="true" type="text" />
		</div>
	</div>
</form>
