<form class="form-horizontal content-padding" data-ng-submit="store()"> 
 
	<div class="fixed-top"> 
		<div ng-include src="contextPath+'js/app/common/view/templates/form-buttons-cad.html'"></div>  
	</div> 
 
	<div class="row"> 
		<div adsm-add-field data-boxSize="6" data-label="cliente" data-labelSize="3" data-multiSize="4">
			<input
				lms-cliente
				ng-model="data.cliente"
				id="cliente"
				class="form-control"
				ng-disabled="hasChave"/> 
			<input
				type="text"
				disabled
				ng-model="data.cliente.nmPessoa"
				class="form-control"
				value="{{ data.cliente.nmPessoa }}"
				id="cliente.nmPessoa"/>
		</div>
	</div>	
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="filial" data-labelSize="3" data-multiSize="3">
				<input
					lms-filial
					ng-model="data.filial" 
					id="filial" 
					class="form-control">
		
				<input
					type="text"
					class="form-control"
					id="filial.nmFilial"
					value="{{ data.filial.nmFilial }}"
					readonly="readonly">
		</div>
	</div>	
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="vigencia" data-labelSize="3" data-multiSize="6">
			<input
				adsm-date-picker
				data-end="data.dtVigenciaFinal"
				data-mask="date"
				ng-model="data.dtVigenciaInicial"
				required/>
			<input
				adsm-date-picker
				data-mask="date"
				data-start="data.dtVigenciaInicial"
				ng-model="data.dtVigenciaFinal"/>
		</div>
	</div>	
	<br/>
	<div class="row">	
		<div adsm-add-field data-boxSize="6" data-label="fornecedorEscolta" data-labelSize="3" data-multiSize="80">
			<div
				adsm-list-options
				equals="data.fornecedorEscolta.id"
				keep-format="true"
				ng-model="data.fornecedoresEscolta"
				not-null="data.fornecedorEscolta.id"
				view="data.fornecedorEscolta.nrIdentificacao, ' - ', data.fornecedorEscolta.nmPessoa"
				sortable="true"
				required>
				<div class="multi-input">
					<div class="col-xs-4">
						<input
							class="form-control"
							lms-fornecedor-escolta
							maxlength="7"
							ng-model="data.fornecedorEscolta"
							type="text"
							/>
					</div>
					<div class="col-xs-8">
						<input
							class="form-control"
							readonly
							type="text"
							id="nmPessoaForn"
							value="{{ data.fornecedorEscolta.nmPessoa }}"/>
					</div>
				</div>
			</div>
		</div> 
	</div>
	 
</form> 
