</style>
<form class="form-horizontal content-padding" data-ng-submit="find()"> 
	<div class="fixed-top"> 
			<div ng-include src="contextPath+'js/app/common/view/templates/form-buttons-list.html'"></div> 
	</div> 
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="cliente" data-labelSize="3" data-multiSize="4">
            <input
				lms-cliente
				ng-model="filter.cliente"
				id="cliente"
				class="form-control">
           <input type="text" ng-model="filter.cliente.nmPessoa">
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="filial" data-labelSize="3" data-multiSize="3">
			<input
				class="form-control"
				id="filial"
				lms-filial
				ng-model="filter.filial">
			<input
				class="form-control"
				disabled
				id="filial.nmFilial"
				type="text"
				value="{{ filter.filial.nmFilial }}">
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="vigencia" data-labelSize="3" data-multiSize="6">
			<input
				adsm-date-picker
				class="form-control"
				data-mask="date"
				id="dtVigenciaInicial"
				max="filter.dtVigenciaFinal"
				ng-model="filter.dtVigenciaInicial"/>
			<input
				adsm-date-picker
				class="form-control"
				data-mask="date"
				id="dtVigenciaFinal"
				min="filter.dtVigenciaInicial"
				ng-model="filter.dtVigenciaFinal"/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="scroll-table">
				<table
					adsm-table="listTableParams"
					class="table adsm-table-hover table-condensed table-clickable adsm-table"
					data-remove-service="removeByIds()"
					show-checkboxes="true">
					<thead>
						<tr>
							<th/>
							<th colspan="2">{{ 'cliente' | translate }}</th>
							<th colspan="2">{{ 'filial' | translate }}</th>
							<th colspan="2">{{ 'vigencia' | translate }}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in page" ng-click="detail(row)">
							<td>{{ row.cliente.nrIdentificacao }}</td>
							<td>{{ row.cliente.nmPessoa }}</td>
							<td align="center">{{ row.filial.sgFilial }}</td>
							<td >{{ row.filial.nmFilial }}</td>
							<td align="center">{{ row.dtVigenciaInicial | date }}</td>
							<td align="center">{{ row.dtVigenciaFinal | date }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</form> 
