<div class="form-horizontal content-padding">

	<div class="nav-content">
		<div adsm-sub-tab>
			<div adsm-tab-panel="principal" heading="Principal" event="desabilitarSubAba()">
				Conte&uacute;do da sub-aba principal
			</div>

			<div adsm-tab-panel="desabilitada" heading="{{labelSubAbaDisabilidar}}" disable="subAbaIsDesabilitada">
				Aba teste Habilitar/Desabilitar
			</div>

			<div adsm-tab-panel="abaSubAba" heading="Sub-aba com sub-aba" event="habilitadarSubAba()">
				<div adsm-sub-tab>
					<div adsm-tab-panel="subAba1" heading="Sub-aba 1">
						Conte&uacute;do da sub-aba 1
					</div>
					<div adsm-tab-panel="subAba2" heading="Sub-aba 2">
						Conte&uacute;do da sub-aba 2
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="nav-content">
		<div adsm-sub-tab orientation="horizontal">
			<div adsm-tab-panel="subAba1" heading="Sub-aba 1">
				Conte&uacute;do da sub-aba 1
			</div>
			<div adsm-tab-panel="subAba2" heading="Sub-aba 2">
				Conte&uacute;do da sub-aba 2
			</div>
		</div>
	</div>


</div>


