<div class="modal-body">

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="Id" data-labelSize="4">
			<span>{{empresa.idEmpresa}}</span>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="empresa" data-labelSize="4">
			<span>{{empresa.nmFantasia}}</span>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="Raz&atilde;o Social" data-labelSize="4">
			<span>{{empresa.nmPessoa}}</span>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="municipio" data-labelSize="4">
			<span>{{empresa.nmMunicipio}}</span>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="unidadeFederativa" data-labelSize="4">
			<span>{{empresa.sgUnidadeFederativa}}</span>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="informacoesAdicionais" data-labelSize="4">
			<span>{{empresa.info}}</span>
		</div>
	</div>

</div>

<div class="modal-footer">
	<button class="btn" data-ng-click="close()" data-ng-bind="'fechar' | translate">
</div>