<div class="form-horizontal content-padding">

	<div class="row">
		<div class="col-sm-12">
				<table adsm-table="customTableParams" >
					<tbody>
						<tr ng-repeat="row in page" ng-click="selectRow(row)">

							<td column-title="id" sortable="idEmpresa"
								class="text-right coluna-id">{{row.idEmpresa}}</td>

							<td column-title="nome" sortable="nmFantasia"
								inline-property-filter="nmFantasia"
								class="text-left">{{row.nmFantasia}}</td>

							<td column-title="empresa" sortable="nmPessoa"
								inline-property-filter="nmPessoa"
								class="text-left">{{row.nmPessoa}}</td>

							<td column-title="acao" class="text-center coluna-acoes">
								<span ng-click="detail(row, $event)" class="glyphicon glyphicon-search botao-detalhamento">
								</span>
							</td>

						</tr>
					</tbody>
				</table>
		</div>
	</div>

</div>

<style type="text/css">

 	.botao-detalhamento {
 		color: orange;
 		display: block;
 	}

	.coluna-id {
		max-width: 60px
	}

	.coluna-acoes {
		width: 100px
	}

	td.coluna-acoes:hover {
		background-color: #EAEAEA !important;
	}

	.customTableModal .modal-dialog{
		width: 600px;
	}

	.customTableModal span {
		font-style: italic;
		line-height: 25px;
	}
</style>

