<div class="menu-top" adsm-legacy>
	<a ng-click="openSR($event)">{{'solicitacaoRetirada' | translate}}</a>
	<a ng-click="openSPE($event)">{{'solicitacaoPriorizacaoEmbarque' | translate}}</a>
</div>

<div class="form-horizontal content-padding">
	
	<div class="row">
		<div class="alert-container">
			<div class="alert alert-info">
				Como as telas Web antigas s&oacute; funcionam no IE, os links que referenciam as mesmas n&atilde;o tem necessidade se ser exibidos quando a tela atual estiver rodando em outros browsers.
				<br />
				Assim evitando que o usu&aacute;rio possa reportar erros em um link, que s&oacute; funciona no IE.
				<br /><br />
				Se n&atilde;o houver os links "{{'solicitacaoRetirada' | translate}}" e "{{'solicitacaoPriorizacaoEmbarque' | translate}}" acima deste texto, significa que voc&ecirc; n&atilde;o est&aacute; no IE.
			</div>
		</div>
	</div>

</div>

