<form class="form-horizontal content-padding" data-ng-submit="storeFiles()">
	<div class="fixed-top">
		<button type="submit" class="btn btn-default btn-lg pull-right" id="storeFiles" permission="storeFiles">
			{{'salvar' |  translate }}
		</button>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="descricao" data-labelSize="2" >
			<input class="form-control" ng-model="dados.dsDescricao" id="descricao" >	
		</div>
	</div>
	
	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="arquivo" data-labelSize="2" >
			<div data-adsm-file-upload="fileUploadParams"></div>
		</div>
	</div>

</form>

