<form class="form-horizontal content-padding">

	<div class="fixed-top">
		<button
			type="button"
			data-ng-click="reenviar()"
			ng-disabled = "!habilitarBtnReenviar()"
			class="btn btn-default btn-lg pull-right"
			id="limpar">{{'reenviar2' | translate }}</button>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="numeroCIOT" data-labelSize="3" data-fieldSize="4">
			<input
				class="form-control"
				id="filial"
				ng-model="data.nrCIOT"
				disabled>
		</div>

		<div adsm-add-field data-boxSize="6" data-label="controleCarga" data-labelSize="3" data-multiSize="3,3,6">
			<input
				type="text"
				ng-model="data.sgFilialControleCarga"
				id="controleCarga"
				class="form-control"
				disabled>

	    	<input type="text"
	    		disabled
	    		class="form-control"
	    		value="{{ data.nrControleCarga | lpad: 6 }}"
	    		id="controleCarga.nrControleCarga">

	    	<select
				disabled
				adsm-domain="DM_STATUS_CONTROLE_CARGA"
				id="idStatusControleCarga"
				ng-model="data.tpStatusControleCarga">
			</select>
	   </div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="codigoVerificador" data-labelSize="3" data-fieldSize="4">
			<input
				class="form-control"
				id="codigoVerificador"
				ng-model="data.nrCodigoVerificador"
				disabled>
		</div>

		<div adsm-add-field data-boxSize="6" data-label="proprietario" data-labelSize="3" data-fieldSize="7">
			<input
				class="form-control"
				id="proprietario"
				ng-model="data.dsProprietario"
				disabled>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="situacao" data-labelSize="3" data-fieldSize="6">
			<select
				disabled
				adsm-domain="DM_SITUACAO_CIOT"
				id="idSituacao"
				ng-model="data.tpSituacao">
			</select>
		</div>

		<div adsm-add-field data-boxSize="6" data-label="frotaPlaca" data-labelSize="3" data-multiSize="4,7">
			<input
				type="text"
				ng-model="data.nrFrota"
				id="frota"
				class="form-control"
				disabled>

	    	<input type="text"
	    		disabled
	    		class="form-control"
	    		value="{{data.nrIdentificador}}"
	    		id="placa">
	   </div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="dataHoraGeracao" data-labelSize="3" data-fieldSize="4">
			<input
				id="dhGeracao"
				adsm-date-time
				ng-model="data.dhGeracao"
				disabled
				class="form-control">
		</div>

		<div adsm-add-field data-boxSize="6" data-label="valorFrete" data-labelSize="3" data-multiSize="4,7">
			<input
				type="text"
				class="form-control text-right"
				id="valor"
				data-numeric data-moeda
				ng-model="data.valor"
				disabled>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="observacao" data-labelSize="3" data-fieldSize="8">
			<textarea
				ng-model="data.dsObservacao"
				id="observacao"
				rows="8"
				cols="140"
				disabled/>
			</select>
		</div>
	</div>

</form>
