<div class="modal-body">


	<table adsm-table="popupTable"
		columns="columns"
		sub-columns="subcolumns"
		adsm-table-internal-loading="true"
		class="table adsm-table-hover table-condensed adsm-table"
		style="width: 100%"
		icon-sub-columns="glyphicon-earphone">
	</table>


	<div class="telefones" data-ng-if="telefonesGerais && telefonesGerais.length > 0">
		<span>Telefones gerais</span>
		<div class="info-p">
			<p data-ng-repeat="subrow in telefonesGerais">
				<span data-ng-repeat="subcolumn in subcolumns">
					<strong>{{$eval(subcolumn.title)}}:</strong> {{$eval(subcolumn.field)}}
				</span>
			</p>
		</div>
	</div>

</div>
<div class="modal-footer">
	<button id="btnClose" class="fix-btn" data-ng-click="close()" data-ng-bind="'fechar' | translate"></button>
</div>