<div class="modal-body">
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<textarea id="dsObservacao" rows="2" maxlength="4000" ng-model="dsObservacao.value" class="form-control" style="resize: none;"></textarea>
			</div>	
			<div class="form-group">
				<button class="fix-btn" data-ng-bind="'salvar' | translate" style="float: right;" data-ng-click="salvarObservacao()"></button>
			</div>
		</div>	
	</div>
	<div class="row">
		<br />
		<table adsm-table="popupTable"
			adsm-table-internal-loading="true"
			class="table adsm-table-hover table-condensed adsm-table"
			style="width: 100%"
			icon-sub-columns="glyphicon-plus"
			show-checkboxes="false"
			>
			<tbody>
				<tr ng-repeat="row in page" ng-click="preencheDsConsulta(row)">
					<td column-title="'dataInclusao' | translate" sortable="'dhInclusao'" inline-property-filter="dhInclusao">{{row.dhInclusao}}</td>
					<td column-title="'usuario' | translate" sortable="'nmUsuario'" inline-property-filter="nmUsuario">{{row.nmUsuario}}</td>
					<td column-title="'filial' | translate" sortable="'sgFilial'" inline-property-filter="sgFilial">{{row.sgFilial}}</td>
					<td column-title="'observacao' | translate" sortable="'dsObservacao'" inline-property-filter="dsObservacao">{{row.dsObservacao}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<span>{{dsConsulta}}</span>
			</div>	
		</div>	
	</div>
</div>
<div class="modal-footer">
	<button id="btnClose" class="fix-btn" data-ng-click="close()" data-ng-bind="'fechar' | translate"></button>
</div>