<div class="modal-body">
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label class="col-md-6 control-label">{{'notaFiscal' | translate}}</label>
				<div class="col-md-6">
					<input type="text" readonly="readonly" class="form-control" value="{{notaFiscal.nrNotaFiscal | lpad: 8}}" id="nrNotaFiscal">
				</div>
			</div>
		</div>
		
		<div class="col-sm-3">
			<div class="form-group">	
				<label class="col-md-6 control-label">{{'serie' | translate}}</label>
				<div class="col-md-6">
					<input type="text" readonly="readonly" class="form-control" value="{{notaFiscal.dsSerie}}" id="dsSerie">
				</div>
			</div>
		</div>
		
		<div class="col-sm-5">
			<div class="form-group">				
				<label  class="col-md-6 control-label">{{'dataEmissao' | translate}}</label>
				<div class="col-md-5">
					<input type="text" readonly="readonly" class="form-control" value="{{notaFiscal.dtEmissao}}" id="dtEmissao">
				</div>
			</div>
		</div>
	</div>
	
	<div style="padding-top: 5px">
		<div class="row">
			<table adsm-table="popupTableNotaFiscalOperada">
				<tbody>
					<tr ng-repeat="row in page">
						<td column-title="situacao" style="text-align: center;" sortable="tpSituacao"> {{row.tpSituacao}}</td>
						<td column-title="documentoServico" style="text-align: center;" sortable="nrDoctoServico"> {{row.tpDocumento}} {{row.sgFilial}} {{row.nrDoctoServico}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button id="btnClose" class="fix-btn" data-ng-click="close()" data-ng-bind="'fechar' | translate"></button>
</div>