<div class="fixed-top content">
	<button type="button" ng-click="exportarExcel()" ng-class="{'btn-spinner-show': exportando}" class="btn btn-default btn-lg pull-right btn-spinner-center" id="exportar">
		<span class="btn-spinner" />{{'exportarExcel' |  translate}}
	</button>
</div>

	<table adsm-table="listTableParams"		
		class="table adsm-table-hover table-condensed table-clickable adsm-table"
		style="width: 100%">
		<tbody>
			<tr ng-repeat="row in page" ng-click="abreDetalhe(row)">
				<td column-title="" sortable="'corBola'" style="min-width: 10px; max-width: 40px;" class="{{row.corBola}}"></td>
				<td column-title="documentoServico" sortable="'dsDoctoServico'" style="min-width: 140px; max-width: 400px;" title="{{ row.dsDoctoServico }}">{{ row.dsDoctoServico }}</td>
				<td column-title="cae" sortable="'nrCae'" style="min-width: 140px; max-width: 400px;" title="{{ row.nrCae }}">{{ row.nrCae }}</td>
				<td column-title="finalidade" sortable="'finalidade'"  title="{{ row.finalidade }}">{{ row.finalidade }}</td>
				<td column-title="filialDestino2" sortable="'sgFilialDestino'"  title="{{ row.sgFilialDestino }}">{{ row.sgFilialDestino }}</td>
				<td column-title="preAwbAwb" sortable="'serieNroAwb'" style="min-width: 110px; max-width: 200px;" title="{{ row.serieNroAwb }}">{{ row.serieNroAwb }}</td>
				<td column-title="dataEmissao" sortable="'dhEmissao'" style="min-width: 70px; max-width: 200px;" title="{{ row.dhEmissao | dateTimeZone }}">{{ row.dhEmissao | dateTimeZone }}</td>
				<td column-title="dataPrevista" sortable="'dtPrevista'" style="min-width: 70px; max-width: 200px;" title="{{ row.dtPrevista  | customDate }}">{{ row.dtPrevista | customDate }}</td>
				<td column-title="dtSaidaViagem" sortable="'dtSaidaViagem'" style="min-width: 140px; max-width: 200px;" title="{{ row.dtSaidaViagem | dateTimeZone }}">{{ row.dtSaidaViagem | dateTimeZone }}</td>
				<td column-title="dtChegadaViagem" sortable="'dtChegadaViagem'" style="min-width: 140px; max-width: 200px;" title="{{ row.dtChegadaViagem | dateTimeZone }}">{{ row.dtChegadaViagem | dateTimeZone }}</td>
				<td column-title="dtSaidaEntrega" sortable="'dtSaidaEntrega'" style="min-width: 140px; max-width: 200px;" title="{{ row.dtSaidaEntrega | dateTimeZone }}">{{ row.dtSaidaEntrega | dateTimeZone }}</td>
				<td column-title="dataEntrega" sortable="'dtEntrega'" style="min-width: 70px; max-width: 200px;" title="{{ row.dtEntrega | customDate }}">{{ row.dtEntrega | dateTimeZone }}</td>
				<td column-title="localizacao" sortable="'dsLocMerc'"  title="{{ row.dsLocMerc }}">{{ row.dsLocMerc }}</td>
				<td column-title="notaFiscal" sortable="'nf'" style="min-width: 80px; max-width: 200px;" title="{{ row.nf }}">{{ row.nf }}</td>
				<td column-title="identificacaoRemetente" sortable="'remDsIdentificacao'" style="min-width: 140px; max-width: 200px;" title="{{ row.remDsIdentificacao }}" >{{ row.remDsIdentificacao }}</td>
				<td column-title="remetente" sortable="'remNmPessoa'" style="min-width: 140px; max-width: 200px;" title="{{ row.remNmPessoa }}">{{ row.remNmPessoa }}</td>
				<td column-title="identificacaoDestinatario" sortable="'destDsIdentificacao'" style="min-width: 140px; max-width: 200px;" title="{{row.destDsIdentificacao }}">{{row.destDsIdentificacao }}</td>
				<td column-title="destinatario" sortable="'destNmPessoa'" style="min-width: 140px; max-width: 200px;" title="{{ row.destNmPessoa }}" >{{ row.destNmPessoa }}</td>
				<td column-title="identificacaoConsignatario" sortable="'consDsIdentificacao'" style="min-width: 140px; max-width: 200px;" title="{{row.consDsIdentificacao }}">{{ row.consDsIdentificacao }}</td>
				<td column-title="recebedor" sortable="'consNmPessoa'" style="min-width: 140px; max-width: 200px;" title="{{ row.consNmPessoa }}">{{ row.consNmPessoa }}</td>
				<td column-title="identificacaoRedespacho" sortable="'redesNrIdentificacao'" style="min-width: 140px; max-width: 200px;" title="{{ row.redesDsIdentificacao }}">{{ row.redesDsIdentificacao }}</td>
				<td column-title="expedidor" sortable="'redesNmPessoa'" style="min-width: 140px; max-width: 200px;" title="{{ row.redesNmPessoa }}">{{ row.redesNmPessoa }}</td>
				<td column-title="identificacaoResponsavelFrete" sortable="'respDsIdentificacao'" style="min-width: 140px; max-width: 200px;" title="{{row.respDsIdentificacao }}">{{row.respDsIdentificacao }}</td>
				<td column-title="responsavelFrete" sortable="'respNmPessoa'" style="min-width: 70px; max-width: 200px;" title="{{ row.respNmPessoa }}">{{ row.respNmPessoa }}</td>
				<td column-title="dataAgendamento" sortable="'dtAgen'" title="{{ row.dtAgen | customDate }}">{{ row.dtAgen | customDate }}</td>
			</tr>
		</tbody>
	</table>
