<form class="form-horizontal content-padding" data-ng-submit="store()"> 
	<div class="fixed-top"> 
		<div ng-include src="contextPath+'js/app/common/view/templates/form-buttons-cad.html'"></div>  
	</div> 
	
	<!-- CHAVE NOTA -->
	<div class="row">
		<div class="row">
			<div adsm-add-field data-boxsize="6" data-label="chaveNfe" data-labelsize="3">
				<input
					type="text"
					class="form-control"
					id="chave"
					ng-model="data.nrChave"
					ng-blur="findChave()"
					maxlength="44">
			</div>
		</div>
		<!-- CLIENTE -->
		<div class="row">
			<div adsm-add-field data-boxSize="6" data-label="cliente" data-labelSize="3" data-multiSize="4,8">
				<input
					lms-cliente
					ng-model="data.cliente"
					id="cliente"
					class="form-control"
					required
					ng-disabled="data.nrChave"/> 
				<input
					type="text"
					disabled
					ng-model="data.cliente.nmPessoa"
					class="form-control"
					value="{{ data.cliente.nmPessoa }}"
					id="cliente.nmPessoa"/>
			</div>
		</div>
		<!-- NUM NOTA -->
		<div class="row">
			<div adsm-add-field data-boxsize="6" data-label="numNotaFiscal" data-labelsize="3" data-multiSize="9">
				<input
					type="text"
					class="form-control"
					id="nrNotaFiscal"
					ng-model="data.nrNotaFiscal"
					mask="integer"
					maxlength="9"
					required
					ng-disabled="data.nrChave">
		<!-- SERIE NOTA -->
				<input
					type="text"
					class="form-control"
					id="dsSerie"
					ng-model="data.dsSerie"
					maxlength="3"
					ng-disabled="data.nrChave">
			</div>
		</div>
			
		<!-- VOLUME -->
		<div class="row">
			<div adsm-add-field data-boxsize="6" data-label="volume" data-labelsize="3" >
				<input
					type="text"
					class="form-control"
					id="volume"
					ng-model="data.nrVolume">
			</div>
		</div>
		<!-- VIRUS / DATA -->
		<div class="row">
			<div adsm-add-field data-boxsize="6" data-label="virusCarga" data-labelsize="3" >
				<input
					type="text"
					class="form-control"
					id="nrIscaCarga"
					ng-model="data.nrIscaCarga"
					required>
			</div>
			<div adsm-add-field data-boxSize="6" data-label="dataAtivacao" data-labelSize="3" data-multiSize="6">
				<input
					id="dataAtivacao"
					adsm-date-time
					ng-model="data.dhAtivacao"
					class="form-control"
					required /> 
			</div>
		</div>
	</div>
</form> 