<form class="form-horizontal content-padding" data-ng-submit="find()">
	<div class="fixed-top">
		<div ng-include src="contextPath + 'js/app/common/view/templates/form-buttons-list.html'"></div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="4" data-label="cnpj" data-labelSize="4"> 
			<input
				maxlength="18"
				ng-model="filter.nrIdentificacao"
				type="text"
			/>
		</div>
		<div adsm-add-field data-boxSize="8" data-label="razaoSocial" data-labelSize="4">
			<input
				ng-model="filter.nmPessoa"
				type="text"
			/>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<table adsm-table="listTableParams" show-checkboxes="true" data-remove-service="removeByIds()">
				<tbody>
					<thead>
						<th />
						<th>{{ 'cnpj' | translate }}</th>
						<th>{{ 'razaoSocial' | translate }}</th>
						<th colspan="3">{{ 'telefones' | translate }}</th>
					</thead>
					<tbody>
						<tr ng-repeat="row in page" ng-click="detail(row)">
							<td>{{ row.nrIdentificacao }}</td>
							<td>{{ row.nmPessoa }}</td>
							<td>{{ row.dsTelefone1 }}</td>
							<td>{{ row.dsTelefone2 }}</td>
							<td>{{ row.dsTelefone3 }}</td>
						</tr>
					</tbody>
				</tbody>
			</table>
		</div>
	</div>
</form>
