<form class="form-horizontal content-padding">
	<div class="fixed-top">
		<button class="btn pull-right" ng-click="detail()" id="incluir">
			{{ 'incluir' | translate }}
		</button>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<table adsm-table="blacklistTableParams" show-checkboxes="true" remove-service="removeByIds()">
				<tbody>
					<thead>
						<th />
						<th colspan="2">{{ 'cliente' | translate }}</th>
						<th colspan="2">{{ 'vigencia' | translate }}</th>
					</thead>
					<tbody>
						<tr ng-repeat="row in page" ng-click="detail(row)">
							<td>{{ row.cliente.nrIdentificacao }}</td>
							<td>{{ row.cliente.nmPessoa }}</td>
							<td align="center">{{ row.dtVigenciaInicial | date }}</td>
							<td align="center">{{ row.dtVigenciaFinal | date }}</td>
						</tr>
					</tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
