<form class="form-horizontal content-padding" data-ng-submit="store()">
	<div class="fixed-top">
		<div ng-include src="contextPath + 'js/app/common/view/templates/form-buttons-cad.html'" />
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="4" data-label="cnpj" data-labelSize="4">
			<input
				data-pessoa-mask="'cnpj'"
				ng-blur="onBlurNrIdentificacao()"
				ng-model="data.nrIdentificacao"
				required
				type="text"
			/>
		</div>
		<div adsm-add-field data-boxSize="8" data-label="razaoSocial" data-labelSize="4" >
			<input
				ng-model="data.nmPessoa"
				required
				type="text"
			/>
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="4" data-label="vigencia" data-labelSize="4" data-multiSize="6">
			<input
				adsm-date-picker
				data-end="data.dtVigenciaFinal"
				data-mask="date"
				ng-model="data.dtVigenciaInicial"
				required
			/>
			<input
				adsm-date-picker
				data-mask="date"
				data-start="data.dtVigenciaInicial"
				ng-model="data.dtVigenciaFinal"
			/>
		</div>
		<div adsm-add-field data-boxSize="8" data-label="email" data-labelSize="4">
			<input
				class="form-control"
				ng-model="data.dsEmailFornecedor"
				type="email"
			/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4" />
		<div adsm-add-field data-boxSize="8" data-label="telefones" data-labelSize="4" data-multiSize="4,4,4">
			<input
				class="form-control"
				maxlength="30"
				ng-change="onChangeDsTelefone()"
				ng-model="data.dsTelefone1"
				type="tel"
			/>
			<input
				class="form-control"
				maxlength="30"
				ng-change="onChangeDsTelefone()"
				ng-disabled="!data.dsTelefone1"
				ng-model="data.dsTelefone2"
				type="tel"
			/>
			<input
				class="form-control"
				maxlength="30"
				ng-change="onChangeDsTelefone()"
				ng-disabled="!data.dsTelefone2"
				ng-model="data.dsTelefone3"
				type="tel"
			/>
		</div>
	</div>
</form>
