<style type="text/css">
.modal-blacklist .modal-dialog {
	min-width: 540px;
}
</style>
<form class="form-horizontal content-padding" ng-submit="store()">
	<div class="alert-container" ng-show="popupAlerts.length">
		<alert close="closeAlert($index)" ng-repeat="alert in popupAlerts" type="{{ alert.type }}">
			<span ng-bind="alert.msg" />
		</alert>
	</div>

	<div class="modal-body">
		<div class="row">
			<div adsm-add-field data-boxSize="12" data-label="cliente" data-labelSize="4" data-multiSize="4">
				<input
					lms-cliente
					ng-model="data.cliente"
					required
					type="text"
				/>
				<input
					ng-model="data.cliente.nmPessoa"
					readonly
					type="text"
				/>
			</div>
			<div adsm-add-field data-boxSize="12" data-label="vigencia" data-labelSize="4" data-multiSize="6">
				<input
					adsm-date-picker
					data-end="data.dtVigenciaFinal"
					data-mask="date"
					ng-model="data.dtVigenciaInicial"
					required
				/>
				<input
					adsm-date-picker
					data-mask="date"
					data-start="data.dtVigenciaInicial"
					ng-model="data.dtVigenciaFinal"
				/>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-default btn-lg pull-right" ng-click="close()" type="reset">
			{{ 'cancelar' | translate }}
		</button>
		<button class="btn btn-default btn-lg pull-right" id="store" permission="salvar" type="submit">
			{{ 'salvar' | translate }}
		</button>
	</div>
</form>
