<style type="text/css">
.modal-kmfranquia .modal-dialog {
	min-width: 400px;
}
</style>
<form class="form-horizontal content-padding" ng-submit="store()">
	<div class="alert-container" ng-show="popupAlerts.length">
		<alert close="closeAlert($index)" ng-repeat="alert in popupAlerts" type="{{ alert.type }}">
			<span ng-bind="alert.msg" />
		</alert>
	</div>

	<div class="modal-body">
		<div class="row">
			<div adsm-add-field data-boxSize="12" data-label="tipoEscolta" data-labelSize="4">
				<select
					data-adsm-domain="DM_TIPO_ESCOLTA"
					ng-model="data.tpEscolta"
					required
				>
					<option value="" />
				</select>
			</div>
			<div adsm-add-field data-boxSize="12" data-label="quilometragem" data-labelSize="4">
				<input
					data-dimensao
					data-numeric="{ aSign : 'km' }"
					ng-model="data.nrQuilometragem"
					required
					type="text"
				/>
			</div>
			<div adsm-add-field data-boxSize="12" data-label="tempoViagem" data-labelSize="4">
				<input
					data-dimensao
					data-numeric="{ aSign : ' min' }"
					ng-model="data.nrTempoViagemMinutos"
					required
					type="text"
				/>
			</div>
			<div adsm-add-field data-boxSize="12" data-label="valorFranquia" data-labelSize="4">
				<input
					data-moeda
					data-numeric
					ng-model="data.vlFranquia"
					required
					type="text"
				/>
			</div>
			<div adsm-add-field data-boxSize="12" data-label="valorHoraExcedente" data-labelSize="4">
				<input
					data-moeda
					data-numeric
					ng-model="data.vlHoraExcedente"
					required
					type="text"
				/>
			</div>
			<div adsm-add-field data-boxSize="12" data-label="valorKmExcedente" data-labelSize="4">
				<input
					data-moeda
					data-numeric
					ng-model="data.vlQuilometroExcedente"
					required
					type="text"
				/>
			</div>
			<div adsm-add-field data-boxSize="12" data-label="filiaisAtendimento" data-labelSize="4">
				<div
					adsm-list-options
					equals="data.filialAtendimento.id"
					keep-format="true"
					ng-model="data.filiaisAtendimento"
					not-null="data.filialAtendimento.id"
					view="data.filialAtendimento.sgFilial, ' - ', data.filialAtendimento.nmFilial"
				>
					<div class="multi-input">
						<div class="col-xs-4">
							<input
								class="form-control"
								lms-filial
								maxlength="3"
								ng-model="data.filialAtendimento"
								type="text"
							/>
						</div>
						<div class="col-xs-8">
							<input
								class="form-control"
								readonly
								type="text"
								value="{{ data.filialAtendimento.nmFilial }}"
							/>
						</div>
					</div>
				</div>
			</div>
			<div adsm-add-field data-boxSize="12" data-label="filialOrigem" data-labelSize="4" data-multiSize="4">
				<input
					lms-filial
					maxlength="3"
					ng-model="data.filialOrigem"
					type="text"
				/>
				<input
					ng-model="data.filialOrigem.nmFilial"
					readonly
					type="text"
				/>
			</div>
			<div adsm-add-field data-label="filialDestino" data-boxSize="12" data-labelSize="4" data-multiSize="4">
				<input
					lms-filial
					maxlength="3"
					ng-model="data.filialDestino"
					type="text"
				/>
				<input
					ng-model="data.filialDestino.nmFilial"
					readonly
					type="text"
				/>
			</div>
			<div adsm-add-field data-boxSize="12" data-label="vigencia" data-labelSize="4" data-multiSize="6">
				<input
					adsm-date-picker
					data-end="data.dtVigenciaFinal"
					data-mask="date"
					ng-model="data.dtVigenciaInicial"
					required
				/>
				<input
					adsm-date-picker
					data-mask="date"
					data-start="data.dtVigenciaInicial"
					ng-model="data.dtVigenciaFinal"
				/>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-default btn-lg pull-right" ng-click="close()" type="reset">
			{{ 'cancelar' | translate }}
		</button>
		<button class="btn btn-default btn-lg pull-right" id="store" permission="salvar" type="submit">
			{{ 'salvar' | translate }}
		</button>
	</div>
</form>
