<form class="form-horizontal content-padding" ng-submit="storeCad($event)"> 
 
	<div class="fixed-top"> 
		<button type="button" data-ng-click="limparDados()" class="btn btn-default btn-lg pull-right" id="limparDados">
			{{'limpar' |  translate }}
		</button>
		<button type="button" data-ng-click="removeById()" class="btn btn-default btn-lg pull-right" id="removeById" permission="excluir" data-ng-disabled="isRemoveByIdDisabled()">
			{{'excluir' |  translate }}
		</button>
		<button type="submit" class="btn btn-default btn-lg pull-right" id="store" permission="salvar">
			{{'salvar' |  translate }}
		</button>
	</div> 
	
	<div class="row">
		<div class="col-sm-8">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'clientePrincipal' | translate }}</label>
				<div class="col-lg-7">
					<div class="multi-input">
						<div class="multi-input">
							<div class="col-xs-4">
								<input lms-cliente ng-model="data.cliente" id="cliente" required
									class="form-control"
									ng-blur="atualizaDescricao()">
							</div>
							<div class="col-xs-8">
								<input type="text" disabled required class="form-control"
									value="{{ data.cliente.nmPessoa }}" id="cliente.nmPessoa">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="descricao" class="col-lg-4 control-label">{{'descricao' | translate}}</label>
				<div class="col-lg-5">
					<input type="text" class="form-control" id="descricao" ng-model="data.descricao" required maxlength="50"/>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="codigo" class="col-lg-4 control-label">{{'codigo' | translate}}</label>
				<div class="col-lg-3">
					<input type="text" class="form-control" id="codigo" ng-model="data.codigo" maxlength="11" required/>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="modal" class="col-lg-4 control-label">{{'situacao' | translate}}</label>
				<div class="col-lg-5">
					<select adsm-domain="DM_STATUS"
						id="tpSituacao"
						ng-model="data.tpSituacao"
						required>
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
	</div>
	
</form> 
