<form class="form-horizontal content-padding" data-ng-submit="find()"> 
 
	<div class="fixed-top"> 
			<button type="button" data-ng-click="clearFilter()" class="btn btn-default btn-lg pull-right" id="limpar">
				{{'limpar' |  translate }}
			</button>
			<button type="submit" data-adsm-loading="listTableParams.loading" class="btn btn-default btn-lg pull-right" id="consultar">
				{{'consultar' |  translate }}
			</button>
	</div> 
	
	<div class="row">
		<div class="col-sm-8">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'cliente' | translate }}</label>
				<div class="col-lg-7">
					<div class="multi-input">
						<div class="multi-input">
							<div class="col-xs-4">
								<input lms-cliente ng-model="filter.cliente" id="cliente"
									class="form-control">
							</div>
							<div class="col-xs-8">
								<input type="text" disabled class="form-control"
									value="{{ filter.cliente.nmPessoa }}" id="cliente.nmPessoa">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="descricao" class="col-lg-4 control-label">{{'descricao' | translate}}</label>
				<div class="col-lg-5">
					<input type="text" class="form-control" id="descricao" ng-model="filter.descricao" maxlength="50">
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="codigo" class="col-lg-4 control-label">{{'codigo' | translate}}</label>
				<div class="col-lg-3">
					<input type="text" class="form-control" id="codigo" ng-model="filter.codigo" maxlength="11">
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="modal" class="col-lg-4 control-label">{{'situacao' | translate}}</label>
				<div class="col-lg-5">
					<select adsm-domain="DM_STATUS"
						id="tpSituacao"
						ng-model="filter.tpSituacao">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row"> 
		<div class="col-sm-12"> 
			<table adsm-table="listTableParams" 
					show-checkboxes="true" 
					data-remove-service="removeByIds()"> 
					<tbody> 
						<tr ng-repeat="row in page" ng-click="detail(row)"> 
						 
							<td column-title="codigo" sortable="codigo" >{{row.codigo}}</td> 
							<td column-title="descricao" sortable="descricao"                    
								style="min-width: 140px; max-width: 300px;">{{row.descricao}}</td> 
							<td column-title="clientePrincipal" sortable="cliente.nmPessoa"             
								style="min-width: 140px; max-width: 300px;">{{row.cliente.nmPessoa}}</td>
							<td column-title="situacao" sortable="tpSituacao.description.value" 
								style="min-width: 90px; max-width: 100px;" align="center">{{row.tpSituacao.description.value }}</td>
							 
						</tr> 
					</tbody> 
			</table> 
		</div> 
	</div> 
	
</form> 
