<form class="form-horizontal content-padding" data-ng-submit="salvarCliente()" id="clientesForm">

	<div class="fixed-top">
		<button type="button"  data-ng-click="limparClientes()" class="btn btn-default btn-lg pull-right" id="limparDados">{{'limpar' |  translate }}</button>
		<button type="submit"  class="btn btn-default btn-lg pull-right" id="store" permission="salvar">	{{'salvar' |  translate }}</button>
	</div>
	
	<div class="row">
		<div class="col-sm-8">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'cliente' | translate }}</label>
				<div class="col-lg-7">
					<div class="multi-input">
						<div class="multi-input">
							<div class="col-xs-4">
								<input lms-cliente ng-model="dados.cliente" id="cliente" required
									class="form-control">
							</div>
							<div class="col-xs-8">
								<input type="text" disabled required class="form-control"
									value="{{ dados.cliente.nmPessoa }}" id="cliente.nmPessoa">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content-padding">
			<table adsm-table="clientesTableParams"
				data-adsm-table-internal-loading="true"
				class="table adsm-table-hover table-condensed adsm-table"
				style="width: 100%"
				show-checkboxes="true"
				isDisabledRow="disabledRow"
				data-remove-service="removeGrupoEconomicoClientesByIdsClientes()">
				<tbody>
					<tr ng-repeat="row in page">
						<td column-title="cpfCnpj" sortable="cliente.nrIdentificacao" >{{ row.cliente.nrIdentificacao }}</td>
						<td column-title="nomeRazaoSocial" style="min-width: 140px; max-width: 400px;" sortable="cliente.nmPessoa">{{ row.cliente.nmPessoa }}</td>
						<td column-title="tpCliente" style="min-width: 140px; max-width: 400px;" sortable="cliente.tpCliente">{{ row.cliente.tpCliente }}</td>
					</tr>
				</tbody>
			</table>
	</div>
	
</form>
