<form class="form-horizontal content-padding" data-ng-submit="find()"> 
 
	<div class="fixed-top"> 
		<button type="button" ng-click="exportCsv()" ng-class="{'btn-spinner-show': exportando}" class="btn btn-default btn-lg pull-right btn-spinner-center" id="exportar">
			<span class="btn-spinner" />{{'exportarExcel' |  translate}}
		</button>
		
		<button type="button" data-ng-click="limpar()" class="btn btn-default btn-lg pull-right" id="limparDados">
			{{'limpar' |  translate }}
		</button>
	</div> 

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3  control-label">{{'regionalCobranca' | translate}}</label>
				<div class="col-lg-9">
					<select adsm-chosen id="idRegional" 
						ng-model="filter.idRegional"
						ng-options="data.idRegional as data.siglaDescricao for data in filter.regionais"
						ng-change="limparFilal()">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'filialCobranca' | translate }}</label>
				<div class="col-lg-9">
					<div class="multi-input">
						<div class="col-xs-3">
							<input lms-filial ng-model="filter.idFilialCobranca" id="idFilialCobranca" class="form-control" >
						</div>
						<div class="col-xs-9">
							<input type="text" disabled class="form-control"
								value="{{filter.idFilialCobranca.nmFilial}}" 
								id="idFilialCobranca.nmFilial">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3  control-label">{{'servicoAdicional' | translate}}</label>
				<div class="col-lg-9">
					<select adsm-chosen id="idServicoAdicional" ng-model="filter.idParcelaPreco"
						ng-options="data.idParcelaPreco as data.dsServicoAdicional.value for data in filter.servicosAdicionais">
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'modal' | translate }}</label>
				<div class="col-lg-4">
					<select 
						adsm-domain="DM_MODAL"
						id="slmodal" 
						ng-model="filter.modal">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'abrangencia' | translate }}</label>
				<div class="col-lg-6">
					<select 
						adsm-domain="DM_ABRANGENCIA"
						id="abrangencia" 
						ng-model="filter.abrangencia">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'periodoEmissao' | translate }}</label>
				<div class="col-lg-7">
					<div class="multi-input">
						<div class="multi-input">
							<div class="col-xs-5">
								<input
									id="periodoInicial"
									adsm-date-picker
									ng-model="filter.periodoInicial"
									mask="date"
									class="form-control"
									data-end="filter.periodoFinal"
									data-maxInterval="{{ getIntervaloMax() }}">

							</div>
							<div class="col-xs-5">
								<input
									id="periodoFinal"
									adsm-date-picker
									ng-model="filter.periodoFinal"
									mask="date"
									class="form-control"
									data-start="filter.periodoInicial"
									data-maxInterval="{{ getIntervaloMax() }}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'cliente' | translate }}</label>
				<div class="col-lg-9">
					<div class="multi-input">
						<div class="multi-input">
							<div class="col-xs-4">
								<input lms-cliente ng-model="filter.cliente" id="cliente"
									class="form-control">
							</div>
							<div class="col-xs-8">
								<input type="text" disabled class="form-control"
									value="{{ filter.cliente.nmPessoa }}" id="cliente.nmPessoa">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'executivo' |
					translate }}</label>
				<div class="col-lg-9">
					<div class="multi-input">
						<div class="multi-input">
							<div class="col-xs-4">
								<input lms-cliente ng-model="filter.executivo" id="cliente"
									class="form-control">
							</div>
							<div class="col-xs-8">
								<input type="text" disabled class="form-control"
									value="{{ filter.executivo.nmPessoa }}" id="cliente.nmPessoa">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</form> 
