<form class="form-horizontal content-padding" data-ng-submit="store()">

	<div class="fixed-top">
		<div ng-include src="contextPath+'js/app/common/view/templates/form-buttons-cad.html'"></div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="funcionario" data-labelSize="6" data-multiSize="4,7">
            <input
				lms-funcionario-promotor
				ng-model="data.usuarioDTO"
				id="usuario"
				class="form-control"
				required
				ng-disabled="data.id">
           <input type="text" disabled ng-model="data.usuarioDTO.nmUsuario">
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="cpf" data-labelSize="6" data-fieldSize="3">
			<input class="form-control" id="cpf" ng-model="data.nrCpf" data-pessoa-mask="'cpf'" required/>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="cargo" data-labelSize="6" data-fieldSize="4">
			<select
				adsm-domain="DM_TIPO_EXECUTIVO"
				id="cargo"
				ng-model="data.tpCargo"
				required>
				<option value=""></option>
			</select>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="dtDesligamento" data-labelSize="4"  data-fieldSize="2" >
			<input adsm-date-picker id="dtDesligamento"  data-mask="date" ng-model="data.dtDesligamento" max="dataAtual"/>
		</div>
	</div>

</form>
