<form class="form-horizontal content-padding" data-ng-submit="find()">

	<div class="fixed-top">
		<button type="button" data-ng-click="clearFilter()" class="btn btn-default btn-lg pull-right" id="limpar">
			{{'limpar' |  translate }}
		</button>
		<button type="submit" data-adsm-loading="listTableParams.loading" class="btn btn-default btn-lg pull-right" id="consultar">
			{{'consultar' |  translate }}
		</button>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="regional" data-labelSize="6" data-fieldSize="4">
			 <select
				lms-regional-chosen
				id="regional"
				ng-model="filter.regional"
				ng-change="selectRegional()"
				>
				<option value=""></option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="filial" data-labelSize="4" data-multiSize="2,4">
			 <input		lms-filial
							ng-model="filter.filial"
							id="filial"
							class="form-control"
							>
				    
			<input type="text" disabled class="form-control" value="{{filter.filial.nmFilial}}" id="filial.nmFilial">
		</div>
	</div>
	
	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="funcionario" data-labelSize="6" data-multiSize="4,7">
            <input
				lms-funcionario-promotor
				ng-model="filter.usuarioDTO"
				id="idUsuario"
				class="form-control">
           <input type="text" disabled ng-model="filter.usuarioDTO.nmUsuario">
		</div>
	</div>
	
	
	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="cargo" data-labelSize="6" data-fieldSize="4">
			<select
				adsm-domain="DM_TIPO_EXECUTIVO"
				id="cargo"
				ng-model="filter.tpCargo">
				<option value=""></option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="situacao" data-labelSize="6" data-fieldSize="4">
				<select
				adsm-domain="DM_STATUS"
				id="situacaoAtivo"
				ng-model="filter.situacaoAtivo">
				<option value=""></option>
			</select>
		</div>
	</div>
	



	<div class="row" style="margin-top:30px">
		<div class="col-sm-12">
			<table adsm-table="listTableParams"
					show-checkboxes="false">
					<tbody>
						<tr ng-repeat="row in page" ng-click="detail(row)">
							<td column-title="regional" sortable="regional">{{row.regional}}</td>
							<td column-title="filial" sortable="filial">{{row.filial}}</td>
							<td column-title="nome" sortable="nmFuncionario">{{row.nmFuncionario}}</td>
							<td column-title="cpf" sortable="nrCpf">{{row.nrCpf}}</td>
							<td column-title="cargo">{{row.tpCargo}}</td>
							<td column-title="matricula" sortable="nrMatricula">{{row.nrMatricula}}</td>
							<!-- td column-title="dtInclusaoComissao" sortable="dtInclusaoComissao">{{row.dtInclusaoComissao}}</td>  -->
							<td column-title="dtAdmissao" sortable="dtAdmissao">{{row.dtAdmissao}}</td>
							<td column-title="dtDemissao" sortable="dtDemissao">{{row.dtDemissao}}</td>
							<td column-title="situacao" sortable="situacao">{{row.situacao}}</td>
						</tr>
					</tbody>
			</table>
		</div>
	</div>
</form>
