<form class="form-horizontal content-padding" data-ng-submit="find()"> 
 
	<div class="fixed-top"> 
			<button type="button" data-ng-click="clearFilter()" class="btn btn-default btn-lg pull-right" id="limpar">
				{{'limpar' |  translate }}
			</button>
			<button type="submit" data-adsm-loading="listTableParams.loading" class="btn btn-default btn-lg pull-right" id="consultar">
				{{'consultar' |  translate }}
			</button> 
	</div> 
	 
	 <div class="form-horizontal">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="modal" class="col-lg-4 control-label">{{'situacao' | translate}}</label>
					<div class="col-lg-5">
						<select adsm-domain="DM_STATUS"
							id="tpSituacao"
							ng-model="filter.tpSituacao">
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
				<table adsm-table="listTableParams"
				class="table adsm-table-hover table-condensed table-clickable adsm-table"
				style="width: 100%">
					<tbody>
						<tr ng-repeat="row in page" ng-click="detail(row)">
							<td column-title="descricao">{{row.descricao}}</td>
							<td column-title="tpSituacao">{{row.tpSituacao.descriptionAsString}}</td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>

</form> 
