#set($C_DOLLAR  = '$')
#set($C_SHARPS  = '###')
#set($C_PATTERN_MOEDA = '#,##0.00')
<?xml version="1.0" encoding="UTF-8"  ?>
<!-- Created with iReport - A designer for JasperReports -->
<!DOCTYPE jasperReport PUBLIC "//JasperReports//DTD Report Design//EN" "http://jasperreports.sourceforge.net/dtds/jasperreport.dtd">
<jasperReport
		 name="emitirTabelaFreteAereoTaxaMinimaPesoExcedenteProgressivo_ct_4"
		 columnCount="1"
		 printOrder="Vertical"
		 orientation="Landscape"
		 pageWidth="842"
		 pageHeight="595"
		 columnWidth="786"
		 columnSpacing="0"
		 leftMargin="28"
		 rightMargin="28"
		 topMargin="28"
		 bottomMargin="0"
		 whenNoDataType="NoPages"
		 scriptletClass="com.mercurio.lms.vendas.util.LMSScriptlet"
		 isTitleNewPage="false"
		 isSummaryNewPage="false"
		 resourceBundle="com.mercurio.lms.vendas.report.emitirTabelaFreteAereoTaxaMinimaPesoExcedenteProgressivo">
	<property name="ireport.scriptlethandling" value="2" />
	<property name="ireport.encoding" value="UTF-8" />
	<import value="java.util.*" />
	<import value="net.sf.jasperreports.engine.*" />
	<import value="net.sf.jasperreports.engine.data.*" />

	<parameter name="usuarioEmissor" isForPrompting="false" class="java.lang.String">
		<defaultValueExpression ><![CDATA["João da Silva"]]></defaultValueExpression>
	</parameter>
	<parameter name="LMS_URL" isForPrompting="false" class="java.lang.String">
		<defaultValueExpression ><![CDATA["http://localhost:8080/lms"]]></defaultValueExpression>
	</parameter>
	<parameter name="BaseDir" isForPrompting="false" class="java.io.File">
		<defaultValueExpression ><![CDATA[new File(".")]]></defaultValueExpression>
	</parameter>
	<parameter name="HEADER" isForPrompting="false" class="java.lang.Object"/>
	<parameter name="DataSourceAux" isForPrompting="false" class="java.lang.Object"/>
	<parameter name="SUBREPORTFORMALIDADESAEREO" isForPrompting="false" class="java.lang.Object"/>
	<parameter name="SUBREPORTGENERALIDADES" isForPrompting="false" class="java.lang.Object"/>
	<parameter name="SUBREPORTSERVICOADNAOCONTR" isForPrompting="false" class="java.lang.Object"/>
	<parameter name="SUBREPORTSERVICOADCONTR" isForPrompting="false" class="java.lang.Object"/>
	<parameter name="srcColeta" isForPrompting="false" class="java.lang.Object"/>
	<parameter name="srcEntrega" isForPrompting="false" class="java.lang.Object"/>
	<parameter name="SERVICO" isForPrompting="false" class="java.lang.String"/>
	<parameter name="srcLegendas" isForPrompting="false" class="java.lang.Object"/>
	<parameter name="srcAereo" isForPrompting="false" class="java.lang.Object"/>
	<parameter name="cidade" isForPrompting="false" class="java.lang.String">
		<defaultValueExpression ><![CDATA[""]]></defaultValueExpression>
	</parameter>
	<parameter name="data" isForPrompting="false" class="java.lang.String">
		<defaultValueExpression ><![CDATA[""]]></defaultValueExpression>
	</parameter>
	#foreach($lineColumn in $veloRepInfoList) 	
		<parameter name="PCOLUMN${velocityCount}" isForPrompting="false" class="java.lang.String"/>	
	#end
	<parameter name="PAGEFOOTER" isForPrompting="false" class="java.lang.Object"/>
	<parameter name="TOTAL" isForPrompting="false" class="java.lang.Integer"/>
	<parameter name="srcSubReportEmpty" isForPrompting="false" class="java.lang.Object"/>
	<parameter name="SUBREPORTTAXACOMBUSTIVEL_PATH" isForPrompting="false" class="java.lang.String"/>
	<parameter name="SERVICE_TX_COMB" isForPrompting="false" class="java.lang.Object"/>
	<parameter name="SUBREPORTTAXACOMBUSTIVEL" isForPrompting="false" class="java.lang.Object"/>
	<parameter name="SUBREPORTTAXATERRESTRE" isForPrompting="false" class="java.lang.Object"/>
	<parameter name="PSMINIMO" isForPrompting="false" class="java.lang.String"/>
	
	<queryString><![CDATA[select * from LMSWEB.REL_TAB_FRE_AER_PRO order by aux1]]></queryString>

	<field name="ORIGEM" class="java.lang.String"/>
	<field name="DESTINO" class="java.lang.String"/>
	<field name="TARIFA" class="java.lang.String"/>
	<field name="TAXA_MINIMA" class="java.math.BigDecimal"/>
	<field name="ADVALOREM" class="java.math.BigDecimal"/>
	<field name="FRETE_QUILO" class="java.math.BigDecimal"/>
	#foreach($lineColumn in $veloRepInfoList) 		
		<field name="COLUMN${velocityCount}" class="java.math.BigDecimal"/>	
	#end

	<variable name="grupoCount" class="java.lang.Integer" resetType="Group" resetGroup="grupo" calculation="Nothing">
		<variableExpression><![CDATA[${C_DOLLAR}V{grupo_COUNT}]]></variableExpression>
		<initialValueExpression><![CDATA[new Integer(0)]]></initialValueExpression>
	</variable>

		<group  name="grupoFake" >
			<groupExpression><![CDATA[]]></groupExpression>
			<groupHeader>
			<band height="0"  isSplitAllowed="false" >
			</band>
			</groupHeader>
			<groupFooter>
			<band height="0"  isSplitAllowed="true" >
				<printWhenExpression><![CDATA[${C_DOLLAR}P{REPORT_SCRIPTLET}.setShowLegendas(new Boolean(true))]]></printWhenExpression>
			</band>
			</groupFooter>
		</group>
		
				<group  name="grupoTaxa" >
			<groupExpression><![CDATA[null]]></groupExpression>
			<groupHeader>
			<band height="0"  isSplitAllowed="true" >
			</band>
			</groupHeader>
			<groupFooter>
			<band height="19"  isSplitAllowed="true" >
				<subreport  isUsingCache="true">
					<reportElement
						mode="Opaque"
						x="0"
						y="3"
						width="786"
						height="16"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="SUBREPORTTAXACOMB"
						positionType="Float"
						isRemoveLineWhenBlank="true">
							<printWhenExpression><![CDATA[new Boolean(${C_DOLLAR}P{SUBREPORTTAXACOMBUSTIVEL}!=null)]]></printWhenExpression>
						</reportElement>
					<subreportParameter  name="SERVICE_TX_COMB">
						<subreportParameterExpression><![CDATA[${C_DOLLAR}P{SERVICE_TX_COMB}]]></subreportParameterExpression>
					</subreportParameter>
					<subreportParameter  name="SUBREPORTTAXACOMBUSTIVEL">
						<subreportParameterExpression><![CDATA[${C_DOLLAR}P{SUBREPORTTAXACOMBUSTIVEL}]]></subreportParameterExpression>
					</subreportParameter>
					<dataSourceExpression><![CDATA[${C_DOLLAR}P{SUBREPORTTAXACOMBUSTIVEL}]]></dataSourceExpression>
					<subreportExpression  class="java.lang.String"><![CDATA[${C_DOLLAR}P{SUBREPORTTAXACOMBUSTIVEL_PATH}]]></subreportExpression>
				</subreport>
			</band>
			</groupFooter>
		</group>
		
		
		<group  name="grupo" isStartNewPage="true" isReprintHeaderOnEachPage="true" >
			<groupExpression><![CDATA[]]></groupExpression>
			<groupHeader>
			<band height="61"  isSplitAllowed="false" >
				<printWhenExpression><![CDATA[${C_DOLLAR}P{REPORT_SCRIPTLET}.showColuna()]]></printWhenExpression>
				<textField isStretchWithOverflow="false" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="218"
						y="19"
						width="501"
						height="12"
						forecolor="#000000"
						backcolor="#CCCCCC"
						key="textField-96"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Center" verticalAlignment="Middle" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica-Bold" size="8" isBold="true" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA[${C_DOLLAR}R{titulo02}]]></textFieldExpression>
				</textField>
				<textField isStretchWithOverflow="false" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="218"
						y="31"
						width="40"
						height="30"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="textField-153"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Center" verticalAlignment="Middle" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica" size="6" isBold="false" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA[${C_DOLLAR}R{taxaMinima}]]></textFieldExpression>
				</textField>

				<textField isStretchWithOverflow="true" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="0"
						y="19"
						width="28"
						height="42"
						forecolor="#000000"
						backcolor="#CCCCCC"
						key="textField-225"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="Thin" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Center" verticalAlignment="Middle" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica-Bold" size="8" isBold="true" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA[${C_DOLLAR}R{tarifa}]]></textFieldExpression>
				</textField>
				
				<textField isStretchWithOverflow="true" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="123"
						y="19"
						width="95"
						height="42"
						forecolor="#000000"
						backcolor="#CCCCCC"
						key="textField-157"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Center" verticalAlignment="Middle" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica-Bold" size="8" isBold="true" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA[${C_DOLLAR}R{destino}]]></textFieldExpression>
				</textField>
				#foreach($lineColumn in $veloRepInfoList)
				<textField isStretchWithOverflow="false" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="$lineColumn.sumToX"
						y="31"
						width="$lineColumn.width"
						height="30"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="textField-202"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Center" verticalAlignment="Middle" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica" size="6" isBold="false" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
					<textFieldExpression   class="java.lang.String">
						<![CDATA[${C_DOLLAR}R{adicional1} + " " + ${C_DOLLAR}P{PCOLUMN${velocityCount}} + " " + ${C_DOLLAR}R{kg}]]>
				</textFieldExpression>
				</textField>
				#end
				
				<textField isStretchWithOverflow="false" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="649"
						y="31"
						width="70"
						height="30"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="textField-202"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Center" verticalAlignment="Middle" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica" size="6" isBold="false" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA[${C_DOLLAR}R{adicional2} + " " + ${C_DOLLAR}P{PSMINIMO} + " " + ${C_DOLLAR}R{kg}]]></textFieldExpression>
				</textField>
								
				<textField isStretchWithOverflow="true" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="28"
						y="19"
						width="95"
						height="42"
						forecolor="#000000"
						backcolor="#CCCCCC"
						key="textField-220"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Center" verticalAlignment="Middle" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica-Bold" size="8" isBold="true" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA[${C_DOLLAR}R{origem}]]></textFieldExpression>
				</textField>
				<textField isStretchWithOverflow="false" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="0"
						y="2"
						width="179"
						height="17"
						forecolor="#000000"
						backcolor="#CCCCCC"
						key="textField-7"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="Thin" topBorderColor="#000000" leftBorder="Thin" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Center" verticalAlignment="Middle" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica-Bold" size="10" isBold="true" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA["Modal: Aéreo"]]></textFieldExpression>
				</textField>
				<textField isStretchWithOverflow="false" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="179"
						y="2"
						width="303"
						height="17"
						forecolor="#000000"
						backcolor="#CCCCCC"
						key="textField-175"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="Thin" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Center" verticalAlignment="Middle" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica-Bold" size="10" isBold="true" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA["Abrangência: Nacional"]]></textFieldExpression>
				</textField>
				<textField isStretchWithOverflow="false" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="482"
						y="2"
						width="304"
						height="17"
						forecolor="#000000"
						backcolor="#CCCCCC"
						key="textField-176"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="Thin" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Center" verticalAlignment="Middle" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica-Bold" size="10" isBold="true" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA["Serviço: " + ${C_DOLLAR}P{SERVICO}]]></textFieldExpression>
				</textField>
				<textField isStretchWithOverflow="false" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="719"
						y="19"
						width="67"
						height="42"
						forecolor="#000000"
						backcolor="#CCCCCC"
						key="textField-227"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Center" verticalAlignment="Middle" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica-Bold" size="8" isBold="true" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA[${C_DOLLAR}R{advaloremValorNf}]]></textFieldExpression>
				</textField>				
			</band>
			</groupHeader>
			<groupFooter>
			<band height="60"  isSplitAllowed="true" >
				<subreport  isUsingCache="true">
					<reportElement
						mode="Opaque"
						x="0"
						y="10"
						width="786"
						height="50"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="subreport-2"
						stretchType="NoStretch"
						positionType="Float"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<subreportParameter  name="SUBREPORTGENERALIDADES">
						<subreportParameterExpression><![CDATA[${C_DOLLAR}P{SUBREPORTGENERALIDADES}]]></subreportParameterExpression>
					</subreportParameter>
					<subreportParameter  name="SUBREPORTFORMALIDADESAEREO">
						<subreportParameterExpression><![CDATA[${C_DOLLAR}P{SUBREPORTFORMALIDADESAEREO}]]></subreportParameterExpression>
					</subreportParameter>
					<subreportParameter  name="SUBREPORTSERVICOADCONTR">
						<subreportParameterExpression><![CDATA[${C_DOLLAR}P{SUBREPORTSERVICOADCONTR}]]></subreportParameterExpression>
					</subreportParameter>
					<subreportParameter  name="SUBREPORTSERVICOADNAOCONTR">
						<subreportParameterExpression><![CDATA[${C_DOLLAR}P{SUBREPORTSERVICOADNAOCONTR}]]></subreportParameterExpression>
					</subreportParameter>
					<subreportParameter  name="srcEntrega">
						<subreportParameterExpression><![CDATA[${C_DOLLAR}P{srcEntrega}]]></subreportParameterExpression>
					</subreportParameter>
					<subreportParameter  name="srcColeta">
						<subreportParameterExpression><![CDATA[${C_DOLLAR}P{srcColeta}]]></subreportParameterExpression>
					</subreportParameter>
					<subreportParameter  name="srcLegendas">
						<subreportParameterExpression><![CDATA[${C_DOLLAR}P{srcLegendas}]]></subreportParameterExpression>
					</subreportParameter>
					<subreportParameter  name="srcAereo">
						<subreportParameterExpression><![CDATA[${C_DOLLAR}P{srcAereo}]]></subreportParameterExpression>
					</subreportParameter>
										<subreportParameter  name="SUBREPORTTAXATERRESTRE">
						<subreportParameterExpression><![CDATA[${C_DOLLAR}P{SUBREPORTTAXATERRESTRE}]]></subreportParameterExpression>
					</subreportParameter>
					
					<dataSourceExpression><![CDATA[${C_DOLLAR}P{DataSourceAux}]]></dataSourceExpression>
					<subreportExpression  class="java.lang.String"><![CDATA["com/mercurio/lms/tabelaprecos/report/subReportTabelaDePrecoGrupo_Landscape.jasper"]]></subreportExpression>
				</subreport>
			</band>
			</groupFooter>
		</group>
		<group  name="grupoBreak" >
			<groupExpression><![CDATA[]]></groupExpression>
			<groupHeader>
			<band height="0"  isSplitAllowed="false" >
			</band>
			</groupHeader>
			<groupFooter>
			<band height="12"  isSplitAllowed="true" >
				<subreport  isUsingCache="true">
					<reportElement
						mode="Transparent"
						x="0"
						y="0"
						width="786"
						height="12"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="subreport_empity-1"
						stretchType="NoStretch"
						positionType="Float"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="true"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<dataSourceExpression><![CDATA[${C_DOLLAR}P{srcSubReportEmpty}]]></dataSourceExpression>
					<subreportExpression  class="java.lang.String"><![CDATA["com/mercurio/lms/tabelaprecos/report/EmptySubReport.jasper"]]></subreportExpression>
				</subreport>
			</band>
			</groupFooter>
		</group>
		<background>
			<band height="0"  isSplitAllowed="true" >
			</band>
		</background>
		<title>
			<band height="0"  isSplitAllowed="true" >
			</band>
		</title>
		<pageHeader>
			<band height="145"  isSplitAllowed="true" >
				<image  scaleImage="FillFrame" vAlign="Top" hAlign="Left" isUsingCache="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="0"
						y="0"
						width="786"
						height="75"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="image-1"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="None" rightBorderColor="#000000" bottomBorder="None" bottomBorderColor="#000000"/>
					<graphicElement stretchType="NoStretch" pen="None" fill="Solid" 
/>
					<imageExpression class="java.net.URL"><![CDATA[new java.net.URL(${C_DOLLAR}P{LMS_URL} + "/images/mercurio_logo6.jpg")]]></imageExpression>
				</image>
				<line direction="TopDown">
					<reportElement
						mode="Opaque"
						x="0"
						y="93"
						width="786"
						height="0"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="line-3"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<graphicElement stretchType="NoStretch" pen="Thin" fill="Solid" 
/>
				</line>
				<textField isStretchWithOverflow="true" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="534"
						y="80"
						width="254"
						height="14"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="textField-222"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="None" rightBorderColor="#000000" bottomBorder="None" bottomBorderColor="#000000"/>
					<textElement textAlignment="Right" verticalAlignment="Top" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica" size="10" isBold="false" isItalic="false" isUnderline="false" isPdfEmbedded ="true" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression  class="java.lang.String"><![CDATA[${C_DOLLAR}P{cidade}+", "+${C_DOLLAR}P{data}]]></textFieldExpression>
				</textField>
				<subreport  isUsingCache="true">
					<reportElement
						mode="Opaque"
						x="0"
						y="95"
						width="786"
						height="5"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="subreport-3"
						stretchType="NoStretch"
						positionType="Float"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="true"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false">
							<printWhenExpression><![CDATA[new Boolean(${C_DOLLAR}V{PAGE_NUMBER}.intValue()==1)]]></printWhenExpression>
						</reportElement>
					<subreportParameter  name="LMS_URL">
						<subreportParameterExpression><![CDATA[${C_DOLLAR}P{LMS_URL}]]></subreportParameterExpression>
					</subreportParameter>
					<subreportParameter  name="controleQuebra">
						<subreportParameterExpression><![CDATA[${C_DOLLAR}V{PAGE_NUMBER}]]></subreportParameterExpression>
					</subreportParameter>
					<dataSourceExpression><![CDATA[${C_DOLLAR}P{HEADER}]]></dataSourceExpression>
					<subreportExpression  class="java.lang.String"><![CDATA["com/mercurio/lms/vendas/report/subReportHeader_Landscape.jasper"]]></subreportExpression>
				</subreport>
			</band>
		</pageHeader>
		<columnHeader>
			<band height="0"  isSplitAllowed="true" >
			</band>
		</columnHeader>
		<detail>
			<band height="12"  isSplitAllowed="true" >
			
							<textField isStretchWithOverflow="false" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="0"
						y="0"
						width="28"
						height="12"
						forecolor="#000000"
						backcolor="#FFFFFF"
											positionType="Float"
																	stretchType="RelativeToTallestObject"
						key="textField-226"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="Thin" leftBorderColor="#000000" rightBorder="Thin" rightPadding="2" rightBorderColor="#000000" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Right" verticalAlignment="Top" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica" size="8" isBold="false" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA[${C_DOLLAR}F{TARIFA}]]></textFieldExpression>
				</textField>
				
				<textField isStretchWithOverflow="true" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="123"
						y="0"
						width="95"
						height="12"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="textField-128"
						stretchType="RelativeToTallestObject"
						positionType="Float"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" rightPadding="2" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Left" verticalAlignment="Top" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica" size="8" isBold="false" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA[${C_DOLLAR}F{DESTINO}]]></textFieldExpression>
				</textField>
				<textField isStretchWithOverflow="false" pattern="${C_SHARPS}0.00" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="218"
						y="0"
						width="40"
						height="12"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="textField-154"
						stretchType="RelativeToTallestObject"
						positionType="Float"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" rightPadding="2" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Right" verticalAlignment="Top" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica" size="8" isBold="false" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.math.BigDecimal"><![CDATA[${C_DOLLAR}F{TAXA_MINIMA}]]></textFieldExpression>
				</textField>
				#foreach($lineColumn in $veloRepInfoList)
				<textField isStretchWithOverflow="false" pattern="${C_SHARPS}0.00" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="$lineColumn.sumToX"
						y="0"
						width="$lineColumn.width"
						height="12"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="textField-207"
						stretchType="RelativeToTallestObject"
						positionType="Float"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" rightPadding="2" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Right" verticalAlignment="Top" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica" size="8" isBold="false" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.math.BigDecimal"><![CDATA[((${C_DOLLAR}F{COLUMN${velocityCount}}==null) ?  new java.math.BigDecimal(0) : ${C_DOLLAR}F{COLUMN${velocityCount}})]]></textFieldExpression>
				</textField>
				#end				
				<textField isStretchWithOverflow="false" pattern="${C_SHARPS}0.00000" isBlankWhenNull="true" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="649"
						y="0"
						width="70"
						height="12"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="textField-207"
						stretchType="RelativeToTallestObject"
						positionType="Float"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" rightPadding="2" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Right" verticalAlignment="Top" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica" size="8" isBold="false" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
					<textFieldExpression   class="java.math.BigDecimal"><![CDATA[${C_DOLLAR}F{FRETE_QUILO}]]></textFieldExpression>
				</textField>

				<textField isStretchWithOverflow="false" pattern="${C_SHARPS}0.00" isBlankWhenNull="true" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="719"
						y="0"
						width="67"
						height="12"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="textField-228"
						stretchType="RelativeToTallestObject"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" rightPadding="2" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Right" verticalAlignment="Top" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica" size="8" isBold="false" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.math.BigDecimal"><![CDATA[${C_DOLLAR}F{ADVALOREM}]]></textFieldExpression>
				</textField>
				
				<textField isStretchWithOverflow="true" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="28"
						y="0"
						width="95"
						height="12"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="textField-221"
						stretchType="RelativeToTallestObject"
						positionType="Float"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="Thin" rightBorderColor="#000000" rightPadding="2" bottomBorder="Thin" bottomBorderColor="#000000"/>
					<textElement textAlignment="Left" verticalAlignment="Top" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica" size="8" isBold="false" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA[${C_DOLLAR}F{ORIGEM}]]></textFieldExpression>
				</textField>
			</band>
		</detail>
		<columnFooter>
			<band height="0"  isSplitAllowed="false" >
			</band>
		</columnFooter>
		<pageFooter>
			<band height="70"  isSplitAllowed="true" >
				<line direction="TopDown">
					<reportElement
						mode="Opaque"
						x="0"
						y="25"
						width="786"
						height="0"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="line-2"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<graphicElement stretchType="NoStretch" pen="Thin" fill="Solid" 
/>
				</line>
				
				<textField isStretchWithOverflow="true" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="678"
						y="52"
						width="100"
						height="12"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="textField-223"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="None" rightBorderColor="#000000" bottomBorder="None" bottomBorderColor="#000000"/>
					<textElement textAlignment="Right" verticalAlignment="Top" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica" size="8" isBold="false" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA[${C_DOLLAR}R{pagina} + " " + ${C_DOLLAR}V{PAGE_NUMBER} + " " + ${C_DOLLAR}R{de} + " "]]></textFieldExpression>
				</textField>
				<textField isStretchWithOverflow="true" pattern="" isBlankWhenNull="false" evaluationTime="Report" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="778"
						y="52"
						width="8"
						height="12"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="textField-224"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="None" rightBorderColor="#000000" bottomBorder="None" bottomBorderColor="#000000"/>
					<textElement textAlignment="Right" verticalAlignment="Top" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica" size="8" isBold="false" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.Integer"><![CDATA[${C_DOLLAR}V{PAGE_NUMBER}]]></textFieldExpression>
				</textField>
				
				<textField isStretchWithOverflow="false" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Transparent"
						x="517"
						y="26"
						width="269"
						height="10"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="textField-172"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="None" rightBorderColor="#000000" bottomBorder="None" bottomBorderColor="#000000"/>
					<textElement textAlignment="Right" verticalAlignment="Top" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica-Bold" size="8" isBold="true" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA["www.tnt.com/br"]]></textFieldExpression>
				</textField>
				<textField isStretchWithOverflow="true" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Opaque"
						x="0"
						y="36"
						width="786"
						height="10"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="textField-173"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="None" rightBorderColor="#000000" bottomBorder="None" bottomBorderColor="#000000"/>
					<textElement textAlignment="Center" verticalAlignment="Top" rotation="None" lineSpacing="Single">
						<font fontName="Arial" pdfFontName="Helvetica" size="8" isBold="false" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA[${C_DOLLAR}R{enderecoCompletoMatriz}]]></textFieldExpression>
				</textField>
				<textField isStretchWithOverflow="true" pattern="" isBlankWhenNull="false" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self" >
					<reportElement
						mode="Transparent"
						x="0"
						y="26"
						width="269"
						height="10"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="textField-174"
						stretchType="NoStretch"
						positionType="FixRelativeToTop"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="false"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false"/>
					<box topBorder="None" topBorderColor="#000000" leftBorder="None" leftBorderColor="#000000" rightBorder="None" rightBorderColor="#000000" bottomBorder="None" bottomBorderColor="#000000"/>
					<textElement textAlignment="Left" verticalAlignment="Top" rotation="None" lineSpacing="Single">
						<font fontName="Verdana" pdfFontName="Helvetica-Bold" size="8" isBold="true" isItalic="false" isUnderline="false" isPdfEmbedded ="false" pdfEncoding ="Cp1252" isStrikeThrough="false" />
					</textElement>
				<textFieldExpression   class="java.lang.String"><![CDATA[${C_DOLLAR}R{razaoSocialMercurio}]]></textFieldExpression>
				</textField>
				<subreport  isUsingCache="true">
					<reportElement
						mode="Opaque"
						x="0"
						y="5"
						width="786"
						height="16"
						forecolor="#000000"
						backcolor="#FFFFFF"
						key="subreport-4"
						stretchType="NoStretch"
						positionType="Float"
						isPrintRepeatedValues="true"
						isRemoveLineWhenBlank="true"
						isPrintInFirstWholeBand="false"
						isPrintWhenDetailOverflows="false">
							<printWhenExpression><![CDATA[${C_DOLLAR}P{REPORT_SCRIPTLET}.showLegendas()]]></printWhenExpression>
						</reportElement>
					<dataSourceExpression><![CDATA[${C_DOLLAR}P{PAGEFOOTER}]]></dataSourceExpression>
					<subreportExpression  class="java.lang.String"><![CDATA["com/mercurio/lms/tabelaprecos/report/subReportFooter_Portrait.jasper"]]></subreportExpression>
				</subreport>
			</band>
		</pageFooter>
		<summary>
			<band height="0"  isSplitAllowed="true" >
			</band>
		</summary>
</jasperReport>
