<html>
<head><title>Retorno de agendamento de relat&oacute;rio ADSM</title></head>
<body>
<h3>Retorno de agendamento de relat&oacute;rio de tabelas de cliente</h3>

<br><br>
<p>O Relat&oacute;rio de Clientes por Situa&ccedil;&atilde;o,<br>
 foi gerado e est&aacute; dispon&iacute;vel em <a href="${result}">${result}</a>.
</p>

<hr>
<h2>Situa&ccedil;&atilde;o</h2>
#if ($exception)
<p style="color:red">Job executado com erro.</p>
<p>Exce&ccedil;&atilde;o: $exception.message</p>
<p>StackTrace:</p>
<pre>
$exceptionStackTrace
</pre>
#else
<p style="color:blue">Job executado com sucesso.</p>
#end
<hr>

</body>

</html>