<form class="form-horizontal content-padding" data-ng-submit="findServicosAdicionais()">

	<div class="fixed-top">
		<button type="button" data-ng-click="initializeAbaServ(false)" class="btn btn-default btn-lg pull-right" id="limpar"> {{'limpar' |  translate }} </button>
		<button data-ng-click="openModalServicos();" data-adsm-loading="criando" class="btn btn-default btn-lg pull-right" id="novoServicoAdicionalCliente">{{'incluir' | translate}}</button>
		<button type="submit" class="btn btn-default btn-lg pull-right" id="consultar"> {{'consultar' |  translate }} </button>
	</div>

	<div class="row">

		<div adsm-add-field data-boxSize="6" data-label="servicoAdicional" data-labelSize="3">
			<select
				adsm-chosen
				id="idParcelaPreco"
				ng-model="filtrosServicoAdicional.idParcelaPreco"
				ng-options="data.parcelaPreco.idParcelaPreco as data.parcelaPreco.nmParcelaPreco for data in filtrosServicoAdicional.servicos">
				<option value=""></option>
			</select>
		</div>

		<div adsm-add-field data-boxSize="5" data-label="indicador" data-labelSize="3">
			<select adsm-domain="DM_INDICADOR_PARAMETRO_CLIENTE"
				id="tpIndicador"
				ng-model="filtrosServicoAdicional.tpIndicador">
				<option value=""></option>
			</select>
		</div>
	</div>

	<div class="content-padding">
			<table adsm-table="servicosAdicionaisTableParams"
				data-adsm-table-internal-loading="true"
				class="table adsm-table-hover table-condensed table-clickable adsm-table"
				style="width: 100%"
				show-checkboxes="true"
				data-remove-service="removeServicosAdicionaisByIds()">
				<tbody>
					<tr ng-repeat="row in page" ng-click="detailServicoAdicionalCliente(row)">
						<td column-title="servicoAdicional" style="min-width: 140px; max-width: 400px;">{{ row.nmParcelaPreco }}</td>
						<td column-title="indicador" >{{	row.dsTpIndicador }}</td>
						<td column-title="valorIndicador" >{{ row.vlValorFormatado }}</td>
					</tr>
				</tbody>
			</table>
	</div>

</form>
