<form class="form-horizontal content-padding" data-ng-submit="imprimirProposta()" id="imprimirForm">

	<div class="alert-container" data-ng-show="popupAlerts.length">
		<alert data-ng-repeat="alert in popupAlerts" type="{{alert.type}}" close="closeAlert($index)">
			<span data-ng-bind="alert.msg"></span>
		</alert>
	</div>

	<div class="row">
			<label>
				<input type="radio" style="vertical-align: text-bottom;" ng-model="ordenacao.name" value="R">
					{{'regiao' |  translate }}
			</label>
			<br/>
			<label>
				<input type="radio" style="vertical-align: text-bottom;" ng-model="ordenacao.name" value="A">
					{{'aeroporto' |  translate }}
			</label>
	</div>

	<div class="modal-footer">
		<button type="submit" class="btn btn-default btn-lg pull-right" id="imprimirProposta">	{{'imprimirProposta' |  translate }}	</button>
	</div>

</form>
