<form class="form-horizontal content-padding" data-ng-submit="reprovarEfetivacaoProposta()" id="reprovarForm">

	<div class="alert-container" data-ng-show="popupAlerts.length">
		<alert data-ng-repeat="alert in popupAlerts" type="{{alert.type}}" close="closeAlert($index)">
			<span data-ng-bind="alert.msg"></span>
		</alert>
	</div>
	
	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="motivo" data-labelSize="4">
			<select 
				adsm-chosen
				id="motivo" 
				ng-model="reprovarEfetivacao.idMotivoReprovacao"
				ng-options="data.idMotivoReprovacao as data.dsMotivoReprovacao for data in motivosReprovacao"
				required>
				<option value=""></option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="observacao" data-labelSize="4">
            <textarea id="observacao" rows="3" maxlength="500" ng-model="reprovarEfetivacao.observacaoReprovacao" class="form-control" style="resize: none;"
            	required></textarea>
		</div>
	</div>
	
	<div class="modal-footer">
		<button type="button" data-ng-click="limparReprovarEfetivacao()" class="btn btn-default btn-lg pull-right" id="limpar"> {{'limpar' |  translate }} </button>
		<button type="submit" class="btn btn-default btn-lg pull-right" id="store" permission="salvar">	{{'reprovarEfetivacao' |  translate }}	</button>
	</div>
</form>
