<form class="form-horizontal content-padding" data-ng-submit="find()">

	<div class="fixed-top">
		<div ng-include src="contextPath+'js/app/common/view/templates/form-buttons-list.html'"></div>
	</div>

	<div class="row">
		<div class="col-sm-8">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'filial' |  translate }}</label>
				<div class="col-lg-7">
					<div class="multi-input">
						<div class="col-xs-3">
							<input
								lms-filial
								ng-model="filter.filial"
								id="filial"
								class="form-control">
					    </div>
						<div class="col-xs-9">
							<input type="text" disabled class="form-control" value="{{ filter.filial.nmFilial }}" id="filial.nmFilial">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="nrProposta" class="col-lg-4">{{ 'numeroProposta' | translate }}</label>
				<div class="col-lg-8">
					<input type="text" class="form-control" ng-model="filter.nrProposta" id="nrProposta" mask="integer" maxlength="18" />
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'cliente' |  translate }}</label>
				<div class="col-lg-7">
					<div class="multi-input">
						<div class="col-xs-4">
							<input
								lms-cliente
								ng-model="filter.cliente"
								id="cliente"
								class="form-control">
					    </div>
						<div class="col-xs-8">
							<input type="text" disabled class="form-control" value="{{ filter.cliente.nmPessoa }}" id="cliente.nmPessoa">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="divisaoCliente" class="col-lg-4">{{ 'divisaoCliente' | translate }}</label>
				<div class="col-lg-8">
					<select
							adsm-chosen
							id="divisaoCliente"
							ng-model="filter.divisaoCliente"
							ng-options="data.idDivisaoCliente as data.nmDivisaoCliente for data in divisoesCliente"
							>
							<option value=""></option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'tabelaPrecos' |  translate }}</label>
				<div class="col-lg-7">
					<div class="multi-input">
						<div class="col-xs-3">
							<input
								lms-tabela-preco="{apenasVigentes:'false'}"
								ng-model="filter.tabelaPreco"
								id="tabelaPreco"
								class="form-control">
					    </div>
						<div class="col-xs-9">
							<input type="text" disabled class="form-control" value="{{ filter.tabelaPreco.descricao }}" id="tabela_preco.nome">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="servico" class="col-lg-4">{{ 'servico' | translate }}</label>
				<div class="col-lg-8">
					<select
						adsm-chosen
						id="servico"
						ng-model="filter.servico"
						ng-options="data.idServico as data.nomeServico for data in servicosTabela">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'tabelaFob' |  translate }}</label>
				<div class="col-lg-7">
					<div class="multi-input">
						<div class="col-xs-3">
							<input
								lms-tabela-preco="{subtipo:'F'}"
								ng-model="filter.tabelaFob"
								id="tabelaFob"
								class="form-control"
								maxlength="5">
					    </div>
						<div class="col-xs-9">
							<input type="text" disabled class="form-control" value="{{ filter.tabelaFob.descricao }}" id="tabela_fob.nome">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="situacao" class="col-lg-4">{{ 'situacao' | translate }}</label>
				<div class="col-lg-8">
					<select
						adsm-domain="DM_SITUACAO_SIMULACAO"
						id="situacao"
						ng-model="filter.situacaoProposta">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8">
			<div class="form-group">
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label class="col-lg-4">{{'tipoGeracao' |  translate }}</label>
				<div class="col-lg-8">
					<select
						adsm-domain="DM_TIPO_GERACAO_PROPOSTA"
						id="tipoGeracao"
						filter="['O','M','I','V','T']"
						ng-model="filter.tpGeracaoProposta">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-12">
				<table adsm-table="listTableParams"
					class="table adsm-table-hover table-condensed table-clickable adsm-table"
					style="width: 100%"
					show-checkboxes="true"
					data-remove-service="removeByIds()"
					>
					<tbody>
						<tr ng-repeat="row in page" ng-click="detail(row)">
							<td column-title="dataSimulacao" align="center">
								{{row.dtSimulacao }}
							</td>
							<td column-title="numeroProposta">
								{{row.identificacao}}
							</td>
							<td column-title="cliente">
								{{row.cliente.nmPessoa}}
							</td>
							<td column-title="tabelaPrecos" align="center">
								{{row.tabelaPreco.nomeTabela}}
							</td>
							<td column-title="tabelaFob" align="center">
								{{row.tabelaPrecoFob.nomeTabela}}
							</td>
							<td column-title="tipoGeracao" align="center">
								{{row.tpGeracaoProposta.descriptionAsString}}
							</td>
							<td column-title="situacao" align="center">
								{{row.tpSituacaoAprovacao.descriptionAsString}}
							</td>
							<td column-title="efetivada" align="center">
								{{row.efetivada}}
							</td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>
</form>
