<div class="content" style="background-color: white; padding: 20px;">
		<table data-adsm-table="historicoTableParams"
			data-adsm-table-internal-loading="true"
			class="table adsm-table-hover table-condensed adsm-table"
			style="width: 100%">
			<tbody>
				<tr ng-repeat="row in page track by $index">
					<td column-title="dataSolicitacao" align="center" >{{ row.dhSolicitacao | dateTimeZone }}</td>
					<td column-title="usuarioSolicitante" style="min-width: 140px; max-width: 400px;">{{ row.nmUsuarioSolicitacao }}</td>
					<td column-title="dataReprovacao" align="center" >{{ row.dhReprovacao | dateTimeZone}}</td>
					<td column-title="usuarioReprovador" style="min-width: 140px; max-width: 400px;">{{ row.nmUsuarioReprovador }}</td>
					<td column-title="motivo" >{{ row.dsMotivoReprovacao }}</td>
					<td column-title="descricao" >{{ row.dsMotivo }}</td>
				</tr>
			</tbody>
		</table>
</div>