<form class="form-horizontal content-padding" data-ng-submit="salvarAnexo()" id="anexosForm">

	<div class="fixed-top">
		<button type="button" ng-disabled="modoVisualizacao" data-ng-click="limparAnexos()" class="btn btn-default btn-lg pull-right" id="limparDados">{{'limpar' |  translate }}</button>
		<button type="submit" ng-disabled="modoVisualizacao" class="btn btn-default btn-lg pull-right" id="store" permission="salvar">	{{'salvar' |  translate }}</button>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="descricao" data-labelSize="3">
			<input class="form-control" ng-model="simulacaoAnexo.dsAnexo" id="dsAnexo" maxlength="250" required>
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="arquivo" data-labelSize="3" >
			<div id="anexoData" ng-disabled="modoVisualizacao" data-adsm-file-upload="fileUploadParams" data-post-select="myPostSelectFunction" required></div>
		</div>
	</div>
	<div class="content-padding">
			<table data-adsm-table="anexosTableParams"
				data-adsm-table-internal-loading="true"
				class="table adsm-table-hover table-condensed adsm-table"
				style="width: 100%"
				show-checkboxes="true"
				data-remove-service="removeAnexosByIds()"
				data-disabled-remove-button="modoVisualizacao">
				<tbody>
					<tr ng-repeat="row in page | orderBy: 'dhInclusao' ">
						<td column-title="descricao" >{{ row.dsAnexo }}</td>
						<td column-title="dataHoraDeInclusao" style="width: 100px;" align="center">{{ row.dhInclusao | dateTimeZone }}</td>
						<td column-title="download" style="width: 30px;" align="center">
							<span data-adsm-loading="downloading" data-ng-click="downloadFile(row.idSimulacaoAnexo)" class="glyphicon glyphicon-save"/>
						</td>
					</tr>
				</tbody>
			</table>
	</div>

</form>