<form class="form-horizontal content-padding">
	<div class="fixed-top">
		<button type="button" class="btn btn-default btn-lg pull-right" id="atualizar">
			{{'atualizar' | translate }}
		</button>
	
		<button type="button" class="btn btn-default btn-lg pull-right" id="informarChegadas">
			{{'informarChegadas' | translate }}
		</button>
	
		<button type="button" class="btn btn-default btn-lg pull-right" ng-click="openModalSimples()" id="findMeioTransporte">
			{{'buscarMeioTransporte' | translate }}
		</button>
	</div>
	
	<div class="form-horizontal">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="filial" class="col-lg-3 control-label">{{'filial' | translate}}</label>
					<div class="col-lg-3">
						<input type="text" disabled="disabled" class="form-control" id="filial" ng-model="filialLogado.sgFilial">
					</div>
					<div class="col-lg-6">
						<input type="text" disabled="disabled" class="form-control" id="dsFilial" ng-model="filialLogado.nmFilial">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="listagemPortaria" class="col-lg-3 control-label">{{'portaria' | translate}}</label>
					<div class="col-lg-9">
						<select
							ng-change="changePortaria(selectedPortaria)"
							data-adsm-chosen
							id="listagemPortaria"
							data-ng-options="portaria as portaria.descricao for portaria in portarias track by portaria.id"
							data-ng-model="selectedPortaria">
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<accordion close-others="false">
			<accordion-group heading="Viagem" is-open="true">
				<div class="row">
					<div class="col-sm-12">
							<table adsm-table="listViagemTableParams"
								class="table adsm-table-hover table-condensed table-clickable adsm-table"
								style="width: 100%">
								<tbody>
									<tr ng-repeat="row in page">
										<td column-title="descricao" sortable="'placa'">{{ row.frota }} {{ row.placa }}</td>
										<td column-title="semiReboque" sortable="'semiReboque'">{{ row.frotaSemiReboque }} {{ row.idFrotaSemiReboque }}</td>
										<td column-title="controleCarga" sortable="'controleCarga'">{{ row.siglaFilial }} {{ row.controleCarga }}</td>
										<td column-title="filialDestino" sortable="'filialDestino'">{{ row.filialDestino }}</td>
										<td column-title="rota" sortable="'rota'">{{ row.numeroRota }} {{ row.descricaoRota }}</td>
										<td column-title="horaSaidaPrevista" sortable="'horaSaidaPrevista'">{{ row.horaSaidaPrevista }}</td>
									</tr>
								</tbody>
							</table>
					</div>
				</div>
			</accordion-group>
			<accordion-group heading="Coleta/entrega com ordem de saída e visitantes" is-open="true">
				<div class="row">
					<div class="col-sm-12">
							<table adsm-table="listColetaEntregaTableParams"
								class="table adsm-table-hover table-condensed table-clickable adsm-table"
								style="width: 100%">
								<tbody>
									<tr ng-repeat="row in page">
										<td column-title="descricao" sortable="'placa'">{{ row.frota }} {{ row.placa }}</td>
										<td column-title="semiReboque" sortable="'semiReboque'">{{ row.frotaSemiReboque }} {{ row.idFrotaSemiReboque }}</td>
										<td column-title="controleCarga" sortable="'controleCarga'">{{ row.siglaFilial }} {{ row.controleCarga }}</td>
										<td column-title="rota" sortable="'rota'">{{ row.numeroRota }} {{ row.descricaoRota }}</td>
										<td column-title="tipo" sortable="'horaSaidaPrevista'">{{ row.tipo }}</td>
									</tr>
								</tbody>
							</table>
					</div>
				</div>
			</accordion-group>
		</accordion>
	<div class="row">
	
	</div>
</form>