<form class="form-horizontal content-padding"
	  data-ng-submit="find()">
	<div class="fixed-top">
		<button
			type="submit"
			class="btn btn-default btn-lg pull-right"
			id="imprimir">{{'Imprimir' | translate }}</button>
	</div>

	<div class="row">
	    <div class="col-sm-6">
			<div class="form-group">
				<div adsm-add-field data-label="impressora" data-labelSize="6" data-boxSize="24">
					<select
						adsm-chosen
						id="impressora"
						ng-options="data as data.checkinLocalizacao for data in impressora track by data.idImpressora"
						ng-model="filter.impressora"
						required>
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label
					class="col-lg-4 control-label">{{'nrCodigoBarra' | translate}}</label>
				<div class="col-lg-8">
					<div class="col-xs-16">
						<input
							type="text"
							ng-model="filter.codigoBarras"
							class="form-control"
							required>
					</div>
				</div>
			</div>
		</div>
	</div>			
</form>

