<form class="form-horizontal content-padding" ng-submit="clonarTabelaDePreco()"> 
 
	<div class="fixed-top">
		<div class="content">
			<button type="submit" ng-disabled="!data.tabelaBase || !data.tabelaNova" class="btn btn-default btn-lg pull-right">
				Clonar
			</button>
		</div>
	</div>
	
	<div class="row">
		<div adsm-add-field data-label="tabelaBase" data-boxSize="6">
			<input lms-tabela-base type="text" class="form-control" id="tabelaBase" ng-model="data.tabelaBase" required>
		</div>
	</div>
	
	<div class="row">
		<div adsm-add-field data-label="tabelaNova" data-boxSize="6">
			<input lms-tabela-nova type="text" class="form-control" id="tabelaNova" ng-model="data.tabelaNova" required>
		</div>
	</div>
</form> 
