<style type="text/css">	
	.ui-datepicker {
		z-index: 1200 !important;
	}
</style>

<div class="menu-top"></div>

<div class="content" style="background-color: white; padding: 20px;">
	<form novalidate ng-class="{submitted: submitted}" class="form-horizontal" ng-submit="store($event)">
		<div class="fixed-top">
			<div class="content">				
				<button type="submit" data-adsm-loading="salvando" class="btn btn-default btn-lg pull-right" id="store" permission="salvar" ng-disabled="dados.disabled">
					{{'salvar' | translate }}
				</button>
				<button type="button" data-ng-click="removeContatoPessoaById()" ng-disabled="!dados.idContato" class="btn btn-default btn-lg pull-right" id="removeContatoPessoaById" ng-disabled="dados.disabled" permission="excluir">
					{{'excluir' |  translate }}
				</button>			
				<button type="button" data-ng-click="limparDados()" class="btn btn-default btn-lg pull-right" id="limpar">
					{{'limpar' | translate }}
				</button>		
			</div>
		</div>
		
		<div class="alert-container" data-ng-show="popupAlerts.length">
			<alert data-ng-repeat="alert in popupAlerts" type="{{alert.type}}" close="closeAlert($index)">
				<span data-ng-bind="alert.msg"></span>
			</alert>
		</div>

		<div class="clearfix">		
			<div adsm-sub-tab orientation="horizontal">
				<div adsm-tab-panel="principal" heading="{{'principal' | translate}}">
					<div class="form-horizontal">
					
					<div class="row">
						<div class="col-sm-6">
								<div class="form-group">
									<label class="col-lg-3 control-label">{{'identificacao' | translate }}</label>
									<div class="col-lg-8" >
										<div class="multi-input">
											<div class="col-xs-4">
												<input 
													type="text" 
													id="tpIdentificacao" 
													class="form-control" 
													ng-model="dados.tpIdentificacao" 
													maxlength="20" 
													readonly="readonly">			
												</div>
											<div class="col-xs-8">
												<input 
													type="text" 
													id="nrIdentificacao" 
													class="form-control" 
													ng-model="dados.nrIdentificacao" 
													maxlength="20" 
													readonly="readonly">							
											</div>					
										</div>
									</div>
								</div>
							</div>	
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-lg-2 control-label">{{'nome' | translate }}</label>
									<div class="col-lg-9">
										<input type="text" class="form-control" id="nmPessoa" ng-model="dados.nmPessoa" readonly="readonly">
									</div>
								</div>
							</div>
						</div>
						
						<accordion close-others="false" id="accordionContato">
							<accordion-group is-open="isContatoOpen">
								<accordion-heading>
									<span class="glyphicon" ng-class="{'glyphicon-chevron-down': isContatoOpen , 'glyphicon-chevron-right': !isContatoOpen}"></span>
									{{'contato' | translate}}
								</accordion-heading>	
						
								<div class="row">	
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-lg-4 control-label">{{'nome' | translate }}</label>
											<div class="col-lg-8">
												<input type="text" id="nmContato" class="form-control" ng-model="dados.nmContato"  required>							
											</div>
										</div>
									</div>
									
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-lg-4 control-label">{{'email' | translate }}</label>
											<div class="col-lg-8">
												<input type="text" id="cep" class="form-control" ng-model="dados.dsEmail" >							
											</div>
										</div>
									</div>
									
								</div>
								
								
								<div class="row">	
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-lg-4 control-label">{{'departamento' | translate }}</label>
											<div class="col-lg-4">
												<input type="text" id="cep" class="form-control" ng-model="dados.dsDepartamento" >							
											</div>
										</div>
									</div>
									
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-lg-4 control-label">{{'funcao' | translate }}</label>
											<div class="col-lg-8">
												<input type="text" id="cep" class="form-control" ng-model="dados.dsFuncao" >							
											</div>
										</div>
									</div>
									
								</div>
								
								
								<div class="row">								
									<div class="col-sm-6">
										<div class="form-group">								
											<label class="col-lg-4 control-label">{{'tipoContato' | translate }}</label>
											<div class="col-lg-8 chosen-tipo-contato">
												<select 
													adsm-chosen
													id="tpContato"
													ng-model="dados.tpContato"
													adsm-domain="DM_TIPO_CONTATO_PESSOA"
													required>
													<option value=""></option>
												</select>					
											</div>
										</div>
									</div>
												
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-lg-4 control-label">{{'numeroRepresentante' | translate }}</label>
											<div class="col-lg-4">
												<input type="text" id="nrRepresentante" class="form-control" ng-model="dados.nrRepresentante" maxlength="10">							
											</div>
										</div>
									</div>
								</div>		
								
								<div class="row">							
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-lg-4 control-label">{{'dataAniversario' | translate }}</label>
											<div class="col-lg-5">
												<input type="text" 
													ng-model="dados.dtAniversario" 
													id="dtAniversario" 
													class="form-control"
													max="contatoPessoa.dtAtual" 
													adsm-date-picker
													mask="date">								
											</div>
										</div>
									</div>									
								</div>		
								
														
								<div class="row">			
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-lg-4 control-label">{{'observacao' | translate }}</label>
											<div class="col-lg-8">						
												<textarea rows="2" maxlength="300" ng-model="dados.obContato" id="obContato" class="form-control"  style="resize: none;"></textarea>															
											</div>
										</div>
									</div>
								</div>	
								
							</accordion-group>
							
							
							<accordion-group is-open="isContatoOpen">
								<accordion-heading>
									<span class="glyphicon" ng-class="{'glyphicon-chevron-down': isTelefoneOpen , 'glyphicon-chevron-right': !isTelefoneOpen}"></span>
									{{'telefone' | translate}}
								</accordion-heading>
								
								
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-lg-3 control-label">{{'telefones' | translate}}</label>
											<div class="col-lg-9">								
												<div adsm-list-options 
													ng-disabled="!dados.idContato"
												 	ng-model="dados.listTelefones"
												 	equals="telefone.numero"
												 	not-null="telefone"
												 	blank-token="-"
												 	view="telefone|translate,': ',telefone.numero,' ',ramal|translate,': ',nrRamal">
													
													<input type="text" id="nrRamal" ng-model="nrRamal" mask="integer" class="form-control" placeholder="ramal" maxlength="5">
													
													<select	adsm-chosen
														id="telefoneTelefone"
														ng-model="telefone"
														ng-options="data as data.numero for data in dados.telefones track by data.idTelefoneEndereco">														
														<option value=""></option>
													</select> 															
												</div>						
											</div>
										</div>
									</div>
								</div>
								
							</accordion-group>
						</accordion>		
						
					</div>
				</div>
			</div>		
		</div>
	</form>
</div>