/*------------------------------------- Bolas Semaforo ------------------------------------------*/

.bola-vermelha,
.bola-verde,
.bola-amarela {
	padding: 12px !important;
}

.bola-vermelha {
	background: url('../img/bola_vermelha.gif')  no-repeat center center;
}

.bola-verde {
	background: url('../img/bola_verde.gif') no-repeat center center;
}

.bola-amarela {
	background: url('../img/bola_amarela.gif') no-repeat center center;
}
/*------------------------------------- Fim Bolas Semaforo ------------------------------------------*/

/*------------------------------------- Botões Spinners ------------------------------------------*/
/* Spinners */

.btn-p{
	padding: 2px 9px !important;
}

.btn-spinner {
  background: url('../img/spinners/orange-18.GIF') no-repeat;
  width: 18px;
  height: 18px;
  opacity: 0;
  webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) opacity;
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) opacity;
  -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) opacity;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) opacity;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) opacity;
}

.btn-spinner-show .btn-spinner {
  opacity: 1;
}

/* Left Spinner */

.btn-spinner-left .btn-spinner {
  position: absolute;
  top: 50%;
  left: 12px; /* Padding left .btn */
  margin-top: -8px;
}

.btn-spinner-left {
  position: relative;
  webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) padding-left;
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) padding-left;
  -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) padding-left;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) padding-left;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) padding-left;
}

.btn-spinner-left.btn-spinner-show {
  padding-left: 42px; /* (12px padding left .btn) + (18px width spinner) + (12px spacing) */
}

/* Center Spinner */

.btn-spinner-center .btn-spinner {
  display: inline-block;
  vertical-align: middle;
  margin-left: -18px;
  webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) padding-left;
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) padding-left;
  -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) padding-left;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) padding-left;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) padding-left;
}

.btn-spinner-center.btn-spinner-show .btn-spinner {
  margin-left: 0;
  margin-right: 5px;
}
/*------------------------------------- fim Botões Spinners ------------------------------------------*/


/*------------------------------------- cabeçalho ------------------------------------------*/
/*titulo-------------------------------*/
.pg-header {
	display: block;
	position: relative;
	background: url("../img/banner-top.jpg") no-repeat;
	height: 180px;
	background-size: cover;
	border-top: 3px #e2dcde solid;
	margin-top: 0;
}

@media (min-width: 1025px) {
	.pg-header {
		margin-top: -40px;
	}
}


.pg-header-bottom {
	position: absolute;
	bottom: 0;
	background: #000;
	height: 80px;
	width: 100%;
	padding: 0 20px;
	opacity:0.50;
	-moz-opacity: 0.50;
	filter: alpha(opacity=50);
}

.pg-header-text {
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
	padding: 0 20px;
}

.pg-header-text h2{
	font-family: 'Roboto Condensed';
	font-size: 40px;
	color: #fff;
	font-weight: 700;
	line-height: 22px;
	padding: 0;
	margin: 0;
}

.pg-header-text h2 span{
	line-height: 42px;
	font-size: 20px;
	font-weight: 400;
}

/* SWT --------------------------------------------*/
body#body-swt  {
	padding-top: 50px;
}

body#body-swt > .ng-scope {
	margin-bottom: 30px;
}

body#body-swt .navbar {
	display: none;
}


body#body-swt .page-header,
body#body-swt .page-title {
    position: fixed;
    top: 0;
}

@media (min-width: 1025px) {
	body#body-swt .fixed-top {
		position: fixed;
    	top: 7px;
	}
}



/*------------------------------------- fim cabeçalho ------------------------------------------*/

.conteudo {
	padding: 40px;
	color: #666;
	line-height: 18px;
}

a.glyphicon, a.glyphicon:hover {
	color: #666 !important;
	text-decoration: none;
	cursor: pointer;
}

.glyphicon-earphone {
	color: #EA5A17;
}

span.glyphicon {
	cursor: pointer;
}

.glyphicon-save {
	color: #FF6501 !important;
	font-size: 16px;
}

.search-icon {
	display: block;
	position: relative;
	margin: 0 auto;
	height: 16px;
	width: 16px;
	background: url('../img/search_icon.png') no-repeat;
	cursor: pointer;
}

.idNaoInformado {
	border: 1px solid red !important;
}

.not-allowed-field {
	line-height: 25px;
}

/*alert*/
.alert-container {
	padding: 20px;
	background: white;
}

.alert-container .alert:last-child {
	margin-bottom: 0;
}


/*----------------------- TOPO bts ---------------------------------*/

.div-bottom{
	padding: 5px 0;
	overflow: hidden;
}

.div-bottom .fix-btn{
	float: right;
	margin: 0 0 0 6px;
}


/*----------------------- FIM TOPO bts ---------------------------------*/

/*----------------------- MODAL ----------------------------------------*/

.clmListaPopup .modal-dialog{
	width: 95%;
}

@media (min-width: 880px) {
	.clmListaPopup .modal-dialog{
		width: 840px;
	}
}

.clmListaPopup .telefones {
	border: 1px solid #ddd;
	margin-bottom: 5px;
	padding: 5px;
}

.clmListaPopup .telefones .info-p {
	border-left: none;
}

.clmListaPopup .telefones>span {
	color: #666;
	background: #efefef;
	border: 1px solid #ddd;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	float: left;
	padding: 5px;
	margin: 0 0 5px 0;
}

.clmListaPopup .telefones:after {
	content: " ";
	display: block;
	position: relative;
	clear: both;
}

.clmListaPopup .telefones>p {
	width: 100%;
	float: left;
}

.popupLogin .modal-dialog .modal-content {
	width: 0;
	height: 0;
}

.modal-confirm .modal-dialog {
	width: 415px;
}

.modal-detail .modal-dialog {
	margin: 10px auto;
    min-width: 85%;
    height: 500px;
}

.modal-detail .fixed-top,
#body-swt .modal-detail .fixed-top {
	position: absolute !important;
	top: 79px;
	z-index: auto;
}

#body-swt .modal-detail .fixed-top {
	top: 85px;
}

/*----------------------- FIM MODAL ------------------------------------*/

/*-------------------------------menu-------------------------*/

.menu-top {
	width: 100%;
	border-bottom: 1px solid #ddd;
/* 	overflow: hidden; */
	min-height: 42px;
}

.menu-top:after {
	content: " ";
	display: block;
	position: relative;
	clear: both;
}

.menu-top button {
	background-color: #FFF;
	border: none;
}

.menu-top a, .menu-top button {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	color: #777;
	padding: 10px 12px;
	float: right;
	font-family: 'Roboto Condensed';
	font-size: 15px;
	margin-bottom: -1px;
}

.menu-top a:hover, .menu-top button:hover {
	background: #efefef;
	text-decoration: none;
}

.menu-top .glyphicon {
	margin-right: 4px;
}
/*-------------------------------fim menu-------------------------*/


/*-------------------------------botões exclusiv os para IE-------------------------*/
.adsm-legacy {
	display: none;
}

.ie .adsm-legacy {
	display: block;
}
/*-------------------------------fim botões exclusiv os para IE-------------------------*/

/*------------------------------------- home ------------------------------------------*/

.pg-home-title {
	font-family: 'Roboto Condensed';
	font-weight: 400;
	margin: 0;
	padding: 5px 0 25px;
	color: #ff6600;
}

h4.pg-home-title {
	padding: 0 ;
}

.list-style-home li {
	margin-bottom: 10px;
}

/*------------------------------------- fim home ------------------------------------------*/

/*-------------------------------rodapé-------------------------*/

footer {
	position: fixed;
	bottom: 0;
 	background-color: #dddddd;
 	color: #686868;
 	min-height: 30px;
 	width: 100%;
 	overflow: hidden;
 	clear: both;
 	padding: 10px 40px 0;
}

/*-------------------------------fim rodapé-------------------------*/

.margin-top-20 {
	margin-top: 20px;
}