<form class="form-horizontal content-padding" data-ng-submit="find()">

	<div class="fixed-top">
		<button
			type="button"
			class="btn btn-default btn-lg pull-right"
			data-ng-click="limpar()"
			id="limpar">{{'limpar' | translate }}</button>
		<button type="button" class="btn btn-default btn-lg pull-right"  
				data-adsm-loading="gerandoVisualizar" data-ng-click="relatorioDemonstrativoField()" id="btnDemonstrativoField" >
				
			{{'demonstrativoField' | translate}}
		</button>
		<button type="button" class="btn btn-default btn-lg pull-right"  
				data-adsm-loading="gerandoVisualizar" data-ng-click="relatorioGerentesVendaFilial()" id="btnDemonstrativoGerentesVendaFilial">
				
			{{'demonstrativoGerentesVendaFilial' | translate}}
		</button>
		<button type="button" class="btn btn-default btn-lg pull-right"  
				data-adsm-loading="gerandoVisualizar" data-ng-click="relatorioGerentesRegionais()" id="btnDemonstrativoGerentesRegionais">
				
			{{'demonstrativoGerentesRegionais' | translate}}
		</button>
		<button type="button" class="btn btn-default btn-lg pull-right"  
				data-adsm-loading="gerandoVisualizar" data-ng-click="relatorioExecutivoInterno()" id="btnDemonstrativoIndoor">
				
			{{'demonstrativoIndoor' | translate}}
		</button>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="executivo" data-labelSize="3" data-fieldSize="4" data-multiSize="4,7">
			<input type="text" class="form-control" ng-model="filter.executivo" lms-comissionado id="executivo" />
			<input type="text" class="form-control" ng-model="filter.executivo.nmUsuario" disabled  />
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="dataCompetencia" data-labelSize="3" data-fieldSize="4" data-multiSize="7,4">
			<input type="text" class="form-control" ng-model="filter.dtInicio" mask="date" adsm-date-picker id="dtInicio" competencia="true"
				data-end="filter.dtFim" data-maxInterval="{{ getIntervaloMax() }}" />

		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="modal" data-labelSize="3" data-fieldSize="4" data-multiSize="7,4">
			<select data-adsm-domain="DM_MODAL" id="tpModal" ng-model="filter.tpModal">
				<option value=""></option>
			</select>
			<span ng-show="!filter.tpModal" style="line-height: 25px;">{{'aereorodoviario' | translate}}</span>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="filial" data-labelSize="3" data-fieldSize="4">
			<div class="multi-input">
				<div class="col-xs-3">
					<input lms-filial ng-model="filter.filial" id="filial" class="form-control" >
				</div>
				<div class="col-xs-9">
					<input type="text" disabled class="form-control" value="{{ filter.filial.nmFilial }}" id="filial.nmFilial">
				</div>
			</div>
		</div>
	</div>

</form>
