<form class="form-horizontal content-padding"> 
 
  
	<div class="fixed-top">
		<div class="content">
			
			<button type="button" data-ng-click="exportarReajusteCliente()" class="btn btn-default btn-lg pull-right" id="clientesDivisao" ng-disabled="false">
				{{'exportar' |  translate }}
			</button>
			
		</div>
	</div>
	
	
	<div class="row">
		<div adsm-add-field data-label="cliente" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<input
				lms-cliente
				ng-model="data.identificacao" 
				id="cliente" 
				class="form-control">
					
		</div>
		<div adsm-add-field data-label="nome" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<input type="text" disabled class="form-control" value="{{ data.identificacao.nmPessoa }}" id="cliente.nmPessoa">
		</div>	
	</div>
	
	<div class="row">
		<div adsm-add-field data-label="filial" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<input lms-filial type="text" class="form-control" id="filial" ng-model="data.filial">
		</div>
		
		<div adsm-add-field data-label="tpCliente" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<select adsm-chosen  ng-model="data.tpCliente" id="tpCliente" ng-options="data as data.desc for data in tiposCliente track by data.id">
					<option value=""></option>
			</select>
		</div>
	</div>	
	
	<div class="row">
		<div adsm-add-field data-label="reajuste" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<select adsm-chosen  ng-model="data.reajuste" id="reajuste" ng-options="data as data.desc for data in reajuste track by data.id">
					<option value=""></option>
			</select>
		</div>
		
		<div adsm-add-field data-label="modalidade" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<select adsm-chosen  ng-model="data.modal" id="modal" ng-options="data as data.desc for data in modal track by data.id">
					<option value=""></option>
			</select>
		</div>
	</div>
		
	<div class="row">
		<div adsm-add-field data-label="divisaoCliente" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<select adsm-chosen  ng-model="data.divisao" id="divisao" ng-options="data as data.desc for data in divisao track by data.id">
					<option value=""></option>
			</select>
		</div>
		
		<div adsm-add-field data-label="clienteEstrategico" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<select adsm-chosen  ng-model="data.estrategico" id="estrategico" ng-options="data as data.desc for data in estrategico track by data.id">
					<option value=""></option>
			</select>
		</div>
	</div>	
		
		
	
	
			
	

</form> 
