<form class="form-horizontal content-padding" name="form" data-ng-submit="salvar()">
    <div class="fixed-top">
        <button type="button" data-ng-click="clear()" class="btn btn-default btn-lg pull-right" id="limpar">{{'limpar' | translate}}</button>
        <button type="button" data-ng-click="salvar()" class="btn btn-default btn-lg pull-right" id="reset">{{'salvar' | translate}}</button>
    </div>

    <!-- DIV PARA BUSCA -->
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{'identificacao' | translate}}</label>
                <div class="col-lg-3">
                    <select adsm-domain="DM_TIPO_CNPJ" ng-model="data.tpCnpj" id="tpCnpj">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="nrIdentificador" ng-model="row.nrIdentificacao" class="form-control" required
                           ng-blur="changeNrIdentificacao(data.tpCnpj.description, row.nrIdentificacao)" ui-mask="99.999.999?/9999-99"/>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="nome" ng-model="data.nome" class="form-control" disabled required />
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{'diretorio' | translate}}</label>
                <div class="col-lg-9">
                    <input type="text" ng-model="row.dsDiretorioArmazenagem" id="diretorio" class="form-control" ng-required="true"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{'tipoPesquisa' | translate}}</label>
                <div class="col-lg-9">
                    <select adsm-domain="DM_TIPO_PESQUISA_CTE" ng-model="row.tpPesquisa" id="tpPesquisa" ng-required="true">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{'ativo' | translate}}</label>
                <div class="col-lg-9">
                    <input type="checkbox" id="checkedAtivo" ng-model="row.blAtivo" required />
                </div>
            <div>
        </div>

    </div>
</form>
