<form class="form-horizontal content-padding" name="form" data-ng-submit="consultar()">
    <div class="fixed-top">
        <button type="button" data-ng-click="clear()" class="btn btn-default btn-lg pull-right" id="limpar">{{'limpar' | translate}}</button>
        <button type="button" data-ng-click="consultar()" class="btn btn-default btn-lg pull-right" id="reset">{{'consultar' | translate}}</button>
    </div>

    <!-- DIV PARA BUSCA -->
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{'identificacao' | translate}}</label>
                <div class="col-lg-3">
                    <select adsm-domain="DM_TIPO_CNPJ" ng-model="data.tpCnpj" id="tpCnpj">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="nrIdentificador" ng-model="data.nrIdentificacao" class="form-control"
                           ng-blur="changeNrIdentificacao(data.tpCnpj.description, data.nrIdentificacao)" ui-mask="99.999.999?/9999-99"/>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="nome" ng-model="data.nome" class="form-control" disabled/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{'diretorio' | translate}}</label>
                <div class="col-lg-9">
                    <input type="text" ng-model="data.dsDiretorioArmazenagem" id="diretorio" class="form-control"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{'tipoPesquisa' | translate}}</label>
                <div class="col-lg-9">
                    <select adsm-domain="DM_TIPO_PESQUISA_CTE" ng-model="data.tpPesquisa" id="tpPesquisa">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{'ativo' | translate}}</label>
                <div class="col-lg-9">
                    <input type="checkbox" id="checkedAtivo" ng-model="data.blAtivo" />
                </div>
            <div>
        </div>
    </div>

    <!--TABELA DOS CLIENTES -->
    <div class="row">
        <div class="col-sm-12">
            <table
                class="table adsm-table-hover table-condensed table-clickable adsm-table"
                style="width: 100%"
                show-checkboxes="true"
            >
                <thead>
                <tr>
                    <th> {{'identificacao' |  translate }} </th>
                    <th> {{'diretorio' |  translate }} </th>
                    <th> {{'tipoPesquisa' |  translate }} </th>

                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in page" ng-click="detail(row)">
                        <td column-title="identificacao">
                            {{row.nrIdentificacao}}
                        </td>
                        <td column-title="diretorio">
                            {{row.dsDiretorioArmazenagem}}
                        </td>
                        <td column-title="tipoPesquisa">
                            {{row.tpPesquisa.descriptionAsString}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
