<form class="form-horizontal content-padding" data-ng-submit="find()"> 
 
	<div class="fixed-top">
		<button type="button" data-ng-click="clearFilter()"	class="btn btn-default btn-lg pull-right" id="limpar">
			{{'limpar' | translate }}
		</button>

		<button type="submit" data-adsm-loading="listTableParams.loading" class="btn btn-default btn-lg pull-right" id="consultar">
			{{'consultar' |  translate }}
		</button>
	</div> 

	<div class="row">
		<div adsm-add-field data-label="ufDestino" data-boxSize="6" data-labelSize="4" data-fieldSize="5">
			<select data-adsm-chosen
				data-ng-options="unidadeFederativa as unidadeFederativa.sgUnidadeFederativa +' - '+ unidadeFederativa.nmUnidadeFederativa for unidadeFederativa in unidadesFederativas track by unidadeFederativa.idUnidadeFederativa"
				id="unidadeFederativa"
				data-ng-model="filter.unidadeFederativa">
				<option value=""></option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div adsm-add-field  data-label="percentualAliquota" data-boxSize="6" data-labelSize="4" data-fieldSize="3">
			<input type="text" ng-model="filter.pcAliquota" data-numeric data-moeda />
		</div>
	</div>			
	
	<div class="row">
		<div adsm-add-field data-label="vigencia" data-boxSize="6" data-labelSize="4" data-fieldSize="3">
			<input type="text" ng-model="filter.dtVigencia" id="dtVigencia" adsm-date-picker mask="date"/>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<table adsm-table="listTableParams" show-checkboxes="true" data-remove-service="removeByIds()">
				<tbody>
					<tr ng-repeat="row in page" ng-click="detail(row)">
						<td column-title="ufDestino" style="min-width: 100px; max-width: 400px;" align="left">{{row.ufDestino}}</td>
						<td column-title="percentualAliquota" style="min-width: 100px; max-width: 400px;" align="right">{{row.pcAliquota | currency: ''}}</td>
						<td column-title="vigenciaInicial" style="min-width: 100px; max-width: 400px;" align="center">{{row.dtVigenciaInicial | customDate}}</td>
						<td column-title="vigenciaFinal" style="min-width: 100px; max-width: 400px;" align="center">{{row.dtVigenciaFinal | customDate}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>