<form class="form-horizontal content-padding" data-ng-submit="store()"> 
 
	<div class="fixed-top">
		<button type="button" data-ng-click="clearData()" class="btn btn-default btn-lg pull-right" id="limparDados">
			{{'limpar' |  translate }}
		</button>
		
		<button type="button" data-ng-click="removeById()" class="btn btn-default btn-lg pull-right" id="removeById" permission="excluir" data-ng-disabled="isRemoveByIdDisabled() || data.blDisableExcluir">
			{{'excluir' |  translate }}
		</button>
		
		<button type="submit" class="btn btn-default btn-lg pull-right" id="store" permission="salvar" data-ng-disabled="data.blDisableSalvar">
			{{'salvar' |  translate }}
		</button> 
	</div>

	<div class="row">
		<div adsm-add-field data-label="ufDestino" data-boxSize="6" data-labelSize="4" data-fieldSize="5">
			<select data-adsm-chosen
				data-ng-disabled="data.blDisableUfDestino"
				required
				data-ng-options="unidadeFederativa as unidadeFederativa.sgUnidadeFederativa +' - '+ unidadeFederativa.nmUnidadeFederativa for unidadeFederativa in unidadesFederativas track by unidadeFederativa.idUnidadeFederativa"
				id="unidadeFederativa"
				data-ng-model="data.unidadeFederativa">
				<option value=""></option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div adsm-add-field  data-label="percentualAliquota" data-boxSize="6" data-labelSize="4" data-fieldSize="3">
			<input type="text" required id="percentualAliquota" ng-model="data.pcAliquota" data-numeric data-moeda data-ng-disabled="data.blDisableAliquota"/>
		</div>
	</div>			
	
	<div class="row">
		<div adsm-add-field data-label="vigencia" data-boxSize="6" data-labelSize="4" data-multiSize="4,4">
			<input
				id="dtVigenciaInicial"
				required
				adsm-date-picker
				ng-model="data.dtVigenciaInicial"
				mask="date"
				class="form-control"
				data-end="data.dtVigenciaFinal"
				data-ng-disabled="data.blDisableDtVigenciaInicial">

			<input
				id="dtVigenciaFinal"
				adsm-date-picker
				ng-model="data.dtVigenciaFinal"
				mask="date"
				class="form-control"
				data-start="data.dtVigenciaInicial"
				data-ng-disabled="data.blDisableDtVigenciaFinal">
		</div>
	</div>
</form>