<form class="form-horizontal content-padding" data-ng-submit="storeGenerico()" id="genericoForm">

	<div class="alert-container" data-ng-show="popupAlerts.length">
		<alert data-ng-repeat="alert in popupAlerts" type="{{alert.type}}" close="closeAlert($index)">
			<span data-ng-bind="alert.msg"></span>
		</alert>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="pesoMinimoOriginal" data-labelSize="4" data-fieldSize="7">
			<input type="text" id="vlOriginalGenerico" ng-model="genericoModel.vlOriginalGenerico" class="form-control" data-numeric data-peso disabled="disabled">
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="pesoMinimo" data-labelSize="4" data-fieldSize="7">
			<input type="text" id="vlGenerico" ng-model="genericoModel.vlGenerico" class="form-control" data-numeric data-peso required>
		</div>
	</div>

	<div class="modal-footer">
		<button type="submit" class="btn btn-default btn-lg pull-right" id="store" permission="salvar">	{{'atualizar' |  translate }}	</button>
	</div>
</form>
