<form  name="formParam"  class="form-horizontal content-padding" ng-submit="continuar()" >

	<div class="fixed-top">
		<button type="submit" class="btn btn-default btn-lg pull-right" id="continuar" disabled="disabled">
			{{'continuar' |  translate }}
		</button>
	</div>


	<accordion close-others="false" ng-init="isOpen = true;">
		<accordion-group is-open="isOpen">
			<accordion-heading>{{'fretePeso' | translate}}</accordion-heading>

			<div class="row">
				<div adsm-add-field data-boxSize="6" data-label="minimoFretePeso" data-labelSize="4" data-multiSize="6,6">
		            <select
						adsm-domain="DM_INDICADOR_FRETE_MINIMO"
						id="minimoFretePeso"
						required
						ng-disabled="disabledByTpGeracaoProposta"
						ng-model="data.tpIndicadorMinFretePeso"
						ng-change="validateMinimoFretePeso()"
						>
						<option value=""></option>
					</select>
					<input type="text"  ng-model="data.vlMinFretePeso" required data-numeric="{mDec: 2}" class="form-control text-right"
						ng-disabled="vlMinFretePesoDisabled || disabledByTpGeracaoProposta"
						ng-blur="validateMinimoFretePeso()">
				</div>

				<div adsm-add-field data-boxSize="6" data-label="percentualMinimo"  data-labelSize="4" data-multiSize="6,6">
		            <select
						adsm-domain="DM_INDICADOR_PARAMETRO_CLIENTE"
						id="percentualMinimo"
						ng-model="data.tpIndicadorFreteMinimo"
						ng-disabled="disabledByTpGeracaoProposta"
						ng-change="validateVlFreteMinimo()" required
						>
						<option value=""></option>
					</select>
					<input type="text"  ng-model="data.vlFreteMinimo" required data-numeric="{mDec: '2'}"
						ng-blur="validateVlFreteMinimo()"
						ng-disabled="vlFreteMinimoDisabled  || disabledByTpGeracaoProposta" data-percentual class="form-control text-right">
				</div>
			</div>

			<div class="row">
				<div adsm-add-field data-boxSize="6" data-label="fretePeso"  data-labelSize="4" data-multiSize="6,6">
		            <select
						adsm-domain="DM_INDICADOR_PARAMETRO_CLIENTE"
						id="fretePeso"
						required
						ng-disabled="disabledByTpGeracaoProposta"
						ng-model="data.tpIndicadorFretePeso"
						ng-change="validateFretePeso()"
						>
						<option value=""></option>
					</select>
					<input type="text"  ng-model="data.vlFretePeso"
						ng-blur="validateFretePeso()" required
						ng-disabled="vlFretePesoDisabled || disabledByTpGeracaoProposta"
						data-numeric="{mDec: 4}" class="form-control text-right">
				</div>

				<div adsm-add-field data-boxSize="6" data-label="pagaPesoExcedente"  data-labelSize="4">
					<input type="checkbox" ng-model="data.blPagaPesoExcedente"
						ng-disabled="disabledByTpGeracaoProposta">
				</div>
			</div>
			<div class="row">
				<div adsm-add-field data-boxSize="6" data-label="diferencaCapitalInterior" data-labelSize="4">
					<input type="text" required
						ng-model="data.pcDiferencaFretePeso"
						ng-disabled="disabledByTpGeracaoProposta"
						data-numeric="{mDec: 4, vMax: '100', vMin: '0'}" class="form-control text-right">
				</div>
			</div>
		</accordion-group>

		<accordion-group is-open="isOpen">
			<accordion-heading>{{'freteValor' | translate}}</accordion-heading>

			<div class="row">
				<div adsm-add-field data-boxSize="6" data-label="advalorem" data-labelSize="4" data-multiSize="6,6">
		            <select
						adsm-domain="DM_INDICADOR_ADVALOREM"
						id="advalorem"
						required
						ng-model="data.tpIndicadorAdvalorem"
						ng-disabled="disabledByTpGeracaoProposta"
						ng-change="validateAdvalorem()">
						<option value=""></option>
					</select>
					<input type="text"  ng-model="data.vlAdvalorem" data-numeric="{mDec: 2}" class="form-control text-right"
						 ng-blur="validateAdvalorem()"
						 required
						 ng-disabled="disabledByTpGeracaoProposta"
						 ng-disabled="vlAdValoremDisabled">
				</div>
			</div>

			<div class="row">
				<div adsm-add-field data-boxSize="6" data-label="tipoDiferencaCapitalInterior" data-labelSize="4">
					<select
						adsm-domain="DM_TIPO_DIFERENCA"
						id="tipoDiferencaCapitalInterior"
						ng-model="data.tpDiferencaAdvalorem"
						ng-disabled="disabledByTpGeracaoProposta">
						<option value=""></option>
					</select>
				</div>

				<div adsm-add-field data-boxSize="6" data-label="diferencaCapitalInterior" data-labelSize="4">
					<input type="text" required ng-model="data.pcDiferencaAdvalorem"
						ng-disabled="disabledByTpGeracaoProposta"
						data-numeric="{mDec: 2, vMax: '100', vMin: '0'}" class="form-control text-right">
				</div>
			</div>


		</accordion-group>

		<accordion-group is-open="isOpen">
			<accordion-heading>{{'fretePercentual' | translate}}</accordion-heading>

			<div class="row">
				<div adsm-add-field data-boxSize="6" data-label="pcFretePercentual" data-labelSize="4" data-fieldSize="4">
					<input type="text"  ng-model="data.pcFretePercentual"
						data-numeric="{mDec: 2}" disabled class="form-control text-right">
				</div>
			</div>

			<div class="row">
				<div adsm-add-field data-boxSize="6" data-label="vlMinimoFretePercentual" data-labelSize="4" data-fieldSize="4">
					<input type="text"  ng-model="data.vlMinimoFretePercentual" data-numeric="{mDec: 2}" disabled class="form-control text-right">
				</div>
			</div>

			<div class="row">
				<div adsm-add-field data-boxSize="6" data-label="vlToneladaFretePercentual" data-labelSize="4" data-fieldSize="4">
					<input type="text"  ng-model="data.vlToneladaFretePercentual" data-numeric="{mDec: 5}" disabled class="form-control text-right">
				</div>
			</div>

			<div class="row">
				<div adsm-add-field data-boxSize="6" data-label="psFretePercentual" data-labelSize="4" data-fieldSize="4">
					<input type="text"  ng-model="data.psFretePercentual" data-numeric="{mDec: 2}" disabled class="form-control text-right">
				</div>
			</div>

		</accordion-group>

		<accordion-group is-open="isOpen">
			<accordion-heading>{{'especificacoes' | translate}}</accordion-heading>

			<div class="row">
				<div adsm-add-field data-boxSize="6" data-label="origem" data-labelSize="4">
					<select
						data-adsm-chosen
						required
						data-ng-options="unidadeFederativa as unidadeFederativa.sgUnidadeFederativa +' - '+ unidadeFederativa.nmUnidadeFederativa for unidadeFederativa in unidadesFederativas track by unidadeFederativa.idUnidadeFederativa"
						id="unidadeFederativa"
						ng-disabled="ufOrigemDisabled || disabledByTpGeracaoProposta"
						data-ng-model="data.ufOrigem">
						<option value=""></option>
					</select>
				</div>

				<div adsm-add-field data-boxSize="6" data-label="tipoLocalizacao" data-labelSize="4">
					<select
						data-adsm-chosen
						data-ng-options="data as data.dsTipoLocalizacaoMunicipio for data in tiposLocalizacao track by data.idTipoLocalizacaoMunicipio"
						id="tipoLocalizacaoMunicipio"
						ng-disabled="disabledByTpGeracaoProposta"
						data-ng-model="data.tipoLocalizacaoMunicipioOrigem"						>
						<option value=""></option>
					</select>
				</div>
			</div>


			<div class="row">
				<div adsm-add-field data-boxSize="6" data-label="geraExpedicao" data-labelSize="4">
					<input type="checkbox"  ng-model="data.blFreteExpedido" ng-disabled="disabledByTpGeracaoProposta">
				</div>

				<div adsm-add-field data-boxSize="6" data-label="geraRecepcao" data-labelSize="4">
					<input type="checkbox"  ng-model="data.blFreteRecebido" ng-disabled="disabledByTpGeracaoProposta">
				</div>

			</div>
		</accordion-group>

	</accordion>
	
	
</form>