<style>

.select-valor{
	min-width: 200px !important;
	max-width: 400px;
	overflow: visible !important;
}

.select-valor select, .select-valor .chosen-container {
	float: left;
	margin-right: 5px;
	width: 55% !important;
}

.select-valor input {
	width: 40%;
}

</style>

<form  name="formParam"  class="form-horizontal content-padding">

	<div class="fixed-top">
		<button type="button" class="btn btn-default btn-lg pull-right" id="limpar" permission="limpar" ng-disabled="btnLimparDisabled"
			ng-click="limpar()">
			{{'limpar' |  translate }}
		</button>
		<button type="button" class="btn btn-default btn-lg pull-right" id="salvar" permission="salvar" ng-disabled="btnSalvarDisabled"
			ng-click="salvar()">
			{{'salvar' |  translate }}
		</button>
		<button type="button" class="btn btn-default btn-lg pull-right" id="gerarDestinos" permission="gerarDestinos" ng-disabled="btnGerarDisabled"
			ng-click="gerarDestinos()">
			{{'gerarDestinos' |  translate }}
		</button>
	</div>

	<table adsm-table="destinosTable"
			data-adsm-table-internal-loading="true"
			style="overflow: visible;"
			disabled-remove-button="true"
			ng-disabled="destinosTableDisabled"
			show-checkboxes="true"	>
		<tbody>
			<tr ng-repeat="row in page">
				<td column-title="destino">{{ row.siglaDescricao }}</td>

				<td column-title="percentualMinimo" class="select-valor">
					<select adsm-domain="DM_INDICADOR_PARAMETRO_CLIENTE" id="tpIndicadorFreteMinimo" ng-model="row.tpIndicadorFreteMinimo" ng-change="tpIndicadorFreteMinimoChange(row)" ng-disabled="row.tpIndicadorFreteMinimoDisabled || !row.checked">
						<option value=""></option>
					</select>
		 			<input type="text" id="vlFreteMinimo" ng-model="row.vlFreteMinimo" class="form-control" data-numeric data-moeda ng-blur="vlFreteMinimoBlur(row)" ng-disabled="row.vlFreteMinimoDisabled || !row.checked">
				</td>

				<td column-title="fretePeso" class="select-valor">
					<select adsm-domain="DM_INDICADOR_PARAMETRO_CLIENTE" id="tpIndicadorFretePeso" ng-model="row.tpIndicadorFretePeso" ng-change="tpIndicadorFretePesoChange(row)" ng-disabled="row.tpIndicadorFretePesoDisabled || !row.checked">
						<option value=""></option>
					</select>
		 			<input type="text" id="vlFretePeso" ng-model="row.vlFretePeso" class="form-control" data-numeric data-moeda ng-blur="vlFretePesoBlur(row)" ng-disabled="row.vlFretePesoDisabled || !row.checked">
				</td>

				<td column-title="diferencaCapitalInterior" style="width: 100px;">
					<input type="text" id="pcDiferencaFretePeso" ng-model="row.pcDiferencaFretePeso" class="form-control" data-numeric data-moeda  ng-blur="pcDiferencaFretePesoBlur(row)" ng-disabled="row.pcDiferencaFretePesoDisabled || !row.checked">
				</td>

				<td column-title="adValorem" class="select-valor">
					<select adsm-domain="DM_INDICADOR_ADVALOREM" id="tpIndicadorAdvalorem" ng-model="row.tpIndicadorAdvalorem" ng-change="tpIndicadorAdvaloremChange(row)" ng-disabled="row.tpIndicadorAdvaloremDisabled || !row.checked">
						<option value=""></option>
					</select>
		 			<input type="text" id="vlAdvalorem" ng-model="row.vlAdvalorem" class="form-control" data-numeric data-moeda ng-blur="vlAdvaloremBlur(row)" ng-disabled="row.vlAdvaloremDisabled || !row.checked">
				</td>

				<td column-title="tipoDiferenca" style="width: 200px; overflow: visible;">
					<select adsm-domain="DM_TIPO_DIFERENCA" id="tpDiferencaAdvalorem" ng-model="row.tpDiferencaAdvalorem" ng-disabled="row.tpDiferencaAdvaloremDisabled || !row.checked">
						<option value=""></option>
					</select>
				</td>

				<td column-title="diferencaCapitalInterior" style="width: 100px;">
					<input type="text" id="pcDiferencaAdvalorem" ng-model="row.pcDiferencaAdvalorem" class="form-control" data-numeric data-moeda ng-blur="pcDiferencaAdvaloremBlur(row)" ng-disabled="row.pcDiferencaAdvaloremDisabled || !row.checked">
				</td>
 			</tr>
		</tbody>
	</table>
</form>
