<form class="form-horizontal content-padding" data-ng-submit="storeParcela()" id="genericoForm">

	<div class="alert-container" data-ng-show="popupAlerts.length">
		<alert data-ng-repeat="alert in popupAlerts" type="{{alert.type}}" close="closeAlert($index)">
			<span data-ng-bind="alert.msg"></span>
		</alert>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="indicador" data-labelSize="4" data-fieldSize="7">
			<select adsm-chosen
				id="tpIndicador"
				ng-options="d as d.descriptionAsString for d in dominioGenerico track by d.value"
				ng-change="changeTpIndicador()"
				ng-model="parcela.tpIndicador"
				required>
				<option value=""></option>
			</select>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="valorOriginal" data-labelSize="4" data-fieldSize="7">
			<input type="text" id="vlOriginal" ng-model="parcela.vlOriginal" class="form-control" data-numeric data-moeda disabled>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="valor" data-labelSize="4" data-fieldSize="7">
			<input type="text" id="vlCalculado" ng-model="parcela.vlCalculado" class="form-control" ng-blur="calculaValores()"
			 ng-disabled="disableVlCalculado"	data-numeric data-moeda required>
		</div>
	</div>


	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="percentual" data-labelSize="4" data-fieldSize="7">
			<input type="text" id="vlPercentual" ng-model="parcela.vlPercentual" ng-blur="calculaValores()" class="form-control" data-numeric data-moeda ng-disabled="disableVlPercentual" required>
		</div>
	</div>

	<hr width="100%" ng-show="blExibeCamposExtras || blExibeCamposPsMinimo">

		<div class="row" ng-show="blExibeCamposExtras ">
			<div adsm-add-field data-boxSize="12" data-label="valorExcedenteOriginal" data-labelSize="4" data-fieldSize="7" >
				<input type="text" id="vlExcedente" ng-model="parcela.vlExcedenteOriginal" class="form-control" data-numeric data-moeda disabled>
			</div>
		</div>
		<div class="row" ng-show="blExibeCamposExtras">
			<div adsm-add-field data-boxSize="12" data-label="valorExcedente" data-labelSize="4" data-fieldSize="7">
				<input type="text" id="vlExcedente" ng-model="parcela.vlExcedente" class="form-control" data-numeric data-moeda >
			</div>
		</div>

		<div class="row" ng-show="blExibeCamposExtras || blExibeCamposPsMinimo">
			<div adsm-add-field data-boxSize="12" data-label="pesoMinimoOriginal" data-labelSize="4" data-fieldSize="7">
				<input type="text" id="psMinimo" ng-model="parcela.psMinimoOriginal" class="form-control" data-numeric data-peso  disabled>
			</div>
		</div>
		<div class="row" ng-show="blExibeCamposExtras || blExibeCamposPsMinimo">
			<div adsm-add-field data-boxSize="12" data-label="pesoMinimo" data-labelSize="4" data-fieldSize="7">
				<input type="text" id="psMinimo" ng-model="parcela.psMinimo" class="form-control" data-numeric data-peso >
			</div>
		</div>

	<div class="modal-footer">
		<button type="submit" class="btn btn-default btn-lg pull-right" id="store" permission="salvar">	{{'atualizar' |  translate }}	</button>
	</div>
</form>
