<form class="form-horizontal content-padding" data-ng-submit="find()">

	<div class="fixed-top">
		<div ng-include
			src="contextPath+'js/app/common/view/templates/form-buttons-list.html'"></div>
	</div>

	<div class="form-horizontal">
		<div class="row">
			<div class="col-sm-8">
				<div class="form-group">
					<label class="col-lg-3 control-label">{{'cliente' |
						translate }}</label>
					<div class="col-lg-7">
						<div class="multi-input">
							<div class="multi-input">
								<div class="col-xs-4">
									<input lms-cliente ng-model="filter.cliente" id="cliente"
										class="form-control">
								</div>
								<div class="col-xs-8">
									<input type="text" disabled class="form-control"
										value="{{ filter.cliente.nmPessoa }}" id="cliente.nmPessoa">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="modal" class="col-lg-4 control-label">{{'tipoCliente'
						| translate}}</label>
					<div class="col-lg-5">
						<select adsm-domain="DM_TP_CLIENTE_FINANCEIRO"
							id="tpClienteFinanceiro" ng-model="filter.tpClienteFinanceiro">
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="modal" class="col-lg-6 control-label">{{'tipoEnvioSerasa'
						| translate}}</label>
					<div class="col-lg-6">
						<select adsm-domain="DM_TP_ENVIO_SERASA" id="tpEnvioSerasa"
							ng-model="filter.tpEnvioSerasa">
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="modal" class="col-lg-4 control-label">{{'tipoEnvioFaturamento'
						| translate}}</label>
					<div class="col-lg-5">
						<select adsm-domain="DM_TP_ENVIO_FATURAMENTO"
							id="tpEnvioFaturamento" ng-model="filter.tpEnvioFaturamento">
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="modal" class="col-lg-6 control-label">{{'tipoEnvioCobrancaTerceirizada'
						| translate}}</label>
					<div class="col-lg-6">
						<select adsm-domain="DM_TP_ENVIO_COBRANCA_TERCEIRA"
							id="tpEnvioCobrancaTerceira"
							ng-model="filter.tpEnvioCobrancaTerceira">
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="modal" class="col-lg-4 control-label">{{'tipoEnvioCartaCobranca'
						| translate}}</label>
					<div class="col-lg-5">
						<select adsm-domain="DM_TP_ENVIO_CARTA_COBRANCA"
							id="tpEnvioCartaCobranca" ng-model="filter.tpEnvioCartaCobranca">
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label for="modal" class="col-lg-4 control-label">{{'tipoEnvioCobrancaTerceirizadaProAtiva'
						| translate}}</label>
					<div class="col-lg-5">
						<select adsm-domain="DM_TP_ENVIO_COBRANCA_PRO_ATIVA"
							id="tpEnvioCobrancaTerceiraProAtiva"
							ng-model="filter.tpEnvioCobrancaTerceiraProAtiva">
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<label for="periodoEmissaoInicial" class="col-lg-4 control-label">{{'dataAlteracao'
					| translate}}</label>
				<div class="col-lg-8">
					<div class="row">
						<div class="col-sm-5">
							<input id="periodoEmissaoInicial" adsm-date-picker
								ng-model="filter.periodoEmissaoInicial" mask="date"
								class="form-control" data-end="filter.periodoEmissaoFinal">
						</div>
						<div class="col-sm-5">
							<input id="periodoEmissaoFinal" adsm-date-picker
								ng-model="filter.periodoEmissaoFinal" mask="date"
								class="form-control" data-start="filter.periodoEmissaoInicial">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<table adsm-table="listTableParams"
				class="table adsm-table-hover table-condensed table-clickable adsm-table"
				style="width: 100%" show-checkboxes="true">
				<tbody>
					<tr ng-repeat="row in page" ng-click="detail(row)">
						<td column-title="cliente" sortable="nmCliente"
							inline-property-filter="nmCliente"
							style="min-width: 140px; max-width: 400px;">{{row.cliente.nmPessoa}}</td>
						<td column-title="tpCliente" sortable="'tpCliente'"
							inline-property-filter="tpCliente">{{row.tpClienteFinanceiro.descriptionAsString}}</td>
						<td column-title="tpEnvioFaturamento"
							sortable="tpEnvioFaturamento"
							inline-property-filter="tpEnvioFaturamento">{{row.tpEnvioFaturamento.descriptionAsString}}</td>
						<td column-title="tpEnvioCobranca" sortable="tpEnvioCobranca"
							inline-property-filter="tpEnvioCobranca">{{row.tpEnvioCartaCobranca.descriptionAsString}}</td>
						<td column-title="tpEnvioSerasa" sortable="'tpEnvioSerasa'"
							inline-property-filter="tpEnvioSerasa">{{row.tpEnvioSerasa.descriptionAsString}}</td>
						<td column-title="tpEnvioCobrancaTerceira"
							sortable="'tpEnvioCobrancaTerceira'"
							inline-property-filter="tpEnvioCobrancaTerceira">{{row.tpEnvioCobrancaTerceira.descriptionAsString}}</td>
						<td column-title="dataHoraAlteracao"
							inline-property-filter="dhAlteracao" sortable="'dhAlteracao'">{{row.dataAlteracao}}</td>
						<td column-title="usuarioAlteracao"
							inline-property-filter="nmUsuario" sortable="'nmUsuario'">{{row.usuario.nmUsuario}}</td>
						
						<td column-title="tipoEnvioCobrancaTerceirizadaProAtiva">{{row.tpEnvioCobrancaTerceiraProAtiva.descriptionAsString}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</form>