<form class="form-horizontal content-padding" data-ng-submit="store()">

	<div class="fixed-top">
		<button type="button" data-ng-click="clearData()" class="btn btn-default btn-lg pull-right" id="limparDados">
			{{'limpar' |  translate }}
		</button>
		<button type="submit" class="btn btn-default btn-lg pull-right" id="store" permission="salvar">
			{{'salvar' |  translate }}
		</button>
	</div>

	<div class="row">
		<div class="row">
			<div class="col-sm-8">
				<div class="form-group">
					<label class="col-lg-3 control-label">{{'cliente' |
						translate }}</label>
					<div class="col-lg-7">
						<div class="multi-input">
							<div class="multi-input">
								<div class="col-xs-4">
									<input lms-cliente ng-model="data.cliente" id="cliente"
										value="{{ data.cliente.nrIdentificacao }}" class="form-control" required>
								</div>
								<div class="col-xs-8">
									<input type="text" disabled class="form-control"
										value="{{ data.cliente.nmPessoa }}" id="cliente.nmPessoa">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="modal" class="col-lg-4 control-label">{{'tipoCliente'
						| translate}}</label>
					<div class="col-lg-5">
						<select adsm-domain="DM_TP_CLIENTE_FINANCEIRO"
							id="tpClienteFinanceiro"
							ng-model="data.tpClienteFinanceiro" required>
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="modal" class="col-lg-4 control-label">{{'tipoEnvioFaturamento' | translate}}</label>
					<div class="col-lg-5">
						<select adsm-domain="DM_TP_ENVIO_FATURAMENTO"
							id="tpEnvioFaturamento"
							ng-model="data.tpEnvioFaturamento" required>
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="modal" class="col-lg-4 control-label">{{'tipoEnvioCartaCobranca' | translate}}</label>
					<div class="col-lg-5">
						<select adsm-domain="DM_TP_ENVIO_CARTA_COBRANCA"
							id="tpEnvioCartaCobranca"
							ng-model="data.tpEnvioCartaCobranca" required>
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="modal" class="col-lg-6 control-label">{{'tipoEnvioSerasa' | translate}}</label>
					<div class="col-lg-6">
						<select adsm-domain="DM_TP_ENVIO_SERASA" id="tpEnvioSerasa"
							ng-model="data.tpEnvioSerasa" required>
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="modal" class="col-lg-6 control-label">{{'tipoEnvioCobrancaTerceirizada' | translate}}</label>
					<div class="col-lg-6">
						<select adsm-domain="DM_TP_ENVIO_COBRANCA_TERCEIRA"
							id="tpEnvioCobrancaTerceira"
							ng-model="data.tpEnvioCobrancaTerceira" required>
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="modal" class="col-lg-4 control-label">{{'tipoEnvioCobrancaTerceirizadaProAtiva'
						| translate}}</label>
					<div class="col-lg-5">
						<select adsm-domain="DM_TP_ENVIO_COBRANCA_PRO_ATIVA"
							id="tpEnvioCobrancaTerceiraProAtiva"
							ng-model="data.tpEnvioCobrancaTerceiraProAtiva" required>
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="modal" class="col-lg-6 control-label">{{'observacoes'
						| translate}}</label>
					<div class="col-xs-4">
						<textarea ng-model="data.observacao" id="observacao" />
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{'usuarioAlteracao'
							| translate }}</label>
						<div class="col-xs-8">
							<input type="text" disabled class="form-control"
								value="{{usuarioLogado.usuario}}" id="data.nmUsuario">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="dataAlteracao" class="col-lg-4 control-label">{{'dataAlteracao' | translate}}</label>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-sm-5">
								<input id="dataAlteracao" disabled adsm-date-picker
									ng-model="tmp.dataAlteracao" mask="date" data-start="tmp.dataAlteracao"
									class="form-control">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</form>
