<form ng-submit="exportSaldoCsv()">
<div class="alert-container" data-ng-show="popupAlerts.length">
	<alert data-ng-repeat="alert in popupAlerts" type="{{alert.type}}" close="closeAlert($index)">
		<span data-ng-bind="alert.msg"></span>
	</alert>
</div>
<div class="modal-body">
	
	<div class="row">
		<div adsm-add-field data-boxSize="10" data-label="dataDeCorte" data-labelSize="4" data-fieldSize="8">
		 	<input
			id="dataDeCorte"
			adsm-date-picker
			ng-model="data.dataDeCorte"
			mask="date"
			class="form-control"
			end="dataDeCorteMax"
			required />
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" class="btn">Exportar</button>
	<button type="button" class="btn" ng-click="close()">Fechar</button>
</div>
</form>