<form class="form-horizontal content-padding" data-ng-submit="find()">

	<div class="fixed-top">
		<div ng-include
			src="contextPath+'js/app/common/view/templates/form-buttons-list.html'"></div>
	</div>


	<div class="form-horizontal">

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="modal" class="col-lg-4 control-label">{{'tipo'
						| translate}}</label>
					<div class="col-lg-5">
						<select adsm-domain="DM_TP_MODELO_MENSAGEM" id="tpModeloMensagem"
							ng-model="filter.tpModeloMensagem">
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-lg-4 control-label">{{'vigenteem'
						| translate }}</label>
					<div class="col-lg-5">
						<input id="dtVigenciaInicial" adsm-date-picker
							ng-model="filter.dtVigencia" mask="date"
							class="form-control" data-end="filter.dtVigencia">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
				<table adsm-table="listTableParams"
					class="table adsm-table-hover table-condensed table-clickable adsm-table"
					style="width: 100%" show-checkboxes="true">
					<tbody>
						<tr ng-repeat="row in page" ng-click="detailItem(row)">

							<td column-title="descricao"
								>{{row.dsModeloMensagem}}</td>
							<td column-title="tipo"
								>{{row.tpModeloMensagem.description.value}}</td>
							<td column-title="vigenciaInicial"
								>{{row.dtVigenciaInicial}}</td>
							<td column-title="vigenciaFinal"
								>{{row.dtVigenciaFinal}}</td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>
</form>
