<div class="content" style="background-color: white; padding: 20px;">
	<div class="fixed-top">
		<div class="content">				
			<button data-ng-click="openModalDados(data.idModeloMensagem, true);"  ng-hide="data.workflow" data-adsm-loading="criando" class="btn btn-default btn-lg pull-right" id="novoEndereco" permission="novoEndereco">
				{{'incluir' | translate}}
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<table adsm-table="listDadosModeloTableParams"
				class="table adsm-table-hover table-condensed table-clickable adsm-table"
				style="width: 100%" show-checkboxes="true"
				>
				<tbody>
					<tr ng-repeat="row in page" ng-click="detailDadoModelo(row)">
						<td column-title="nomeDado" sortable="modelo.nomeDado"
							>{{row.nome}}</td>
						<td column-title="tipoDado" sortable="modelo.tpDado"
							>{{row.tipo}}</td>
						<td column-title="descricao" sortable="modelo.descricao"
							>{{row.descricao}}</td>
						<td column-title="conteudo" sortable="modelo.conteudo"
							>{{row.conteudo}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>