<form class="form-horizontal content-padding" data-ng-submit="storeFiles()"> 
 
	
	<div class="fixed-top">
		<button type="button" data-ng-click="clearFilter()" class="btn btn-default btn-lg pull-right" id="limpar">
			{{'limpar' | translate }}
		</button>

		<button type="submit" data-adsm-loading="listTableParams.loading" class="btn btn-default btn-lg pull-right" id="consultar">
			{{'consultar' | translate }}
		</button>
		
		
	</div>
	
	<div class="row"> 
		<div adsm-add-field data-boxSize="8" data-label="descricao" data-labelSize="6" > 
			<input 
				type="text" 
				value="{{data.dsModeloMensagem}}"
				ng-model="data.dsModeloMensagem"  
				id="descricao"  
				required /> 
		</div> 
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="tipo" data-labelSize="6">
			<select adsm-domain="DM_TP_MODELO_MENSAGEM" id="tpModeloMensagem" ng-model="data.tpModeloMensagem" required>
				<option value=""></option>
			</select>
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="vigencia" data-labelSize="6">
			<div class="multi-input">
				<div class="col-xs-6">
						<input id="dtVigenciaInicial" adsm-date-picker ng-model="data.dtVigenciaInicialY" value="data.dtVigenciaInicialY" mask="date" class="form-control" required />
				</div>
				
				<div class="col-xs-6">
						<input id="dtVigenciaFinal" adsm-date-picker ng-model="data.dtVigenciaFinalY" value="data.dtVigenciaFinalY" mask="date" class="form-control"  />
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="modeloAssunto" data-labelSize="6" >
			<div id="dcModeloAssunto" data-adsm-file-upload="fileUploadParams" data-post-select="myPostSelectFunction" required></div>
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="modeloCorpo" data-labelSize="6" >
			<div id="dcModeloCorpo"  data-adsm-file-upload="fileUploadParams1" data-post-select="myPostSelectFunction" required></div>
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="funcionario" data-labelSize="6">
			<input type="text" class="form-control" ng-model="data.usuario.nmUsuario" disabled />
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="dataEfetivada" data-labelSize="6">
			<input id="dhAlteracao" adsm-date-picker ng-model="data.dhAlteracao" mask="date" class="form-control" disabled />
		</div>
	</div>
</form> 
