<form class="form-horizontal content-padding"> 
 
  
	<div class="fixed-top">
		<div class="content">
			<button type="button"  data-ng-click="cloneTrtMunicipio()" class="btn btn-default btn-lg pull-right" ng-disabled="false">
				{{'clone' | translate }}
			</button>
		</div>
	</div>
	
	<div class="row">
		<div adsm-add-field data-label="tabelaBase" data-boxSize="6" data-labelSize="3" data-fieldSize="8">
			<input lms-tabela-base type="text" class="form-control" id="tabelaBase" required ng-model="data.tabelaBase" >
		</div>
	</div>
			
	<div class="row">	
		<div adsm-add-field data-label="tabelaNova" data-boxSize="6" data-labelSize="3" data-fieldSize="8">
			<input lms-tabela-base type="text" class="form-control" id="tabelaNova" required ng-model="data.tabelaNova" >
		</div>
	</div>
	

</form> 
