<html>
	<head><title>Retorno de agendamento de processos ADSM</title></head>
	<body>
		<h3>Retorno da gera&ccedil;&atilde;o dos dados do estoque dos dispositivos de unitiza&ccedil;&atilde;o</h3>
		<br><br>
		<hr>
		<h3>Resultado:</h3>
		<br>
		#if ($jobException)
			<h3>Gera&ccedil;&atilde;o dos dados de estoque executada sem sucesso.</h3>
			<p>Exce&ccedil;&atilde;o: $jobException</p>
			<p>StackTrace:</p>
			<pre>
			$jobExceptionStackTrace
			</pre>
		#else
			<h3>Gera&ccedil;&atilde;o dos dados de estoque executada com sucesso.</h3>
		#end
		<hr>
	</body>
</html>