<form class="form-horizontal content-padding" data-ng-submit="find()"> 
 
	<div class="fixed-top">
		<button
			type="button"
			data-ng-click="limpar()"
			class="btn btn-default btn-lg pull-right"
			id="limpar">{{'limpar' | translate }}</button>
		<button
			type="submit"
			class="btn btn-default btn-lg pull-right"
			id="visualizar">{{'visualizar' | translate }}</button>
	</div>
	 
	<!-- FILIAL -->
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="filial" data-labelSize="3" data-multiSize="4,8">
			<input
				lms-filial
				class="form-control"
				id="filial"
				ng-model="filter.filial"
				ng-required="true">

			<input
				type="text"
				class="form-control"
				id="filial.nmFilial"
				value="{{ filter.filial.nmFilial }}"
				disabled="true">
		</div>

	</div>
	
	<!-- SITUACAO -->
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="situacao" data-labelSize="3" data-fieldSize="6">
			<select
				adsm-domain="DM_SITUACAO_CIOT"
				id="idSituacao"
				ng-model="filter.tpSituacao">
				<option value=""></option>
			</select>
		</div>
	</div>
	
	<!-- OPERACAO -->
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="operacao" data-labelSize="3" data-fieldSize="6">
			<select
				adsm-domain="DM_TIPO_CONTROLE_CARGAS"
				id="idTpControleCarga"
				ng-model="filter.tpControleCarga">
				<option value=""></option>
			</select>
		</div>
	</div>
	
	<!-- PERIODO GERACAO -->
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="periodoGeracao" data-labelSize="3" data-multiSize="4,4">
			<input
				id="periodoInicial"
				adsm-date-picker
				ng-model="filter.periodoInicial"
				mask="date"
				class="form-control"
				data-end="filter.periodoFinal"
				data-maxinterval="{{periodo.maxInterval}}"
				required>

			<input
				id="periodoFinal"
				adsm-date-picker
				ng-model="filter.periodoFinal"
				mask="date"
				class="form-control"
				data-start="filter.periodoInicial"
				data-maxinterval="{{periodo.maxInterval}}"
				required>
		</div>
	</div>
 
</form> 
