<form class="form-horizontal content-padding" data-ng-submit="find()"> 
 
	<div class="fixed-top"> 
			
			<button type="button" data-ng-click="clearFilter()" class="btn btn-default btn-lg pull-right" id="limpar">
				{{'limpar' |  translate }}
			</button>
			<button type="submit" data-adsm-loading="listTableParams.loading" class="btn btn-default btn-lg pull-right" id="consultar">
				{{'consultar' |  translate }}
			</button>
	</div> 

 	<div class="form-horizontal">
		<div class="row">
			<div class="col-sm-10">
				<div class="form-group">
					<label class="col-lg-3 control-label">{{'fatura' |
						translate }}</label>
						<div class="multi-input">
							<div class="col-sm-1">
								<input lms-filial ng-model="filter.filial" id="filial"
									class="form-control" >
							</div>
							
							<div class="col-sm-2">
								<input lms-fatura="{filial: filter.filial}" ng-disabled="!filter.filial" ng-model="filter.fatura" id="fatura"
									class="form-control" >
							</div>
						</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-10">
				<div class="form-group">
					<label for="dataCorte" class="col-lg-3 control-label">{{'vigenteEm'
						| translate}}</label>
					<div class="col-lg-6">
						<div class="row">
							<div class="col-sm-5">
								<input id="dtVigente" adsm-date-picker
									ng-model="filter.dtVigente" mask="date"
									class="form-control" data-end="filter.dtVigente">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
 
	<div class="row">
		<div class="col-sm-12">
				<table adsm-table="listTableParams"
				class="table adsm-table-hover table-condensed table-clickable adsm-table"
				style="width: 100%">
					<tbody>
						<tr ng-repeat="row in page" ng-click="detail(row)">
							<td column-title="fatura">{{row.filial.sgFilial}} {{row.fatura.nrFatura}}</td>
							<td column-title="dtVigenciaInicial" sortable="'dtVigenciaInicial'">{{row.dtVigenciaInicialFormatada}}</td>
							<td column-title="dtVigenciaFinal" sortable="'dtVigenciaFinal'">{{row.dtVigenciaFinalFormatada}}</td>
							<td column-title="dataHoraAlteracao">{{row.dataAlteracaoFormatada}}</td>
							<td column-title="usuarioAlteracao">{{row.usuario.nmUsuario}}</td>
						</tr>
					</tbody>
				</table>
		</div>
	</div> 
</form> 
