<form class="form-horizontal content-padding" data-ng-submit="store()"> 
 
	<div class="fixed-top"> 
		<button type="button" data-ng-click="carregarPlanilhas()" data-adsm-loading="exportando" class="btn btn-default btn-lg pull-right" id="carregarPlanilha">
			{{'carregarPlanilha' |  translate }}
		</button> 
		
		<div ng-include src="contextPath+'js/app/common/view/templates/form-buttons-cad.html'"></div>  
	</div> 
	
	<div class="row"> 
		<div adsm-add-field data-boxSize="6" data-label="fatura" data-labelSize="4" data-fieldSize="6" data-multiSize="4">
			<input lms-filial required ng-model="data.filial" id="filial" class="form-control" />
			<input lms-fatura="{filial: data.filial}" ng-disabled="!data.filial" required ng-model="data.fatura" id="fatura" class="form-control" >
		</div>
	</div>
	<div class="row"> 
		<div adsm-add-field data-boxSize="6" data-label="vigenciaInicial" data-labelSize="4" data-fieldSize="4" >
			<input id="dtVigenciaInicial" required adsm-date-picker
									ng-model="data.dtVigenciaInicial" mask="date" data-start="data.dtVigenciaInicial"
									class="form-control" />
		</div>
	</div>
	<div class="row"> 
		<div adsm-add-field data-boxSize="6" data-label="vigenciaFinal" data-labelSize="4" data-fieldSize="4" >
			<input id="dtVigenciaFinal" adsm-date-picker
								ng-model="data.dtVigenciaFinal" mask="date" data-start="data.dtVigenciaFinal"
								class="form-control" />
		</div>
	</div>
	
	<div class="row"> 
		<div adsm-add-field data-boxSize="6" data-label="observacoes" data-labelSize="4" >
			<textarea ng-model="data.obExcecaoNegativacaoSerasa" id="obExcecaoNegativacaoSerasa" maxlength="2000"/>
		</div>
	</div>
	
	<div class="row"> 
		<div adsm-add-field data-boxSize="6" data-label="usuarioAlteracao" data-labelSize="4" >
			<input type="text" disabled class="form-control" value="{{usuarioLogado.usuario}}" id="data.nmUsuario">
		</div>
	</div>
	
	<div class="row"> 
		<div adsm-add-field data-boxSize="6" data-label="dataAlteracao" data-labelSize="4" data-fieldSize="4" >
			<input id="dataAlteracao" disabled adsm-date-picker
								ng-model="tmp.dataAlteracao" mask="date" data-start="tmp.dataAlteracao"
								class="form-control" />
		</div>
	</div>
		
	 
</form> 
