<div class="modal-body">
	
	<div class="form-horizontal">
	
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group" ng-click="percentClick()">
					<label for="tabelaBase" class="col-lg-4 control-label">{{'percentual' | translate}}:</label>
					<div class="col-lg-8">
						<input type="text" class="form-control" id="percent" ng-model="valorPercentual" data-numeric="{mDec: '2', vMax: '999'}" data-percentual />
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group" ng-click="valueClick()">
					<label for="tabelaBase" class="col-lg-4 control-label">{{'valor' | translate}}:</label>
					<div class="col-lg-8">
						<input type="text" class="form-control" id="value" ng-model="valorDecimal" data-numeric="{mDec: '5', vMax: '9999'}"  />
					</div>
				</div>
			</div>
		</div>
		
	</div>		

</div>	
<div class="modal-footer">
	<button class="fix-btn" data-ng-click="changeValue(valorPercentual, valorDecimal);" data-ng-bind="'alterar' | translate"></button>
	<button class="fix-btn" data-ng-click="close()" data-ng-bind="'cancelar' | translate"></button>
</div>	
