
<div class="row">
	<table class="table adsm-table-hover table-condensed table-clickable adsm-table" style="width: 90%;margin-left:5%;">
		<thead>
			<tr>
				<th ng-repeat="key in keys(list[0]) | filter:removeKey">  {{key}}  </th>
				<th ng-if="list.length === 0">  {{'tarifa' |  translate }}  </th>
			</tr>
		</thead>
		<tbody ng-repeat="item in list">
			<tr>	
				<td ng-repeat="key in keys(item) | filter:removeKey"> 
					<span> {{ key.charAt(0) !== 'T' ? (item[key] | number:2) : item[key]  }} </span> 
				</td>			
			</tr>
		</tbody>
	</table>
</div>
