
<div class="fixed-top">
	<button type="button" data-ng-click="loadAbaTaxa()" class="btn btn-default btn-lg pull-right" id="reset" ng-disabled="data.efetivado">
			{{'reset' | translate }}
	</button>
	
	<button type="button" data-ng-click="salvar()" class="btn btn-default btn-lg pull-right" id="salvarTaxas" ng-disabled="data.efetivado">
			{{'salvar' | translate }}
	</button>
	
</div>

<div class="row">
	<table class="table adsm-table-hover table-condensed table-clickable adsm-table" style="width: 90%;margin-left:5%;">
		<thead>
			<tr>
				<th> {{'faixaProgressiva' |  translate }} </th>
				<th data-ng-click="openModalValue('-1', 'VALOR_ORIGINAL', 'VALOR_CALCULADO', 'PERCENTUAL')"  colspan="2"> {{'valor' |  translate }} </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in list">	
				<td> {{item.FAIXA_PROGRESSIVA}} </td>									
				<td data-ng-click="!item.VALOR_ORIGINAL || openModalValue($index, 'VALOR_ORIGINAL', 'VALOR_CALCULADO', 'PERCENTUAL')"> {{item.VALOR_CALCULADO  | number:2}} </td>
				<td data-ng-click="!item.VALOR_ORIGINAL || openModalValue($index, 'VALOR_ORIGINAL', 'VALOR_CALCULADO', 'PERCENTUAL')"> {{item.PERCENTUAL | number:2}} <span ng-hide="!item.VALOR_ORIGINAL">%</span> </td>
			</tr>
		</tbody>
	</table>
</div>
