<form novalidate ng-class="{submitted: submitted}" class="form-horizontal content-padding" ng-submit="consultar(filterParams)">

	<div class="fixed-top">
		<button type="button" data-ng-click="limpar()" class="btn btn-default btn-lg pull-right" id="limpar">
			{{'limpar' | translate }}
		</button>
		
		<button type="submit" data-adsm-loading="listTableParams.loading" class="btn btn-default btn-lg pull-right" id="consultar">
			{{'consultar' | translate }}
		</button>
	</div>
	
	<div class="form-horizontal">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="tabelaBase" class="col-lg-3 control-label">{{'tabelaBase' | translate}}</label>
					<div class="col-lg-9">
						<input
						lms-tabela-base 
						type="text" class="form-control" id="tabelaBase" ng-model="filterParams.filtros.tabelaBase" >
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="tabelaNova" class="col-lg-4 control-label">{{'tabelaNova' | translate}}</label>
					<div class="col-lg-8">
						<input lms-tabela-nova type="text" class="form-control" id="tabelaNova" ng-model="filterParams.filtros.tabelaNova" >
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			
			<div class="col-sm-3">
				<div class="form-group">
					<label for="filial" class="col-lg-6 control-label">{{'filial' | translate}}</label>
					<div class="col-lg-6">
						<input
						lms-filial 
						type="text" class="form-control" id="filial" ng-model="filterParams.filtros.filial">
					</div>
				</div>
			</div>
			
			<div class="col-sm-3">
				<div class="form-group">
					<label for="nroReajuste" class="col-lg-5 control-label">{{'nroReajuste' | translate}}</label>
					<div class="col-lg-7">
						<input type="text" class="form-control" id="nroReajuste" ng-model="filterParams.filtros.nrReajuste" data-numeric/>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="form-group">
					<label for="dtGeracao" class="col-lg-4 control-label">{{'dtGeracao' | translate}}</label>
					<div class="col-lg-8">
					
						<div class="multi-input">
							<div class="col-xs-6">
								<input id="dtGeracaoInicial" adsm-date-picker ng-model="filterParams.filtros.dtGeracaoInicial" mask="date" class="form-control" data-end="filterParams.filtros.dtGeracaoFinal">
							</div>
							
							<div class="col-xs-6">
								<input id="dtGeracaoFinal" adsm-date-picker ng-model="filterParams.filtros.dtGeracaoFinal" mask="date" class="form-control" data-start="filterParams.filtros.dtGeracaoInicial">
							</div>
							
						</div>
						
					</div>
				</div>	
			</div>
			
		</div>
		
	</div>
	
	<div class="row">
		<div class="col-sm-12">
				<table adsm-table="listTableParams" class="table adsm-table-hover table-condensed table-clickable adsm-table" style="width: 100%">
					<tbody>
						<tr ng-repeat="row in page track by $index" ng-click="detail(row)">
							
							<td column-title="tabelaBase" style="min-width: 100px;">
								{{row.tabBase}}
							</td>
							
							<td column-title="tabelaNova" style="min-width: 100px;">
								{{row.tabNova}}
							</td>
							
							<td column-title="nroReajuste" style="min-width: 100px;">
								{{row.filial}} - {{row.nrReajuste}}
							</td>	
							
							<td column-title="percentualReajusteGeral" style="min-width: 100px;">
								{{row.percentualReajusteGeral | number:2}}
							</td>							
							
							<td column-title="dtGeracao" style="min-width: 100px;">
								{{row.dtGeracao}}
							</td>
							
							<td column-title="vigenciaInicial" style="min-width: 100px;">
								{{row.dtVigenciaInicial}}
							</td>
							
							<td column-title="vigenciaFinal" style="min-width: 100px;">
								{{row.dtVigenciaFinal}}
							</td>
							
							<td column-title="efetivado" style="min-width: 100px;">
								{{(row.efetivado)?'S':'N'}}
							</td>
						
						</tr>
					</tbody>
				</table>
		</div>
	</div> 
	
	
	
	 
</form>	