<div class="nav-content">
	<div adsm-sub-tab>

		<div adsm-tab-panel="parcelaFreteQuilo" heading="{{'freteQuilo' | translate}}" ng-controller="ReajusteTabelaDePrecoParcelaFreteQuiloController" event="loadAbaFreteQuilo()">
			<div ng-include="contextPath+'js/app/tabeladeprecos/reajustetabeladepreco/view/reajustetabeladeprecoParcelaFreteQuilo.html'"></div>
		</div>
		
		<div adsm-tab-panel="parcelaAdvalorem" heading="{{'advalorem' | translate}}" ng-controller="ReajusteTabelaDePrecoParcelaAdvaloremController" event="loadAbaAdvalorem()">
			<div ng-include="contextPath+'js/app/tabeladeprecos/reajustetabeladepreco/view/reajustetabeladeprecoParcelaAdvalorem.html'"></div>
		</div>

		<div adsm-tab-panel="parcelaGeneralidades" heading="{{'generalidades' | translate}}" ng-controller="ReajusteTabelaDePrecoParcelaGeneralidadeController" event="loadAbaGeneralidade()">
			<div ng-include="contextPath+'js/app/tabeladeprecos/reajustetabeladepreco/view/reajustetabeladeprecoParcelaGeneralidades.html'"></div>
		</div>
	
		<div adsm-tab-panel="parcelaServicosAdicionais" heading="{{'servicosAdicionais' | translate}}" ng-controller="ReajusteTabelaDePrecoParcelaServicoAdicionaisController" event="loadAbaServAdicionais()">
			<div ng-include="contextPath+'js/app/tabeladeprecos/reajustetabeladepreco/view/reajustetabeladeprecoParcelaServicosAdicionais.html'"></div>
		</div>
	
		<div adsm-tab-panel="parcelaTaxas" heading="{{'taxas' | translate}}" ng-controller="ReajusteTabelaDePrecoParcelaTaxaController" event="loadAbaTaxa()">
			<div ng-include="contextPath+'js/app/tabeladeprecos/reajustetabeladepreco/view/reajustetabeladeprecoParcelaTaxa.html'"></div>
		</div>
		
		<div adsm-tab-panel="parcelaPesoRodoviario" heading="{{'fretePesoRodoviario' | translate}}" ng-controller="ReajusteTabelaDePrecoParcelaPesoRodoviarioController" event="loadAbaPesoRodoviario()" ng-if="data.tipo==='T' || data.tipo==='M'">
			<div ng-include="contextPath+'js/app/tabeladeprecos/reajustetabeladepreco/view/reajustetabeladeprecoParcelaPesoRodoviario.html'"></div>
		</div>

		<div adsm-tab-panel="parcelaTaxaCombustivel" heading="{{'taxaCombustivel' | translate}}" ng-controller="ReajusteTabelaDePrecoParcelaTaxaCombustivelController" ng-if="data.tipo==='A' || data.tipo==='C'">
			<div ng-include="contextPath+'js/app/tabeladeprecos/reajustetabeladepreco/view/reajustetabeladeprecoParcelaTaxaCombustivel.html'"></div>
		</div>
		
		<div adsm-tab-panel="parcelaTarifaMinima" heading="{{'tarifaMinima' | translate}}" ng-controller="ReajusteTabelaDePrecoParcelaTarifaMinimaController" ng-if="data.tipo==='A' || data.tipo==='C'">
			<div ng-include="contextPath+'js/app/tabeladeprecos/reajustetabeladepreco/view/reajustetabeladeprecoParcelaTarifaMinima.html'"></div>
		</div>
	
		<div adsm-tab-panel="parcelaPesoAereo" heading="{{'fretePesoAereo' | translate}}" ng-controller="ReajusteTabelaDePrecoParcelaPesoAereoController" ng-if="data.tipo==='A' || data.tipo==='C'">
			<div ng-include="contextPath+'js/app/tabeladeprecos/reajustetabeladepreco/view/reajustetabeladeprecoParcelaPesoAereo.html'"></div>
		</div>
	
		<div adsm-tab-panel="parcelaTaxaTerrestre" heading="{{'taxaTerrestre' | translate}}" ng-controller="ReajusteTabelaDePrecoParcelaTaxaTerrestreController" event="loadAbaTaxaTerrestre()" ng-if="data.tipo==='A' || data.tipo==='C'">
			<div ng-include="contextPath+'js/app/tabeladeprecos/reajustetabeladepreco/view/reajustetabeladeprecoParcelaTaxaTerrestre.html'"></div>
		</div>
	
		<div adsm-tab-panel="parcelaPesoDiferenciada" heading="{{'fretePesoDiferenciada' | translate}}" ng-controller="ReajusteTabelaDePrecoParcelaPesoDiferenciadaController" event="loadAbaPesoDiferenciada()" ng-if="data.tipo==='D'">
			<div ng-include="contextPath+'js/app/tabeladeprecos/reajustetabeladepreco/view/reajustetabeladeprecoParcelaPesoDiferenciada.html'"></div>
		</div>
		
	</div>
	
	
	
	
</div>

