<div class="modal-body" data-adsm-loading="consultando">
	<div class="form-horizontal">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="filial" class="col-sm-3 control-label" data-ng-bind="'filial' | translate"></label>
					<div class="col-sm-9">
						<span id="filial" data-ng-bind="dados.sgFilial + ' - ' + dados.nmFantasia" class="form-control"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="terminal" class="col-sm-3 control-label" data-ng-bind="'terminal' | translate"></label>
					<div class="col-sm-9">
						<span id="terminal" data-ng-bind="dados.nmPessoaTerminal" class="form-control"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="descricao" class="col-sm-3 control-label" data-ng-bind="'descricao' | translate"></label>
					<div class="col-sm-9">
						<span id="descricao" data-ng-bind="dados.dsMacroZona" class="form-control"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="nrCodigoBarras" class="col-sm-3 control-label" data-ng-bind="'nrCodigoBarra' | translate"></label>
					<div class="col-sm-9">
						<span id="nrCodigoBarras" data-ng-bind="dados.nrCodigoBarras" class="form-control"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="tpSituacao" class="col-sm-3 control-label" data-ng-bind="'situacao' | translate"></label>
					<div class="col-sm-9">
						<span id="tpSituacao" data-ng-bind="dados.tpSituacao" class="form-control"></span>
					</div>
				</div>
			</div>
		</div>
		<accordion close-others="false" id="accordion">
			<accordion-group is-open="isVolOpen" data-ng-click="loadVolumes()">
				<accordion-heading>
					<span class="glyphicon" ng-class="{'glyphicon-chevron-down': isVolOpen, 'glyphicon-chevron-right': !isVolOpen}"></span>{{'volumes' | translate}}
				</accordion-heading>
					<table adsm-table="volumesTableParams"
						data-adsm-table-internal-loading="true"
						class="table adsm-table-hover table-condensed adsm-table"
						style="width: 100%">
						<tbody>
							<tr ng-repeat="row in page">	
								<td column-title="codigoBarras" 
									style="min-width: 140px; max-width: 400px;">
									{{row.nrVolumeEmbarque}}
								</td>
								<td column-title="localizacao"
									>
									{{row.localizacaoMercadoria ? row.localizacaoMercadoria.dsLocalizacaoMercadoria.value : ""}}{{row.filialLocalizacao ? " - "+row.filialLocalizacao.sgFilial : ""}}
								</td>
								<td column-title="conhecimento"
									>
									{{row.conhecimento.filialOrigem.sgFilial}} {{row.conhecimento.nrConhecimento}}{{row.conhecimento.dvConhecimento ? "-" + row.conhecimento.dvConhecimento : ""}}
								</td>
								<td column-title="volume"
									>
									{{row.nrSequencia }}/{{row.conhecimento.qtVolumes}}
								</td>
							</tr>
						</tbody>
					</table>
			</accordion-group>
			 
			<accordion-group is-open="isDispUtilOpen" data-ng-click="loadDispositivos()">
				<accordion-heading>
					<span class="glyphicon" ng-class="{'glyphicon-chevron-down': isDispUtilOpen, 'glyphicon-chevron-right': !isDispUtilOpen}"></span>
					{{'dispositivosUnitizacao' | translate}}
				</accordion-heading>
				
					<table adsm-table="dispositivosTableParams"
						data-adsm-table-internal-loading="true"
						class="table adsm-table-hover table-condensed adsm-table"
						style="width: 100%">
						<tbody>
							<tr ng-repeat="row in page">	
								<td column-title="numeroIdentificacao"
									style="min-width: 140px; max-width: 400px;">
									{{row.nrIdentificacao }}
								</td>
								<td column-title="localizacao" 
									>
									{{row.dsLocalizacaoMercadoria ? row.dsLocalizacaoMercadoria.value : ""}}{{row.sgFilialLocalizacao ? " - "+row.sgFilialLocalizacao : ""}}
								</td>
								<td column-title="tipoDispositivo"
									>
									{{row.tipoDispositivoUnitizacao.dsTipoDispositivoUnitizacao}}
								</td>
								<td column-title="situacao"
									>
									{{row.tpSituacao.descriptionAsString}}
								</td>
							</tr>
						</tbody>
					</table>
			</accordion-group> 
		</accordion>
	</div>
</div>	
<div class="modal-footer">
	<button class="fix-btn" data-ng-click="close()" data-ng-bind="'fechar' | translate"></button>
</div>	
