<form class="form-horizontal content-padding" data-ng-submit="find()">

	<div class="fixed-top">
		<button type="button" data-ng-click="clearFilter()" class="btn btn-default btn-lg pull-right" id="limpar">
			{{'limpar' |  translate }}
		</button>
		<button type="submit" data-adsm-loading="listTableParams.loading" class="btn btn-default btn-lg pull-right" id="consultar">
			{{'consultar' |  translate }}
		</button>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="regional" data-labelSize="3" data-fieldSize="4">
			<select
				lms-regional-chosen
				id="regional"
				ng-model="filter.regional"
				ng-change="selectRegionalFilter()">
				<option value=""></option>
			</select>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="filial" data-labelSize="3" data-fieldSize="4" data-multiSize="3,9">
			<input type="text" lms-filial ng-model="filter.filial"
					id="filial" maxlength="3" class="form-control"/>
			<input type="text" class="form-control" ng-model="filter.filial.nmFilial" disabled/>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="territorio" data-labelSize="3" data-fieldSize="4">
			<input type="text" class="form-control" ng-model="filter.nmTerritorio" id="territorio" maxlength="50" />
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="scroll-table">
				<table adsm-table="listTableParams"
					class="table adsm-table-hover table-condensed table-clickable adsm-table"
					style="width: 100%"
					show-checkboxes="true"
					data-remove-service="removeByIds()"
					>
					<tbody>
						<tr ng-repeat="row in page" ng-click="detail(row)">

							<td column-title="'regional' | translate" sortable="'dsRegional'"
								inline-property-filter="dsRegional">{{row.dsRegional}}</td>

							<td column-title="'filial' | translate" sortable="'nmFilial'"
								inline-property-filter="nmFilial">{{row.nmFilial}}</td>

							<td column-title="'territorio' | translate" sortable="'nmTerritorio'"
								inline-property-filter="nmTerritorio">{{row.nmTerritorio}}</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</form>
