<form class="form-horizontal content-padding" data-ng-submit="store()">

	<div class="fixed-top">
		<div ng-include src="contextPath+'js/app/common/view/templates/form-buttons-cad.html'"></div>
	</div>


	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'ciaAerea' | translate }}</label>
				<div class="col-lg-9">
					<input
						lms-cia-aerea
						type="text"
						ng-model="data.ciaAerea"
						id="idEmpresa"
						class="form-control"
						required>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'localizacaoCiaAerea' | translate }}</label>
				<div class="col-lg-9">
					<select
						adsm-domain="DM_TIPO_LOCALIZACAO_AWB"
						id="tpLocalizacaoCiaAerea"
						ng-model="data.tpLocalizacaoCiaAerea"
						required>
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'eventoCiaAerea' | translate }}</label>
				<div class="col-lg-9">
					<input type="text" ng-model="data.dsTracking" id="dsTracking" class="form-control" required>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'localizacaoAtual' | translate }}</label>
				<div class="col-lg-9">
					<select
						adsm-domain="DM_TIPO_LOCALIZACAO_AWB"
						id="tpLocalizacaoAtual"
						ng-model="data.tpLocalizacaoAtual">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="alert-container">
			<div class="alert alert-info">
				<p ng-bind-html="'msgCadastroDeParaAWB' | translate"></p>
			</div>
		</div>
	</div>
</form>