<form class="form-horizontal content-padding" data-ng-submit="find()">

	<div class="fixed-top">
			<button type="button" data-ng-click="clearFilter()" class="btn btn-default btn-lg pull-right" id="limpar">
				{{'limpar' |  translate }}
			</button>
			<button type="submit" data-adsm-loading="listTableParams.loading" class="btn btn-default btn-lg pull-right" id="consultar">
				{{'consultar' |  translate }}
			</button>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'ciaAerea' | translate }}</label>
				<div class="col-lg-9">
					<input
						lms-cia-aerea
						type="text"
						ng-model="filter.empresa"
						id="idEmpresa"
						class="form-control"
						required>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'localizacaoCiaAerea' | translate }}</label>
				<div class="col-lg-9">
					<select
						adsm-domain="DM_TIPO_LOCALIZACAO_AWB"
						id="tpLocalizacaoCiaAerea"
						ng-model="filter.tpLocalizacaoCiaAerea">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'eventoCiaAerea' | translate }}</label>
				<div class="col-lg-9">
					<input type="text" ng-model="filter.dsTracking" id="dsTracking" class="form-control">
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{'localizacaoAtual' | translate }}</label>
				<div class="col-lg-9">
					<select
						adsm-domain="DM_TIPO_LOCALIZACAO_AWB"
						id="tpLocalizacaoAtual"
						ng-model="filter.tpLocalizacaoAtual">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
				<table adsm-table="listTableParams"
					show-checkboxes="true"
					data-remove-service="removeByIds()"
					exportcsv="localizacaoAWB"
					>
					<tbody>
						<tr ng-repeat="row in page" ng-click="detail(row)">
							<td column-title="ciaAerea"
								style="min-width: 140px; max-width: 400px;">{{row.ciaAerea.nmPessoa}}</td>

							<td column-title="eventoCiaAerea"
								sortable="'dsTracking'"
								inline-property-filter="dsTracking"
								>{{row.dsTracking}}</td>

							<td column-title="localizacaoCiaAerea" sortable="'tpLocalizacaoCiaAerea.value'"
								inline-property-filter="tpLocalizacaoCiaAerea.value"
								>{{row.tpLocalizacaoCiaAerea.value}}</td>

							<td column-title="localizacaoAtual" sortable="'tpLocalizacaoAtual.value'"
								inline-property-filter="tpLocalizacaoAtual.value"
								>{{row.tpLocalizacaoAtual.value}}</td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>

</form>