<form class="form-horizontal content-padding" data-ng-submit="storeGeneralidadeCliente()">

	<div class="fixed-top">
		<button type="button" data-ng-click="clearFilterGeneralidade()" class="btn btn-default btn-lg pull-right" id="limpar">
			{{'limpar' |  translate }}
		</button>
		<button type="submit" class="btn btn-default btn-lg pull-right" id="btnSalvarGeneralidade" ng-disabled="disableBotoesCrud">
			{{'salvar' |  translate }}
		</button>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="cliente" data-labelSize="3" data-multiSize="3,7">
            <input
				lms-cliente
				ng-model="data.cliente"
				id="cliente"
				class="form-control"
				disabled>
           <input type="text" disabled ng-model="data.cliente.nmPessoa">
		</div>
		<div adsm-add-field data-boxSize="4" data-label="divisaoCliente" data-labelSize="4" data-fieldSize="8">
			<input type="text" disabled ng-model="data.divisaoCliente.nmDivisaoCliente">
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="tabelaPrecos" data-labelSize="3" data-multiSize="3,7">
            <input
				lms-tabela-preco
				ng-model="data.tabelaPreco"
				id="tabelaPreco"
				class="form-control"
				disabled>
           <input type="text" disabled ng-model="data.tabelaPreco.descricao">
		</div>
		<div adsm-add-field data-boxSize="4" data-label="servico" data-labelSize="4" data-fieldSize="8">
            <input type="text" disabled ng-model="data.servico.nomeServico">
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="origem" data-labelSize="3" data-fieldSize="8">
            <input type="text" disabled ng-model="data.dsRotaOrigem">
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="destino" data-labelSize="3" data-fieldSize="8">
            <input type="text" disabled ng-model="data.dsRotaDestino">
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="generalidade" data-labelSize="3" data-fieldSize="8">
			<select
				adsm-chosen
				id="idParcelaPreco"
				ng-model="generalidadeCliente.idParcelaPreco"
				required
				ng-options="parcela.idParcelaPreco as parcela.nmParcelaPreco.value for parcela in generalidades">
				<option value=""></option>
			</select>
		</div>

		<div adsm-add-field data-boxSize="4" data-label="moeda" data-labelSize="4" data-fieldSize="8">
			<input type="text" disabled ng-model="data.tabelaPreco.moeda.siglaSimbolo" />
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="indicador" data-labelSize="3" data-fieldSize="4">
			<select adsm-domain="DM_INDICADOR_PARAMETRO_CLIENTE"
				id="tpIndicador"
				ng-model="generalidadeCliente.tpIndicador"
				ng-change="tpIndicadorChange()"
				required>
				<option value=""></option>
			</select>

		</div>

		<div adsm-add-field data-boxSize="4" data-label="valor" data-labelSize="4" data-fieldSize="8">
 			<input type="text" id="valorGeneralidade" data-numeric data-moeda ng-model="generalidadeCliente.vlGeneralidade" class="form-control" data-numeric data-moeda ng-disabled="valorGeneralidadeDisabled" ng-blur="valorGeneralidadeBlur()"
 			required>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="indicadorDoMinimo" data-labelSize="3" data-fieldSize="4">
			<select adsm-domain="DM_INDICADOR_PARAMETRO_CLIENTE"
				id="tpIndicadorMinimo"
				required
				ng-model="generalidadeCliente.tpIndicadorMinimo"
				ng-change="tpIndicadorMinimoChange()">
				<option value=""></option>
			</select>
		</div>

		<div adsm-add-field data-boxSize="4" data-label="valorDoMinimo" data-labelSize="4" data-fieldSize="8">
			<input type="text" required id="vlMinimo" ng-model="generalidadeCliente.vlMinimo" class="form-control" data-numeric data-moeda ng-disabled="psMinimoDisabled" ng-blur="psMinimoBlur()" >
		</div>
	</div>


	<table adsm-table="generalidadeClienteTable"
		data-adsm-table-internal-loading="true"
		class="table adsm-table-hover table-condensed table-clickable adsm-table"
		style="width: 100%"
		show-checkboxes="true"
		data-disabled-remove-button = "disableBotoesCrud"
		data-remove-service="removeGeneralidadeClienteTableByIds()">
		<tbody>
			<tr ng-repeat="row in page" ng-click="detailGeneralidadeCliente (row)">
				<td column-title="generalidade" style="min-width: 140px; max-width: 400px;">{{ row.nmParcelaPreco }}</td>
				<td column-title="indicador" style="min-width: 140px; max-width: 400px;">{{ row.tpIndicador }}</td>
				<td column-title="valorIndicador" align="right" style="min-width: 140px; max-width: 400px;">{{ row.vlGeneralidade}}</td>
		</tbody>
	</table>

</form>
