<form class="form-horizontal content-padding">

	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="cliente" data-labelSize="3" data-multiSize="3,7">
            <input
				lms-cliente
				ng-model="data.cliente"
				id="cliente"
				class="form-control"
				disabled>
           <input type="text" disabled ng-model="data.cliente.nmPessoa">
		</div>
		<div adsm-add-field data-boxSize="4" data-label="divisaoCliente" data-labelSize="4" data-fieldSize="8">
			<input type="text" disabled ng-model="data.divisaoCliente.nmDivisaoCliente">
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="tabelaPrecos" data-labelSize="3" data-multiSize="3,7">
            <input
				lms-tabela-preco
				ng-model="data.tabelaPreco"
				id="tabelaPreco"
				class="form-control"
				disabled>
           <input type="text" disabled ng-model="data.tabelaPreco.descricao">
		</div>
		<div adsm-add-field data-boxSize="4" data-label="servico" data-labelSize="4" data-fieldSize="8">
            <input type="text" disabled ng-model="data.servico.nomeServico">
		</div>
	</div>

	<table adsm-table="parametrosPropostaTable"
		data-adsm-table-internal-loading="true"
		class="table adsm-table-hover table-condensed table-clickable adsm-table"
		style="width: 100%"
		show-checkboxes="true"
		data-remove-service="removeParametrosPropostaTableByIds()">
		<tbody>
			<tr ng-repeat="row in page" ng-click="detail(row)">
				<td column-title="zonaOrigem" style="min-width: 140px; max-width: 400px;">{{ row.dsZonaOrigem }}</td>
				<td column-title="paisOrigem" style="min-width: 140px; max-width: 400px;">{{ row.nmPaisOrigem }}</td>
				<td column-title="ufOrigem2" style="min-width: 140px; max-width: 400px;">{{ row.sgUnidadeFederativaOrigem }}</td>
				<td column-title="filialOrigem" style="min-width: 140px; max-width: 400px;">{{ row.sgFilialOrigem }}</td>
				<td column-title="municipioOrigem" style="min-width: 140px; max-width: 400px;">{{ row.nmMunicipioOrigem }}</td>
				<td column-title="aeroportoOrigem" style="min-width: 140px; max-width: 400px;">{{ row.sgAeroportoOrigem }}</td>
				<td column-title="localizacaoOrigem" style="min-width: 140px; max-width: 400px;">{{ row.dsTipoLocalizacaoMunicipioOrigem }}</td>
				<td column-title="grupoRegiaoOrigem" style="min-width: 140px; max-width: 400px;">{{ row.dsGrupoRegiaoOrigem }}</td>
				<td column-title="zonaDestino" style="min-width: 140px; max-width: 400px;">{{ row.dsZonaDestino }}</td>
				<td column-title="paisDestino" style="min-width: 140px; max-width: 400px;">{{ row.nmPaisDestino }}</td>
				<td column-title="ufDestino2" style="min-width: 140px; max-width: 400px;">{{ row.sgUnidadeFederativaDestino }}</td>
				<td column-title="filialDestino" style="min-width: 140px; max-width: 400px;">{{ row.sgFilialDestino }}</td>
				<td column-title="municipioDestino" style="min-width: 140px; max-width: 400px;">{{ row.nmMunicipioDestino }}</td>
				<td column-title="aeroportoDestino" style="min-width: 140px; max-width: 400px;">{{ row.sgAeroportoDestino }}</td>
				<td column-title="localizacaoDestino" style="min-width: 140px; max-width: 400px;">{{ row.dsTipoLocalizacaoMunicipioDestino }}</td>
				<td column-title="grupoRegiaoDestino" style="min-width: 140px; max-width: 400px;">{{ row.dsGrupoRegiaoDestino }}</td>
			</tr>
		</tbody>
	</table>
</form>
