<form class="form-horizontal content-padding" data-ng-submit="find()"> 
 
	<div class="fixed-top"> 
			<div ng-include src="contextPath+'js/app/common/view/templates/form-buttons-list.html'"></div> 
	</div> 
	 
	<div class="row"> 
		<div adsm-add-field data-boxSize="6" data-label="situacaoFatura" data-labelSize="6" > 
			<select adsm-domain="DM_STATUS_ROMANEIO" id="tpSituacaoFatura" ng-model="filter.tpSituacaoFatura" >
						<option value=""></option>
			</select>
		</div> 
		<div adsm-add-field data-boxSize="6" data-label="filialCobranca" data-labelSize="6" multisize="4,8" > 
			<input lms-filial ng-model="filter.filial" id="idFilial" class="form-control" >
			<input ng-model="filter.filial.nmFilial" ng-disabled="true" type="text" id="filialCobrancaNome" />
		</div> 
	</div> 
	
	
	<div class="row"> 
		<div adsm-add-field data-boxSize="6" data-label="situacaoBoleto" data-labelSize="6" > 
			<select adsm-domain="DM_STATUS_BOLETO" id="tpSituacaoBoleto" ng-model="filter.tpSituacaoBoleto" >
						<option value=""></option>
			</select>
		</div> 
		<div adsm-add-field data-boxSize="6" data-label="dataDoMovimento" data-labelSize="6"  multisize="6,6"> 
			<input adsm-date-picker data-mask="date" ng-model="filter.dtMovimentoInicial" data-end="filter.dtMovimentoFinal"/>
			<input adsm-date-picker data-mask="date" ng-model="filter.dtMovimentoFinal" data-start="filter.dtMovimentoInicial"/>
		</div> 
	</div>
	
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="banco" data-labelSize="6"  multisize="4,8">
		 	<input disabled class="form-control text-right" ng-model="filter.banco.nrBanco" id="banco.nrBanco">
		 	<input lms-banco
									ng-model="filter.banco" 
									id="banco"
									class="form-control"
									ng-disabled="dados.disabled"
									ng-change="changeBanco()" />	
		</div>
		<div adsm-add-field data-boxSize="6" data-label="dataDeEmissaoFatura" data-labelSize="6"   multisize="6,6">
			<input adsm-date-picker data-mask="date" ng-model="filter.dtEmissaoFaturaInicial" data-end="filter.dtEmissaoFaturaFinal"/>
			<input adsm-date-picker data-mask="date" ng-model="filter.dtEmissaoFaturaFinal" data-start="filter.dtEmissaoFaturaInicial"/>
		</div>
	</div>  
	
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="somenteLiquidacao" data-labelSize="6" > 
			<select adsm-domain="DM_SIM_NAO" id="somenteLiquidacao" ng-model="filter.somenteLiquidacao" >
						<option value=""></option>
			</select>
		</div>
		<div adsm-add-field data-boxSize="6" data-label="dataDeEmissaoBoleto" data-labelSize="6"  multisize="6,6" >
			<input adsm-date-picker data-mask="date" ng-model="filter.dtEmissaoBoletoInicial" data-end="filter.dtEmissaoBoletoFinal"/>
			<input adsm-date-picker data-mask="date" ng-model="filter.dtEmissaoBoletoFinal" data-start="filter.dtEmissaoBoletoInicial"/>
		</div>
	</div>  
	
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="somenteNaoCadastrado" data-labelSize="6" > 
			<select adsm-domain="DM_SIM_NAO" id="somenteNaoCadastrado" ng-model="filter.somenteNaoCadastrado" >
						<option value=""></option>
			</select>
		</div>
		<div adsm-add-field data-boxSize="6" data-label="dataDeVencimento" data-labelSize="6"  multisize="6,6" >
			<input adsm-date-picker data-mask="date" ng-model="filter.dtVencimentoInicial" data-end="filter.dtVencimentoFinal"/>
			<input adsm-date-picker data-mask="date" ng-model="filter.dtVencimentoFinal" data-start="filter.dtVencimentoInicial"/>
		</div>
	</div>  
	
 
	<div class="row"> 
		<div class="col-sm-12"> 
			<div class="scroll-table"> 
				<table adsm-table="listTableParams" 
					class="table adsm-table-hover table-condensed table-clickable adsm-table" 
					style="width: 100%" 
					show-checkboxes="true" 
					data-remove-service="removeByIds()" 
					> 
					<tbody> 
						<tr ng-repeat="row in page" ng-click="detail(row)"> 
						 
							<td column-title="'numeroBoleto' | translate" sortable="numeroBoleto" 
								inline-property-filter="numeroBoleto" 
								style="min-width: 100px; max-width: 200px;">{{row.numeroBoleto}}</td> 
								
							<td column-title="'numeroBanco' | translate" sortable="numeroBanco" 
								inline-property-filter="numeroBanco" 
								style="min-width: 100px; max-width: 200px;">{{row.numeroBanco}}</td> 
								
							<td column-title="'dataDoMovimento' | translate" sortable="dataDoMovimento" 
								inline-property-filter="dataDoMovimento" 
								style="min-width: 100px; max-width: 200px;">{{row.dataDoMovimento | date:'dd/MM/yyyy'}}</td> 
								
							<td column-title="'mensagemRetorno' | translate" sortable="mensagemRetorno" 
								inline-property-filter="mensagemRetorno" 
								style="min-width: 100px; max-width: 200px;">{{row.mensagemRetorno}}</td> 
								
							<td column-title="'ocorrencia' | translate" sortable="ocorrencia" 
								inline-property-filter="ocorrencia" 
								style="min-width: 100px; max-width: 200px;">{{row.ocorrencia}}</td> 
								
							<td column-title="'descricaoOcorrencia' | translate" sortable="descricaoOcorrencia" 
								inline-property-filter="descricaoOcorrencia" 
								style="min-width: 100px; max-width: 200px;">{{row.descricaoOcorrencia}}</td> 
								
							<td column-title="'motivo' | translate" sortable="motivo" 
								inline-property-filter="motivo" 
								style="min-width: 100px; max-width: 200px;">{{row.motivo}}</td> 
								
							<td column-title="'descricaoMotivo' | translate" sortable="descricaoMotivo" 
								inline-property-filter="descricaoMotivo" 
								style="min-width: 100px; max-width: 200px;">{{row.descricaoMotivo}}</td> 
								
							<td column-title="'valorTotal' | translate" sortable="valorTotal" 
								inline-property-filter="valorTotal" 
								style="min-width: 100px; max-width: 200px;">{{row.valorTotal}}</td> 
								
							<td column-title="'valorDesconto' | translate" sortable="valorDesconto" 
								inline-property-filter="valorDesconto" 
								style="min-width: 100px; max-width: 200px;">{{row.valorDesconto}}</td> 
								
							<td column-title="'valorAbatimento' | translate" sortable="valorAbatimento" 
								inline-property-filter="valorAbatimento" 
								style="min-width: 100px; max-width: 200px;">{{row.valorAbatimento}}</td> 
								
							<td column-title="'valorJuros' | translate" sortable="valorJuros" 
								inline-property-filter="valorJuros" 
								style="min-width: 100px; max-width: 200px;">{{row.valorJuros}}</td> 
								
							<td column-title="'dataHoraInclusao' | translate" sortable="dataHoraInclusao" 
								inline-property-filter="dataHoraInclusao" 
								style="min-width: 100px; max-width: 200px;">{{row.dataHoraInclusao | dateTimeZone}}</td> 
							 
						</tr> 
					</tbody> 
				</table> 
			</div> 
		</div> 
	</div> 
</form> 
