<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!-- -->
<!-- Log4j Configuration -->
<!-- -->
<!-- ===================================================================== -->

<!-- | For more configuration infromation and examples see the Jakarta Log4j 
	| owebsite: http://jakarta.apache.org/log4j -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<!-- ================================= -->
	<!-- Preserve messages in a local file -->
	<!-- ================================= -->

	<!-- A size based file rolling appender -->
	<appender name="FILE" class="org.apache.logging.log4j.core.appender.RollingFileAppender">
		<param name="File" value="${adsm.log4j.path}/lms.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="5000KB" />
		<param name="MaxBackupIndex" value="30" />
		<param name="Threshold" value="${log.level}" />

		<layout class="org.apache.logging.log4j.core.layout.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%C] [%X{loggedUser}] %m%n" />
		</layout>
	</appender>

	<appender name="FILE_CALCULO_FRANQUEADO" class="org.apache.logging.log4j.core.appender.RollingFileAppender">
		<param name="File" value="${adsm.log4j.path}/calculo_franqueado.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="5000KB" />
		<param name="MaxBackupIndex" value="30" />
		<param name="Threshold" value="INFO" />

		<layout class="org.apache.logging.log4j.core.layout.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%C] [%X{loggedUser}] %m%n" />
		</layout>
	</appender>

	<appender name="FILE-LOGFACTOR5" class="org.apache.logging.log4j.core.appender.RollingFileAppender">
		<param name="File" value="${adsm.log4j.path}/lms-logfactor5.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="1000KB" />
		<param name="MaxBackupIndex" value="30" />
		<param name="Threshold" value="${log.level}" />

		<layout class="org.apache.logging.log4j.core.layout.PatternLayout">
			<param name="ConversionPattern"
				value="[slf5s.start]%d{DATE}[slf5s.DATE]%n%p[slf5s.PRIORITY]%n%X{loggedUser}[slf5s.NDC]%n%t[slf5s.THREAD]%n%c[slf5s.CATEGORY]%n%l[slf5s.LOCATION]%n%m%n----&gt; Request XML &lt;----%n%X{requestData}%n[slf5s.MESSAGE]%n%n" />
		</layout>
	</appender>

	<!-- ============================== -->
	<!-- Append messages to the console -->
	<!-- ============================== -->

	<appender name="CONSOLE" class="org.apache.logging.log4j.core.appender.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="${console.log.level}" />
		<layout class="org.apache.logging.log4j.core.layout.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<param name="ConversionPattern" value="%d{HH:mm:ss} %-5p [%c{1}] [%X{loggedUser}] %m%n" />
		</layout>
	</appender>

	<!-- ================ -->
	<!-- Limit categories -->
	<!-- ================ -->

	<!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
	<category name="org.apache">
		<priority value="WARN" />
	</category>

	<category name="org.apache.catalina">
		<priority value="WARN" />
	</category>

	<category name="org.apache.catalina.core.StandardContext">
		<priority value="WARN" />
	</category>

	<category name="net.sf.ehcache">
		<priority value="INFO" />
	</category>

	<category name="org.apache.coyote">
		<priority value="WARN" />
	</category>

	<category name="org.hibernate">
		<priority value="WARN" />
	</category>

	<category name="org.hibernate.util">
		<priority value="ERROR" />
	</category>

	<category name="org.hibernate.util.JDBCExceptionReporter">
		<priority value="FATAL" />
	</category>

	<category name="org.hibernate.event.def.AbstractFlushingEventListener">
		<priority value="FATAL" />
	</category>

	<category name="org.hibernate.hql.ast.QueryTranslatorImpl">
		<priority value="WARN" />
	</category>

	<category name="org.hibernate.engine.QueryParameters">
		<priority value="WARN" />
	</category>

	<category name="org.hibernate.impl">
		<priority value="WARN" />
	</category>

	<category name="org.hibernate.cache">
		<priority value="WARN" />
	</category>

	<category name="org.hibernate.SQL">
		<!-- Modificar a priority para TRACE caso deseje ver as queries SQL. -->
		<priority value="WARN" />
	</category>

	<category name="org.hibernate.type">
		<!-- Modificar a priority para TRACE caso deseje ver os valores que são 
			bindados pelo Hibernate nas queries. -->
		<priority value="INFO" />
	</category>

	<category name="org.springframework">
		<priority value="INFO" />
	</category>

	<category name="org.springframework.transaction">
		<priority value="WARN" />
	</category>

	<category name="org.springframework.beans">
		<priority value="INFO" />
	</category>
	<category name="org.springframework.beans.factory">
		<priority value="WARN" />
	</category>
	<category
		name="com.mercurio.adsm.core.security.guard.model.MethodSecurityInterceptor">
		<priority value="WARN" />
	</category>
	<category name="com.mercurio.adsm.core.util.ADSMAutoProxyCreator">
		<priority value="WARN" />
	</category>
	<category name="com.mercurio.adsm.core.security.guard.web">
		<priority value="WARN" />
	</category>
	<category name="com.mercurio.adsm.core.util.ConfigAggregator">
		<priority value="WARN" />
	</category>
	<category name="com.mercurio.adsm.core.util.ReflectionUtils">
		<priority value="WARN" />
	</category>
	<category
		name="com.mercurio.adsm.core.model.hibernate.AdsmHibernateTemplate">
		<priority value="WARN" />
	</category>
	<category
		name="com.mercurio.adsm.core.model.hibernate.AdsmTransactionInterceptor">
		<priority value="WARN" />
	</category>
	<category name="com.mercurio.adsm">
		<priority value="${log.level}" />
	</category>
	<category name="org.apache.velocity">
		<priority value="WARN" />
	</category>
	<category name="org.springframework.context">
		<priority value="WARN" />
	</category>
	<category name="net.sf.reloadable.resource">
		<priority value="WARN" />
	</category>
	<category name="org.quartz">
		<priority value="INFO" />
	</category>
	<category name="org.quartz.impl.jdbcjobstore">
		<priority value="ERROR" />
	</category>
	<category
		name="com.mercurio.adsm.core.model.distribution.SpringServiceCallImpl">
		<priority value="DEBUG" />
	</category>
	<category name="com.mercurio.adsm.core.web.JsonBrokerServlet">
		<priority value="DEBUG" />
	</category>
	<category name="com.mercurio.adsm.core.web.CelularServlet">
		<priority value="DEBUG" />
	</category>
	<category
		name="com.mercurio.adsm.framework.security.SessionExpiredException">
		<priority value="DEBUG" />
	</category>
	<category
		name="com.mercurio.adsm.core.model.executor.DefaultServiceExecutor">
		<priority value="info" />
	</category>
	<logger name="CALCULO_FRANQUEADO">
		<level value="info" />
		<appender-ref ref="FILE_CALCULO_FRANQUEADO" />
	</logger>
	<!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->

	<root>
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
		<appender-ref ref="FILE-LOGFACTOR5" />
	</root>


</log4j:configuration>
