<style type="text/css">
.my-modal .modal-dialog{
	width: 740px;
}
</style>

<div class="content">
	<form class="form-horizontal content-padding" ng-submit="retornarEntregaAeroporto()">
		<div class="alert-container" data-ng-show="popupAlerts.length">
			<alert data-ng-repeat="alert in popupAlerts" type="{{alert.type}}" close="closeAlert($index)">
				<span data-ng-bind="alert.msg"></span>
			</alert>
		</div>	
	
		<div class="modal-body">
			<div class="row">
				<div adsm-add-field data-label="ocorrencia" data-boxSize="11" data-labelSize="4" data-fieldSize="8">
					<select data-adsm-chosen id="ocorrenciaColeta"
						data-ng-options="obj.cdOcorrenciaEntrega as obj.dsOcorrenciaEntrega for obj in ocorrenciasEntrega | orderBy:'obj.dsOcorrenciaEntrega'"
						data-ng-model="data.cdOcorrenciaEntrega" required>
						<option value=""></option>
					</select>
				</div>
			</div>
			<div class="row">
				<div adsm-add-field data-label="dtHoraOcorrencia" data-boxSize="11" data-labelSize="4" data-fieldSize="8">
					<input adsm-date-time ng-model="data.dhOcorrencia" required />
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default btn-lg pull-right" ng-click="close()">
				{{'fechar' |  translate }}
			</button>
			
			<button type="submit" class="btn btn-default btn-lg pull-right" id="retornarColetas">
				{{'retornar' |  translate }}
			</button>
		</div>
	</form>
</div>