<style type="text/css">
.my-modal .modal-dialog{
	width: 540px;
}
</style>

<div class="content">
	<form class="form-horizontal content-padding" ng-submit="executarEntregasRealizar()">
		<div class="alert-container" data-ng-show="popupAlerts.length">
			<alert data-ng-repeat="alert in popupAlerts" type="{{alert.type}}" close="closeAlert($index)">
				<span data-ng-bind="alert.msg"></span>
			</alert>
		</div>	
	
		<div class="modal-body">
			<div class="row">
				<div adsm-add-field data-label="recebedor" data-boxSize="12" data-labelSize="3" data-fieldSize="9">
					<input type="text" data-ng-model="data.nmRecebedor"  required>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default btn-lg pull-right" ng-click="close()">
				{{'fechar' |  translate }}
			</button>
			
			<button type="submit" class="btn btn-default btn-lg pull-right" id="executarColetas">
				{{'executar' |  translate }}
			</button>
		</div>
	</form>
</div>