<form class="form-horizontal content-padding" data-ng-submit="storeAnexos($event)">
	<div class="fixed-top">
		<button type="submit" 
			class="btn btn-default btn-lg pull-right" 
			id="store">
			{{'salvar' | translate }}
		</button>
	</div>

	<div class="clearfix">				
			<div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label class="col-lg-2 control-label">{{'descricao' | translate }}</label>
							<div class="col-lg-9" style="height: 35px;">
								<input class="form-control" ng-model="tabelaFreteCarreteiroCe.descricao" id="descAnexo" maxlength="250" ng-change="changeDescricao()">	
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label class="col-lg-2 control-label">{{'arquivo' | translate }}</label>
							<div class="col-lg-8">
								<div data-adsm-file-upload="fileUploadParams"></div>
							</div>
							<div class="col-lg-1">
								<button type="button" data-ng-click="addFile();" class="btn btn-default btn-lg pull-right" id="upload">
									{{'adicionar' | translate }}
								</button>
							</div>
						</div>
					</div>
				</div>
									
				<div class="row">
					<div class="col-sm-12">
						<div class="grid-btn-container">
							<button type="button" 
								data-ng-click="removeAnexosByIds()" 
								class="btn btn-default btn-lg" 
								id="excluir" 
								data-adsm-loading="excluindo">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</div>
					</div>
				</div>
			
				<table adsm-table="anexosTableParams"
					class="table table-condensed adsm-table"
					data-show-checkboxes="true"
					style="width: 100%">
					<tbody>
						<tr ng-repeat="row in page" ng-class="{'text-bold' : !row.idAnexoTabelaFreteCe}">	
							<td column-title="descricao"
								ng-attr-title="{{row.dsAnexo}}" 
								style="min-width: 100px; max-width: 250px;">
								{{ row.dsAnexo }}
							</td>
							<td column-title="nomeArquivo"
								ng-attr-title="{{row.nmArquivo}}">
								{{ row.nmArquivo }}
							</td>
							<td column-title="usuario"
								style="min-width: 100px; max-width: 150px;">
								{{ row.nmUsuario }}
							</td>
							<td column-title="dataCriacao"
								style="min-width: 100px; max-width: 100px;"
								align="center">
								{{ row.dhCriacao | dateTimeZone }}
							</td>					
							<td column-title="download"
								style="min-width: 30px; max-width: 30px;"
								align="center">
								<span ng-if="row.idAnexoTabelaFreteCe"
									data-adsm-loading="downloading"
									data-ng-click="downloadFile(row.idAnexoTabelaFreteCe)" 
									class="glyphicon glyphicon-save"/>
								<span ng-if="!row.idAnexoTabelaFreteCe"
									class="glyphicon glyphicon-open"
									title="{{'aguardandoEnvio' | translate}}"/>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>		
</form>