<form class="form-horizontal content-padding" data-ng-submit="find()">

	<div class="fixed-top">
		<div ng-include src="contextPath+'js/app/common/view/templates/form-buttons-list.html'"></div>
	</div>
	
	<div class="row">
		<div adsm-add-field data-boxSize="4" data-label="filial" data-labelSize="2" data-multiSize="3,9">
			<input
				lms-filial
				ng-model="filter.filial" 
				id="filial" 
				class="form-control"
				ng-disabled="!tabelafretecarreteiro.isMatriz"
				required>

			<input
				type="text"
				class="form-control"
				id="filial.nmFilial"
				value="{{ filter.filial.nmFilial }}"
				readonly="readonly">
		</div>
		
		<div adsm-add-field data-boxSize="4" data-label="numeroTabelaFrete" data-labelSize="4">
			<input
				type="text"
				class="form-control text-right"
				id="nrTabelaFreteCarreteiroCe"
				data-numeric
				maxlength="10"
				ng-model="filter.nrTabelaFreteCarreteiroCe">
		</div>
		
		<div adsm-add-field data-label="operacao" data-labelSize="4" data-fieldSize="6">
			<select 
				adsm-domain="DM_TIPO_OPERACAO_TAB_FRETE_CE"
				id="tpOperacao" 
				ng-model="filter.tpOperacao">
				<option value=""></option>
			</select>
		</div>
	</div>		
	
	<div class="row">
		<div adsm-add-field data-label="vinculo" data-labelSize="2" data-fieldSize="6">
			<select 
				adsm-domain="DM_TIPO_VINCULO_TAB_FRETE_CE"
				id="tpVinculo" 
				ng-model="filter.tpVinculo">
				<option value=""></option>
			</select>
		</div>
		
		<div adsm-add-field data-label="vigentes" data-labelSize="4" data-fieldSize="6">
			<select 
				adsm-domain="DM_VIGENCIA_TAB_FC_PADRAO"
				id="tpVigente" 
				ng-model="filter.tpVigente">
				<option value=""></option>
			</select>
		</div>
		
		<div adsm-add-field data-label="periodoVigencia" data-labelSize="4" data-multiSize="6,6">
			<input id="dhVigenciaInicial" 
				adsm-date-time 
				ng-model="filter.dhVigenciaInicial" 
				class="form-control" 
				min-interval="0" 
				max-interval="30"
				max="filter.dhVigenciaFinal">
			
			<input id="dhVigenciaFinal" 
				adsm-date-time  
				ng-model="filter.dhVigenciaFinal"
				class="form-control" 
				min-interval="0" 
				max-interval="30"
				min="filter.dhVigenciaInicial">
		</div>
	</div>
		
	<accordion close-others="false">		
		<accordion-group is-open="isFiltroRotaOpen">
			<accordion-heading>
				<span class="glyphicon" ng-class="{'glyphicon-chevron-down': isFiltroRotaOpen, 'glyphicon-chevron-right': !isFiltroRotaOpen}"></span>
				{{'rota' | translate}}
			</accordion-heading>
			
			<div class="row">
				<div adsm-add-field data-boxSize="6" data-label="filial" data-labelSize="2" data-multiSize="4,8">
			     	<input
						lms-filial
						type="text"
						ng-model="filter.filialRotaColetaEntrega"
						id="filial"
						class="form-control"
						autocomplete="off">

			     	<input
						type="text"
						disabled
						class="form-control"
						ng-model="filter.filialRotaColetaEntrega.nmFilial"
						id="filial.nmFilial">
				</div>
			
				<div adsm-add-field data-boxSize="6" data-label="rota" data-labelSize="2" data-multiSize="4,8">
			     	<input
						type="text"
						disabled
						class="form-control"
						ng-model="filter.rotaColetaEntrega.nrRota"
						id="rotaColetaEntrega.nrRota">

			     	<input
						lms-rota-coleta-entrega="{ idFilial : filter.filialRotaColetaEntrega.idFilial }"
						type="text"
						ng-model="filter.rotaColetaEntrega"
						ng-disabled="!filter.filialRotaColetaEntrega"
						id="rotaColetaEntrega"
						class="form-control"
						autocomplete="off">
				</div>
			</div>
		</accordion-group>
		
		<accordion-group is-open="isFiltroProprietarioOpen">
			<accordion-heading>
				<span class="glyphicon" ng-class="{'glyphicon-chevron-down': isFiltroProprietarioOpen, 'glyphicon-chevron-right': !isFiltroProprietarioOpen}"></span>
				{{'proprietario' | translate}}
			</accordion-heading>
			
			<div class="row">								
				<div adsm-add-field data-boxSize="6" data-label="proprietario" data-labelSize="2" data-multiSize="4,8">
			     	<input
						type="text"
						disabled
						class="form-control"
						ng-model="filter.proprietario.nrIdentificacao"
						id="proprietario.nrIdentificacao">

			     	<input
						lms-proprietario
						type="text"
						ng-model="filter.proprietario"
						id="rota"
						class="form-control"
						autocomplete="off">
				</div>
			</div>
		</accordion-group>
		
		<accordion-group is-open="isFiltroClienteOpen">
			<accordion-heading>
				<span class="glyphicon" ng-class="{'glyphicon-chevron-down': isFiltroClienteOpen, 'glyphicon-chevron-right': !isFiltroClienteOpen}"></span>
				{{'cliente' | translate}}
			</accordion-heading>
			
			<div class="row">
				<div adsm-add-field data-boxSize="6" data-label="cliente" data-labelSize="2" data-multiSize="5,7">
			     	<input
						lms-cliente
						type="text"
						ng-model="filter.cliente"
						id="remetente"
						autocomplete="off"
						class="form-control">
						
					<input
						type="text"
						ng-model="filter.cliente.nmPessoa"
						id="remetente"
						class="form-control"
						readonly="readonly">
				</div>
			</div>
		</accordion-group>
		
		<accordion-group is-open="isFiltroMunicipioOpen">
			<accordion-heading>
				<span class="glyphicon" ng-class="{'glyphicon-chevron-down': isFiltroMunicipioOpen, 'glyphicon-chevron-right': !isFiltroMunicipioOpen}"></span>
				{{'municipio' | translate}}
			</accordion-heading>
			
			<div class="row">
				<div adsm-add-field data-boxSize="6" data-label="pais" data-labelSize="2" data-multiSize="3,9">
					<input ng-disabled="true"
						class="form-control"
						ng-model="filter.pais.sgPais"
						id="pais.sgPais">

			     	<input
						lms-pais
						type="text"
						ng-model="filter.pais"
						id="pais"
						class="form-control"
						autocomplete="off">
				</div>
				
				<div adsm-add-field data-boxSize="6" data-label="uf" data-labelSize="2" data-multiSize="3,9">
					<input ng-disabled="true"
						class="form-control"
						ng-model="filter.unidadeFederativa.sgUnidadeFederativa"
						id="uf.sgUnidadeFederativa">

					<input lms-unidade-federativa="{ idPais : filter.pais.idPais }"
						type="text"
						ng-model="filter.unidadeFederativa"
						id="uf"
						class="form-control"
						ng-disabled="!filter.pais"
						autocomplete="off">
				</div>
			</div>
				
			<div class="row">	
				<div adsm-add-field data-boxSize="6" data-label="municipio" data-labelSize="2">
			     	<input
						lms-municipio="{ idPais : filter.pais.idPais, idUnidadeFederativa : filter.unidadeFederativa.idUnidadeFederativa }"
						type="text"
						ng-model="filter.municipio"
						id="municipio"
						ng-disabled="!filter.unidadeFederativa || !filter.pais"
						class="form-control"
						autocomplete="off">
				</div>
			</div>
		</accordion-group>
		
		<accordion-group is-open="isFiltroMeioTransporteOpen">
			<accordion-heading>
				<span class="glyphicon" ng-class="{'glyphicon-chevron-down': isFiltroMeioTransporteOpen, 'glyphicon-chevron-right': !isFiltroMeioTransporteOpen}"></span>
				{{'transporte' | translate}}
			</accordion-heading>
			
			<div class="row">
				<div adsm-add-field data-boxSize="6" data-label="tipoTransporte" data-labelSize="2">
					<select
						adsm-chosen
						id="idTipoMeioTransporte"
						ng-model="filter.tipoMeioTransporte"
						ng-disabled="filter.meioTransporte"
						ng-options="data as data.dsTipoMeioTransporte for data in tabelafretecarreteiro.listTipoMeioTransporte track by data.idTipoMeioTransporte">
						<option value=""></option>
					</select>
				</div>

				<div adsm-add-field data-boxSize="6" data-label="meioTransporte" data-labelSize="2" data-multiSize="4,8">
			     	<input type="text"
						disabled
						class="form-control"
						ng-model="filter.meioTransporte.nrFrota"
						id="meioTransporte.nrFrota">

			     	<input
						lms-meio-transporte
						type="text"
						ng-model="filter.meioTransporte"
						ng-disabled="filter.tipoMeioTransporte"
						id="rota"
						class="form-control"
						autocomplete="off">
				</div>
			</div>	
		</accordion-group>
	</accordion>
	
	<div class="row">
		<div class="col-sm-12">
			<table adsm-table="listTableParams"
				class="table adsm-table-hover table-condensed table-clickable adsm-table"
				style="width: 100%">
				<tbody>
					<tr ng-repeat="row in page" ng-click="detail(row)">
						<td column-title="sigla"
							sortable="filial.sgFilial"
							style="min-width: 50px; max-width: 60px;">{{row.filial.sgFilial}}</td>
						<td column-title="filial"
							sortable="filial.nmFilial"
							>{{row.filial.nmFilial}}</td>
						<td column-title="numeroTabelaFrete"
							sortable="nrTabelaFreteCarreteiroCe"
							align="right"
							style="min-width: 150px; max-width: 160px;">{{row.nrTabelaFreteCarreteiroCe | lpad: 10 }}</td>						
						<td column-title="operacao"
							sortable="tpOperacao.description.value"
							align="center"
							style="min-width: 90px; max-width: 100px;">{{row.tpOperacao.description.value }}</td>
						<td column-title="vinculo"
							sortable="tpVinculo.description.value"
							align="center"
							style="min-width: 90px; max-width: 100px;">{{row.tpVinculo.description.value }}</td>
						<td column-title="vigenciaInicial"
							sortable="dhVigenciaInicial"
							align="center"
							style="min-width: 150px; max-width: 160px;">{{row.dhVigenciaInicial | dateTimeZone }}</td>										
						<td column-title="vigenciaFinal"
							sortable="dhVigenciaFinal"
							align="center"
							style="min-width: 150px; max-width: 160px;">{{row.dhVigenciaFinal | dateTimeZone }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>