<style type="text/css">
	.ui-datepicker {
		z-index: 1200 !important;
	}
	
	.modal-vigencia .modal-dialog {		
		min-width: 500px;
	}
</style>

<div class="content" style="background-color: white; padding: 20px;">
	<form name="modalForm" novalidate ng-class="{submitted: submitted}" class="form-horizontal" ng-submit="inativar()">	
		<div class="clearfix">
			<div class="form-horizontal">
				<div class="alert-container" data-ng-show="popupAlerts.length">
					<alert data-ng-repeat="alert in popupAlerts" type="{{alert.type}}" close="closeAlert($index)">
						<span data-ng-bind="alert.msg"></span>
					</alert>
				</div>
				
				<div class="row">
					<div adsm-add-field data-boxSize="12" data-label="vigencia" data-labelSize="2" data-multiSize="6,6">
						<input id="dhVigenciaInicial" 
							adsm-date-time 
							ng-model="data.dhVigenciaInicial"
							class="form-control"
							ng-disabled="data.disabled"
							max="data.dhVigenciaFinal">
						
						<input id="dhVigenciaFinal" 
							adsm-date-time 
							ng-model="data.dhVigenciaFinal"
							ng-disabled="!data.dhVigenciaInicial"
							class="form-control"
							ng-blur="changeDhVigenciaFinal()"
							min="data.dhVigenciaInicial">
					</div>
				</div>		
								
				<div class="modal-footer" ng-if="data.disabled && !data.ended && isMatriz">
					<div class="pull-right">	
						<button class="fix-btn" type="submit" data-ng-bind="'inativar' | translate" />
					</div>
				</div>			
			</div>
		</div>
	</form>
</div>