<form class="form-horizontal content-padding" data-ng-submit="store()"> 
 
	<div class="fixed-top">
		<button type="button" data-ng-click="clearData()" class="btn btn-default btn-lg pull-right" id="limparDados">
			{{'limpar' |  translate }}
		</button>
		
		<button type="button" data-ng-click="removeById()" class="btn btn-default btn-lg pull-right" id="removeById" permission="excluir" data-ng-disabled="isRemoveByIdDisabled() || data.blDisableExcluir">
			{{'excluir' |  translate }}
		</button>
		
		<button type="submit" class="btn btn-default btn-lg pull-right" id="store" permission="salvar" data-ng-disabled="data.blDisableSalvar">
			{{'salvar' |  translate }}
		</button> 
	</div>
	
	<div class="row">
		<div adsm-add-field data-label="tabelaPreco" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<input lms-tabela-base type="text" class="form-control" id="tabelaPreco" ng-model="data.tabelaPreco" required>
		</div>
		
		<div adsm-add-field data-label="unidadeFederativa" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<input lms-unidade-federativa="{idPais:30}" type="text" class="form-control" id="unidadeFederativa" ng-model="data.unidadeFederativa" required>
		</div>
	</div>
	
	<div class="row">
		<div adsm-add-field data-label="municipio" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<input lms-municipio="{idUnidadeFederativa: data.unidadeFederativa.idUnidadeFederativa}" type="text" class="form-control" id="municipio" ng-model="data.municipio" 
				ng-required="!data.todosMunicipios" ng-disabled="data.todosMunicipios">
		</div>
		
		<div adsm-add-field data-label="todosMunicipio" data-labelSize="4" data-fieldSize="8" data-boxSize="6">
			<input type="checkbox" id="todosMunicipio" ng-model="data.todosMunicipios" ng-change="data.municipio = null">
		</div>
	</div>
	
</form>