<form class="form-horizontal content-padding" data-ng-submit="find()"> 
 
	<div class="fixed-top">
		<button type="button" data-ng-click="clearFilter()"	class="btn btn-default btn-lg pull-right" id="limpar">
			{{'limpar' | translate }}
		</button>

		<button type="submit" data-adsm-loading="listTableParams.loading" class="btn btn-default btn-lg pull-right" id="consultar">
			{{'consultar' |  translate }}
		</button>
	</div>
	
	<div class="row">
		<div adsm-add-field data-label="tabelaPreco" data-boxSize="6">
			<input lms-tabela-base type="text" class="form-control" id="tabelaPreco" ng-model="filter.tabelaPreco" 
				ng-required="filter.unidadeFederativa.idUnidadeFederativa == null && filter.municipio.idMunicipio == null">
		</div>
	</div>
	
	<div class="row">
		<div adsm-add-field data-label="unidadeFederativa" data-boxSize="6">
			<input lms-unidade-federativa="{idPais:30}" type="text" class="form-control" id="unidadeFederativa" ng-model="filter.unidadeFederativa" 
				ng-required="filter.tabelaPreco.idTabelaPreco == null && filter.municipio.idMunicipio == null">
		</div>
	</div>
	
	<div class="row">
		<div adsm-add-field data-label="municipio" data-boxSize="6">
			<input lms-municipio="{idUnidadeFederativa:filter.unidadeFederativa.idUnidadeFederativa}" type="text" class="form-control" id="municipio" ng-model="filter.municipio" 
				ng-required="filter.tabelaPreco.idTabelaPreco == null && filter.unidadeFederativa.idUnidadeFederativa == null">
		</div>
	</div>  
	
	<div class="row">
		<div class="col-sm-12">
			<table adsm-table="listTableParams" show-checkboxes="true" data-remove-service="removeByIds()">
				<tbody>
					<tr ng-repeat="row in page" ng-click="detail(row)">
						<td column-title="tabelaPreco" style="min-width: 100px; max-width: 100px;" align="left" >{{row.tabelaPreco.tabelaPreco}}</td>
						<td column-title="municipio" style="min-width: 100px; max-width: 100px;" align="left" >{{row.municipio.nmMunicipio}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	
</form>