<form class="form-horizontal content-padding">
	<div class="fixed-top"></div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="cliente" data-labelSize="2" data-multiSize="4,6">
			<input lms-pedido-coleta type="text" ng-model="data.pedidoColeta" id="pedidoColeta" class="form-control">
			<input type="text" disabled class="form-control" value="{{ data.pedidoColeta.nrColeta  }}" id="nrColeta">
		</div>
		<div adsm-add-field data-boxSize="6" data-label="modo" data-labelSize="4" data-fieldSize="6">
			<select id="tpUso" ng-model="dados.tpModoPedidoColeta" required>
				<option value=""></option>
			</select>
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="cliente" data-labelSize="2" data-multiSize="5,7">
			<input lms-cliente type="text" ng-model="data.cliente" id="remetente" autocomplete="off" class="form-control">
			<input type="text" ng-model="data.cliente.nmPessoa" id="remetente" class="form-control" readonly="readonly">
		</div>
		<div adsm-add-field data-boxSize="6" data-label="modo" data-labelSize="4" data-fieldSize="6">
			<input type="text" ng-model="data.cliente.nmPessoa" id="remetente" class="form-control" readonly="readonly">
		</div>
	</div>
	<div class="row">
		<input type="text" ng-model="data.nmContatoCliente" id="nmContatoCliente" class="form-control" readonly="readonly">
	</div>
</form>
