<form class="form-horizontal content-padding">
	<div class="fixed-top">
		<button type="button" data-ng-click="cadastrar()" class="btn btn-default btn-lg pull-right" id="btnCadastrar">{{'cadastrar'| translate}}</button>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="servico" data-labelSize="4" data-fieldSize="6">
			<select lms-servico id="servico" ng-model="filter.servico">
				<option value=""></option>
			</select>
			<option value=""></option>
		</div>
		<div adsm-add-field data-boxSize="6" data-label="naturezaProduto" data-labelSize="4" data-fieldSize="6">
			</select> <select id="naturezaProduto" data-ng-model="data.naturezaProduto.idNaturezaProduto">
				<option value=""></option>
			</select>
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="tipoFrete" data-labelSize="4" data-fieldSize="6">
			<select adsm-domain="DM_TIPO_FRETE" id="tpFrete" ng-model="data.tpFrete">
				<option value=""></option>
			</select>
		</div>
		<div adsm-add-field data-boxSize="6" data-label="destino" data-labelSize="4" data-fieldSize="6">
			<select adsm-domain="DM_MUNICIPIO_LOCALIDADE_ESPECIAL" id="destino" ng-model="filter.tpFrete">
				<option value=""></option>
			</select>
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="municipio" data-labelSize="2">
			<input lms-municipio type="text" ng-model="data.municipio" id="municipio" class="form-control" autocomplete="off">
		</div>
		<div adsm-add-field data-boxSize="6" data-label="localidadeEspecial" data-labelSize="2">
			<input type="text" ng-model="data.municipio" id="localidadeEspecial" class="form-control" autocomplete="off">
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="filialDestino" data-labelSize="2" multisize="3,6">
			<input lms-filial ng-model="data.filial" id="suggest-filial" />
			<input ng-model="data.filial.nmFilial" ng-disabled="true" type="text" />
		</div>
		<div adsm-add-field data-boxSize="6" data-label="uf" data-labelSize="2">
			<input lms-unidade-federativa="{ idPais : 30 }" type="text" ng-model="data.uf" id="uf" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="destinatario" data-labelSize="2" multisize="3,6">
			<input lms-cliente type="text" ng-model="data.destinatario" id="destinatario" class="form-control">
			<input type="text" class="form-control" id="destinatarioNmPessoa" ng-model="data.destinatario.nmPessoa" disabled>
		</div>
		<div adsm-add-field data-boxSize="6" data-label="volumes" data-labelSize="2">
			<input type="text" ng-model="data.qtVolumes" id="qtVolumes" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="valor" data-labelSize="2">
			<input type="text" ng-model="data.vlMercadoria" id="vlMercadoria" class="form-control" />
		</div>
		<div adsm-add-field data-boxSize="3" data-label="aforado" data-labelSize="2">
			<input type="checkbox" id="aforado" ng-model="data.aforado">
		</div>
		<div adsm-add-field data-boxSize="3" data-label="entregaDireta" data-labelSize="2">
			<input type="checkbox" id="blEntregaDireta" ng-model="data.blEntregaDireta">
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="peso" data-labelSize="2">
			<input type="text" ng-model="data.psMercadoria" id="psMercadoria" class="form-control" />
		</div>
		<div adsm-add-field data-boxSize="6" data-label="pesoAforado" data-labelSize="2">
			<input type="text" ng-model="data.psAforado" id="pesoAforado" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="2" data-label="pesoAforado" data-labelSize="2">
			<input lms-cia-aerea type="text" ng-model="data.ciaAerea" id="idEmpresa" class="form-control">
		</div>
		<div adsm-add-field data-boxSize="4" data-label="preAwbAwb" data-labelSize="3" data-multiSize="6">
			<select adsm-domain="DM_LOOKUP_AWB" id="tpStatusAwb" ng-model="data.tpStatusAwb" />
			<input lms-awb='{ tpStatusAwb:data.tpStatusAwb.value }' type="text" ng-model="data.awb" id="awb" class=form-control>
		</div>
		<div adsm-add-field data-boxSize="2" data-label="documentoServico" data-labelSize="4" data-fieldSize="12">
			<select id="tpDocumentoServico" data-ng-model="data.doctoServico.tpDocumentoServico">
				<option value=""></option>
			</select>
		</div>
		<div adsm-add-field data-boxSize="2" data-fieldSize="12">
			<input lms-filial ng-model="data.filial" id="filial" class="form-control">
		</div>
		<div adsm-add-field data-boxSize="2" data-fieldSize="12">
			<input lms-docto-servico type="text" ng-model="data.doctoServico" id="doctoServico" class="form-control" permission="doctoServico">
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="notaFiscal" data-labelSize="2">
			<div adsm-list-options ng-model="data.nrNotaFiscal" equals="inputModel" view="inputModel" not-null="inputModel">
				<input type="text" ng-model="inputModel" class="form-control">
			</div>
		</div>
		<div adsm-add-field data-boxSize="6" data-label="chaveNfe" data-labelSize="2">
			<div adsm-list-options ng-model="data.nrChave" equals="inputModel" view="inputModel" not-null="inputModel">
				<input type="text" ng-model="inputModel" class="form-control">
			</div>
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="12" data-label="observacao" data-labelSize="2" data-fieldSize="8">
			<textarea rows="2" class="form-control" maxlength="300" ng-model="data.obDetalheColeta" id="obDetalheColeta" class="form-control"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<table adsm-table="listTabledetalheColeta" show-checkboxes="true" >
				<tbody>
					<tr ng-repeat="row in page"">
						<td column-title="servico" sortable="dsServico" inline-property-filter="dsServico">{{row.servico.dsServico}}</td>
						<td column-title="naturezaProduto" sortable="dsNaturezaProduto" inline-property-filter="dsNaturezaProduto">{{row.naturezaProduto.dsNaturezaProduto}}</td>
						<td column-title="frete" sortable="tpFrete" inline-property-filter="tpFrete">{{row.tpFrete}}</td>
						<td column-title="volumes" sortable="qtVolumes" inline-property-filter="qtVolumes">{{row.qtVolumes}}</td>
						<td column-title="peso" sortable="psMercadoria" inline-property-filter="psMercadoria" align="right">{{row.psMercadoria}}</td>
						<td column-title="pesoAforado" sortable="psAforado" inline-property-filter="psAforado" align="right">{{row.psAforado}}</td>
						<td column-title="valor" sortable="vlMercadoria" inline-property-filter="vlMercadoria" align="right">{{row.vlMercadoria | currency}}</td>
						<td column-title="preAwbAwb" sortable="awb" inline-property-filter="awb">{{row.awb}}</td>
						<td column-title="documentoServico" sortable="nrDoctoServico" inline-property-filter="nrDoctoServico">{{row.nrDoctoServico}}</td>
						<td column-title="entregaDireta" sortable="blEntregaDireta" inline-property-filter="blEntregaDireta">{{row.blEntregaDireta}}</td>
						
						<td column-title="crt" sortable="nrCrt" inline-property-filter="nrCrt">{{row.nrCrt}}</td>
						<td column-title="destinatario" sortable="nmDestinatario" inline-property-filter="nmDestinatario">{{row.nmDestinatario}}</td>
						<td column-title="municipioDestino" sortable="nmMunicipio" inline-property-filter="nmMunicipio">{{row.municipio.nmMunicipio}}</td>
						<td column-title="localidadeEspecial" sortable="dsLocalidade" inline-property-filter="dsLocalidade">{{row.localidadeEspecial.dsLocalidade}}</td>
						<td column-title="filialDestino" sortable="sgFilial" inline-property-filter="sgFilial">{{row.filial.sgFilial}}</td>
						
						
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>
