<style type="text/css">
.my-modal .modal-dialog {
	width: 800px;
}
</style>
<div class="content">
	<form class="form-horizontal content-padding" name="consultarColetasDadosCliente">
		<div class="alert-container" data-ng-show="popupAlerts.length">
			<alert data-ng-repeat="alert in popupAlerts" type="{{alert.type}}" close="closeAlert($index)"> <span data-ng-bind="alert.msg"></span> </alert>
		</div>
		<div class="modal-body">
			<div class="row">
				<div adsm-add-field data-boxSize="12" data-label="cliente" data-labelSize="2" data-multiSize="4,6">
					<input id="cliente" value="{{ data.nrIdentificacao }}" class="form-control" disabled>
					<input type="text" disabled class="form-control" value="{{ data.nmPessoa }}" id="cliente.nmPessoa">
				</div>
			</div>
			<div class="row">
				<div adsm-add-field data-boxSize="6" data-label="dataUltimaColeta" data-labelSize="4" data-fieldSize="6">
					<input type="text" class="form-control" adsm-date-time ng-model="data.dhPedidoColeta" id="dhPedidoColeta" disabled>
				</div>
			</div>
			<div class="row">
				<div adsm-add-field data-boxSize="12" data-label="numeroUltimaColeta" data-labelSize="2" data-multiSize="4,6">
					<input id="sgFilial" value="{{ data.sgFilial }}" class="form-control" disabled>
					<input type="text" disabled class="form-control" value="{{ data.nrColeta }}" id="nrColeta">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6" style="text-align: left; padding-bottom: 10px">
					<label class="control-label" style="color: #777; font-size: 14px;">{{ 'enderecosColeta' | translate }}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<table adsm-table="listTableEnderecosColeta" adsm-table-internal-loading="true">
						<tbody>
							<tr ng-repeat="row in page" ng-click="listColetasAutomaticas(row)">
								<td column-title="endereco" class="text-center">{{row.dsEndereco}}</td>
								<td column-title="numero" class="text-center">{{row.nrEndereco}}</td>
								<td column-title="complemento" class="text-center">{{row.dsComplemento}}</td>
								<td column-title="bairro" class="text-center">{{row.dsBairro}}</td>
								<td column-title="cep" class="text-center">{{row.nrCep}}</td>
								<td column-title="municipio" class="text-center">{{row.nmMunicipio}}</td>
								<td column-title="uf" class="text-center">{{row.sgUnidadeFederativa}}</td>
								<td column-title="rota" class="text-center">{{row.dsRota}}</td>
								<td column-title="regiao" class="text-center">{{row.dsRegiao}}</td>
								<td column-title="telefones" class="text-center">telefones...</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6" style="text-align: left; padding-bottom: 10px">
					<label class="control-label" style="color: #777; font-size: 14px;">{{ 'coletaAutomatica' | translate }}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<table adsm-table="listTableColetasAutomaticas" adsm-table-internal-loading="true">
						<tbody>
							<tr ng-repeat="row in page">
								<td column-title="dia" class="text-center">{{row.tpDiaSemana}}</td>
								<td column-title="horaInicial" class="text-center">{{row.hrChegada}}</td>
								<td column-title="horaFinal" class="text-center">{{row.hrSaida}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default btn-lg pull-right" id="btnFechar" ng-click="close()">{{'fechar' | translate }}</button>
		</div>
	</form>
</div>