<style type="text/css">
.my-modal .modal-dialog {
	width: 400px;
}
</style>
<div class="content">
	<form class="form-horizontal content-padding" name="consultaAWBColeta">
		<div class="alert-container" data-ng-show="popupAlerts.length">
			<alert data-ng-repeat="alert in popupAlerts" type="{{alert.type}}" close="closeAlert($index)"> <span data-ng-bind="alert.msg"></span> </alert>
		</div>
		<div class="modal-body">
			
			<div class="row">
				<div class="col-sm-12">
					<table adsm-table="listTableAWBs">
						<tbody>
							<tr ng-repeat="row in page">
								<td  column-title="preAwbAwb"  class="text-center">{{row.nrAWB}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			
		</div>
		<div class="modal-footer"> 
			<button type="button" class="btn btn-default btn-lg pull-right" id="btnFechar" ng-click="close()">{{'fechar' | translate }}</button>
		</div>
	</form>
</div>