<style type="text/css">
.my-modal .modal-dialog {
	width: 800px;
}
</style>
<div class="content">
	<form class="form-horizontal content-padding" name="liberarBloqueioCreditoColetaForm">
		<div class="alert-container" data-ng-show="popupAlerts.length">
			<alert data-ng-repeat="alert in popupAlerts" type="{{alert.type}}" close="closeAlert($index)"> <span data-ng-bind="alert.msg"></span> </alert>
		</div>
		<div class="modal-body">
			<div class="row">
				<div adsm-add-field data-boxSize="12" data-label="funcionario" data-labelSize="2" data-multiSize="4,6">
					<input lms-funcionario-promotor ng-model="data.usuarioDTO" id="usuario" class="form-control" required ng-disabled="data.id">
					<input type="text" disabled ng-model="data.usuarioDTO.nmUsuario">
				</div>
			</div>
			<div class="row">
				<div adsm-add-field data-label="ocorrencia" data-boxSize="12" data-labelSize="2" data-fieldSize="6">
					<select data-adsm-chosen id="ocorrenciaColeta" data-ng-options="obj.id as obj.dsOcorrencia for obj in ocorrenciasColeta"
						data-ng-model="data.idOcorrenciaColeta" required
					>
						<option value=""></option>
					</select>
				</div>
			</div>
			<div class="row">
				<div adsm-add-field data-boxSize="12" data-label="descricao" data-labelSize="2" data-fieldSize="8">
					<textarea rows="2" class="form-control" maxlength="300" ng-model="data.dsDescricao" id="dsDescricao" class="form-control" style="resize: none;"
						disabled
					></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<table adsm-table="listTableProibidoEmbarque" adsm-table-internal-loading="true">
						<tbody>
							<tr ng-repeat="row in page">
								<td column-title="motivos" class="text-center">{{row.dsMotivoProibidoEmbarque}}</td>
								<td column-title="descricao" class="text-center">{{row.dsBloqueio}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default btn-lg pull-right" id="btnFechar" ng-click="close()">{{'fechar' | translate }}</button>
			<button type="button" class="btn btn-default btn-lg pull-right" id="btnLiberar" ng-click="liberar()" ng-disabled="liberarBloqueioCreditoColetaForm.$invalid">{{'liberar' | translate }}</button>
		</div>
	</form>
</div>