<form class="form-horizontal content-padding" data-ng-submit="find()">
	<div class="fixed-top">
		<button type="button" data-ng-click="clearFilter()" class="btn btn-default btn-lg pull-right" id="limpar">{{'limpar' | translate }}</button>
		<button type="submit" data-adsm-loading="listTableParams.loading" class="btn btn-default btn-lg pull-right" id="consultar">{{'consultar' |
			translate }}</button>
		<button type="button" data-ng-click="cadastrar()" class="btn btn-default btn-lg pull-right" id="btnCadastrar">{{'Cadastrar'| translate}}</button>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="filial" data-labelSize="4" data-multiSize="3">
			<input lms-filial ng-model="filter.filial" id="filial" class="form-control" readonly="readonly">
			<input type="text" class="form-control" id="filial.nmFilial" value="{{ filter.filial.nmFilial }}" readonly="readonly">
		</div>
		<div adsm-add-field data-boxSize="6" data-label="regiao" data-labelSize="4">
			<select lms-regiao-coleta-entrega id="regiao" data-ng-model="filter.regiaoColetaEntrega" ng-disabled="desabilitaRegiao">
				<option value=""></option>
			</select>
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="nrColeta" data-labelSize="4">
			<input type="text" class="form-control" data-numeric id="nrColeta" ng-model="filter.nrColeta"
				ng-required="!filter.dtPedidoColetaInicial && !filter.dtPedidoColetaInicial"
			>
		</div>
		<div adsm-add-field data-boxSize="6" data-label="servico" data-labelSize="4">
			<select lms-servico id="servico" ng-model="filter.servico">
				<option value=""></option>
			</select>
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="periodo" data-labelSize="4" data-multiSize="6">
			<input id="periodoInicial" adsm-date-time ng-model="filter.dtPedidoColetaInicial" max="filter.dtPedidoColetaFinal" max-interval="30"
				ng-required="!filter.nrColeta"
			>
			<input id="periodoFinal" adsm-date-time ng-model="filter.dtPedidoColetaFinal" min="filter.dtPedidoColetaInicial" max-interval="30"
				ng-required="!filter.nrColeta"
			>
		</div>
		<div adsm-add-field data-boxSize="6" data-label="cliente" data-labelSize="4" data-multiSize="6">
			<input lms-cliente ng-model="filter.cliente" id="cliente" class="form-control" ng-disabled="desabilitaCliente">
			<input type="text" ng-model="filter.cliente.nmPessoa" class="form-control" disabled="true" />
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="4" data-label="status" data-labelSize="10" />
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div adsm-add-field data-boxSize="4" data-label="aberto" data-labelSize="10">
				<input type="checkbox" id="status.aberto" ng-model="filter.aberto">
			</div>
			<div adsm-add-field data-boxSize="4" data-label="transmitida" data-labelSize="10">
				<input type="checkbox" id="status.transmitida" ng-model="filter.transmitida">
			</div>
			<div adsm-add-field data-boxSize="4" data-label="manifestada" data-labelSize="10">
				<input type="checkbox" id="status.manifestada" ng-model="filter.manifestada">
			</div>
		</div>
		<div adsm-add-field data-boxSize="6" data-label="funcionario" data-labelSize="4" data-multiSize="6">
			<input type="text" ng-model="filter.usuario" lms-usuario-lms class="form-control" />
			<input type="text" ng-model="filter.usuario.nmUsuario" class="form-control" disabled="true" />
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div adsm-add-field data-boxSize="4" data-label="cancelada" data-labelSize="10">
				<input type="checkbox" id="status.cancelada" ng-model="filter.cancelada">
			</div>
			<div adsm-add-field data-boxSize="4" data-label="aguardandoDescarga" data-labelSize="10">
				<input type="checkbox" id="status.aguardandoDescarga" ng-model="filter.aguardandoDescarga">
			</div>
			<div adsm-add-field data-boxSize="4" data-label="emDescarga" data-labelSize="10">
				<input type="checkbox" id="status.emDescarga" ng-model="filter.emDescarga">
			</div>
		</div>
		<div adsm-add-field data-boxSize="6" data-label="destino" data-labelSize="4" data-multiSize="3">
			<input lms-filial ng-model="filter.destino" id="destino" class="form-control">
			<input type="text" class="form-control" id="destino.nmFilial" value="{{ filter.destino.nmFilial }}" readonly="readonly">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div adsm-add-field data-boxSize="4" data-label="finalizada" data-labelSize="10">
				<input type="checkbox" id="status.finalizada" ng-model="filter.finalizada">
			</div>
			<div adsm-add-field data-boxSize="4" data-label="noManifesto" data-labelSize="10">
				<input type="checkbox" id="status.noManifesto" ng-model="filter.noManifesto">
			</div>
			<div adsm-add-field data-boxSize="4" data-label="executada" data-labelSize="10">
				<input type="checkbox" id="status.executada" ng-model="filter.executada">
			</div>
		</div>
		<div adsm-add-field data-boxSize="6" data-label="tipoColeta" data-labelSize="4">
			<select adsm-domain="DM_TIPO_PEDIDO_COLETA" id="tipoColeta" ng-model="filter.tipoColeta">
				<option value=""></option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div adsm-add-field data-boxSize="4" data-label="coletaTerminal" data-labelSize="10">
				<input type="checkbox" id="status.coletaTerminal" ng-model="filter.coletaTerminal">
			</div>
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="rotaColetaEntrega" data-labelSize="4" data-multiSize="9">
			<input lms-rota-coleta-entrega="{ idFilial : filter.filial.idFilial }" type="text" ng-model="filter.rotaColetaEntrega" id="rotaColetaEntrega"
				class="form-control" ng-disabled="desabilitaRota"
			>
			<input type="text" disabled class="form-control" ng-model="filter.rotaColetaEntrega.nrRota" id="rotaColetaEntrega.nrRota">
		</div>
		<div adsm-add-field data-boxSize="6" data-label="semVinculoDoctoServico" data-labelSize="5">
			<input type="checkbox" id="semVinculo" ng-model="filter.semVinculo">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<table adsm-table="listTableParams" show-checkboxes="false">
				<tbody>
					<tr ng-repeat="row in page" ng-click="detail(row)">
						<td column-title="coleta" sortable="coleta" inline-property-filter="coleta">{{row.coleta}}</td>
						<td column-title="cliente" ng-attr-title="{{row.cliente.nmPessoa}}" sortable="cliente.nmPessoa" inline-property-filter="cliente.nmPessoa">{{row.cliente.nmPessoa}}</td>
						<td column-title="tipoColeta" sortable="tipoColeta.descriptionAsString" inline-property-filter="tipoColeta.descriptionAsString">{{row.tipoColeta.descriptionAsString}}</td>
						<td column-title="solicitacao" sortable="solicitacao" inline-property-filter="solicitacao">{{row.solicitacao | dateTimeZone}}</td>
						<td column-title="peso" sortable="peso" inline-property-filter="peso" align="right">{{row.peso | number:3 }}</td>
						<td column-title="volumes" sortable="volumes" inline-property-filter="volumes" align="right">{{row.volumes}}</td>
						<td column-title="valor" sortable="valor" inline-property-filter="valor" align="right">{{row.valor | currency}}</td>
						<td column-title="status" sortable="status.descriptionAsString" inline-property-filter="status.descriptionAsString">{{row.status.descriptionAsString}}</td>
						<td column-title="modoColeta" sortable="modoColeta.descriptionAsString" inline-property-filter="modoColeta.descriptionAsString">{{row.modoColeta.descriptionAsString}}</td>
						<td column-title="funcionario" sortable="funcionario" inline-property-filter="funcionario">{{row.funcionario}}</td>
						<td column-title="AWB" ng-click="$event.stopPropagation()" class="text-center coluna-acoes">
							<span ng-click="openModalAWBs(row.id)" class="glyphicon glyphicon-search botao-detalhamento"> </span>
						</td>
						<td column-title="dadosCliente" ng-click="$event.stopPropagation()" class="text-center coluna-acoes">
							<span ng-click="modalDadosCliente(row.cliente.id)" class="glyphicon glyphicon-search botao-detalhamento"> </span>
						</td>
						<td column-title="eventosColeta" ng-click="$event.stopPropagation()" class="text-center coluna-acoes">
							<span ng-click="modalEventosColeta(row.id)" class="glyphicon glyphicon-search botao-detalhamento"> </span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>
