<form class="form-horizontal content-padding" data-ng-submit="store()">
	<div class="fixed-top">
		<div ng-include src="contextPath+'js/app/common/view/templates/form-buttons-cad.html'"></div>
	</div>
	<div class="row">
		<div class="row">
			<div adsm-add-field data-boxSize="4" data-label="servico" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
			<div adsm-add-field data-boxSize="4" data-label="naturezaProduto" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
		</div>
		<div class="row">
			<div adsm-add-field data-boxSize="4" data-label="tipoFrete" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
			<div adsm-add-field data-boxSize="4" data-label="destino" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
		</div>
		<div class="row">
			<div adsm-add-field data-boxSize="4" data-label="municipio" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
			<div adsm-add-field data-boxSize="4" data-label="localidadeEspecial" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
		</div>
		<div class="row">
			<div adsm-add-field data-boxSize="4" data-label="filialDestino" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
			<div adsm-add-field data-boxSize="4" data-label="UF" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
		</div>
		<div class="row">
			<div adsm-add-field data-boxSize="4" data-label="destinatario" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
			<div adsm-add-field data-boxSize="4" data-label="volume" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
		</div>
		<div class="row">
			<div adsm-add-field data-boxSize="4" data-label="valor" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
			<div adsm-add-field data-boxSize="4" data-label="aforado" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
		</div>
		<div class="row">
			<div adsm-add-field data-boxSize="4" data-label="peso" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
			<div adsm-add-field data-boxSize="4" data-label="pesoAforado" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
		</div>
		<div class="row">
			<div adsm-add-field data-boxSize="4" data-label="preAWB" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
			<div adsm-add-field data-boxSize="4" data-label="documentoServico" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
		</div>
		<div class="row">
			<div adsm-add-field data-boxSize="4" data-label="notaFiscal" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
			<div adsm-add-field data-boxSize="4" data-label="crt" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
		</div>
		<div class="row">
			<div adsm-add-field data-boxSize="4" data-label="nfe" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
		</div>
		<div class="row">
			<div adsm-add-field data-boxSize="4" data-label="observacoes" data-labelSize="2">
				<input type="text" ng-model="filter.empresa" id="empresa" />
			</div>
		</div>
	</div>
	
	
	<table adsm-table="listTableParams" show-checkboxes="true" data-remove-service="removeByIds()">
				<tbody>
					<tr ng-repeat="row in page" ng-click="detail(row)">
						<td column-title="servico" sortable="empresa.nmPessoa" inline-property-filter="empresa.nmPessoa">{{row.servico}}</td>
						<td column-title="naturezaProduto" sortable="empresa.nmPessoa" inline-property-filter="empresa.nmPessoa">{{row.naturezaProduto}}</td>
						<td column-title="frete" sortable="empresa.nmPessoa" inline-property-filter="empresa.nmPessoa">{{row.frete}}</td>
						<td column-title="volume" sortable="empresa.nmPessoa" inline-property-filter="empresa.nmPessoa">{{row.volume}}</td>
						<td column-title="peso" sortable="empresa.nmPessoa" inline-property-filter="empresa.nmPessoa">{{row.peso}}</td>
						<td column-title="pesoAforado" sortable="empresa.nmPessoa" inline-property-filter="empresa.nmPessoa">{{row.pesoAforado}}</td>
						<td column-title="valor" sortable="empresa.nmPessoa" inline-property-filter="empresa.nmPessoa">{{row.valor}}</td>
						<td column-title="notaFiscal" sortable="empresa.nmPessoa" inline-property-filter="empresa.nmPessoa">{{row.notaFiscal}}</td>
						<td column-title="AWB" sortable="empresa.nmPessoa" inline-property-filter="empresa.nmPessoa">{{row.AWB}}</td>
						<td column-title="documentoServico" sortable="empresa.nmPessoa" inline-property-filter="empresa.nmPessoa">{{row.documentoServico}}</td>
						<td column-title="entregaDireta" sortable="empresa.nmPessoa" inline-property-filter="empresa.nmPessoa">{{row.entregaDireta}}</td>
						<td column-title="CRT" sortable="empresa.nmPessoa" inline-property-filter="empresa.nmPessoa">{{row.CRT}}</td>
						<td column-title="destinatario" sortable="empresa.nmPessoa" inline-property-filter="empresa.nmPessoa">{{row.destinatario}}</td>
						<td column-title="municipioDestino" sortable="empresa.nmPessoa" inline-property-filter="empresa.nmPessoa">{{row.municipioDestino}}</td>
						<td column-title="localidadeEspecial" sortable="empresa.nmPessoa" inline-property-filter="empresa.nmPessoa">{{row.localidadeEspecial}}</td>
						<td column-title="filialDestino" sortable="empresa.nmPessoa" inline-property-filter="empresa.nmPessoa">{{row.filialDestino}}</td>
					</tr>
				</tbody>
			</table>
</form>
