<form novalidate ng-class="{submitted: submitted}" class="form-horizontal content-padding" ng-submit="find()">
	<div class="fixed-top">
		<button type="button" 
			data-ng-click="clearFilter()" 
			class="btn btn-default btn-lg pull-right" 
			id="limpar">
			{{'limpar' | translate }}
		</button>
		
		<button type="button" 
			data-ng-click="exportCsv()" 
			data-adsm-loading="exportando" 
			class="btn btn-default btn-lg pull-right" 
			id="exportar">
			{{'exportarExcel' | translate }}
		</button>
		
		<button type="button" 
			data-ng-click="exportFullCsv()" 
			ng-show="recibo.isMatriz" 
			data-adsm-loading="exportando" 
			class="btn btn-default btn-lg pull-right" 
			id="exportar">
			{{'relatorio' | translate }}
		</button>
		
		<button type="submit" 
			data-adsm-loading="listTableParams.loading" 
			class="btn btn-default btn-lg pull-right" 
			id="consultar">
			{{'consultar' | translate }}
		</button>	
	</div>
	
	<div class="form-horizontal">
		<div class="row">
			<div adsm-add-field data-boxSize="4" data-label="filialEmissao" data-labelSize="5" data-multiSize="3,9">
				<input
					lms-filial
					ng-model="filter.filial" 
					id="filial" 
					class="form-control"
					required>
	
				<input
					type="text"
					class="form-control"
					id="filial.nmFilial"
					value="{{ filter.filial.nmFilial }}"
					readonly="readonly">
			</div>	
		
			<div adsm-add-field data-boxSize="4" data-label="preFatura" data-labelSize="4">
				<input
					type="text"
					class="form-control"
					id="nrDesconto"
					data-numeric
					maxlength="10"
					ng-model="filter.reciboComplementado.nrReciboFreteCarreteiro">
			</div>
			
			<div adsm-add-field data-label="tipoRecibo" data-labelSize="4" data-fieldSize="7">
				<select 
					adsm-domain="DM_TIPO_RECIBO_PAGAMENTO_FRETE_CARRETEIR"
					id="tpReciboFreteCarreteiro" 
					ng-model="filter.tpReciboFreteCarreteiro">
					<option value=""></option>
				</select>
			</div>
		</div>
							
		<div class="row">	
			<div adsm-add-field data-boxSize="4" data-label="preFaturaComplementar" data-labelSize="5">
				<input type="text" 
					class="form-control" 
					id="nrReciboFreteCarreteiro" 
					ng-model="filter.nrReciboFreteCarreteiro" 
					data-numeric
					maxlength="10">
			</div>
						
			<div adsm-add-field data-boxSize="4" data-label="tpSituacao" data-labelSize="4" data-fieldSize="7">
				<select 
					adsm-domain="DM_STATUS_RECIBO_PAGAMENTO_FRETE_CARRETE"
					id="tpSituacaoRecibo" 
					ng-model="filter.tpSituacaoRecibo">
					<option value=""></option>
				</select>
			</div>
			
			<div adsm-add-field data-boxSize="4" data-label="periodoEmissao" data-labelSize="4" data-multiSize="6,6">
				<input id="periodoEmissaoInicial" 
					adsm-date-picker 
					ng-model="filter.dhEmissaoInicial" 
					mask="date" 
					class="form-control" 
					data-mininterval="0" 
					data-maxinterval="30"
					data-end="filter.dhEmissaoFinal">
				
				<input id="periodoEmissaoFinal" 
					adsm-date-picker 
					ng-model="filter.dhEmissaoFinal"
					mask="date" 
					class="form-control"
					data-mininterval="0" 
					data-maxinterval="30" 
					data-start="filter.dhEmissaoInicial">
			</div>		
		</div>
		
		<accordion close-others="false">
			<accordion-group is-open="isFiltroBasicoOpen">
				<accordion-heading>
					<span class="glyphicon" ng-class="{'glyphicon-chevron-down': isFiltroBasicoOpen, 'glyphicon-chevron-right': !isFiltroBasicoOpen}"></span>
					{{'criteriosComplementares' | translate}}
				</accordion-heading>
	
				<div class="form-horizontal">				
					<div class="row">
						<div adsm-add-field data-boxSize="6" data-label="proprietario" data-labelSize="3" data-multiSize="4,8">
							<input 
								type="text" 
								disabled 
								class="form-control" 
								value="{{ filter.proprietario.nrIdentificacao }}" 
								id="proprietario.nrIdentificacao">
							
							<input
								lms-proprietario
								ng-model="filter.proprietario" 
								id="proprietario" 
								class="form-control">								
						</div>
						
						<div adsm-add-field data-boxSize="6" data-label="frotaPlaca" data-labelSize="4" data-multiSize="4,8">
							<input type="text" 
								disabled 
								class="form-control"
								value="{{ filter.meioTransporte.nrFrota }}" 
								id="meioTransporte.nrFrota">
										    
					    	<input
								lms-meio-transporte
								type="text" 
								ng-model="filter.meioTransporte" 
								id="meioTransporte" 
								class="form-control">			   	
					   </div>						
					</div>
					
					<div class="row">
						<div adsm-add-field data-boxSize="6" data-label="controleCarga" data-labelSize="3" data-multiSize="4,8">
							<input
								lms-controle-carga
								type="text"
								ng-model="filter.controleCarga" 
								id="controleCarga" 
								class="form-control">
										    
					    	<input type="text" 
					    		disabled 
					    		class="form-control" 
					    		value="{{ filter.controleCarga.nrControleCarga | lpad: 6 }}" 
					    		id="controleCarga.nrControleCarga">			   	
					   </div>
					   
					   <div adsm-add-field data-boxSize="6" data-label="relacaoPagamento" data-labelSize="4">
							<input type="text" 
								class="form-control" 
								id="nrRelacaoPagamento" 
								ng-model="filter.nrRelacaoPagamento" 
								data-numeric
								maxlength="10">
						</div>													
					</div>
					
					<div class="row">
						<div adsm-add-field data-fieldSize="7" data-boxSize="6" data-label="periodoPagamentoReal" data-labelSize="3" data-multiSize="6,6">
							<input id="periodoPagamentoInicial" 
								adsm-date-picker 
								ng-model="filter.dtPagtoRealInicial" 
								mask="date" 
								class="form-control"
								data-mininterval="0" 
								data-maxinterval="30" 
								data-end="filter.dtPagtoRealFinal">
							
							<input id="periodoPagamentoFinal" 
								adsm-date-picker 
								ng-model="filter.dtPagtoRealFinal" 
								mask="date" 
								class="form-control" 
								data-mininterval="0" 
								data-maxinterval="30"
								data-start="filter.dtPagtoRealInicial">
						</div>		
						
						<div adsm-add-field  data-fieldSize="7" data-boxSize="6" data-label="periodoPagamentoProgramado" data-labelSize="4" data-multiSize="6,6">
							<input id="periodoPagtoProgramadoInicial" 
								adsm-date-picker 
								ng-model="filter.dtProgramadaPagtoInicial" 
								mask="date" 
								class="form-control"
								data-mininterval="0" 
								data-maxinterval="30" 
								data-end="filter.dtProgramadaPagtoFinal">
							
							<input id="periodoPagtoProgramadoFinal" 
								adsm-date-picker 
								ng-model="filter.dtProgramadaPagtoFinal" 
								mask="date" 
								class="form-control" 
								data-mininterval="0" 
								data-maxinterval="30"
								data-start="filter.dtProgramadaPagtoInicial">
						</div>
					</div>
				</div>				
			</accordion-group>
		</accordion>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
				<table adsm-table="listTableParams"
					class="table adsm-table-hover table-condensed table-clickable adsm-table"
					style="width: 100%">
					<tbody>
						<tr ng-repeat="row in page" ng-click="detail(row)">
							<td column-title="tipoRecibo"
								sortable="tpReciboFreteCarreteiro.description.value" 
								style="min-width: 80px; max-width: 150px;">
								{{row.tpReciboFreteCarreteiro.description.value}}
							</td>
							<td column-title="numeroRecibo" 
								style="min-width: 150px; max-width: 300px;">
								<span class="pull-left">{{row.reciboComplementado.filial.sgFilial}}</span>
								<span class="pull-right">{{row.reciboComplementado.nrReciboFreteCarreteiro | lpad : 10}}</span>											
							</td>
							<td column-title="preFaturaComplementar" style="min-width: 150px; max-width: 300px;">
								<span class="pull-left">{{row.filial.sgFilial}}</span>
								<span class="pull-right">{{row.nrReciboFreteCarreteiro | lpad : 10}}</span>						
							</td>														
							<td column-title="dataEmissao"
								sortable="dhEmissao"  
								style="min-width: 100px; max-width: 260px;">
								{{row.dhEmissao | dateTimeZone}}
							</td>
							<td column-title="situacao"
								sortable="tpSituacaoRecibo.description.value" 
								>
								{{row.tpSituacaoRecibo.description.value}}
							</td>
							<td column-title="controleCarga" style="min-width: 150px; max-width: 300px;">
								<span class="pull-left">{{row.controleCarga.filial.sgFilial}}</span>
								<span class="pull-right">{{row.controleCarga.nrControleCarga}}</span>								 																
							</td>
							<td column-title="identificacao"
								sortable="nrIdentificacao" 
								style="min-width: 150px; max-width: 300px;">
								<span class="pull-left">{{row.proprietario.tpIdentificacao.description.value }}</span>
								<span class="pull-right"> {{row.proprietario.nrIdentificacao}}</span>								
							</td>
							<td column-title="proprietario"
								sortable="proprietario.nmPessoa" 
								style="min-width: 150px; max-width: 400px;">
								{{row.proprietario.nmPessoa}}
							</td>
							<td column-title="meioTransporte"
								sortable="meioTransporteRodoviario.nrIdentificador" 
								style="min-width: 100px; max-width: 260px;">
								{{row.meioTransporteRodoviario.nrFrota}} / {{row.meioTransporteRodoviario.nrIdentificador}}
							</td>	
							<td column-title="dataPagamentoReal"
								sortable="dtPagtoReal" 
								style="min-width: 100px; max-width: 260px;">
								{{row.dtPagtoReal | dateTimeZone}}
							</td>
							<td column-title="valorLiquido"
								sortable="vlLiquido" 
								style="min-width: 160px; max-width: 400px;">								
								<span class="pull-left">{{row.moedaPais.moeda.sgMoeda}}</span>
								<span class="pull-left" style="text-indent: 10px;">{{row.moedaPais.moeda.dsSimbolo}}</span>
								<span class="pull-right">{{row.vlLiquido | number:2}}</span>
							</td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>

</form>