<div class="content" style="background-color: white; padding: 20px;">
		<table adsm-table="workflowTableParams"
			data-adsm-table-internal-loading="true" 
			class="table adsm-table-hover table-condensed adsm-table"
			style="width: 100%">
			<tbody>
				<tr ng-repeat="row in page">	
					<td column-title="aprovador" style="min-width: 140px; max-width: 400px;">{{ row.integrante }}</td>
					<td column-title="dataLiberacao" align="center" >{{ row.dhLiberacao | dateTimeZone}}</td>
					<td column-title="dataAcao" align="center" >{{ row.dhAcao | dateTimeZone }}</td>
					<td column-title="situacao" >{{ row.tpSituacaoAcao }}</td>
					<td column-title="observacao" title="{{ row.obAcao }}" >{{ row.obAcao }}</td>
				</tr>
			</tbody>
		</table>
</div>