<form class="form-horizontal content-padding" data-ng-submit="find()"> 
 
	<div class="fixed-top">
		<button type="button" data-ng-click="atualizar()" class="btn btn-default btn-lg pull-right" id="limpar">
			{{buttonText |  translate }}
		</button>
	</div>
 
	<div class="row"> 
		<div class="col-sm-12"> 
			<table adsm-table="listMonitoramentoLiberacaoFiscalTableParams"
				class="table adsm-table-hover table-condensed table-clickable adsm-table" >
					<thead>
						<tr>
							<th colspan="19">{{ 'monitoramentoTransferenciaAereaAWBs' | translate }}</th>
						</tr>
						<tr>
							<th>{{ 'origem' | translate }}</th>
							<th>{{ 'destino' | translate }}</th>
							<th>{{ 'preAwb' | translate }}</th>
							<th>{{ 'awb' | translate }}</th>
							<th>{{ 'ciaAerea' | translate }}</th>
							<th>{{ 'desembarque' | translate }}</th>
							<th>{{ 'eva' | translate }}</th>
							<th>{{ 'ttHs' | translate }}</th>	
							<th>{{ 'retidoSefaz' | translate }}</th>
							<th>{{ 'liberadoSefaz' | translate }}</th>
							<th>{{ 'ttHs' | translate }}</th>
							<th>{{ 'dpr' | translate }}</th>
							<th>{{ 'ttHs' | translate }}</th>	
							<th>{{ 'retirada' | translate }}</th>
							<th>{{ 'ultimoStatus' | translate }}</th>
							<th>{{ 'valor' | translate }}</th>
							<th>{{ 'peso' | translate }}</th>
							<th>{{ 'eventos' | translate }}</th>
						</tr>
					</thead>
					<tbody> 
						<tr ng-repeat="row in page">
							<td align="center">{{row.aeroportoOrigem}}</td>
							<td align="center">{{row.aeroportoDestino}}</td>
							<td align="center">{{row.preAwb}}</td>
							<td align="center">{{row.awb}}</td>
							<td align="center">{{row.nmCiaAerea}}</td>
							<td align="center">{{row.desembarque | dateTimeZone}}</td>
							<td align="center"><span class="glyphicon glyphicon-stop" style="color:{{ row.colorEVA }}" /></td>
							<td align="center">{{row.ttEVAFormatado}}</td>
							<td align="center">{{row.retidoSefaz | dateTimeZone}}</td>
							<td align="center">{{row.liberadoSefaz | dateTimeZone}}</td>
							<td align="center">{{row.ttSefazFormatado}}</td>
							<td align="center"><span class="glyphicon glyphicon-stop" style="color:{{ row.colorDpr }}" /></td>
							<td align="center">{{row.ttDprFormatado}}</td>
							<td align="center">{{row.retirada | dateTimeZone}}</td>
							<td align="center">{{row.ultimoStatus}}</td>
							<td align="center">{{row.valor}}</td>
							<td align="center">{{row.peso}}</td>
							<td align="center"><span class="glyphicon glyphicon-align-justify"> </span></td>
						</tr> 
					</tbody> 
			</table> 
		</div> 
	</div> 
</form> 
