<form class="form-horizontal content-padding" data-ng-submit="abrirListagemPorCiaAerea()"> 
 
	<div class="fixed-top"> 
		<button type="button" data-ng-click="clearFilter()" class="btn btn-default btn-lg pull-right" id="limpar">
			{{'limpar' |  translate }}
		</button>
		<button type="submit" data-adsm-loading="listTableParams.loading" class="btn btn-default btn-lg pull-right" id="consultar">
			{{'consultar' |  translate }}
		</button>
	</div>
 
	<div class="row">
		<div adsm-add-field data-boxSize="4" data-label="aeroportoOrigem" data-labelSize="4" data-multiSize="3,9">
            <input
				lms-aeroporto
				ng-model="filter.monitoramentoAeroportoOrigem"	
				id="monitoramentoAeroportoOrigem"
				class="form-control" >
           <input type="text" disabled ng-model="filter.monitoramentoAeroportoOrigem.nmAeroporto">
		</div>
		
		<div adsm-add-field data-boxSize="4" data-label="periodo" data-labelSize="3" data-multiSize="6,6">
			<input id="dtAtualizacaoInicial" 
				adsm-date-picker 
				ng-model="filter.dtAtualizacaoInicial" 
				mask="date" 
				class="form-control" 
				data-mininterval="0" 
				data-end="filter.dtAtualizacaoFinal"
				required>
			
			<input id="dtAtualizacaoFinal" 
				adsm-date-picker 
				ng-model="filter.dtAtualizacaoFinal" 
				mask="date" 
				class="form-control" 
				data-mininterval="0" 
				data-start="filter.dtAtualizacaoInicial"
				required>
		</div>		
		
		<div adsm-add-field data-boxSize="4" data-label="ciaAerea" data-labelSize="3" data-multiSize="10">		
			<input
				lms-cia-aerea
				type="text"
				ng-model="filter.ciaAerea" 
				id="idEmpresa" 
				class="form-control" >		
		</div>
	</div>
	
	<div class="row">
		<div adsm-add-field data-boxSize="4" data-label="aeroportoDestino" data-labelSize="4" data-multiSize="3,9">
            <input
				lms-aeroporto
				ng-model="filter.monitoramentoAeroportoDestino"	
				id="monitoramentoAeroportoDestino"
				class="form-control" >
           <input type="text" disabled ng-model="filter.monitoramentoAeroportoDestino.nmAeroporto">
		</div>
		
		<div adsm-add-field data-boxSize="4" data-label="servico" data-labelSize="3" data-multiSize="10">
			<select adsm-domain="DM_TIPO_SERVICO_TABELA" id="servico" ng-model="filter.servico" filter="['C','P','V']" />
		</div>
		
		<div adsm-add-field data-boxSize="4" data-label="situacao" data-labelSize="3" data-multiSize="10">
			<select id="situacao" ng-model="filter.situacao" adsm-domain="DM_TIPO_LOCALIZACAO_AWB">
				<option value=""></option>
			</select>
		</div>
		
	</div>
	
	<div class="row">
		<div adsm-add-field data-boxSize="4" data-label="preAwbAwb" data-labelSize="4"  data-multiSize="6">
			<select adsm-domain="DM_LOOKUP_AWB" id="tpStatusAwb" ng-model="tmp.tpStatusAwb" />
			<input lms-awb='{ tpStatusAwb:tmp.tpStatusAwb.value }' type="text" ng-model="tmp.awb" id="awb" class=form-control>
		</div>
	</div>
	
	
	<div class="row">
		<div class="alert-container">
			<p ng-bind-html="'legenda' | translate"></p>
			<p ng-bind-html="'dpcOtd' | translate"></p>
			<ul>
				<p><span class="glyphicon glyphicon-stop" style="color:red"></span>  {{ 'prazoPerdido' | translate }}</p>
				<p><span class="glyphicon glyphicon-stop" style="color:yellow"></span>  {{ 'riscoPerda' | translate }}</p>
				<p><span class="glyphicon glyphicon-stop" style="color:green"></span>  {{ 'noPrazo' | translate }}</p>
			</ul>
		</div>
	</div>
	
</form> 