<form class="form-horizontal content-padding"> 
	<div class="fixed-top">
		<button type="button" data-ng-click="atualizar()" class="btn btn-default btn-lg pull-right" id="limpar">
			{{buttonText |  translate }}
		</button>
	</div> 
	 
	<div class="row">
		<table adsm-table="listMonitoramentoCiaAereaTableParams"
		    adsm-table-internal-loading="true"
		    data-ng-disabled="disableTable"
		    exportcsv="monitoramentoNetworkCiasAereas">
		
			<tbody>
				<tr ng-repeat="row in page">
					<td style="min-width: 100px; max-width: 400px;" column-title="ciaAerea">
						<a id="link-4" ng-click="openListAwb(row)">{{ row.nmCiaAerea }}</a>
					</td>
					<td align="center" column-title="preAwb">
						{{ row.countPreAwb }}
					</td>
					<td align="center" column-title="awb">
						<a id="link-4" ng-click="openListOnlyAwb(row)">{{ row.countAwb }}</a>
					</td>
					<td align="center" column-title="eea">
						<span class="glyphicon glyphicon-stop" style="color:{{ row.colorEEA }}" />
					</td>
					<td  align="center" style="min-width: 100px; max-width: 400px;" column-title="aguardandoEntrega">
						<a id="link-4" ng-click="openListAwbAguardandoEntrega(row)">{{ row.countAguardandoEntrega }}</a>
					</td>
					<td align="center" style="min-width: 100px; max-width: 400px;" column-title="aguardandoEmbarque">
						<a id="link-4" ng-click="openListAwbAguardandoEmbarque(row)">{{ row.countAguardandoEmbarque }}</a>
					</td>
					<td align="center" column-title="eva">
						<span class="glyphicon glyphicon-stop" style="color:{{ row.colorEVA }}" />
					</td>
					<td align="center" style="min-width: 100px; max-width: 400px;" column-title="emTransito">
						<a id="link-4" ng-click="openListAwbEmTransito(row)">{{ row.countEmTransito }}</a>
					</td>
					<td align="center" column-title="emLiberacaoFiscal">
						<a id="link-4" ng-click="openListLiberacaoFiscal(row)">{{ row.countEmLibFiscal }}</a>
					</td>
					<td align="center" column-title="disponivel">
						<a id="link-4" ng-click="openListAwbDisponivelRetirada(row)">{{ row.countDisponivel }}</a>
					</td>
					<td align="center" column-title="ttHs">
						{{ row.tempoTransferenciaFormatado }}
					</td>
					<td align="center" column-title="era">
						<span class="glyphicon glyphicon-stop" style="color:{{ row.colorDpr }}" />
					</td>
					<td align="center" column-title="retirada">
						<a id="link-4" ng-click="openListAwbRetirada(row)">{{ row.countRetirada}}</a>
					</td>
				</tr>
			</tbody>
		</table>	
	</div> 
	 
</form> 
