<form class="form-horizontal content-padding" data-ng-submit="find()"> 
 
	<div class="fixed-top">
		<button type="button" data-ng-click="atualizar()" class="btn btn-default btn-lg pull-right" id="limpar">
			{{buttonText |  translate }}
		</button>
	</div>

	<div class="row"> 
		<div class="col-sm-12"> 
			<table adsm-table="listMonitoramentoAwbTableParams"
					exportcsv="monitoramentoNetworkAwbs"
					>
					<tbody>
						<tr ng-repeat="row in page">
							<td column-title="orig"
								style=" max-width: 40px;">{{row.aeroportoOrigem}}</td>
							<td column-title="dest"
								style=" max-width: 20px;">{{row.aeroportoDestino}}</td>
							<td column-title="preAwb"
								style=" max-width: 60px;">{{row.preAwb}}</td>
							<td column-title="awb" align="center"
								style=" max-width: 100px;">{{row.awb}}</td>
							<td column-title="ciaAerea" align="center"
								style=" max-width: 20px;">{{row.sgCiaAerea}}</td>
							<td column-title="eea" align="center"
								style=" max-width: 20px;"><span class="glyphicon glyphicon-stop" style="color:{{ row.colorEEA }}" /></td>
							<td column-title="eeaHs" align="right"
								style=" max-width: 60px;">{{row.ttEEAFormatado}}</td>
							<td column-title="aguardandoEntrega"
								style=" max-width: 150px;">{{row.entrega | dateTimeZone}}</td>
							<td column-title="aguardandoEmbarque"
								style=" max-width: 150px;">{{row.dhAguardandoEmbarque | dateTimeZone}}</td>
							<td column-title="embarque"
								style=" max-width: 150px;">{{row.embarque | dateTimeZone}}</td>
							<td column-title="desembarque"
								style=" max-width: 150px;">{{row.desembarque  | dateTimeZone}}</td>
							<td column-title="eva" align="center"
								style=" max-width: 20px;"><span class="glyphicon glyphicon-stop" style="color:{{ row.colorEVA }}" /></td>
							<td column-title="evaHs" align="right"
								style=" max-width: 60px;">{{row.ttEVAFormatado}}</td>
							<td column-title="disponivelRetirada"
								style=" max-width: 150px;">{{row.disponivelRetirada  | dateTimeZone}}</td>
							<td column-title="retirada"
								style=" max-width: 150px;">{{row.retirada  | dateTimeZone}}</td>
							<td column-title="era" align="center"
								style=" max-width: 20px;"><span class="glyphicon glyphicon-stop" style="color:{{ row.colorDpr }}" /></td>
							<td column-title="eraHs" align="right"
								style=" max-width: 60px;">{{row.ttDprFormatado}}</td>
							<td column-title="retidoSefaz"
								style=" max-width: 150px;">{{row.retidoSefaz | dateTimeZone}}</td>
							<td column-title="liberadoSefaz"
								style=" max-width: 150px;">{{row.liberadoSefaz | dateTimeZone}}</td>
							<td column-title="sefazHs" align="right"
								style=" max-width: 60px;">{{row.ttSefazFormatado}}</td>
							<td column-title="ultimoStatus" align="center"
								style=" max-width: 20px; font-weight: bold;" title="{{row.ultimoStatus.descriptionAsString}}">{{row.ultimoStatus.value}}</td>
							<td column-title="valor" align="right"
								style=" max-width: 60px;">{{row.valor}}</td>
							<td column-title="peso" align="right"
								style=" max-width: 60px;">{{row.peso}}</td>
							<td column-title="eventos"
								style=" max-width: 20px;" align="center"><span class="glyphicon glyphicon-align-justify" style="display:{{ row.awb != null ? 'block' : 'none' }}" ng-click="openModalEventos(row)"> </span></td>
							<td column-title="bloqLiberacoes"
								style=" max-width: 20px;" align="center"><span class="glyphicon glyphicon-align-justify" style="display:{{ row.awb != null ? 'block' : 'none' }}" ng-click="openModalBloqueioLiberacao(row)"> </span></td>
						</tr>
						
					</tbody>
				</table>
		</div> 
	</div> 
</form> 
