<style type="text/css">
	.modal-eventos .modal-dialog {
		min-width: 875px;
	}
</style>

<div class="content" style="background-color: white; padding: 20px;">
	<table adsm-table="eventosTableParams"
		class="table table-condensed adsm-table"							
		data-show-checkboxes="false"
		style="width: 100%">
		<tbody>
			<tr ng-repeat="row in page">	
				<td column-title="evento" >
					{{ row.tpOrigemEvento.description.value }}
				</td>
				<td column-title="complemento" >
					{{ row.tpComplementoEvento.description.value }}
				</td>
				<td column-title="dataHora" align="center">
					{{ row.dhEvento | dateTimeZone }}
				</td>
				<td column-title="usuario" >
					{{ row.nmUsuario }}
				</td>
			</tr>
		</tbody>
	</table>
</div>