<style type="text/css">

    #tb-averbacoes thead th:nth-child(6), #tb-averbacoes thead th:nth-child(2) {
        width: 100px;
    }

    #tb-averbacoes tbody tr td {
        white-space: nowrap;
        text-overflow: unset;
        font-size: 12px;
    }

    #nrConhecimento {
        padding-left: 2px;
    }
</style>

<form class="form-horizontal content-padding">
    <div class="fixed-top"> 
        <button type="button" class="btn btn-default btn-lg pull-right" data-ng-click="clearFilter()"
                id="limpar">
            {{'limpar'|  translate }}
        </button>
        <button type="button" data-adsm-loading="exportando" class="btn btn-default btn-lg pull-right"
                id="gerarExcel" data-ng-click="exportCsv()">
            {{'gerarExcel'|  translate }}
        </button>
    </div>
    
 	<div class="row">
        <div adsm-add-field data-boxSize="6" data-label="periodo" data-labelSize="3" data-multiSize="6">

            <input id="periodoEmissaoInicial"
                   adsm-date-picker
                   ng-model="filter.dtPeriodoInicial"
                   mask="date"
                   class="form-control"
                   data-mininterval="0"
                   data-maxinterval="30"
                   data-end="filter.dtPeriodoFinal"
                   ng-required="true">

            <input id="periodoEmissaoFinal"
                   adsm-date-picker
                   ng-model="filter.dtPeriodoFinal"
                   mask="date"
                   class="form-control"
                   data-mininterval="0"
                   data-maxinterval="30"
                   data-start="filter.dtPeriodoInicial"
                   ng-required="true">
        </div>
    </div>
    
    <div class="row">
        <div adsm-add-field data-boxSize="6" data-label="filialOrigem" data-labelSize="3" data-multiSize="3,9">
            <input lms-filial class="form-control" id="filialOrigem.sgFilial" ng-model="filter.filialOrigem">
            <input type="text" class="form-control" id="filialOrigem.nmFilial" ng-model="filter.filialOrigem.nmFilial" disabled>
        </div>
        
		<div adsm-add-field data-boxSize="6" data-label="filialDestino" data-labelSize="3" data-multiSize="3,9">
            <input lms-filial class="form-control" id="filialDestino.sgFilial" ng-model="filter.filialDestino">
            <input type="text" class="form-control" id="filialDestino.nmFilial" ng-model="filter.filialDestino.nmFilial" disabled>
        </div>
    </div>    

</form>