<form class="form-horizontal content-padding" data-ng-submit="transferir()">

	<div class="fixed-top">
		<button type="button" data-ng-click="clear()" class="btn btn-default btn-lg pull-right" id="limpar">
			{{'limpar' |  translate }}
		</button>
		<button type="submit" class="btn btn-default btn-lg pull-right" id="transferir">
			{{'transferir' |  translate }}
		</button>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="4" data-label="de" data-labelSize="4" data-fieldSize="8">
			<input type="text" class="form-control" ng-model="data.clienteTerritorioTransferenciaCarteiraDTO.territorioDe" lms-territorio id="territorioDe" maxlength="50" autocomplete="off" required />
		</div>
		<div adsm-add-field data-boxSize="8" data-label="para" data-labelSize="4" data-fieldSize="4">
			<input type="text" class="form-control" ng-model="data.clienteTerritorioTransferenciaCarteiraDTO.territorioPara" lms-territorio id="territorioPara" maxlength="50" autocomplete="off" required />
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="4" data-label="dataFechamento" data-labelSize="4" data-fieldSize="8">
			<input
				id="dataFechamento"
				adsm-date-picker
				ng-model="data.clienteTerritorioTransferenciaCarteiraDTO.dtFechamento"
				mask="date"
				class="form-control"
				data-end="data.clienteTerritorioTransferenciaCarteiraDTO.dtInicio"
				required
			/>
		</div>
		<div adsm-add-field data-boxSize="8" data-label="dataInicio" data-labelSize="4" data-fieldSize="4">
			<input
				id="dataInicio"
				adsm-date-picker
				ng-model="data.clienteTerritorioTransferenciaCarteiraDTO.dtInicio"
				mask="date"
				class="form-control"
				data-start="data.clienteTerritorioTransferenciaCarteiraDTO.dtFechamento"
				required
			/>
		</div>
	</div>

</form>