<input type="text"
		id="vl_{{column.id}}_{{rowIndex}}"
		ng-blur="changeValue(item.original, column, row[$index])"
		ng-model="row[$index]"
		ng-attr-title="{{row[0]}} | {{column.parent.title | translate}} | {{column.title | translate}}"
		class="form-control adsm-element-changed text-right"
		ng-class="{ adsm_mht_clickable_field: !!column.onClickField && !disableFields, adsm_mht_normal_field: !column.onClickField || disableFields}"
		ng-disabled="disableFields"
		data-percentual
		data-numeric="{mDec: column.decimais}" />
