<form class="form-horizontal content-padding"  id="tarifaForm" data-ng-submit="findTarifas()">

	<div class="alert-container" data-ng-show="popupAlerts.length">
		<alert data-ng-repeat="alert in popupAlerts" type="{{alert.type}}" close="closeAlert($index)">
			<span data-ng-bind="alert.msg"></span>
		</alert>
	</div>
	
	<div class="row">
		<button type="button" class="btn btn-default btn-lg pull-right" data-ng-click="limparBuscaTarifa()" id="limpar"> {{'limpar' |  translate }} </button>
		<button type="submit" class="btn btn-default btn-lg pull-right" id="consultar"> {{'consultar' |  translate }} </button>
	</div>
	
	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="tarifa" data-labelSize="3" data-fieldSize="3" >
			<input class="form-control" ng-model="tarifaMarkupFiltro.cdTarifaPreco" id="buscatarifa" maxlength="250">
		</div>
	</div>
	
	<div class="row">
		<table adsm-table="tarifaTableParams"
			data-adsm-table-internal-loading="true"
			class="table adsm-table-hover table-condensed adsm-table"
			style="width: 100%; overflow: visible;"
			list="listTarifas">
			<tbody>
				<tr ng-repeat="row in page">
					<td column-title="tarifa" style="width:90%; vertical-align:middle; overflow:visible; cursor: pointer;" data-ng-click="selecionarTarifa(row)" >{{ row.cdTarifaPreco }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</form>
