<form class="form-horizontal content-padding"  id="rotaForm" data-ng-submit="findRotas()">

	<div class="alert-container" data-ng-show="popupAlerts.length">
		<alert data-ng-repeat="alert in popupAlerts" type="{{alert.type}}" close="closeAlert($index)">
			<span data-ng-bind="alert.msg"></span>
		</alert>
	</div>
	
	<div class="row">
		<button type="button" class="btn btn-default btn-lg pull-right" data-ng-click="limparBuscaRota()" id="limpar"> {{'limpar' |  translate }} </button>
		<button type="submit" class="btn btn-default btn-lg pull-right" id="consultar"> {{'consultar' |  translate }} </button>
	</div>
	
	<div class="row">
		<div adsm-add-field data-boxSize="8" data-label="rota" data-labelSize="3" >
			<input class="form-control" ng-model="rotaMarkupFiltro.textoBusca" id="buscarota" maxlength="250" placeholder="UF - Aeroporto > UF - Aeroporto">
		</div>
	</div>
	
	<div class="row">
		<table adsm-table="rotaTableParams"
			data-adsm-table-internal-loading="true"
			class="table adsm-table-hover table-condensed adsm-table"
			style="width: 100%; overflow: visible;"
			list="listRotas">
			<tbody>
				<tr ng-repeat="row in page">
					<td column-title="descricao" style="width:90%; vertical-align:middle; overflow:visible; cursor: pointer;" data-ng-click="selecionarRota(row)">{{ row.descricao }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</form>
