<style type="text/css">
.my-modal .modal-dialog {
	width: 850px;
}
</style>
<div class="content">
	<form class="form-horizontal content-padding">
		
		<div class="modal-body">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'numero' | translate }}</label>
						<div class="col-lg-8">
							<div class="multi-input">
								<div class="col-xs-5">
									<input type="text" class="form-control" ng-model="data.sgFilialPedidoColeta" id="sgFilialPedidoColeta" disabled />
								</div>
								<div class="col-xs-7">
									<input type="text" class="form-control" ng-model="data.nrColeta" id="nrColeta" disabled />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'status' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" ng-model="data.tpStatusColeta_description" id="tpStatusColeta_description" data-numeric data-moeda
								disabled
							/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'filialParaColeta' | translate }}</label>
						<div class="col-lg-8">
							<div class="multi-input">
								<div class="col-xs-5">
									<input type="text" class="form-control" ng-model="data.filialByIdFilialResponsavel_sgFilial" id="filialByIdFilialResponsavel_sgFilial"
										disabled
									/>
								</div>
								<div class="col-xs-7">
									<input type="text" class="form-control" ng-model="data.filialByIdFilialResponsavel_nmFantasia" id="filialByIdFilialResponsavel_sgFilial"
										disabled
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'filialSolicitante' | translate }}</label>
						<div class="col-lg-8">
							<div class="multi-input">
								<div class="col-xs-5">
									<input type="text" class="form-control" ng-model="data.filialByIdFilialSolicitante_sgFilial" id="filialByIdFilialSolicitante_sgFilial"
										disabled
									/>
								</div>
								<div class="col-xs-7">
									<input type="text" class="form-control" ng-model="data.filialByIdFilialSolicitante_nmFantasia" id="filialByIdFilialSolicitante_nmFantasia"
										disabled
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'solicitacao' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" adsm-date-time class="form-control" ng-model="data.dhPedidoColeta" id="dhPedidoColeta" disabled />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'tipoColeta' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" ng-model="data.tpPedidoColeta_description" id="tpPedidoColeta_description" disabled />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'registradaPor' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" ng-model="data.nmSolicitante" id="nmSolicitante" disabled />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'modoColeta' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" ng-model="data.tpModoPedidoColeta_description" id="tpModoPedidoColeta_description" disabled />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-lg-2 control-label">{{ 'cliente' | translate }}</label>
						<div class="col-lg-10">
							<div class="multi-input">
								<div class="col-xs-5">
									<input type="text" class="form-control" ng-model="data.cliente_nrIdentificacaoFormatado" id="cliente_nrIdentificacaoFormatado" disabled />
								</div>
								<div class="col-xs-7">
									<input type="text" class="form-control" ng-model="data.cliente_nmPessoa" id="cliente_nmPessoa" disabled />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-lg-2 control-label">{{'endereco' | translate }}</label>
						<div class="col-lg-10">
							<textarea class="form-control" rows="2" maxlength="300" ng-model="data.enderecoComComplemento" id="obContato" class="form-control"
								style="resize: none;" disabled
							/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'municipio' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" ng-model="data.nmMunicipio" id="nmMunicipio" disabled />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'cep' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" ng-model="data.nrCep" id="nrCep" disabled />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'disponibilidadeColeta' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" adsm-date-time ng-model="data.dhColetaDisponivel" id="dhColetaDisponivel" disabled />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'horarioLimite' | translate}}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" adsm-time ng-model="data.hrLimiteColeta" id="hrLimiteColeta" disabled />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'dataPrevistaColeta' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" ng-model="data.dtPrevisaoColeta" mask="date" id="dtPrevisaoColeta" disabled />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'telefone' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" ng-model="data.nrTelefoneCliente" id="nrTelefoneCliente" disabled />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'contato' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" ng-model="data.nmContatoCliente" id="nmContatoCliente" disabled />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'rota' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" ng-model="data.dsRota" id="dsRota" disabled />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'regiao' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" ng-model="data.dsRegiaoColetaEntregaFil" id="dsRegiaoColetaEntregaFil" disabled />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'totalVolumes' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" ng-model="data.qtTotalVolumesVerificado" id="qtTotalVolumesVerificado" disabled />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'totalPeso' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" ng-model="data.psTotalInformado" id="psTotalInformado" data-numeric data-peso disabled />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'valorTotalMercadoria' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" ng-model="data.vlTotalVerificado" id="vlTotalVerificado" data-numeric data-moeda disabled />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'totalPesoAforado' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" ng-model="data.psTotalVerificado" id="psTotalInformado" data-numeric data-peso disabled />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'meioTransporte' | translate }}</label>
						<div class="col-lg-8">
							<div class="multi-input">
								<div class="col-xs-5">
									<input type="text" class="form-control" ng-model="data.nrFrota" id="nrFrota" disabled />
								</div>
								<div class="col-xs-7">
									<input type="text" class="form-control" ng-model="data.nrIdentificador" id="nrIdentificador" disabled />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'controleCargas' | translate }}</label>
						<div class="col-lg-8">
							<div class="multi-input">
								<div class="col-xs-5">
									<input type="text" class="form-control" ng-model="data.filialByIdFilialOrigem_sgFilial" id="filialByIdFilialOrigem_sgFilial" disabled />
								</div>
								<div class="col-xs-7">
									<input type="text" class="form-control" ng-model="data.nrControleCarga" id="nrControleCarga" disabled />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'manifesto' | translate }}</label>
						<div class="col-lg-8">
							<div class="multi-input">
								<div class="col-xs-5">
									<input type="text" class="form-control" ng-model="data.manifestoColeta_sgFilial" id="manifestoColeta_sgFilial" disabled />
								</div>
								<div class="col-xs-7">
									<input type="text" class="form-control" ng-model="data.manifestoColeta_nrManifesto" id="manifestoColeta_nrManifesto" disabled />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{ 'produtoDiferenciado' | translate }}</label>
						<div class="col-lg-8">
							<input type="checkbox" id="blProdutoDiferenciado" ng-model="data.blProdutoDiferenciado" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-lg-2 control-label">{{'observacao' | translate }}</label>
						<div class="col-lg-10">
							<textarea rows="2" class="form-control" maxlength="300" ng-model="data.obPedidoColeta" id="obPedidoColeta" class="form-control"
								style="resize: none;" disabled
							></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-lg-2 control-label">{{'obsCancelamento' | translate }}</label>
						<div class="col-lg-10">
							<textarea rows="2" class="form-control" maxlength="300" ng-model="data.obsCancelamento" id="obsCancelamento" class="form-control"
								style="resize: none;" disabled
							></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table adsm-table="listTableParamsDetalhesColeta" show-checkboxes="false">
					<tbody>
						<tr ng-repeat="row in page" >
							<td column-title="destino" class="text-center">{{row.nmMunicipio}}</td>
							<td column-title="filialDestino" class="text-center">{{row.sgFilial}}</td>
							<td column-title="naturezaMercadoria" class="text-center">{{row.dsNaturezaProduto}}</td>
							<td column-title="destinatario" class="text-center">{{row.tpIdentificacao}} {{row.nrIdentificacaoFormatado}} {{row.nmPessoa}}</td>
							<td column-title="servico" class="text-center">{{row.dsServico}}</td>
							<td column-title="frete" class="text-center">{{row.tpFrete}}</td>
							<td column-title="pesoKG" class="text-center">{{row.psAforado}}</td>
							<td column-title="volumes" class="text-center">{{row.qtVolumes}}</td>
							<td column-title="valor" class="text-center">{{row.vlMercadoria | currency: ''}}</td>
							<td column-title="preAwbAwb" class="text-center">{{row.awb}}</td>
							<td column-title="documentoServico" class="text-center">{{row.sgFilialOrigemDocto}}-{{row.nrDoctoServico}}</td>
							<td column-title="entregaDireta" class="text-center">{{row.blEntregaDireta}}</td>
							<td column-title="cotacao" class="text-center">{{row.cotacao_sgFilial}}-{{row.nrCotacao}}</td>
							<td column-title="crt" class="text-center">{{row.ctoInternacional_sgPais}}-{{row.ctoInternacional_nrCrt}}</td>
							<td column-title="observacao" class="text-center">{{row.obPedidoColeta}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default btn-lg pull-right" ng-click="close()">{{'fechar' | translate }}</button>
			<button type="button" id="botaoEmitir" class="btn btn-default btn-lg pull-right" ng-click="visualizaRelatorioPedidoColeta()">{{'emitirPedidoColeta' | translate }}</button>
			<button type="button" id="botaoEventoColeta" class="btn btn-default btn-lg pull-right" ng-click="openModalEventosColeta()">{{'eventosColeta' | translate }}</button>
			
			
		</div>
	</form>
</div>