<style type="text/css">
.my-modal .modal-dialog {
	width: 800px;
}
</style>
<div class="content">
	<form class="form-horizontal content-padding">
		
		<div class="modal-body">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-5 control-label">{{ 'meioTransporte' | translate }}</label>
						<div class="col-lg-7">
							<div class="multi-input">
								<div class="col-xs-5">
									<input type="text" class="form-control" ng-model="data.nrFrota" id="nrFrota" disabled />
								</div>
								<div class="col-xs-7">
									<input type="text" class="form-control" ng-model="data.nrIdentificador" id="nrIdentificador" disabled/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-5 control-label">{{ 'controleCargas' | translate }}</label>
						<div class="col-lg-7">
							<div class="multi-input">
								<div class="col-xs-5">
									<input type="text" class="form-control" ng-model="data.sgFilial" id="sgFilial" disabled/>
								</div>
								<div class="col-xs-7">
									<input type="text" class="form-control" ng-model="data.nrControleCarga" id="nrControleCarga" disabled/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-5 control-label">{{ 'tipoMeioTransporte' | translate }}</label>
						<div class="col-lg-7">
							<input type="text" class="form-control" ng-model="data.dsTipoMeioTransporte" id="dsTipoMeioTransporte" disabled/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-5 control-label">{{ 'capacidade' | translate }}</label>
						<div class="col-lg-7">
							<input type="text" class="form-control" ng-model="data.nrCapacidadeKg" id="nrCapacidadeKg" data-numeric data-peso disabled/>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-5 control-label">{{ 'capacidadeOciosa' | translate }}</label>
						<div class="col-lg-7">
							<input type="text" class="form-control" ng-model="data.pcOcupacaoInformado" id="pcOcupacaoInformado" data-numeric data-percentual disabled/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-5 control-label">{{ 'valorTotalFrota' | translate }}</label>
						<div class="col-lg-7">
							<input type="text" class="form-control" ng-model="data.vlTotalFrota" id="vlTotalFrota" data-numeric data-moeda disabled/>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-5 control-label">{{ 'pesoTotalFrota' | translate }}</label>
						<div class="col-lg-7">
							<input type="text" class="form-control" ng-model="data.psTotalFrota" id="psTotalFrota" data-numeric data-peso disabled/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-5 control-label">{{ 'valorColetado' | translate }}</label>
						<div class="col-lg-7">
							<input type="text" class="form-control" ng-model="data.vlColetado" id="vlColetado" data-numeric data-moeda disabled/>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-5 control-label">{{ 'valorColetar' | translate }}</label>
						<div class="col-lg-7">
							<input type="text" class="form-control" ng-model="data.vlAColetar" id="vlAColetar" data-numeric data-moeda disabled/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-5 control-label">{{ 'valorEntregar' | translate }}</label>
						<div class="col-lg-7">
							<input type="text" class="form-control" ng-model="data.vlAEntregar" id="vlAEntregar" data-numeric data-moeda disabled/>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-5 control-label">{{ 'valorEntregue' | translate }}</label>
						<div class="col-lg-7">
							<input type="text" class="form-control" ng-model="data.vlEntregue" id="vlEntregue" data-numeric data-moeda disabled/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-5 control-label">{{ 'pesoColetado' | translate }}</label>
						<div class="col-lg-7">
							<input type="text" class="form-control" ng-model="data.psColetado" id="psColetado" data-numeric data-peso disabled/>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-5 control-label">{{ 'pesoColetar' | translate }}</label>
						<div class="col-lg-7">
							<input type="text" class="form-control" ng-model="data.psAColetar" id="psAColetar" data-numeric data-peso disabled/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-5 control-label">{{ 'pesoEntregar' | translate }}</label>
						<div class="col-lg-7">
							<input type="text" class="form-control" ng-model="data.psAEntregar" id="psAEntregar" data-numeric data-peso disabled/>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-lg-5 control-label">{{ 'pesoEntregue' | translate }}</label>
						<div class="col-lg-7">
							<input type="text" class="form-control" ng-model="data.psEntregue" id="psEntregue" data-numeric data-peso disabled/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default btn-lg pull-right" ng-click="close()">{{'fechar' | translate }}</button>
		</div>
	</form>
</div>