<div class="content" style="background-color: white; padding: 20px;">
	<div class="fixed-top"></div>

		<table adsm-table="complementarTableParams"
			data-adsm-table-internal-loading="true" 
			class="table adsm-table-hover table-condensed adsm-table"
			style="width: 100%">
			<tbody>
				<tr ng-repeat="row in page">	
					<tr ng-repeat="row in page">
						<td column-title="preFaturaComplementar" style="min-width: 150px; max-width: 300px;">
							<span class="pull-left">{{row.filial.sgFilial}}</span>
							<span class="pull-right">{{row.nrReciboFreteCarreteiro | lpad : 10}}</span>						
						</td>														
						<td column-title="dataEmissao"
							sortable="dhEmissao"  
							style="min-width: 100px; max-width: 260px;">
							{{row.dhEmissao | dateTimeZone}}
						</td>
						<td column-title="situacao"
							sortable="tpSituacaoRecibo.description.value" 
							>
							{{row.tpSituacaoRecibo.description.value}}
						</td>						
						<td column-title="identificacao"
							sortable="nrIdentificacao" 
							style="min-width: 150px; max-width: 300px;">
							<span class="pull-left">{{row.proprietario.tpIdentificacao.description.value }}</span>
							<span class="pull-right"> {{row.proprietario.nrIdentificacao}}</span>								
						</td>
						<td column-title="proprietario"
							sortable="proprietario.nmPessoa" 
							style="min-width: 150px; max-width: 400px;">
							{{row.proprietario.nmPessoa}}
						</td>						
						<td column-title="dataPagamentoReal"
							sortable="dtPagtoReal" 
							style="min-width: 100px; max-width: 260px;">
							{{row.dtPagtoReal | dateTimeZone}}
						</td>
						<td column-title="valorLiquido"
							sortable="vlLiquido" 
							style="min-width: 160px; max-width: 400px;">								
							<span class="pull-left">{{row.moedaPais.moeda.sgMoeda}}</span>
							<span class="pull-left" style="text-indent: 10px;">{{row.moedaPais.moeda.dsSimbolo}}</span>
							<span class="pull-right">{{row.vlLiquido | number:2}}</span>
						</td>
					</tr>
				</tr>
			</tbody>
		</table>
</div>