<h2 class="page-header">{{'manterPreFatura' |  translate }}</h2>

<div style="padding: 0 20px; margin: 30px 0;">
	<ul adsm-tab-group="manterRecibo">
		<li adsm-tab="list" adsm-tab-title="{{'listagem' | translate }}" ng-disabled="dados.workflow"></li>
		<li adsm-tab="cad" adsm-tab-title="{{'detalhamento' | translate }}" ng-disabled="!$stateParams.id"></li>
		<li adsm-tab="workflow" adsm-tab-title="{{'historicoAprovacao' | translate }}" ng-disabled="!$stateParams.id"></li>
	</ul>
	<div ui-view class="content master" style="background-color: white;" data-adsm-loading="showTabLoading"></div>
</div>
