<div class="content" style="background-color: white; padding: 20px;">
	<div class="fixed-top"></div>
		<div class="scroll-table">
			<table class="table adsm-table-hover table-condensed adsm-table">
			<thead>
				<tr>
					<th>{{'notaCredito' | translate }}</th>
					<th>{{'tipo' | translate }} </th>
					<th>{{'controleCarga' | translate }} </th>
					<th>{{'valor' | translate }}</th>
					<th>{{'dataEmissao' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="nota in dados.notasCredito">
					<td>
						{{ nota.filial }} {{ nota.nrNotaCredito }}														
					</td>
					<td>
						{{ nota.tipo }}														
					</td>
					<td>
						{{ nota.filialControleCarga }} {{ nota.nrControleCarga }}														
					</td>
					<td>
						{{ nota.valor | number:2 }}														
					</td>
					<td>
						{{ nota.dataEmissao }}														
					</td>
				</tr>
			</tbody>												
		</table>
	</div>
</div>