<style type="text/css">
	.modal-rim .modal-dialog {
		max-width: 840px;
		min-width: 790px;
	}
</style>

<div class="modal-body" data-adsm-loading="consultando">
	<div class="form-horizontal">	
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="filial" class="col-lg-4 control-label" data-ng-bind="'recibo' | translate"></label>
					<div class="col-lg-8">
						<div class="multi-input">
							<div class="col-xs-3">
								<span id="filialsgFilial" data-ng-bind="info.filialsgFilial" class="form-control"></span>					
							</div>
							<div class="col-xs-9">
								<span id="nrReciboFreteCarreteiro2" data-ng-bind="info.nrReciboFreteCarreteiro2" class="form-control"></span>			
							</div>					
						</div>
					</div>
				</div>
			</div>
		
			<div class="col-sm-6">
				<div class="form-group">				
					<label for="terminal" class="col-lg-4 control-label" data-ng-bind="'situacao' | translate"></label>
					<div class="col-lg-8">
						<span id="tpSituacaoRecibodescription" data-ng-bind="info.tpSituacaoRecibodescription" class="form-control"></span>					
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="descricao" class="col-lg-4 control-label" data-ng-bind="'meioTransporte' | translate"></label>
					<div class="col-lg-8">
						<div class="multi-input">								
							<div class="col-xs-6">
								<span id="meioTransportenrFrota" data-ng-bind="info.meioTransportenrFrota" class="form-control"></span>		
							</div>
							<div class="col-xs-6">
								<span id="meioTransportenrIdentificador" data-ng-bind="info.meioTransportenrIdentificador" class="form-control"></span>												
							</div>
						</div>
					</div>							
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="nrCodigoBarras" class="col-lg-2 control-label" data-ng-bind="'proprietario' | translate"></label>
					<div class="col-lg-10">
						<div class="multi-input">					
							<div class="col-xs-4">
								<span id="proprietariopessoanrIdentificacaoFormatado" data-ng-bind="info.proprietariopessoanrIdentificacaoFormatado" class="form-control"></span>													
							</div>
							<div class="col-xs-8">
								<span id="proprietariopessoanmPessoa" data-ng-bind="info.proprietariopessoanmPessoa" class="form-control"></span>							
							</div>
						</div>	
					</div>																	
				</div>
			</div>
		</div>
		
		<accordion close-others="false" id="accordionRim">
			<accordion-group is-open="isRimOpen">
				<accordion-heading>
					<span class="glyphicon" ng-class="{'glyphicon-chevron-down': isRimOpen, 'glyphicon-chevron-right': !isRimOpen}"></span>
					{{'itens' | translate}}
				</accordion-heading>
		
					<table adsm-table="listTableParams"
						data-adsm-table-internal-loading="true"
						class="table table-condensed adsm-table"
						style="width: 100%">
						<tbody>
							<tr ng-repeat="row in page">
								<td column-title="documentoServico" style="min-width: 160px; max-width: 400px;">
									<span class="pull-left">{{row.doctoServicotpDocumentoServico}}</span>
									<span class="pull-left" style="text-indent: 10px;">{{row.doctoServicofilialByIdFilialOrigemSgFilial}}</span>
									<span class="pull-right">{{row.doctoServiconrDoctoServico | lpad : 10}}</span>									
								</td>
								<td column-title="dataEmissao" align="center" style="min-width: 140px; max-width: 200px;">
									{{row.doctoServicodhEmissao}}
								</td>
								<td column-title="valor" style="min-width: 140px; max-width: 320px;">
									<span class="pull-left">{{row.doctoServicomoeda}}</span>
									<span class="pull-right">{{row.doctoServicovlMercadoria | currency: ''}}</span>									 
								</td>
								<td column-title="numeroRIM" style="min-width: 120px; max-width: 320px;">
									<span class="pull-left">{{row.reciboIndenizacaofilial}}</span>
									<span class="pull-right">{{row.reciboIndenizacaonrReciboIndenizacao | lpad : 10}}</span>									
								</td>
								<td column-title="dataEmissao" align="center" style="min-width: 140px; max-width: 200px;">
									{{row.reciboIndenizacaodhEmissao}}
								</td>
								<td column-title="valorIndenizado" style="min-width: 140px; max-width: 320px;">
									<span class="pull-left">{{row.reciboIndenizacaomoeda}}</span>
									<span class="pull-right">{{row.reciboIndenizacaonrValorIndenizacaoReal | currency: ''}}</span>									
								</td>		
								<td column-title="visualizar" >
									<a class="search-icon" data-ng-click="visualizarRim(row.urlRecibo)" adsm-legacy></a>							
								</td>
							</tr>
						</tbody>
					</table>
			</accordion-group>
		</accordion>		
	</div>
</div>

<div class="modal-footer">
	<button class="fix-btn" data-ng-click="close()"
		data-ng-bind="'fechar' | translate"></button>
</div>
