<form class="form-horizontal content-padding" data-ng-submit="find()"> 
 
	<div class="row"> 

		<button type="button" data-ng-click="fechamento()"
			class="btn btn-default btn-lg" id="fechamento"
			ng-disabled="data.desabilitaBotaoFechamento" >
			{{'fechamento' | translate }}
		</button>
		
		<button type="button" data-ng-click="aprovacao()"
			class="btn btn-default btn-lg" id="aprovacao"
			ng-disabled="data.desabilitaBotaoAprovacao" >
			{{'aprovacao' | translate }}
		</button>

		<button type="button" data-ng-click="envioRh()"
			class="btn btn-default btn-lg" id="enviorh"
			ng-disabled="data.desabilitaEnvioRh">
			{{'envioRh' | translate }}
		</button>

	</div> 

</form> 
