
<div class="fixed-top">
	<button type="button" data-ng-click="loadGenaralidades()" class="btn btn-default btn-lg pull-right" id="reset" ng-disabled="data.efetivado">
			{{'reset' | translate }}
	</button>
	
	<button type="button" data-ng-click="salvarGeneralidades()" class="btn btn-default btn-lg pull-right" id="salvar" ng-disabled="data.efetivado">
			{{'salvar' | translate }}
	</button>
	
</div>

<div class="row">
	<table class="table adsm-table-hover table-condensed table-clickable adsm-table" style="width: 90%;margin-left:5%;">
		<thead>
			<tr>
				<th> {{'generalidade' |  translate }} </th>
				<th> {{'origem' |  translate }} </th>
				<th> {{'destino' |  translate }} </th>
				<th> {{'valor' |  translate }} <input type="text" ng-model="headerValue" ng-blur="calcHeaderValue( listGeneralidades, headerValue , 'VALOR', 'CALCULADO', 'PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" style="width:90px;"  /> </th>
				<th> % <input type="text" ng-model="headerPerc" ng-blur="calcHeaderPercentual( listGeneralidades, headerPerc , 'VALOR', 'CALCULADO', 'PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual style="width:90px;" /> </th>
				<th> {{'valorMinimo' |  translate }} <input type="text" ng-model="headerMinValue" ng-blur="calcHeaderValue( listGeneralidades, headerMinValue , 'MINIMO_VALOR', 'MINIMO_CALCULADO', 'MINIMO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" style="width:90px;" /> </th>
				<th> {{'percentualMinimo' |  translate }} <input type="text" ng-model="headerMinPerc" ng-blur="calcHeaderPercentual( listGeneralidades, headerMinPerc , 'MINIMO_VALOR', 'MINIMO_CALCULADO', 'MINIMO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual style="width:90px;" /> </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in listGeneralidades">	
				
				<td>
					{{row.GENERALIDADE}}
				</td>
				<td>
					{{row.ORIGEM}}
				</td>
				<td>
					{{row.DESTINO}}
				</td>
				
				<td>
					<input type="text" ng-model="row.CALCULADO" class="form-control" ng-blur="calcValue( listGeneralidades, $index, 'VALOR', 'CALCULADO', 'PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  ng-disabled="!row.VALOR" style="width:90px;" />
				</td>
				<td>
					<input type="text" ng-model="row.PERCENTUAL" class="form-control" ng-blur="calcPercentual( listGeneralidades, $index, 'VALOR', 'CALCULADO', 'PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.VALOR" style="width:90px;" />
				</td>
				
				<td>
					<input type="text" ng-model="row.MINIMO_CALCULADO" class="form-control" ng-blur="calcValue( listGeneralidades, $index, 'MINIMO_VALOR', 'MINIMO_CALCULADO', 'MINIMO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.MINIMO_VALOR" style="width:90px;" />
				</td>
				<td>
					<input type="text" ng-model="row.MINIMO_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listGeneralidades, $index, 'MINIMO_VALOR', 'MINIMO_CALCULADO', 'MINIMO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.MINIMO_VALOR" style="width:90px;" />
				</td>
		
			</tr>
		</tbody>
	</table>
</div>
