
<div class="fixed-top">
	<button type="button" data-ng-click="loadGenaralidadeObrig()" class="btn btn-default btn-lg pull-right" id="reset" ng-disabled="data.efetivado">
			{{'reset' | translate }}
	</button>
	
	<button type="button" data-ng-click="salvarGeneralidadeObrig()" class="btn btn-default btn-lg pull-right" id="salvar" ng-disabled="data.efetivado">
			{{'salvar' | translate }}
	</button>
	
</div>

<div class="row">
	<div adsm-add-field data-boxSize="6" data-label="tipo" data-labelSize="2" data-fieldSize="10">
		<select 
			adsm-chosen  ng-model="tpGeneralidadeObrig" id="tpGeneralidadeObrig" 
			ng-options="data for data in tiposGeneralidadeObrig track by data">
			<option value=""></option>
		</select>
	</div>
	<br/>
	<br/>
	<br/>
</div>	

<div class="row">
	<table class="table adsm-table-hover table-condensed table-clickable adsm-table" style="width: 90%;margin-left:5%;">
		<thead>
			<tr>
				<th rowspan="2"> {{'origem' |  translate }} </th>
				<th rowspan="2"> {{'destino' |  translate }} </th>
				<th colspan="2" ng-if="tpGeneralidadeObrig === 'Pedagio'"> {{'pedagio' |  translate }} </th>
				<th colspan="2" ng-if="tpGeneralidadeObrig === 'Gris'"> {{'gris' |  translate }} </th>
				<th colspan="2" ng-if="tpGeneralidadeObrig === 'Minimo Gris'"> {{'minimoGris' |  translate }} </th>
				<th colspan="2" ng-if="tpGeneralidadeObrig === 'Minimo TRT'"> {{'minimoTrt' |  translate }} </th>
				<th colspan="2" ng-if="tpGeneralidadeObrig === 'Minimo TDE'"> {{'minimoTde' |  translate }} </th>
				<th colspan="2" ng-if="tpGeneralidadeObrig === 'TRT'"> {{'trt' |  translate }} </th>
				<th colspan="2" ng-if="tpGeneralidadeObrig === 'TDE'"> {{'tde' |  translate }} </th>
			</tr>
			<tr>
				<th ng-if="tpGeneralidadeObrig === 'Pedagio'"> {{'valor' |  translate }} <input type="text" ng-model="headerPedagioValue" ng-blur="calcHeaderValue( listGenaralidadeObrig, headerPedagioValue, 'PEDAGIO_ORIGINAL', 'PEDAGIO_CALCULADO', 'PEDAGIO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpGeneralidadeObrig === 'Pedagio'"> {{'percentual' |  translate }} <input type="text" ng-model="headerPedagioPerc" ng-blur="calcHeaderPercentual( listGenaralidadeObrig, headerPedagioPerc, 'PEDAGIO_ORIGINAL', 'PEDAGIO_CALCULADO', 'PEDAGIO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>
				
				<th ng-if="tpGeneralidadeObrig === 'Gris'"> {{'valor' |  translate }} <input type="text" ng-model="headerGrisValue" ng-blur="calcHeaderValue( listGenaralidadeObrig, headerGrisValue, 'GRIS_ORIGINAL', 'GRIS_CALCULADO', 'GRIS_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpGeneralidadeObrig === 'Gris'"> {{'percentual' |  translate }} <input type="text" ng-model="headerGrisPerc" ng-blur="calcHeaderPercentual( listGenaralidadeObrig, headerGrisPerc, 'GRIS_ORIGINAL', 'GRIS_CALCULADO', 'GRIS_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>
				
				<th ng-if="tpGeneralidadeObrig === 'Minimo Gris'"> {{'valor' |  translate }} <input type="text" ng-model="headerGrisMinValue" ng-blur="calcHeaderValue( listGenaralidadeObrig,  headerGrisMinValue , 'GRIS_MIN_ORIGINAL', 'GRIS_MIN_CALCULADO', 'GRIS_MIN_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpGeneralidadeObrig === 'Minimo Gris'"> {{'percentual' |  translate }} <input type="text" ng-model="headerGrisMinPerc" ng-blur="calcHeaderPercentual( listGenaralidadeObrig,  headerGrisMinPerc , 'GRIS_MIN_ORIGINAL', 'GRIS_MIN_CALCULADO', 'GRIS_MIN_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>
				
				<th ng-if="tpGeneralidadeObrig === 'Minimo TRT'"> {{'valor' |  translate }} <input type="text" ng-model="headerTRTMinValue" ng-blur="calcHeaderValue( listGenaralidadeObrig,  headerTRTMinValue , 'TRT_MIN_ORIGINAL', 'TRT_MIN_CALCULADO', 'TRT_MIN_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpGeneralidadeObrig === 'Minimo TRT'"> {{'percentual' |  translate }} <input type="text" ng-model="headerTRTMinPerc" ng-blur="calcHeaderPercentual( listGenaralidadeObrig,  headerTRTMinPerc , 'TRT_MIN_ORIGINAL', 'TRT_MIN_CALCULADO', 'TRT_MIN_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>
				
				<th ng-if="tpGeneralidadeObrig === 'Minimo TDE'"> {{'valor' |  translate }} <input type="text" ng-model="headerTDEMinValue" ng-blur="calcHeaderValue( listGenaralidadeObrig,  headerTDEMinValue , 'TDE_MIN_ORIGINAL', 'TDE_MIN_CALCULADO', 'TDE_MIN_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpGeneralidadeObrig === 'Minimo TDE'"> {{'percentual' |  translate }} <input type="text" ng-model="headerTDEMinPerc" ng-blur="calcHeaderPercentual( listGenaralidadeObrig,  headerTDEMinPerc , 'TDE_MIN_ORIGINAL', 'TDE_MIN_CALCULADO', 'TDE_MIN_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>
				
				<th ng-if="tpGeneralidadeObrig === 'TRT'"> {{'valor' |  translate }} <input type="text" ng-model="headerTRTValue" ng-blur="calcHeaderValue( listGenaralidadeObrig, headerTRTValue, 'TRT_ORIGINAL', 'TRT_CALCULADO', 'TRT_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpGeneralidadeObrig === 'TRT'"> {{'percentual' |  translate }} <input type="text" ng-model="headerTRTPerc" ng-blur="calcHeaderPercentual( listGenaralidadeObrig, headerTRTPerc, 'TRT_ORIGINAL', 'TRT_CALCULADO', 'TRT_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>

				<th ng-if="tpGeneralidadeObrig === 'TDE'"> {{'valor' |  translate }} <input type="text" ng-model="headerTDEValue" ng-blur="calcHeaderValue( listGenaralidadeObrig, headerTDEValue, 'TDE_ORIGINAL', 'TDE_CALCULADO', 'TDE_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpGeneralidadeObrig === 'TDE'"> {{'percentual' |  translate }} <input type="text" ng-model="headerTDEPerc" ng-blur="calcHeaderPercentual( listGenaralidadeObrig, headerTDEPerc, 'TDE_ORIGINAL', 'TDE_CALCULADO', 'TDE_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>
				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in listGenaralidadeObrig">	
				
				<td>
					{{row.ORIGEM}}
				</td>
				<td>
					{{row.DESTINO}}
				</td>
				<td ng-if="tpGeneralidadeObrig === 'Pedagio'">
					<input type="text" ng-model="row.PEDAGIO_CALCULADO" class="form-control" ng-blur="calcValue( listGenaralidadeObrig, $index, 'PEDAGIO_ORIGINAL', 'PEDAGIO_CALCULADO', 'PEDAGIO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  ng-disabled="!row.PEDAGIO_ORIGINAL" />
				</td>
				<td ng-if="tpGeneralidadeObrig === 'Pedagio'">
					<input type="text" ng-model="row.PEDAGIO_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listGenaralidadeObrig, $index, 'PEDAGIO_ORIGINAL', 'PEDAGIO_CALCULADO', 'PEDAGIO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.PEDAGIO_ORIGINAL" />
				</td>
				
				<td ng-if="tpGeneralidadeObrig === 'Gris'">
					<input type="text" ng-model="row.GRIS_CALCULADO" class="form-control" ng-blur="calcValue( listGenaralidadeObrig, $index, 'GRIS_ORIGINAL', 'GRIS_CALCULADO', 'GRIS_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.GRIS_ORIGINAL" />
				</td>
				<td ng-if="tpGeneralidadeObrig === 'Gris'">
					<input type="text" ng-model="row.GRIS_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listGenaralidadeObrig, $index, 'GRIS_ORIGINAL', 'GRIS_CALCULADO', 'GRIS_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.GRIS_ORIGINAL" />
				</td>
				
				<td ng-if="tpGeneralidadeObrig === 'Minimo Gris'">
					<input type="text" ng-model="row.GRIS_MIN_CALCULADO" class="form-control" ng-blur="calcValue( listGenaralidadeObrig, $index, 'GRIS_MIN_ORIGINAL', 'GRIS_MIN_CALCULADO', 'GRIS_MIN_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  ng-disabled="!row.GRIS_MIN_ORIGINAL" />
				</td>
				<td ng-if="tpGeneralidadeObrig === 'Minimo Gris'">
					<input type="text" ng-model="row.GRIS_MIN_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listGenaralidadeObrig, $index, 'GRIS_MIN_ORIGINAL', 'GRIS_MIN_CALCULADO', 'GRIS_MIN_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.GRIS_MIN_ORIGINAL" />
				</td>

				<td ng-if="tpGeneralidadeObrig === 'Minimo TRT'">
					<input type="text" ng-model="row.TRT_MIN_CALCULADO" class="form-control" ng-blur="calcValue( listGenaralidadeObrig, $index, 'TRT_MIN_ORIGINAL', 'TRT_MIN_CALCULADO', 'TRT_MIN_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.TRT_MIN_ORIGINAL" />
				</td>
				<td ng-if="tpGeneralidadeObrig === 'Minimo TRT'">
					<input type="text" ng-model="row.TRT_MIN_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listGenaralidadeObrig, $index, 'TRT_MIN_ORIGINAL', 'TRT_MIN_CALCULADO', 'TRT_MIN_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.TRT_MIN_ORIGINAL" />
				</td>
				
				<td ng-if="tpGeneralidadeObrig === 'Minimo TDE'">
					<input type="text" ng-model="row.TDE_MIN_CALCULADO" class="form-control" ng-blur="calcValue( listGenaralidadeObrig, $index, 'TDE_MIN_ORIGINAL', 'TDE_MIN_CALCULADO', 'TDE_MIN_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.TDE_MIN_ORIGINAL" />
				</td>
				<td ng-if="tpGeneralidadeObrig === 'Minimo TDE'">
					<input type="text" ng-model="row.TDE_MIN_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listGenaralidadeObrig, $index, 'TDE_MIN_ORIGINAL', 'TDE_MIN_CALCULADO', 'TDE_MIN_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.TDE_MIN_ORIGINAL" />
				</td>
				
				<td ng-if="tpGeneralidadeObrig === 'TRT'">
					<input type="text" ng-model="row.TRT_CALCULADO" class="form-control" ng-blur="calcValue( listGenaralidadeObrig, $index, 'TRT_ORIGINAL', 'TRT_CALCULADO', 'TRT_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.TRT_ORIGINAL" />
				</td>
				<td ng-if="tpGeneralidadeObrig === 'TRT'">
					<input type="text" ng-model="row.TRT_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listGenaralidadeObrig, $index, 'TRT_ORIGINAL', 'TRT_CALCULADO', 'TRT_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.TRT_ORIGINAL" />
				</td>
				
				<td ng-if="tpGeneralidadeObrig === 'TDE'">
					<input type="text" ng-model="row.TDE_CALCULADO" class="form-control" ng-blur="calcValue( listGenaralidadeObrig, $index, 'TDE_ORIGINAL', 'TDE_CALCULADO', 'TDE_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  ng-disabled="!row.TDE_ORIGINAL"  />
				</td>
				<td ng-if="tpGeneralidadeObrig === 'TDE'">
					<input type="text" ng-model="row.TDE_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listGenaralidadeObrig, $index, 'TDE_ORIGINAL', 'TDE_CALCULADO', 'TDE_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.TDE_ORIGINAL"  />
				</td>
		
			</tr>
		</tbody>
	</table>
</div>
