
<div class="fixed-top">
	<button type="button" data-ng-click="loadFretePeso()" class="btn btn-default btn-lg pull-right" id="reset" ng-disabled="data.efetivado">
			{{'reset' | translate }}
	</button>
	
	<button type="button" data-ng-click="salvarFretePeso()" class="btn btn-default btn-lg pull-right" id="salvar" ng-disabled="data.efetivado">
			{{'salvar' | translate }}
	</button>
	
</div>

<div class="row">
	<div adsm-add-field data-boxSize="6" data-label="tipo" data-labelSize="2" data-fieldSize="10">
		<select 
			adsm-chosen  ng-model="tpFretePeso" id="tpFretePeso" 
			ng-options="data for data in tiposFretePeso track by data">
			<option value=""></option>
		</select>
	</div>
	<br/>
	<br/>
	<br/>
</div>	

<div class="row">
	<table class="table adsm-table-hover table-condensed table-clickable adsm-table" style="width: 90%;margin-left:5%;">
		<thead>
			<tr>
				<th rowspan="2"> {{'origem' |  translate }} </th>
				<th rowspan="2"> {{'destino' |  translate }} </th>
				<th colspan="2" ng-if="tpFretePeso === 'Advalorem'"> {{'advalorem' |  translate }} </th>
				<th colspan="2" ng-if="tpFretePeso === 'Advalorem2'"> {{'advalorem' |  translate }}2 </th>
				<th colspan="2" ng-if="tpFretePeso === 'Tonelada Frete'"> {{'emitirTonelada' |  translate }} </th>
				<th colspan="2" ng-if="tpFretePeso === 'Frete Peso'"> {{'fretePeso' |  translate }} </th>
				<th colspan="2" ng-if="tpFretePeso === 'Frete Volume'"> {{'volume' |  translate }} </th>
				<th colspan="2" ng-if="tpFretePeso === 'Tarifa Minima'"> {{'tarifaMinima' |  translate }} </th>
				<th colspan="2" ng-if="tpFretePeso === 'Tarifa Especifica'"> {{'tarifaEspecifica' |  translate }} </th>
				<th colspan="2" ng-if="tpFretePeso === 'Referencia'"> {{'freteReferencia' |  translate }} </th>
				<th colspan="2" ng-if="tpFretePeso === 'Minimo Frete'"> {{'freteMinimo' |  translate }} </th>
				<th colspan="2" ng-if="tpFretePeso === 'Minimo Frete Quilo'"> {{'freteQuilo' |  translate }} </th>
				<th colspan="2" ng-if="tpFretePeso === 'Minimo Frete Peso'"> {{'minimoFretePeso' |  translate }} </th>
				<th colspan="2" ng-if="tpFretePeso === 'Minimo Progressivo'"> {{'minimoProgressivo' |  translate }} </th>
			</tr>
			<tr>
				<th ng-if="tpFretePeso === 'Advalorem'"> {{'valor' |  translate }} <input type="text" ng-model="headerAdvalorenValue" ng-blur="calcHeaderValue( listFretePeso, headerAdvalorenValue , 'ADVALOREN_ORIGINAL', 'ADVALOREN_CALCULADO', 'ADVALOREN_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpFretePeso === 'Advalorem'"> {{'percentual' |  translate }} <input type="text" ng-model="headerAdvalorenPerc" ng-blur="calcHeaderPercentual( listFretePeso,  headerAdvalorenPerc , 'ADVALOREN_ORIGINAL', 'ADVALOREN_CALCULADO', 'ADVALOREN_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>
				
				<th ng-if="tpFretePeso === 'Advalorem2'"> {{'valor' |  translate }} <input type="text" ng-model="headerAdvaloren2Value" ng-blur="calcHeaderValue( listFretePeso,  headerAdvaloren2Value , 'ADVALOREN2_ORIGINAL', 'ADVALOREN2_CALCULADO', 'ADVALOREN2_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpFretePeso === 'Advalorem2'"> {{'percentual' |  translate }} <input type="text" ng-model="headerAdvaloren2Perc" ng-blur="calcHeaderPercentual( listFretePeso,  headerAdvaloren2Perc , 'ADVALOREN2_ORIGINAL', 'ADVALOREN2_CALCULADO', 'ADVALOREN2_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>
				
				<th ng-if="tpFretePeso === 'Tonelada Frete'"> {{'valor' |  translate }} <input type="text" ng-model="headerToneladaFreteValue" ng-blur="calcHeaderValue( listFretePeso,  headerToneladaFreteValue , 'TONELADA_FRETE_ORIGINAL', 'TONELADA_FRETE_CALCULADO', 'TONELADA_FRETE_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpFretePeso === 'Tonelada Frete'"> {{'percentual' |  translate }} <input type="text" ng-model="headerToneladaFretePerc" ng-blur="calcHeaderPercentual(  listFretePeso, headerToneladaFretePerc , 'TONELADA_FRETE_ORIGINAL', 'TONELADA_FRETE_CALCULADO', 'TONELADA_FRETE_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>
				
				<th ng-if="tpFretePeso === 'Frete Peso'"> {{'valor' |  translate }} <input type="text" ng-model="headerFretePesoValue" ng-blur="calcHeaderValue(  listFretePeso, headerFretePesoValue , 'FRETE_PESO_ORIGINAL', 'FRETE_PESO_CALCULADO', 'FRETE_PESO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpFretePeso === 'Frete Peso'"> {{'percentual' |  translate }} <input type="text" ng-model="headerFretePesoPerc" ng-blur="calcHeaderPercentual( listFretePeso,  headerFretePesoPerc , 'FRETE_PESO_ORIGINAL', 'FRETE_PESO_CALCULADO', 'FRETE_PESO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>
				
				<th ng-if="tpFretePeso === 'Frete Volume'"> {{'valor' |  translate }} <input type="text" ng-model="headerFreteVolumeValue" ng-blur="calcHeaderValue( listFretePeso,  headerFreteVolumeValue , 'FRETE_VOLUME_ORIGINAL', 'FRETE_VOLUME_CALCULADO', 'FRETE_VOLUME_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpFretePeso === 'Frete Volume'"> {{'percentual' |  translate }} <input type="text" ng-model="headerFreteVolumePerc" ng-blur="calcHeaderPercentual( listFretePeso,  headerFreteVolumePerc , 'FRETE_VOLUME_ORIGINAL', 'FRETE_VOLUME_CALCULADO', 'FRETE_VOLUME_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>
				
				<th ng-if="tpFretePeso === 'Tarifa Minima'"> {{'valor' |  translate }} <input type="text" ng-model="headerTarifaMinimaValue" ng-blur="calcHeaderValue( listFretePeso,  headerTarifaMinimaValue , 'TARIFA_MINIMA_ORIGINAL', 'TARIFA_MINIMA_CALCULADO', 'TARIFA_MINIMA_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpFretePeso === 'Tarifa Minima'"> {{'percentual' |  translate }} <input type="text" ng-model="headerTarifaMinimaPerc" ng-blur="calcHeaderPercentual( listFretePeso,  headerTarifaMinimaPerc , 'TARIFA_MINIMA_ORIGINAL', 'TARIFA_MINIMA_CALCULADO', 'TARIFA_MINIMA_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>

				<th ng-if="tpFretePeso === 'Tarifa Especifica'"> {{'valor' |  translate }} <input type="text" ng-model="headerTarifaEspecificaValue" ng-blur="calcHeaderValue( listFretePeso,  headerTarifaEspecificaValue , 'TARIFA_ESPECIFICA_ORIGINAL', 'TARIFA_ESPECIFICA_CALCULADO', 'TARIFA_ESPECIFICA_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpFretePeso === 'Tarifa Especifica'"> {{'percentual' |  translate }} <input type="text" ng-model="headerTarifaEspecificaPerc" ng-blur="calcHeaderPercentual( listFretePeso,  headerTarifaEspecificaPerc , 'TARIFA_ESPECIFICA_ORIGINAL', 'TARIFA_ESPECIFICA_CALCULADO', 'TARIFA_ESPECIFICA_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>

				<th ng-if="tpFretePeso === 'Referencia'"> {{'valor' |  translate }} <input type="text" ng-model="headerReferenciaValue" ng-blur="calcHeaderValue( listFretePeso,  headerReferenciaValue , 'REFERENCIA_ORIGINAL', 'REFERENCIA_CALCULADO', 'REFERENCIA_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpFretePeso === 'Referencia'"> {{'percentual' |  translate }} <input type="text" ng-model="headerReferenciaPerc" ng-blur="calcHeaderPercentual( listFretePeso,  headerReferenciaPerc , 'REFERENCIA_ORIGINAL', 'REFERENCIA_CALCULADO', 'REFERENCIA_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>
				
				<th ng-if="tpFretePeso === 'Minimo Frete'"> {{'valor' |  translate }} <input type="text" ng-model="headerMinFreteValue" ng-blur="calcHeaderValue( listFretePeso,  headerMinFreteValue , 'MINIMO_FRETE_ORIGINAL', 'MINIMO_FRETE_CALCULADO', 'MINIMO_FRETE_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpFretePeso === 'Minimo Frete'"> {{'percentual' |  translate }} <input type="text" ng-model="headerMinFretePerc" ng-blur="calcHeaderPercentual( listFretePeso,  headerMinFretePerc , 'MINIMO_FRETE_ORIGINAL', 'MINIMO_FRETE_CALCULADO', 'MINIMO_FRETE_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>
				
				<th ng-if="tpFretePeso === 'Minimo Frete Quilo'"> {{'valor' |  translate }} <input type="text" ng-model="headerMinFreteQuiloValue" ng-blur="calcHeaderValue( listFretePeso,  headerMinFreteQuiloValue , 'MINIMO_FRETE_QUILO_ORIGINAL', 'MINIMO_FRETE_QUILO_CALCULADO', 'MINIMO_FRETE_QUILO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpFretePeso === 'Minimo Frete Quilo'"> {{'percentual' |  translate }} <input type="text" ng-model="headerMinFreteQuiloPerc" ng-blur="calcHeaderPercentual( listFretePeso,  headerMinFreteQuiloPerc , 'MINIMO_FRETE_QUILO_ORIGINAL', 'MINIMO_FRETE_QUILO_CALCULADO', 'MINIMO_FRETE_QUILO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>
				
				<th ng-if="tpFretePeso === 'Minimo Frete Peso'"> {{'valor' |  translate }} <input type="text" ng-model="headerMinFretePesoValue" ng-blur="calcHeaderValue( listFretePeso,  headerMinFretePesoValue , 'MINIMO_FRETE_PESO_ORIGINAL', 'MINIMO_FRETE_PESO_CALCULADO', 'MINIMO_FRETE_PESO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpFretePeso === 'Minimo Frete Peso'"> {{'percentual' |  translate }} <input type="text" ng-model="headerMinFretePesoPerc" ng-blur="calcHeaderPercentual( listFretePeso,  headerMinFretePesoPerc , 'MINIMO_FRETE_PESO_ORIGINAL', 'MINIMO_FRETE_PESO_CALCULADO', 'MINIMO_FRETE_PESO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>
				
				<th ng-if="tpFretePeso === 'Minimo Progressivo'"> {{'valor' |  translate }} <input type="text" ng-model="headerMinProgramadoValue" ng-blur="calcHeaderValue( listFretePeso,  headerMinProgramadoValue , 'MINIMO_PROGRAMADO_ORIGINAL', 'MINIMO_PROGRAMADO_CALCULADO', 'MINIMO_PROGRAMADO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  /> </th>
				<th ng-if="tpFretePeso === 'Minimo Progressivo'"> {{'percentual' |  translate }} <input type="text" ng-model="headerMinProgramadoPerc" ng-blur="calcHeaderPercentual( listFretePeso,  headerMinProgramadoPerc , 'MINIMO_PROGRAMADO_ORIGINAL', 'MINIMO_PROGRAMADO_CALCULADO', 'MINIMO_PROGRAMADO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  /> </th>
				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in listFretePeso">	
				
				<td>
					{{row.ORIGEM}}
				</td>
				<td>
					{{row.DESTINO}}
				</td>
				<td ng-if="tpFretePeso === 'Advalorem'">
					<input type="text" ng-model="row.ADVALOREN_CALCULADO" class="form-control" ng-blur="calcValue( listFretePeso, $index, 'ADVALOREN_ORIGINAL', 'ADVALOREN_CALCULADO', 'ADVALOREN_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.ADVALOREN_ORIGINAL" />
				</td>
				<td ng-if="tpFretePeso === 'Advalorem'">
					<input type="text" ng-model="row.ADVALOREN_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listFretePeso, $index, 'ADVALOREN_ORIGINAL', 'ADVALOREN_CALCULADO', 'ADVALOREN_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.ADVALOREN_ORIGINAL" />
				</td>
				
				<td ng-if="tpFretePeso === 'Advalorem2'">
					<input type="text" ng-model="row.ADVALOREN2_CALCULADO" class="form-control" ng-blur="calcValue( listFretePeso, $index, 'ADVALOREN2_ORIGINAL', 'ADVALOREN2_CALCULADO', 'ADVALOREN2_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.ADVALOREN2_ORIGINAL" />
				</td>
				<td ng-if="tpFretePeso === 'Advalorem2'">
					<input type="text" ng-model="row.ADVALOREN2_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listFretePeso, $index, 'ADVALOREN2_ORIGINAL', 'ADVALOREN2_CALCULADO', 'ADVALOREN2_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.ADVALOREN2_ORIGINAL" />
				</td>
				
				<td ng-if="tpFretePeso === 'Tonelada Frete'">
					<input type="text" ng-model="row.TONELADA_FRETE_CALCULADO" class="form-control" ng-blur="calcValue( listFretePeso, $index, 'TONELADA_FRETE_ORIGINAL', 'TONELADA_FRETE_CALCULADO', 'TONELADA_FRETE_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  ng-disabled="!row.TONELADA_FRETE_ORIGINAL"  />
				</td>
				<td ng-if="tpFretePeso === 'Tonelada Frete'">
					<input type="text" ng-model="row.TONELADA_FRETE_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listFretePeso, $index, 'TONELADA_FRETE_ORIGINAL', 'TONELADA_FRETE_CALCULADO', 'TONELADA_FRETE_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual  ng-disabled="!row.TONELADA_FRETE_ORIGINAL"  />
				</td>

				<td ng-if="tpFretePeso === 'Frete Peso'">
					<input type="text" ng-model="row.FRETE_PESO_CALCULADO" class="form-control" ng-blur="calcValue( listFretePeso, $index, 'FRETE_PESO_ORIGINAL', 'FRETE_PESO_CALCULADO', 'FRETE_PESO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.FRETE_PESO_CALCULADO" />
				</td>
				<td ng-if="tpFretePeso === 'Frete Peso'">
					<input type="text" ng-model="row.FRETE_PESO_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listFretePeso, $index, 'FRETE_PESO_ORIGINAL', 'FRETE_PESO_CALCULADO', 'FRETE_PESO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.FRETE_PESO_CALCULADO" />
				</td>
				
				<td ng-if="tpFretePeso === 'Frete Volume'">
					<input type="text" ng-model="row.FRETE_VOLUME_CALCULADO" class="form-control" ng-blur="calcValue( listFretePeso, $index, 'FRETE_VOLUME_ORIGINAL', 'FRETE_VOLUME_CALCULADO', 'FRETE_VOLUME_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.FRETE_VOLUME_ORIGINAL"  />
				</td>
				<td ng-if="tpFretePeso === 'Frete Volume'">
					<input type="text" ng-model="row.FRETE_VOLUME_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listFretePeso, $index, 'FRETE_VOLUME_ORIGINAL', 'FRETE_VOLUME_CALCULADO', 'FRETE_VOLUME_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.FRETE_VOLUME_ORIGINAL"  />
				</td>
				
				<td ng-if="tpFretePeso === 'Tarifa Minima'">
					<input type="text" ng-model="row.TARIFA_MINIMA_CALCULADO" class="form-control" ng-blur="calcValue( listFretePeso, $index, 'TARIFA_MINIMA_ORIGINAL', 'TARIFA_MINIMA_CALCULADO', 'TARIFA_MINIMA_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.TARIFA_MINIMA_ORIGINAL"  />
				</td>
				<td ng-if="tpFretePeso === 'Tarifa Minima'">
					<input type="text" ng-model="row.TARIFA_MINIMA_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listFretePeso, $index, 'TARIFA_MINIMA_ORIGINAL', 'TARIFA_MINIMA_CALCULADO', 'TARIFA_MINIMA_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.TARIFA_MINIMA_ORIGINAL"  />
				</td>
				
				<td ng-if="tpFretePeso === 'Tarifa Especifica'">
					<input type="text" ng-model="row.TARIFA_ESPECIFICA_CALCULADO" class="form-control" ng-blur="calcValue( listFretePeso, $index, 'TARIFA_ESPECIFICA_ORIGINAL', 'TARIFA_ESPECIFICA_CALCULADO', 'TARIFA_ESPECIFICA_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.TARIFA_ESPECIFICA_ORIGINAL"  />
				</td>
				<td ng-if="tpFretePeso === 'Tarifa Especifica'">
					<input type="text" ng-model="row.TARIFA_ESPECIFICA_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listFretePeso, $index, 'TARIFA_ESPECIFICA_ORIGINAL', 'TARIFA_ESPECIFICA_CALCULADO', 'TARIFA_ESPECIFICA_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.TARIFA_ESPECIFICA_ORIGINAL"  />
				</td>
				
				<td ng-if="tpFretePeso === 'Referencia'">
					<input type="text" ng-model="row.REFERENCIA_CALCULADO" class="form-control" ng-blur="calcValue( listFretePeso, $index, 'REFERENCIA_ORIGINAL', 'REFERENCIA_CALCULADO', 'REFERENCIA_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.REFERENCIA_ORIGINAL"  />
				</td>
				<td ng-if="tpFretePeso === 'Referencia'">
					<input type="text" ng-model="row.REFERENCIA_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listFretePeso, $index, 'REFERENCIA_ORIGINAL', 'REFERENCIA_CALCULADO', 'REFERENCIA_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.REFERENCIA_ORIGINAL"  />
				</td>
				
				<td ng-if="tpFretePeso === 'Minimo Frete'">
					<input type="text" ng-model="row.MINIMO_FRETE_CALCULADO" class="form-control" ng-blur="calcValue( listFretePeso, $index, 'MINIMO_FRETE_ORIGINAL', 'MINIMO_FRETE_CALCULADO', 'MINIMO_FRETE_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.MINIMO_FRETE_ORIGINAL" />
				</td>
				<td ng-if="tpFretePeso === 'Minimo Frete'">
					<input type="text" ng-model="row.MINIMO_FRETE_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listFretePeso, $index, 'MINIMO_FRETE_ORIGINAL', 'MINIMO_FRETE_CALCULADO', 'MINIMO_FRETE_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.MINIMO_FRETE_ORIGINAL" />
				</td>

				<td ng-if="tpFretePeso === 'Minimo Frete Quilo'">
					<input type="text" ng-model="row.MINIMO_FRETE_QUILO_CALCULADO" class="form-control" ng-blur="calcValue( listFretePeso, $index, 'MINIMO_FRETE_QUILO_ORIGINAL', 'MINIMO_FRETE_QUILO_CALCULADO', 'MINIMO_FRETE_QUILO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.MINIMO_FRETE_QUILO_ORIGINAL" />
				</td>
				<td ng-if="tpFretePeso === 'Minimo Frete Quilo'">
					<input type="text" ng-model="row.MINIMO_FRETE_QUILO_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listFretePeso, $index, 'MINIMO_FRETE_QUILO_ORIGINAL', 'MINIMO_FRETE_QUILO_CALCULADO', 'MINIMO_FRETE_QUILO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.MINIMO_FRETE_QUILO_ORIGINAL" />
				</td>
				
				<td ng-if="tpFretePeso === 'Minimo Frete Peso'">
					<input type="text" ng-model="row.MINIMO_FRETE_PESO_CALCULADO" class="form-control" ng-blur="calcValue( listFretePeso, $index, 'MINIMO_FRETE_PESO_ORIGINAL', 'MINIMO_FRETE_PESO_CALCULADO', 'MINIMO_FRETE_PESO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.MINIMO_FRETE_PESO_ORIGINAL" />
				</td>
				<td ng-if="tpFretePeso === 'Minimo Frete Peso'">
					<input type="text" ng-model="row.MINIMO_FRETE_PESO_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listFretePeso, $index, 'MINIMO_FRETE_PESO_ORIGINAL', 'MINIMO_FRETE_PESO_CALCULADO', 'MINIMO_FRETE_PESO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.MINIMO_FRETE_PESO_ORIGINAL" />
				</td>
				
				<td ng-if="tpFretePeso === 'Minimo Progressivo'">
					<input type="text" ng-model="row.MINIMO_PROGRAMADO_CALCULADO" class="form-control" ng-blur="calcValue( listFretePeso, $index, 'MINIMO_PROGRAMADO_ORIGINAL', 'MINIMO_PROGRAMADO_CALCULADO', 'MINIMO_PROGRAMADO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.MINIMO_PROGRAMADO_ORIGINAL" />
				</td>
				<td ng-if="tpFretePeso === 'Minimo Progressivo'">
					<input type="text" ng-model="row.MINIMO_PROGRAMADO_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listFretePeso, $index, 'MINIMO_PROGRAMADO_ORIGINAL', 'MINIMO_PROGRAMADO_CALCULADO', 'MINIMO_PROGRAMADO_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" ng-disabled="!row.MINIMO_PROGRAMADO_ORIGINAL" data-percentual  />
				</td>
		
			</tr>
		</tbody>
	</table>
</div>
