<form class="form-horizontal content-padding" data-ng-submit="find()">

	<div class="fixed-top">
		<button type="button" data-ng-click="clear()" class="btn btn-default btn-lg pull-right" id="limpar">
			{{'limpar' |  translate }}
		</button>
		
		<button type="button" data-ng-click="find()" class="btn btn-default btn-lg pull-right" id="reset">
			{{'consultar' | translate }}
		</button>
			
	</div>
	
	<div class="row">
		<div adsm-add-field data-label="cliente" data-labelSize="2" data-fieldSize="5" data-boxSize="12">
					
			<div class="col-xs-4">
				<select 
					adsm-chosen  ng-model="aux.pessoa" id="pessoa" ng-change="changePessoa()"
					ng-options="data as data.dsPessoa for data in tiposPessoa track by data.idPessoa">
					<option value=""></option>
				</select>
			</div>
			<div class="col-xs-8">
				<input class="form-control" id="nrIdentificador" ng-model="filter.nrIdentificacaoEmpregador" data-pessoa-mask="aux.pessoa.idPessoa" ng-disabled="!aux.pessoa.idPessoa" />
			</div>

		</div>
	</div>
	
	
	<div class="row">
		<div adsm-add-field data-label="filial" data-labelSize="2" data-fieldSize="5" data-boxSize="12">
	
			<div class="col-xs-4">
				<input lms-filial type="text" class="form-control" id="filial" ng-model="aux.filial" >
			</div>
					
			<div class="col-xs-8">
				<label class="col-lg-6 control-label">{{'dataReajuste' | translate }}</label>
				<input id="dataReajuste" adsm-date-picker ng-model="filter.dataReajuste" mask="date" class="form-control col-lg-6"  />
			</div>
			
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
				<table adsm-table="listTableParams" class="table adsm-table-hover table-condensed table-clickable adsm-table" style="width: 100%" >
					<tbody>
						<tr ng-repeat="row in page" ng-click="detail(row)">
						
							<td column-title="cpfCnpj"
								style="min-width: 100px; max-width: 400px;">
								{{row.nrIdentificacao}}
							</td>
							<td column-title="nome"
								>
								{{row.nome}}
							</td>
							<td column-title="numeroReajuste"
								>
								{{row.numeroReajuste}}
							</td>
							<td column-title="divisaoCliente"
								>
								{{row.divisaoCliente}}
							</td>
							<td column-title="percentualAcordado"
								>
								{{row.percAcordado | number:2 }} %
							</td>
							<td column-title="percentualSugerido"
								>
								{{row.percSugerido | number:2 }} %
							</td>
							<td column-title="tabelaBase"
								>
								{{row.tabelaAtual}} 
							</td>
							<td column-title="tabelaNova"
								>
								{{row.tabelaNova}}
							</td>
							<td column-title="dataReajuste"
								>
								{{row.dataReajuste | date:'dd/MM/yyyy'}}
							</td>
							
						</tr>
					</tbody>
				</table>
		</div>
	</div>
	
</form>