<div class="nav-content">
	<div adsm-sub-tab>

		<div adsm-tab-panel="generalidadeObrig" heading="{{'generalidadeObrig' | translate}}" ng-controller="ReajusteTabelaClienteAbaReajusteController" event="loadGenaralidadeObrig()">
			<div ng-include="contextPath+'js/app/vendas/reajustetabelacliente/view/reajusteTabelaClienteGeneralidadeObrig.html'"></div>
		</div>
		
		<div adsm-tab-panel="generalidade" heading="{{'generalidades' | translate}}" ng-controller="ReajusteTabelaClienteAbaReajusteController" event="loadGenaralidades()">
			<div ng-include="contextPath+'js/app/vendas/reajustetabelacliente/view/reajusteTabelaClienteGeneralidade.html'"></div>
		</div>
		
		<div adsm-tab-panel="fretePeso" heading="{{'fretePeso' | translate}}" ng-controller="ReajusteTabelaClienteAbaReajusteController" event="loadFretePeso()">
			<div ng-include="contextPath+'js/app/vendas/reajustetabelacliente/view/reajusteTabelaClienteFretePeso.html'"></div>
		</div>
		
		<div adsm-tab-panel="taxa" heading="{{'taxa' | translate}}" ng-controller="ReajusteTabelaClienteAbaReajusteController" event="loadTaxa()">
			<div ng-include="contextPath+'js/app/vendas/reajustetabelacliente/view/reajusteTabelaClienteTaxa.html'"></div>
		</div>
		
		<div adsm-tab-panel="servAdicional" heading="{{'servicoAdicional' | translate}}" ng-controller="ReajusteTabelaClienteAbaReajusteController" event="loadServAdicional()">
			<div ng-include="contextPath+'js/app/vendas/reajustetabelacliente/view/reajusteTabelaClienteServAdicional.html'"></div>
		</div>
		
	</div>
</div>
