
<div class="fixed-top">
	<button type="button" data-ng-click="loadServAdicional()" class="btn btn-default btn-lg pull-right" id="reset" ng-disabled="data.efetivado">
			{{'reset' | translate }}
	</button>
	
	<button type="button" data-ng-click="salvarServAdicional()" class="btn btn-default btn-lg pull-right" id="salvar" ng-disabled="data.efetivado">
			{{'salvar' | translate }}
	</button>
	
</div>

<div class="row">
	<table class="table adsm-table-hover table-condensed table-clickable adsm-table" style="width: 90%;margin-left:5%;">
		<thead>
			<tr>
				<th> {{'servicoAdicional' |  translate }} </th>
				<th> {{'valor' |  translate }} <input type="text" ng-model="headerServAdicValue" ng-blur="calcHeaderValue( listServAdicional , headerServAdicValue , 'VALOR', 'CALCULADO', 'PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" style="width:90px;"  /> </th>
				<th> % <input type="text" ng-model="headerServAdicPerc" ng-blur="calcHeaderPercentual( listServAdicional ,  headerServAdicPerc , 'VALOR', 'CALCULADO', 'PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual style="width:90px;" /> </th>
				<th> {{'valorMinimo' |  translate }} <input type="text" ng-model="headerServAdicMinValue" ng-blur="calcHeaderValue( listServAdicional , headerServAdicMinValue , 'VALOR_MINIMO', 'CALCULADO_MINIMO', 'PERCENTUAL_MINIMO')" data-numeric="{mDec: '2', vMax: '9999999'}" style="width:90px;" /> </th>
				<th> {{'percentualMinimo' |  translate }} <input type="text" ng-model="headerServAdicMinPerc" ng-blur="calcHeaderPercentual( listServAdicional , headerServAdicMinPerc , 'VALOR_MINIMO', 'CALCULADO_MINIMO', 'PERCENTUAL_MINIMO')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual style="width:90px;" /> </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in listServAdicional">	
				
				<td>
					{{row.SERVADICIONAL}}
				</td>
				
				<td>
					<input type="text" ng-model="row.CALCULADO" class="form-control" ng-blur="calcValue( listServAdicional, $index, 'VALOR', 'CALCULADO', 'PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  ng-disabled="!row.VALOR" style="width:90px;" />
				</td>
				<td>
					<input type="text" ng-model="row.PERCENTUAL" class="form-control" ng-blur="calcPercentual( listServAdicional , $index, 'VALOR', 'CALCULADO', 'PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.VALOR" style="width:90px;" />
				</td>
				
				<td>
					<input type="text" ng-model="row.CALCULADO_MINIMO" class="form-control" ng-blur="calcValue( listServAdicional , $index, 'VALOR_MINIMO', 'CALCULADO_MINIMO', 'PERCENTUAL_MINIMO')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.VALOR_MINIMO" style="width:90px;" />
				</td>
				<td>
					<input type="text" ng-model="row.PERCENTUAL_MINIMO" class="form-control" ng-blur="calcPercentual( listServAdicional , $index, 'VALOR_MINIMO', 'CALCULADO_MINIMO', 'PERCENTUAL_MINIMO')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.VALOR_MINIMO" style="width:90px;" />
				</td>
		
			</tr>
		</tbody>
	</table>
</div>
