
<div class="fixed-top">
	<button type="button" data-ng-click="loadTaxa()" class="btn btn-default btn-lg pull-right" id="reset" ng-disabled="data.efetivado">
			{{'reset' | translate }}
	</button>
	
	<button type="button" data-ng-click="salvarTaxa()" class="btn btn-default btn-lg pull-right" id="salvar" ng-disabled="data.efetivado">
			{{'salvar' | translate }}
	</button>
	
</div>

<div class="row">
	<table class="table adsm-table-hover table-condensed table-clickable adsm-table" style="width: 90%;margin-left:5%;">
		<thead>
			<tr>
				<th> {{'taxa' |  translate }} </th>
				<th> {{'origem' |  translate }} </th>
				<th> {{'destino' |  translate }} </th>
				<th> {{'valor' |  translate }} <input type="text" ng-model="headerTaxaValue" ng-blur="calcHeaderValue( listTaxa, headerTaxaValue, 'TAXA_ORIGINAL', 'TAXA_CALCULADO', 'TAXA_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" style="width:90px;"  /> </th>
				<th> % <input type="text" ng-model="headerTaxaPerc" ng-blur="calcHeaderPercentual( listTaxa, headerTaxaPerc , 'TAXA_ORIGINAL', 'TAXA_CALCULADO', 'TAXA_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual style="width:90px;" /> </th>
				<th> {{'excedente' |  translate }} <input type="text" ng-model="headerExcedenteValue" ng-blur="calcHeaderValue( listTaxa, headerExcedenteValue , 'EXCEDENTE_ORIGINAL', 'EXCEDENTE_CALCULADO', 'EXCEDENTE_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" style="width:90px;" /> </th>
				<th> %  <input type="text" ng-model="headerExcedentePerc" ng-blur="calcHeaderPercentual( listTaxa, headerExcedentePerc , 'EXCEDENTE_ORIGINAL', 'EXCEDENTE_CALCULADO', 'EXCEDENTE_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual style="width:90px;" /> </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in listTaxa">	
				
				<td>
					{{row.TAXA}}
				</td>
				<td>
					{{row.ORIGEM}}
				</td>
				<td>
					{{row.DESTINO}}
				</td>
				
				<td>
					<input type="text" ng-model="row.TAXA_CALCULADO" class="form-control" ng-blur="calcValue( listTaxa, $index, 'TAXA_ORIGINAL', 'TAXA_CALCULADO', 'TAXA_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}"  ng-disabled="!row.TAXA_ORIGINAL" style="width:90px;" />
				</td>
				<td>
					<input type="text" ng-model="row.TAXA_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listTaxa, $index, 'TAXA_ORIGINAL', 'TAXA_CALCULADO', 'TAXA_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.TAXA_ORIGINAL" style="width:90px;" />
				</td>
				
				<td>
					<input type="text" ng-model="row.EXCEDENTE_CALCULADO" class="form-control" ng-blur="calcValue( listTaxa, $index, 'EXCEDENTE_ORIGINAL', 'EXCEDENTE_CALCULADO', 'EXCEDENTE_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999999'}" ng-disabled="!row.EXCEDENTE_ORIGINAL" style="width:90px;" />
				</td>
				<td>
					<input type="text" ng-model="row.EXCEDENTE_PERCENTUAL" class="form-control" ng-blur="calcPercentual( listTaxa, $index, 'EXCEDENTE_ORIGINAL', 'EXCEDENTE_CALCULADO', 'EXCEDENTE_PERCENTUAL')" data-numeric="{mDec: '2', vMax: '9999'}" data-percentual ng-disabled="!row.EXCEDENTE_ORIGINAL" style="width:90px;" />
				</td>
		
			</tr>
		</tbody>
	</table>
</div>
