<!doctype html>
<html lang="pt">

<head>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>LMS - FEDEX</title>
	
	<script type="text/javascript" src="../vendor/headjs/head.js"	type="text/javascript"></script>

<style type="text/css">

.login {
	display: block;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-shadow: 0 0 25px #ccc;
    margin: 20px auto;
    padding: 30px 20px;
    width: 402px;
}

.login-top {
    padding: 0 0 10px;
    text-align: center;
}

</style>

<!-- CSS -->

<script type="text/javascript">

     let href = window.location.href;  			
     indexEnd =  href.indexOf("/", href.indexOf("/", href.indexOf("//")+3 )+1 );  
     let hostComplete = href.substring(0,indexEnd ); 
     
     const bootstrapCss = document.createElement("link");
	     bootstrapCss.type = "text/css";
	     bootstrapCss.rel = "stylesheet";
	     bootstrapCss.href = hostComplete.concat('/vendor/bootstrap/css/bootstrap.css');
	     document.head.appendChild(bootstrapCss);
	     
	 const styleCss = document.createElement("link");
	 	   styleCss.type = "text/css";
	 	   styleCss.rel = "stylesheet";
	 	   styleCss.href = hostComplete.concat('/css/style.css?v=<%=v%>');
	       document.head.appendChild(styleCss);	
	    
 </script>

</head>
<body>
	<div class="login">
		<div class="login-top">
			<img src="../img/logo-fedex.jpg" alt="FEDEX" />
		</div>
		<h4>Esta versão do navegador não é compatível.</h4>
		<ul>
			<li>O link abaixo deve ser acessado somente via  Chrome ou Firefox superior a versão 30 (caso não tenha nehuma destas alternativas entrar em contato com o Helpdesk)
				<br /><a href='http://lms/lmsa/view/login'>http://lms/lmsa/view/login</a></li>
		</ul>
	</div>
</body>
</html>
