<!doctype html>
<html xmlns:ng="http://angularjs.org" lang="pt" id="ng-app" data-ng-app="app">

<head>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Frame-Options" content="sameorigin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>LMS - FEDEX</title>
    
	<script type="text/javascript">
		var systemName = "LMS";
		var chaveVersion = "${project.version}";
		var Data = {
			preferredLanguage : (navigator.language || navigator.userLanguage).toLowerCase().replace("-", "_"),
		};
		var isSwt = window.location.href.indexOf("swt") > 0;
		
		var contextPath = '../';
		if (isSwt) {
			contextPath += contextPath;
		}
		
	   /*
		* Funcao de retorno para o objeto Browser do SWT.
		*/
		function openLmsSwt(url){
			invokeLmsSwt(url);
		}
		var goog = {require: function(){}, provide: function(){}};
		
		let href = window.location.href;  			
	    indexEnd =  href.indexOf("/", href.indexOf("/", href.indexOf("//")+3 )+1 );  
	    let hostComplete = href.substring(0,indexEnd ); 
		
		var cssArray = [
	        "/vendor/bootstrap/css/bootstrap.css"
	        ,"/vendor/jquery-ui/jquery-ui.structure.css"
	        ,"/vendor/jquery-ui/jquery-ui.theme.css"
	        ,"/vendor/toastr/toastr.min.css"
	        ,"/css/adsm-framework.min.css"
	        ,"/css/adsm-login.min.css"
		];
		
		cssArray.forEach(function (element, index, array) {
			document.write("<link href='" + hostComplete + element +"?v=" + chaveVersion + "' rel='stylesheet'>");
		});
		
		var jsArray = [
   	        "/vendor/json-js/json2.js"
   	        ,"/vendor/headjs/head.js"
   	        ,"/js/common/i18n/labels.js"
   	    	,"rest/config/recursoMensagem/i18n/listLabels.js"
   		];
		jsArray.forEach(function (element, index, array) {
			document.write("<script type='text/javascript' src='"+contextPath + element +"?v=" + chaveVersion + "'><\/script>");
		});

        
	</script>
	
	
    <!-- inject:head:css -->
    <script type="text/javascript">
        document.write("<script type='text/javascript' src='"+ hostComplete + "/js/lmsCss.js?v=" + chaveVersion + "'><\/script>");
    </script>
	<!-- endinject -->
	
	<script type="text/javascript">
		
		lmsCssArray.forEach(function (element, index, array) {
            document.write("<link href='" + hostComplete + "/" + element +"?v=" + chaveVersion + "' rel='stylesheet'>");
		});

	</script>
	
	<script type="text/javascript">
		listLabels.forEach(function (element, index, array) {
			document.write("<script type='text/javascript' src='"+contextPath + "rest/config/recursoMensagem" + element +".js?v=" + chaveVersion + "'><\/script>");
		});
	</script>

</head>
<body id="body-{{(isSwt) ? 'swt':'web'}}">

	<div ui-view></div>
	
	<script type="text/javascript">
		var jsArray = [
   	        "/vendor/angular-file-upload/angular-file-upload-shim.js"
   	        ,"/vendor/jquery/jquery-1.11.0.js"
   	        ,"/vendor/underscore/underscore-1.7.0-min.js"
   	     	,"/vendor/jquery-ui/jquery-ui.min.js"
   	     	,"/vendor/angular/angular.min.js"
	   	 	,"/vendor/angular/angular-route.js"
	   		,"/vendor/angular/angular-resource.js"
	   		,"/vendor/angular-file-upload/angular-file-upload.js"
	   		,"/vendor/angular-ui/ui-bootstrap.js"
	   		,"/vendor/angular-ui/ui-utils.js"
	   		,"/vendor/autonumeric/autonumeric.js"
	   		,"/vendor/timepicker-addon/jquery-ui-timepicker-addon.js"
	   		,"/vendor/ui-router/angular-ui-router.js"
	   		,"/vendor/angular-locale/angular-locale_"+Data.preferredLanguage+".js"
	   		,"/vendor/chosen/chosen.jquery.js"
	   		,"/vendor/angular-chosen/chosen.js"
	   		,"/vendor/moment/moment-with-langs.js"
	   		,"/vendor/jquery-blockui/jquery.blockUI.js"
	   		,"/vendor/toastr/toastr.min.js"
	   		,"/vendor/angular-sanitize/angular-sanitize.min.js"
	   		,"/vendor/ng-csv/ng-csv.js"
	   		,"/vendor/angular-animate/angular-animate.min.js"
	   		,"/js/adsm-framework.js"
   		];
		jsArray.forEach(function (element, index, array) {
			document.write("<script type='text/javascript' src='"+contextPath + element +"?v=" + chaveVersion + "'><\/script>");
		});

	</script>
	
	<!-- inject:body:index -->
	<script type="text/javascript">
		document.write("<script type='text/javascript' src='" + contextPath + "js/lmsJs.js?v=" + chaveVersion + "'><\/script>");
	</script>
	<!-- endinject -->
	
	<script type="text/javascript">
		
		lmsJsArray.forEach(function (element, index, array) {
			document.write("<script type='text/javascript' src='"+contextPath + element +"?v=" + chaveVersion + "'><\/script>");
		});

	</script>

</body>
</html>

