<!doctype html>
<html xmlns:ng="http://angularjs.org" lang="pt" id="ng-app">
<head>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="">
    <title>LMS - FEDEX - Login</title>

	<!-- CSS -->

	    
    <!-- inject:head:css -->
	
	<script type="text/javascript">
	    let href = window.location.href;  			
	    indexEnd =  href.indexOf("/", href.indexOf("/", href.indexOf("//")+3 )+1 );  
	    let hostComplete = href.substring(0,indexEnd );
	
        document.write("<script type='text/javascript' src='"+ hostComplete + "/js/lmsCss.js'><\/script>");
    </script>
	<!-- endinject -->   
	

	<!--Adiciona o suporte a json em browsers antigos-->
	<script type="text/javascript" src="../vendor/json-js/json2.js"></script>
	
	<script type="text/javascript" src="../vendor/headjs/head.js"></script>
	<script type="text/javascript">
		var contextPath = "../";
		var chaveVersion = "1.1";
		var Data = {
				preferredLanguage : "pt_br",
			};
		var isSwt = window.location.href.indexOf("swt") > 0;
	</script>
	<script src="../js/common/i18n/labels.js"></script>

	<script type="text/javascript">
	 	var goog = { require: function(){}, provide: function(){}};
	</script>
	<script type="text/javascript">     
     
     const bootstrapCss = document.createElement("link");
	     bootstrapCss.type = "text/css";
	     bootstrapCss.rel = "stylesheet";
	     bootstrapCss.href = hostComplete.concat('/vendor/bootstrap/css/bootstrap.css');
	     document.head.appendChild(bootstrapCss);
	     
     const adsmFrameworkCss = document.createElement("link");
     	adsmFrameworkCss.type = "text/css";
     	adsmFrameworkCss.rel = "stylesheet";
     	adsmFrameworkCss.href = hostComplete.concat('/css/adsm-framework.min.css');
      	document.head.appendChild(adsmFrameworkCss); 
     
     const lmsCss = document.createElement("link");
		lmsCss.type = "text/css";
		lmsCss.rel = "stylesheet";
		lmsCss.href = hostComplete.concat('/js/lmsCss.js');
		document.head.appendChild(lmsCss);      
     
     lmsCssArray.forEach(function (element, index, array) {
             document.write("<link href='"+ hostComplete+ "/" + element +"' rel='stylesheet'>"); 		
         	});      	
      	
     const adsmLoginCss = document.createElement("link");
	    adsmLoginCss.type = "text/css";
	    adsmLoginCss.rel = "stylesheet"; 
		adsmLoginCss.href = hostComplete.concat('/css/adsm-login.min.css');
     	document.head.appendChild(adsmLoginCss);
     	
	</script>

</head>


<body data-ng-controller="LoginController">

	<div data-ng-include src="contextPath+'template/login/loginTemplate.html'"></div>

	<!--IE6+-->
	<script type="text/javascript" src="../vendor/jquery/jquery-1.11.0.js"></script>

	<!--IE8+-->
	<script type="text/javascript" src="../vendor/angular/angular.min.js"></script>
	<script type="text/javascript" src="../vendor/angular/angular-route.js"></script>
	<script type="text/javascript" src="../vendor/angular/angular-resource.js"></script>

	<!--IE 9 e 10-->
	<script type="text/javascript" src="../vendor/angular-ui/ui-bootstrap.js"></script>
	<script type="text/javascript" src="../vendor/angular-ui/ui-utils.js"></script>

	<!--IE 9 e 10-->
	<script type="text/javascript" src="../vendor/ui-router/angular-ui-router.js"></script>

	<!-- Suporte a file upload -->
	<script type="text/javascript" src="../vendor/angular-file-upload/angular-file-upload.js"></script>

	<!--IE9+-->
	<script type="text/javascript" src="../vendor/angular-locale/angular-locale_pt_br.js"></script>
	<script type="text/javascript" src="../vendor/angular-chosen/chosen.js"></script>
	<script src="../vendor/jquery-blockui/jquery.blockUI.js" type="text/javascript"></script>
	<script type="text/javascript" src="../vendor/angular/angular-mocks.js"></script>

	<script src="../vendor/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
	<script src="../vendor/ng-csv/ng-csv.min.js" type="text/javascript"></script>
	<script src="../vendor/angular-animate/angular-animate.min.js" type="text/javascript" ></script>

	<!--IE6+-->
	<script src="../js/adsm-framework.min.js" type="text/javascript"></script>
	
	<!-- inject:body:login -->
	<script type='text/javascript' src='../js/loginJs.js'></script>
	<!-- endinject -->
	
	<script type="text/javascript">
		
		loginJsArray.forEach(function (element, index, array) {
			document.write("<script type='text/javascript' src='../" + element +"'><\/script>");
		});

	</script>
</body>
</html>