<form class="form-horizontal content-padding" data-ng-submit="find()"> 
 
	<div class="fixed-top">
		<button type="button" 
			data-ng-click="clearFilter()" 
			class="btn btn-default btn-lg pull-right" 
			id="limpar">
			{{'limpar' | translate }}
		</button>

		<button type="submit" data-adsm-loading="listTableParams.loading" class="btn btn-default btn-lg pull-right" id="consultar">
			{{'consultar' |  translate }}
		</button>
	</div> 
	 
	<div class="row"> 
		<div class="form-group">
			<label class="col-lg-3 control-label">{{'funcionario' |  translate }}</label>
			<div class="col-lg-7">
				<div class="multi-input">
					<div class="col-xs-6">
						<input
							type="text"
							ng-model="filter.usuario"
							lms-usuario-lms
							class="form-control" />
				    </div>
					<div class="col-xs-6">
						<input
							type="text"
							ng-model="filter.usuario.nmUsuario"
							class="form-control"
							disabled="true" />
					</div>
				</div>
			</div>
		</div>
	</div> 

	<div class="row"> 
		<div class="form-group">
			<label class="col-lg-3 control-label">{{'territorio' |  translate }}</label>
			<div class="col-lg-7">
				<input
					lms-territorio
					type="text"
					ng-model="filter.territorio"
					id="territorio"
					class="form-control" />
			</div>
		</div>
	</div>

	<div class="row"> 
		<div class="form-group">
			<label class="col-lg-3 control-label">{{'tipoDeExecutivo' |  translate }}</label>
			<div class="col-lg-7">
				<select
					adsm-domain="DM_TIPO_EXECUTIVO"
					id="idCampo"
					ng-model="filter.tpExecutivo">
					<option value=""></option>
				</select>

			</div>
		</div>
	</div>

	<div class="row"> 
		<div class="form-group">
			<label class="col-lg-3 control-label">{{'vigencia' |  translate }}</label>
			<div class="col-lg-7">
				<div class="multi-input">
				
					<div class="col-xs-3">
						<input
							id="periodoInicial"
							adsm-date-picker
							ng-model="filter.periodoInicial"
							mask="date"
							class="form-control"
							data-end="filter.periodoFinal"
							data-maxInterval="{{ getIntervaloMax() }}" />
					</div>
					
					<div class="col-xs-3">
						<input
							id="periodoFinal"
							adsm-date-picker
							ng-model="filter.periodoFinal"
							mask="date"
							class="form-control"
							data-start="filter.periodoInicial"
							data-maxInterval="{{ getIntervaloMax() }}" />
					</div>
				</div>


			</div>
		</div>
	</div>

	<div class="row"> 
		<div class="col-sm-12"> 
			<div class="scroll-table"> 
				<table adsm-table="listTableParams" 
					class="table adsm-table-hover table-condensed table-clickable adsm-table" 
					style="width: 100%" 
					show-checkboxes="false" 
					> 
					<tbody> 
						<tr ng-repeat="row in page" ng-click="detail(row)"> 

							<td column-title="'funcionario' | translate" sortable="usuario.nmUsuario" 
								inline-property-filter="usuario.nmUsuario" 
								style="min-width: 100px; max-width: 200px;">{{row.usuario.nmUsuario}}</td> 

							<td column-title="'territorio' | translate" sortable="territorio.nmTerritorio" 
								inline-property-filter="territorio.nmTerritorio" 
								style="min-width: 100px; max-width: 200px;">{{row.territorio.nmTerritorio}}</td> 

							<td column-title="'tipoDeExecutivo' | translate" sortable="tpExecutivo.description.value" 
								inline-property-filter="tpExecutivo" 
								style="min-width: 100px; max-width: 200px;">{{row.tpExecutivo.description.value}}</td> 

							<td column-title="'vigenciaInicial' | translate" sortable="periodoInicial" 
								inline-property-filter="periodoInicial" 
								style="min-width: 100px; max-width: 200px;">{{row.periodoInicial | date:'dd/MM/yyyy'}}</td> 

							<td column-title="'vigenciaFinal' | translate" sortable="periodoFinal" 
								inline-property-filter="periodoFinal" 
								style="min-width: 100px; max-width: 200px;">{{row.periodoFinal | date:'dd/MM/yyyy'}}</td> 
							 
						</tr> 
					</tbody> 
				</table> 
			</div> 
		</div> 
	</div> 
</form> 
