<form class="form-horizontal content-padding" data-ng-submit="store()"> 
 
	<div class="fixed-top"> 
		<button type="button" data-ng-click="clearData()" class="btn btn-default btn-lg pull-right" id="limparDados">
			{{'limpar' |  translate }}
		</button>
		<button type="submit" class="btn btn-default btn-lg pull-right" id="store" permission="salvar">
			{{'salvar' |  translate }}
		</button>
	</div> 

	<div class="row"> 
		<div class="form-group">
			<label class="col-lg-3 control-label">{{'funcionario' |  translate }}</label>
			<div class="col-lg-7">
				<div class="multi-input">
					<div class="col-xs-6">
						<input
							type="text"
							ng-model="data.usuario"
							lms-usuario-lms
							class="form-control" 
							required />
				    </div>
					<div class="col-xs-6">
						<input
							type="text"
							ng-model="data.usuario.nmUsuario"
							class="form-control"
							disabled="true" 
							required />
					</div>
				</div>
			</div>
		</div>
	</div> 

	<div class="row"> 
		<div class="form-group">
			<label class="col-lg-3 control-label">{{'territorio' |  translate }}</label>
			<div class="col-lg-7">
				<input
					lms-territorio
					type="text"
					ng-model="data.territorio"
					id="territorio"
					class="form-control"
					required />
			</div>
		</div>
	</div>

	<div class="row"> 
		<div class="form-group">
			<label class="col-lg-3 control-label">{{'tipoDeExecutivo' |  translate }}</label>
			<div class="col-lg-7">
				<select
					adsm-domain="DM_TIPO_EXECUTIVO"
					id="idCampo"
					ng-model="data.tpExecutivo"
					required >
					<option value=""></option>
				</select>

			</div>
		</div>
	</div>

	<div class="row"> 
		<div class="form-group">
			<label class="col-lg-3 control-label">{{'vigencia' |  translate }}</label>
			<div class="col-lg-7">
				<div class="multi-input">
				
					<div class="col-xs-3">
						<input
							id="periodoInicial"
							adsm-date-picker
							ng-model="data.periodoInicial"
							mask="date"
							class="form-control"
							data-end="filter.periodoFinal"
							data-maxInterval="{{ getIntervaloMax() }}" 
							required />
					</div>
					
					<div class="col-xs-3">
						<input
							id="periodoFinal"
							adsm-date-picker
							ng-model="data.periodoFinal"
							mask="date"
							class="form-control"
							data-start="filter.periodoInicial"
							data-maxInterval="{{ getIntervaloMax() }}"
							/>
					</div>
				</div>


			</div>
		</div>
	</div>


</form> 
