<form class="form-horizontal content-padding" >
	
	<div class="row">
		<table adsm-table="historicoMsgTableParams"
			data-adsm-table-internal-loading="true"
			class="table adsm-table-hover table-condensed adsm-table"
			style="width: 100%; overflow: visible;"
			list="listHistoricoMsg">
			<tbody>
					<tr ng-repeat="row in page">
						<td column-title="tpMensagem" width="5%">{{row.tpMensagem.descriptionAsString}}</td>
						<td column-title="tpEnvio" width="5%">{{row.tpEnvio.descriptionAsString}}</td>
						<td column-title="para" width="6%">{{row.para}}</td>
						<td column-title="inclusao" width="5%">{{row.dhInclusao}}</td>
						<td column-title="dataProcessamento" width="5%">{{row.dhProcessamento}}</td>
						<td column-title="envio" width="5%">{{row.dhEnvio}}</td>
						<td column-title="recebimento" width="5%">{{row.dhRecebimento}}</td>
						<td column-title="devolucao" width="5%">{{row.dhDevolucao}}</td>
						<td column-title="erro" width="5%">{{row.dhErro}}</td>
						<td column-title="eventos" width="5%" ng-click="openEventos()">{{row.idMonitoramentoMensagemEvento}}</td>
						<td column-title="conteudo" width="5%" ng-click="openConteudos()">{{row.idMonitoramentoMensagemConteudo}}</td>
					</tr>
				</tbody>
		</table>
	</div>
	
</form>
