<form class="form-horizontal content-padding" >
	
	<div class="row">
		<table adsm-table="historicoMsgEventoTableParams"
			data-adsm-table-internal-loading="true"
			class="table adsm-table-hover table-condensed adsm-table"
			style="width: 100%; overflow: visible;"
			list="listHistoricoMsgEvent">
			<tbody>
					<tr ng-repeat="row in page">
						<td column-title="tpEvento" width="5%">{{row.tpEvento.descriptionAsString}}</td>
						<td column-title="descricao" width="5%">{{row.descricao}}</td>
						<td column-title="dataEvento" width="6%">{{row.dhEvento}}</td>
					</tr>
				</tbody>
		</table>
	</div>
	
</form>
