<div class="content" style="background-color: white; padding: 20px;">
	<div class="fixed-top">
		<div class="content">	
			<button data-ng-click="openModalImportar(data.idLoteCobranca)"  ng-hide="data.workflow" data-adsm-loading="criando" class="btn btn-default btn-lg pull-right" id="novoEndereco" permission="novoEndereco">
				{{'carregarPlanilha' | translate}}
			</button>			
			<button data-ng-click="openModalDados(data.idLoteCobranca, true);"  ng-hide="data.workflow" data-adsm-loading="criando" class="btn btn-default btn-lg pull-right" id="novoEndereco" permission="novoEndereco">
				{{'incluir' | translate}}
			</button>
		</div>
	</div>

	<div class="alert-container" data-ng-show="popupAlerts.length">
		<alert data-ng-repeat="alert in popupAlerts" type="{{alert.type}}" close="closeAlert($index)">
			<span data-ng-bind="alert.msg"></span>
		</alert>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<table adsm-table="listItemLoteCobrancaTableParams"
				class="table adsm-table-hover table-condensed table-clickable adsm-table"
				remove-service="removeByIds()"
				style="width: 100%" show-checkboxes="true"
				>
				<tbody>
					<tr ng-repeat="row in page" ng-click="detailDadoModelo(row)">
						<td column-title="fatura" >{{row.fatura}}</td>
						<td column-title="cliente">{{row.cliente}}</td>
						<td column-title="vlSaldo">{{row.vl_saldo}}</td>
						<td column-title="dataEmissao">{{row.dt_emissao}}</td>
						<td column-title="dataVencimento">{{row.dt_vencimento}}</td>
						<td column-title="situacao">{{row.situacao.descriptionAsString}}</td>
						<td column-title="dataPagamento">{{row.dt_pagamento}}</td>
						<td column-title="dataDevolucao">{{row.dt_devolucao}}</td>
						<td column-title="motivo">{{row.motivo}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>