<form class="form-horizontal content-padding" ng-submit="importarTRT()"> 
 
	<div class="fixed-top">
		<button type="submit" ng-disabled="!fileUploadParams.selectedFiles || fileUploadParams.selectedFiles.length < 1" class="btn btn-default btn-lg pull-right">
			{{'Importar' |  translate }}
		</button>
	</div>
	
	<div class="row" style="height: 100px;">
		<div adsm-add-field data-label="arquivo" data-boxSize="6" data-labelSize="3" data-fieldSize="8">
			<div id="anexoData" ng-disabled="false" data-adsm-file-upload="fileUploadParams" data-accept=".csv" data-post-select="myPostSelectFunction" required></div>
		</div>
	</div>
	
	<table ng-if="!!listaErros.length" class="table adsm-table-hover table-condensed table-clickable adsm-table" style="width: 100%" >
		<tbody>
			<tr ng-repeat="row in listaErros" ng-class="{'alert-danger': true, 'alert-dismissable': closeable}">
				<td>
				{{row}}
				</td>
			</tr>
		</tbody>
	</table>
						
						
</form> 
