<form class="form-horizontal content-padding" data-ng-submit="store()">

	<div class="fixed-top">
		<div ng-include
			src="contextPath+'js/app/common/view/templates/form-buttons-cad.html'"></div>

		<button type="button" data-ng-click="enviarLote();" class="btn btn-default btn-lg pull-right" id="historicoMensagem" permission="excluir" data-ng-disabled="isRemoveByIdDisabled()">
			{{'enviarLote' |  translate }}
		</button>

		<button type="button" data-ng-click="baixarArquivo()" data-adsm-loading="exportando" class="btn btn-default btn-lg pull-right" id="baixarArquivo" data-ng-disabled="isRemoveByIdDisabled()">
			{{'baixarArquivo' |  translate }}
		</button>

		<button type="button" data-ng-click="openModalDados(data.idLoteCobranca, true);" class="btn btn-default btn-lg pull-right" id="historicoMensagem" permission="excluir" data-ng-disabled="isRemoveByIdDisabled()">
			{{'historicoMensagem' |  translate }}
		</button>
	</div>

	<div class="row">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="modal" class="col-lg-6 control-label">{{'lote'
						| translate}}</label>
					<div class="col-xs-4">
						<input type="text" ng-model="data.nrLote" disabled
							class="form-control" id="data.nrLote">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="modal" class="col-lg-6 control-label">{{'tipoLote'
						| translate}}</label>
					<div class="col-lg-6">
						<select adsm-domain="DM_TP_LOTE_COB_TERCEIRA" id="tpLote"
							ng-model="data.tpLote" required>
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div class="form-group">
					<label for="descricao" class="col-lg-3 control-label">{{'descricao'
						| translate}}</label>
					<div class="col-lg-8">
						<input type="text" ng-model="data.descricao" maxlength="1000" class="col-lg-12"
							id="descricao">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="dataAlteracao" class="col-lg-4 control-label">{{'dataEnvio'
						| translate}}</label>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-sm-5">
								<input id="dataEnvio" disabled
									style="display: none"
									ng-model="tmp.dataEnvio" mask="date" data-start="tmp.dataEnvio"
									class="form-control">

								<input id="dataEnvioFormatada" disabled 
									ng-model="tmp.dataEnvioFormatada" data-start="tmp.dataEnvioFormatada"
									class="form-control">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div class="form-group">
					<label class="col-lg-3 control-label">{{'usuarioAlteracao'
						| translate }}</label>
					<div class="col-lg-8">
						<input type="text" disabled class="form-control"
							value="{{usuarioLogado.usuario}}" id="data.nmUsuario">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="dataAlteracao" class="col-lg-4 control-label">{{'dataAlteracao'
						| translate}}</label>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-sm-5">
								<input id="dataAlteracao" disabled
									style="display: none"
									ng-model="tmp.dataAlteracao" mask="date"
									data-start="tmp.dataAlteracao" class="form-control">

								<input id="dataAlteracaoFormatada" disabled
									ng-model="tmp.dataAlteracaoFormatada"
									data-start="tmp.dataAlteracaoFormatada" class="form-control">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</form>
