<div ng-include src="contextPath+'template/app/header.html'"></div>
<div class="container-fluid" data-adsm-loading="showTabLoading || showLoading">
    <div class="row">
		<div adsm-menu model="menuModel" on-click="onClickMenuLms" after-click="toggleMenu" ng-class="classMenu(menuAberto)"></div>
        <div class="col-sm-12 main" ng-class="classConteudo(menuAberto)">
        	<div ui-view>
        	</div>
        </div>
    </div>
</div>
<footer ng-if="isSwt">
	<p class="text-muted"><strong>{{'data' | translate}}: </strong>{{dataHora}} - <strong>{{systemName}}</strong> - {{version}} @ {{serverInfo}}</p>
</footer>