<button type="button" data-ng-click="clearFilter()" class="btn btn-default btn-lg pull-right" id="limpar">
	{{'limpar' |  translate }}
</button>
<button type="button" data-ng-click="exportCsv()" data-adsm-loading="exportando" class="btn btn-default btn-lg pull-right" id="exportar">
	{{'exportarExcel' |  translate }}
</button>
<button type="submit" data-adsm-loading="listTableParams.loading" class="btn btn-default btn-lg pull-right" id="consultar">
	{{'consultar' |  translate }}
</button>