<div class="content-padding">
	<accordion close-others="false" id="accordion">
		<accordion-group is-open="isVolOpen">
			<accordion-heading>
				<span class="glyphicon" ng-class="{'glyphicon-chevron-down': isVolOpen, 'glyphicon-chevron-right': !isVolOpen}"></span>{{'volumes' | translate}}
			</accordion-heading>
				<table adsm-table="volumesTableParams"
					data-adsm-table-internal-loading="true">
					<tbody>
						<tr ng-repeat="row in page">
							<td column-title="codigoBarras"
								style="min-width: 140px; max-width: 400px;">
								{{row.nrVolumeEmbarque}}
							</td>
							<td column-title="localizacao">
								{{row.localizacaoMercadoria ? row.localizacaoMercadoria.dsLocalizacaoMercadoria.value : ""}}{{row.filialLocalizacao ? " - "+row.filialLocalizacao.sgFilial : ""}}
							</td>
							<td column-title="conhecimento">
								{{row.conhecimento.filialOrigem.sgFilial}} {{row.conhecimento.nrConhecimento}}{{row.conhecimento.dvConhecimento ? "-" + row.conhecimento.dvConhecimento : ""}}
							</td>
							<td column-title="volume">
								{{row.nrSequencia }}/{{row.conhecimento.qtVolumes}}
							</td>
						</tr>
					</tbody>
				</table>
		</accordion-group>

		<accordion-group is-open="isDispUtilOpen">
			<accordion-heading>
				<span class="glyphicon" ng-class="{'glyphicon-chevron-down': isDispUtilOpen, 'glyphicon-chevron-right': !isDispUtilOpen}"></span>
				{{'dispositivosUnitizacao' | translate}}
			</accordion-heading>

				<table adsm-table="dispositivosTableParams"
					data-adsm-table-internal-loading="true">
					<tbody>
						<tr ng-repeat="row in page">
							<td column-title="numeroIdentificacao"
								style="min-width: 140px; max-width: 400px;">
								{{row.nrIdentificacao }}
							</td>
							<td column-title="localizacao">
								{{row.dsLocalizacaoMercadoria ? row.dsLocalizacaoMercadoria.value : ""}}{{row.sgFilialLocalizacao ? " - "+row.sgFilialLocalizacao : ""}}
							</td>
							<td column-title="tipoDispositivo">
								{{row.tipoDispositivoUnitizacao.dsTipoDispositivoUnitizacao}}
							</td>
							<td column-title="situacao">
								{{row.tpSituacao.descriptionAsString}}
							</td>
							<td column-title="totalVolumes">
								{{row.qtVolumes}}
							</td>
							<td column-title="totalDispositivos">
								{{row.qtDispositivos}}
							</td>
						</tr>
					</tbody>
				</table>
		</accordion-group>
	</accordion>
</div>
