<div class="content-padding">
		<table adsm-table="eventosTableParams"
			data-adsm-table-internal-loading="true">
			<tbody>
				<tr ng-repeat="row in page">
					<td column-title="dataInclusao" style="min-width: 140px; max-width: 400px;">{{ row.dhInclusao  | dateTimeZone }}</td>
					<td column-title="evento" >{{ row.evento.cdEvento }} - {{row.evento.tpEvento.descriptionAsString}}</td>
					<td column-title="complemento" >{{ row.obComplemento }}</td>
					<td column-title="tipoScan" >{{ row.tpScan.descriptionAsString }}</td>
					<td column-title="filial" >{{ row.filial.sgFilial }}</td>
					<td column-title="usuario" >{{ row.usuario.nmUsuario }}</td>
				</tr>
			</tbody>
		</table>
</div>
