<form class="form-horizontal content-padding" data-ng-submit="store()">

	<div class="fixed-top">
		<div ng-include src="contextPath+'js/app/common/view/templates/form-buttons-cad.html'"></div> 
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="empresa" data-labelSize="6" data-fieldSize="6">
			<input
				lms-empresa
				type="text"
				ng-model="data.empresa" 
				id="empresa" 
				required>
		</div>
		<div adsm-add-field data-boxSize="4" data-label="tipoDispositivo" data-labelSize="6" data-fieldSize="6">
			<select 
				adsm-chosen
				id="tipoDispositivoUnitizacao"
				ng-model="data.tipoDispositivoUnitizacao"
				ng-options="data as data.dsTipoDispositivoUnitizacao for data in tiposDispositivoUnitizacao track by data.idTipoDispositivoUnitizacao"
				required>
				<option value=""></option>
			</select>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="numeroIdentificacao" data-labelSize="6" data-multiSize="2,10">
			<input type="text" disabled  value="{{ data.tipoDispositivoUnitizacao.tpNrIdentificacao }}" id="tpNrIdentificacao">
			<input type="text"  ng-model="data.nrIdentificacao" required maxlength="10">
		</div>
		<div adsm-add-field data-boxSize="4" data-label="situacao" data-labelSize="6" data-fieldSize="6">
			<select 
				adsm-domain="DM_STATUS"
				id="tpSituacao"
				ng-model="data.tpSituacao"
				required>
				<option value=""></option>
			</select>
		</div>
	</div>

	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="localizacao" data-labelSize="6" data-multiSize="10,2">
			<input type="text" disabled  value="{{ data.dsLocalizacaoMercadoria }}" id="dsLocalizacaoMercadoria">
			<input type="text" disabled  value="{{data.sgFilialLocalizacaoMercadoria}}" id="sgFilialLocalizacaoMercadoria">			
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="dispositivoUnitizacaoPai" data-labelSize="6" data-multiSize="6,6">
			<input type="text" disabled="disabled"  value="{{data.dispositivoUnitizacaoPai.nrIdentificacao}}" id="nrIdentificacaoPai">
			<input type="text" disabled="disabled"  value="{{data.dispositivoUnitizacaoPai.tipoDispositivoUnitizacao.dsTipoDispositivoUnitizacao}}" id="dsTipoDispositivoUnitizacaoPai">			
		</div>
		
		<div class="col-sm-4">
			<button class="fix-btn btn-p" data-ng-disabled="! data.dispositivoUnitizacaoPai" data-ng-click="verDispositivoPai()" id="verDispositivoPai">{{'verDispositivoUnitizacaoPai' |  translate }}</button>
		</div>
	</div>
	<div class="row">
		<div adsm-add-field data-boxSize="6" data-label="macroZona" data-labelSize="6" data-multiSize="5,5,2">
			<input type="text" disabled="disabled"  value="{{data.macroZona.id}}" id="dsMacroZona">
			<input type="text" disabled="disabled"  value="{{data.macroZona.nmPessoaTerminal}}" id="nmPessoaTerminal">
			<input type="text" disabled="disabled"  value="{{data.macroZona.sgFilialTerminal}}" id="sgFilialTerminal">
		</div>

		<div class="col-sm-4">
			<button class="fix-btn btn-p" data-ng-disabled="!data.macroZona.id" data-ng-click="verMacroZona($event)" id="verMacroZona">{{'verMacroZona' |  translate }}</button>
		</div>
	</div>
</form>
