<form class="form-horizontal content-padding" data-ng-submit="store()"> 
 
	<div class="fixed-top">
		<button type="button" data-ng-click="clearData()" class="btn btn-default btn-lg pull-right" id="limparDados">
			{{'limpar' |  translate }}
		</button>
		<button type="submit" class="btn btn-default btn-lg pull-right" id="store" permission="salvar">
			{{'salvar' |  translate }}
		</button>
	</div>
 
	<div class="row">
		
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="dataCorte" class="col-lg-4 control-label">{{'dataCorte' | translate}}</label>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-sm-5">
								<input id="dataCorte" required adsm-date-picker
									ng-model="data.dataCorte" mask="date" data-start="data.dataCorte"
									class="form-control">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="modal" class="col-lg-4 control-label">{{'faturarSemanal' | translate}}</label>
					<div class="col-lg-5">
						<select adsm-domain="DM_SIM_NAO"
							id="tpFaturarSemanal"
							ng-model="data.tpFaturarSemanal" required>
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="modal" class="col-lg-4 control-label">{{'faturarDecendial' | translate}}</label>
					<div class="col-lg-5">
						<select adsm-domain="DM_SIM_NAO"
							id="tpFaturarDecendial"
							ng-model="data.tpFaturarDecendial" required>
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="modal" class="col-lg-4 control-label">{{'faturarQuinzenal' | translate}}</label>
					<div class="col-lg-5">
						<select adsm-domain="DM_SIM_NAO"
							id="tpFaturarQuinzenal"
							ng-model="data.tpFaturarQuinzenal" required>
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="modal" class="col-lg-4 control-label">{{'faturarMensal' | translate}}</label>
					<div class="col-lg-5">
						<select adsm-domain="DM_SIM_NAO"
							id="tpFaturarMensal"
							ng-model="data.tpFaturarMensal" required>
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="modal" class="col-lg-6 control-label">{{'observacoes'
						| translate}}</label>
					<div class="col-xs-4">
						<textarea ng-model="data.observacao" id="observacao" maxlength="2000"/>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<div class="form-group">
						<label class="col-lg-4 control-label">{{'usuarioAlteracao'
							| translate }}</label>
						<div class="col-xs-8">
							<input type="text" disabled class="form-control"
								value="{{usuarioLogado.usuario}}" id="data.nmUsuario">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="dataAlteracao" class="col-lg-4 control-label">{{'dataAlteracao' | translate}}</label>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-sm-5">
								<input id="dataAlteracao" disabled adsm-date-picker
									ng-model="tmp.dataAlteracao" mask="date" data-start="tmp.dataAlteracao"
									class="form-control">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	 
</form> 
