<form class="form-horizontal content-padding" data-ng-submit="find()">

	<div class="fixed-top">
		<button type="button" data-ng-click="mostrarSql()" data-adsm-loading="exportando" class="btn btn-default btn-lg pull-right" id="mostrarSQL">
			{{'Mostrar SQL' |  translate }}
		</button>
		
		<div ng-include
			src="contextPath+'js/app/common/view/templates/form-buttons-list.html'"></div>
	</div>

	<div class="row">

		<div class="col-sm-10" style="text-align: right">
			<div class="form-group">
				<label for="dataCorte" class="col-lg-4 control-label">{{'dataCorte'
					| translate}}</label>
				<div class="col-lg-6">
					<div class="row">
						<div class="col-sm-5">
							<input id="dataCorteInicial" adsm-date-picker
								ng-model="filter.dataCorteInicial" mask="date"
								class="form-control" data-end="filter.dataCorteFinal">
						</div>
						<div class="col-sm-5">
							<input id="dataCorteFinal" adsm-date-picker
								ng-model="filter.dataCorteFinal" mask="date"
								class="form-control" data-start="filter.dataCorteInicial">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-10">
			<div class="form-group">
				<label for="dataAlteracao" class="col-lg-4 control-label">{{'dataAlteracao'
					| translate}}</label>
				<div class="col-lg-6">
					<div class="row">
						<div class="col-sm-5">
							<input id="dataAlteracaoInicial" adsm-date-picker
								ng-model="filter.dataAlteracaoInicial" mask="date"
								class="form-control" data-end="filter.dataAlteracaoFinal">
						</div>
						<div class="col-sm-5">
							<input id="dataAlteracaoFinal" adsm-date-picker
								ng-model="filter.dataAlteracaoFinal" mask="date"
								class="form-control" data-start="filter.dataAlteracaoInicial">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-sm-12">
				<table adsm-table="listTableParams"
				class="table adsm-table-hover table-condensed table-clickable adsm-table"
				style="width: 100%">
					<tbody>
						<tr ng-repeat="row in page" ng-click="detail(row)">
							<td column-title="dataCorte">{{row.dataCorteFormatada}}</td>
							<td column-title="tpFaturarSemanal"sortable="'tpFaturarSemanal'">{{row.tpFaturarSemanal.descriptionAsString}}</td>
							<td column-title="tpFaturarDecendial" sortable="tpFaturarDecendial">{{row.tpFaturarDecendial.descriptionAsString}}</td>
							<td column-title="tpFaturarQuinzenal" sortable="tpFaturarQuinzenal">{{row.tpFaturarQuinzenal.descriptionAsString}}</td>
							<td column-title="tpFaturarMensal" sortable="'tpFaturarMensal'">{{row.tpFaturarMensal.descriptionAsString}}</td>
							<td column-title="dataHoraAlteracao">{{row.dataAlteracaoFormatada}}</td>
							<td column-title="usuarioAlteracao">{{row.usuario.nmUsuario}}</td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>
</form>
