<form class="form-horizontal content-padding">
	<div class="row">
		<div class="col-sm-12">
			<table adsm-table="historicoTableParams">
				<thead>
					<tr>
						<th>{{ 'dataHoraEvento' | translate }}</th>
						<th>{{ 'situacao' | translate }}</th>
						<th>{{ 'justificativa' | translate }}</th>
						<th>{{ 'usuario' | translate }}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in page">
						<td>{{ row.dhInclusao | dateTimeZone }}</td>
						<td class="text-center">{{ row.tpSituacao.descriptionAsString }}</td>
						<td>{{ row.dsJustificativa }}</td>
						<td>{{ row.nmUsuario }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>
