<style type="text/css">
	.ui-datepicker {
		z-index: 1200 !important;
	}
	
	.modal-bloqueio .modal-dialog {
		width: 560px;
	}
</style>

<div class="content" style="background-color: white; padding: 20px;">
	<form name="bloqueioProprietarioForm" novalidate ng-class="{submitted: submitted}" class="form-horizontal" ng-submit="store($event)">
	
		<div class="alert-container" data-ng-show="alerts.length && popup">
			<alert data-ng-repeat="alert in alerts" data-ng-type="alert.type" data-ng-bind="alert.msg" close="closeAlert($index)"></alert>
		</div>
	
		<div class="form-horizontal">	
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">				
						<label for="terminal" class="col-lg-2 control-label" data-ng-bind="'situacao' | translate"></label>
						<div class="col-lg-10">
							<textarea id="obBloqueioMotoristaProp" 
								ng-model="bloqueio.obBloqueioMotoristaProp"
								ng-disabled="bloqueio.bloqueado" 
								class="form-control" 
								style="resize: none;"
								rows="4" 
								required></textarea>			
						</div>
					</div>				
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">	
						<label for="dhVigenciaInicial" class="col-lg-2 control-label" data-ng-bind="'vigencia' | translate"></label>
						<div class="col-lg-8">
							<div class="multi-input">
								<div class="col-sm-6">
									<input id="dhVigenciaInicial" adsm-date-time ng-model="bloqueio.dhVigenciaInicial" class="form-control" ng-required="true" ng-disabled="bloqueio.blBloqueio">					
								</div>
								<div class="col-sm-6">
									<input id="dhVigenciaFinal" adsm-date-time ng-model="bloqueio.dhVigenciaFinal" class="form-control" ng-required="bloqueio.blBloqueio">	
								</div>
							</div>
						</div>						
					</div>
				</div>	
			</div>
		</div>
		
		<div class="modal-footer">
			<button type="submit" data-adsm-loading="salvando" class="btn btn-default btn-lg pull-right" id="storeBloqueio" permission="salvarBloqueio">
				{{'salvar' | translate }}
			</button>
		</div>
	</form>
</div>